[2021-10-04 19:33] edgarriba commented on #940
Make sure you test adding device and dtype. Also some easy integration function from kornia corebe.g. rgb_to_grayscale or similar

[2021-10-05 09:40] edgarriba commented on #747
@Multihuntr thanks for long detailed explanation. One possible thing I see here would be allowing `create_meshgrid` to receive `align_corners` to compensate. But as you said, there are too many possible combinations vs use cases.

[2021-10-05 14:36] tacoelho commented on #1255
Can I work on this?

[2021-10-05 15:59] edgarriba commented on #1255
@tacoelho sure ! This might need some extra effort like adding compatibility to 1.6 like in here https://github.com/kornia/kornia/blob/master/kornia/utils/_compat.py#L14

[2021-10-05 19:06] 8ToThePowerOfMol opened #1355 "enhance.equalization.equalize_clahe() currently not differentiable"
### Describe the bug

Whenever `equalize_clahe()` is used inside a backward pass, it previously performed non-differetiable operations such as `//` (floor division, C-like division) in the forward pass, while computing luts.

In `_compute_luts()` definition, there is default option `diff=False`, which I tried to set `True` inside `equalize_clahe()`. This fixes subsequent histogram calculation diff

[2021-10-06 07:49] Multihuntr commented on #747
@edgarriba I apologise for the long detailed explanation being overly long and detailed and possibly hard to read. :sweat_smile:

Conceptually `torch.nn.Upsample` is a special case of `warp_affine` and has an `align_corners` argument because they recognised two possible affine transformations for the same scaling factor. So my opinion is that `align_corners` is a nonsense argument in `warp_affine`

[2021-10-06 08:45] edgarriba commented on #934
Do you have any reference material for what you describe ? This was an external feature request, after quick search I found the following snippet.
https://gist.github.com/Quasimondo/c3590226c924a06b276d606f4f189639

[2021-10-06 09:01] cceyda commented on #934
This option looks most reasonable.  Looks like opencv also supports some other YUV formats and has a function to;
"Converts an image from one color space to another **where the source image is stored in two planes**."
https://docs.opencv.org/4.5.3/d8/d01/group__imgproc__color__conversions.html#ga8e873314e72a1a6c0252375538fbf753

Would something like that work?

[2021-10-06 09:08] oskarflordal commented on #934
@edgarriba: Right, that link describes the color conversion itself which you already support (at least in a limited fashion, there are multiple different ways of doing this, i.e. rec 709, 2020 as well as 601). Problems comes form doing subsampling as in the case of YUV 420 where we end up with chroma channels that are lower resolution. 420 is 2x reduction both horizontal vertical while 422 split o

[2021-10-06 09:31] edgarriba commented on #934
if understand correctly we are targeting the following:
[code]
The only concern is that later to compose functions will make usability a bit complicated
[code]

[2021-10-06 10:15] edgarriba commented on #1355
@8ToThePowerOfMol thanks to report this. The issue seems to be here
https://github.com/kornia/kornia/blob/master/kornia/enhance/equalization.py#L152

/cc @lferraz is there any way to skip this ? Besides, we might abstract `compute_lut` outside from clahe

[2021-10-06 10:31] ducha-aiki commented on #1355
<img width="589" alt="image" src="https://user-images.githubusercontent.com/4803565/136186617-e1695729-ceaf-4149-8c98-c5ef9f3c0e88.png">

[2021-10-06 11:58] #1355 closed

[2021-10-07 10:10] edgarriba commented on #747
@Multihuntr assuming that possibly makes sense to get rid of `align_corners` from `warp_affine`, `warp_perspective`. This might requires some work to verify that we don't break any other component since we highly rely on this operator.

@pmeier @anibali @ducha-aiki any opinions about this deprecation ? I think that we introduced support to `align_corners` because pytorch did, but we never discusse

[2021-10-07 10:42] edgarriba commented on #934
@oskarflordal that's awesome - definitely we can iterate over that.

[2021-10-07 17:24] osanseviero opened #1359 "Proposal of Hugging Face Integration"
## 🚀 Feature
Integrate with the [Hugging Face Hub](http://hf.co/models) to allow users to easily load pretrained models (and potentially even upload their own models)

## Motivation

The Hub offers free hosting of over 25K models, and it would make your work more accessible and visible to the rest of the ML community.

## Pitch

Users could easily share or load Kornia models from the Hub.  We can

[2021-10-07 22:10] anibali commented on #747
I agree with the deprecation. It is further supported by the fact that no other library seems to have `align_corners` or equivalent for image-transform-by-matrix functions:

- NVIDIA Dali: https://docs.nvidia.com/deeplearning/dali/user-guide/docs/supported_ops.html#nvidia.dali.fn.warp_affine
- PIL: https://pillow.readthedocs.io/en/stable/reference/Image.html#PIL.Image.Image.transform
- OpenCV: htt

[2021-10-08 13:47] edgarriba opened #1363 "Deprecate `align_corners` from image-transform-by-matrix functions"
## Improvement

As discussed in https://github.com/kornia/kornia/issues/747, we aim to deprecate the parameter `align_corners` from
any function derivated from `warp_affine` and `warp_perspective`

## Motivation

Confusing from the user perspective how to use the `align_corners` parameter.

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com

[2021-10-08 18:14] edgarriba commented on #1300
in augmentation sequential you can only define "input","mask" and would be quite the same right ? I see too overlapping in this two containers that could lead confusion to decide when use A or B

[2021-10-09 00:46] #1163 closed

[2021-10-09 08:33] edgarriba commented on #1300
Then the documentation has to be very clear with a bunch of examples for both. Even with AugmentationSequential some users claimed that it wasn’t clear at all how to use. That’s why I’m saying that adding a almost similar api but doing totally different things might just confuse more.

[2021-10-09 08:35] edgarriba commented on #1194
Why sorted is needed? This will overkill time complexity.

[2021-10-09 09:33] edgarriba commented on #1194
if mode == 'xywh':
        transformed_boxes[..., 2] = (transformed_boxes[..., 2] - transformed_boxes[..., 0]).abs()
        transformed_boxes[..., 3] = (transformed_boxes[..., 3] - transformed_boxes[..., 1]).abs()

if I'm not missing anything this should work

[2021-10-09 09:36] shijianjian commented on #1194
I think it probably because the bboxes are flipped after transformation? So, finding the correct up-left corner then giving out the absolute W and H values should be fine.

[2021-10-09 09:41] edgarriba commented on #1194
@shijianjian so this is anctual bug, right ?

[2021-10-09 09:56] shijianjian commented on #1194
Indeed. I think we missed that part.

[2021-10-09 17:14] edgarriba opened #1365 "Find homography Jacobian return sometimes nan values"
### Describe the bug

While using the  `kornia.geometry.find_homography_dlt` function, in some scenarios the Jacobian computed by the autograd return nan values.

### Reproduction steps

[code]

### Expected behavior

We should expect the jacobian `J` to always contain valid values.

### Environment

[code]

### Additional context

Seems only to happen when zeros come to the game for some points.

[2021-10-10 08:26] edgarriba commented on #1204
Definitely-go ahead

[2021-10-10 11:13] #1101 closed

[2021-10-10 11:15] #1063 closed

[2021-10-10 11:17] edgarriba commented on #1030
@Manza12 @ducha-aiki is this an issue anymore ? otherwise lets close this ticket

[2021-10-10 11:26] edgarriba commented on #933
@cceyda @oskarflordal any thoughts about this ?

[2021-10-10 11:30] ducha-aiki commented on #1030
I think we can close

[2021-10-10 11:40] edgarriba commented on #988
@JoanFM we provide now a `Lamba` functionality to wrap functionals in terms of a nn module. You could do as follows:
[code]

[2021-10-10 11:41] #1030 closed

[2021-10-10 11:44] edgarriba commented on #1333
@nbardy it's this still happening or you could you provide a way to reproduce the error ? otherwise we'll close this ticket

[2021-10-10 12:56] oskarflordal commented on #933
Do you mean ictcp? Not something I have personally worked with.

[2021-10-10 14:46] edgarriba commented on #1003
fixed in #1168

[2021-10-10 14:46] #1003 closed

[2021-10-11 00:43] connorlee77 commented on #1217
Yeah, the kornia `histogram` function I implemented is a **differentiable** approximate of a histogram. It won't match the numpy or torch implementation exactly. I believe `bandwidth `is the smoothing parameter (higher value = less noise) of the gaussian kernel used in the kernel density estimation process.

[2021-10-11 00:46] connorlee77 commented on #790
Kornia's `histogram `function is already **differentiable** (via KDE) unless something changed. This appears to be more comprehensive in terms of selection of kernel, so consider replacing the original `histogram `function with this code.

[2021-10-11 01:18] nbardy commented on #1333
You can close this. I was able to fix it. I think your right pytorch should
be giving the error message here.

On Sun, Oct 10, 2021 at 4:44 AM Edgar Riba ***@***.***> wrote:

--
Nicholas Bardy - nicholasbardy.com

[2021-10-12 12:59] ducha-aiki opened #1381 "Implement classical object tracking algorithms like Lucas-Kande and KCF"
## 🚀 Feature

Since we have started our tracking module, it would be nice to populate it with classical and CNN-based things

References:

- http://robots.stanford.edu/cs223b04/algo_tracking.pdf
- [Lukas-Kanade Tracker](https://www.ri.cmu.edu/pub_files/pub3/baker_simon_2002_3/baker_simon_2002_3.pdf)
- [KCF](https://cw.fel.cvut.cz/b202/courses/mpv/labs/4b_tracking/start)

[2021-10-13 01:45] YanivHollander opened #1384 "A new algorithm for view synthesis based on Neural Radiance Field (NeRF)"
## 🚀 Feature

An implementation of the algorithm in Wang et al. (2021) - https://arxiv.org/abs/2102.07064 - for Neural Radiance Field view synthesis without known camera parameters

## Motivation

We would like the have a simple API where you pass a sequence of images (batch, list of frames, etc.) and you get back the optimized camera intrinsic so that can be used jointly with `undistort_image` (b

[2021-10-13 07:50] edgarriba commented on #1384
@YanivHollander what I would do first is try the code dragon nerf— repo and what results we can get there for calibration. Then let’s evaluate how to distill that code into Kornia.

[2021-10-13 20:45] BarSimanTov opened #1391 "importing kornia dos not compile"
### Describe the bug

importing  kornia  dos not compile.
It returns an error about "Unknown type name 'torch.device'"

torch in install and when i run "torch.device('cpu')" on my code - it works and return a valid result

What can it be?
I understand it didn't happened in previous versions. is that a way to install a private version on coda? (conda install -c conda-forge kornia==0.1.X failed)

Th

[2021-10-14 11:42] hnyGuo opened #1392 "RandomAffine3D throws RuntimeError when batch_size > 1"
### Describe the bug

When the batch_size of input > 1, `kornia.augmentation.RandomAffine3D` throws RuntimeError: "The size of tensor a (3) must match the size of tensor b (6) at non-singleton dimension 2".

### Reproduction steps

[code]

### Expected behavior

We should expect the valid results.

### Environment

[code]
- PyTorch Version (e.g., 1.0): 1.7.0
- OS (e.g., Linux): Linux
- How you ins

[2021-10-15 06:26] edgarriba commented on #1391
Great !

[2021-10-15 06:27] #1391 closed

[2021-10-16 15:23] hal-314 opened #1396 "Gradients from Boxes3D.to_tensor aren't accurate"
### Describe the bug

Landing issue for those wanting to compute gradients in for Boxes3D as discussed in #1304.

Gradients from `Boxes3D.to_tensor` aren't accurate as analytical gradient doesn't match with numerical gradient. At the time when Boxes and Boxes3D were implemented (PR #1304), we didn't know how to fix them. Feel free to fix them :) .

Exactly, the error happens in this line of kornia

[2021-10-17 09:34] hal-314 opened #1398 "Clarify keypoints behaviour and their limitations"
### Describe the bug

Although kornia uses floats for keypoints, it assumes that they come from integers pointing out the pixel coordinate (index based convention). So, they are really meaning pixel center ->  i+0.5 ( point (3,4) refers to the center of the pixel (3,4) that it's (3.5, 4.5)). As they are floats, users expect that keypoints represent exact coordinates, for example, (0.04, 6.4). Belo

[2021-10-17 09:44] hal-314 commented on #1398
@edgarriba @shijianjian This issue affects #1304.

[2021-10-17 16:49] anirudhb11 commented on #1392
@shijianjian, since there is a PR open for this can you please assign this issue to me.

[2021-10-17 16:50] shijianjian commented on #1398
@hal-314 Great content! I would vote for a refactoring, but can we firstly fix it in augmentations and boxes modules? It sounds like a wrong choice of the ```boxes.float()```, which should be ```boxes.float() + 0.5```. Thus, this is not a bug inside ```transform_points```, but it is something we should handle internally in boxes conversion, right?

[2021-10-17 16:53] anirudhb11 commented on #1392
@shijianjian I think you accidentally assigned the issue to @hnyGuo, could you please assign it to me (@anirudhb11 )

[2021-10-17 16:56] shijianjian commented on #1392
@anirudhb11  Ah, sorry for that. XX

[2021-10-17 19:31] #1392 closed

[2021-10-18 07:36] ShiyangZhang opened #1404 "RuntimeError: linalg_solve: For batch 0: U(8,8) is zero, singular U."
### Describe the bug

got a runtime error when I test warp_perspective

### Reproduction steps

run
[code]

Traceback (most recent call last):
  File "test.py", line 229, in <module>
    test_warp_perspective()
  File "test.py", line 214, in test_warp_perspective
    M: torch.tensor = K.get_perspective_transform(points_src, points_dst)
  File "/usr/local/lib/python3.6/dist-packages/kornia/geometry

[2021-10-18 07:49] #1404 closed

[2021-10-18 07:49] ShiyangZhang commented on #1404
my mistake. points_src = torch.tensor([[
    [100., 100.], [200., 100.], [200., 200.], [100., 200.],
    ]])

[2021-10-18 08:51] shijianjian commented on #1404
Ah, I have checked the code. It will convert the dtypes automatically to ```float32``` and ```float64```. Then I am confused that why floating points worked but not integers.

@edgarriba I did not get it. How could floating points effect on collinear points?

https://github.com/kornia/kornia/blob/1686165ef37f0b6b55290933fa6d64d7137712c7/kornia/utils/helpers.py#L88-L102

[2021-10-19 19:12] connorlee77 opened #1409 "image_hist2d has same functionality as histogram"
## 🚀 Feature
Replace histogram with image_hist2d.

## Motivation

`image_hist2d` and `histogram` are the same operations. Both use KDE to approximate a differentiable histogram. As `image_hist2d `is more complete, consider renaming `image_hist2d ` to `histogram`.

see https://github.com/kornia/kornia/issues/790#issuecomment-943251627

[2021-10-20 01:51] YanivHollander commented on #1384
HI,

With regards to 3D rendering as the forward modeling part of the NeRF algorithm. I identified two possible routes that can be taken:

1.	The code repository: https://colab.research.google.com/drive/1pRljG5lYj_dgNG_sMRyH2EKbpq3OezvK?usp=sharing, associated with Wang, 2021, implements a simple rendering algorithm based on equation (1) and on Max, 1995. We can port this code and maybe adjust it

[2021-10-20 08:18] ducha-aiki commented on #1384
I'd go for the 1), at least in the beginning

[2021-10-22 15:04] adamjstewart opened #1420 "PyPI tarball missing required files"
### Describe the bug

The tarball uploaded to PyPI does not contain `requirements/*` files which are required to run the `setup.py` file.

### Reproduction steps

[code]

### Expected behavior

I would expect the `setup.py` to function correctly. I believe there's a setuptools option to control which files get included in the upload tarball.

### Environment

[code]

### Additional context

_No re

[2021-10-22 16:46] #1420 closed, assigned to nobody

[2021-10-22 16:52] markdjwilliams opened #1422 "importing kornia attempts download of pretrained model"
### Describe the bug

When importing kornia 0.6.0 for the first time it attempts to download a pretrained model.

This may be problematic for organizations which do not permit access to the internet.

kornia 0.5.x does not suffer from this problem.

### Reproduction steps

[code]
[code]

### Additional context

_No response_

[2021-10-22 18:37] markdjwilliams opened #1424 "dataclasses requirement not needed for python 3.7+"
### Describe the bug

`requirements/x.txt` states a requirement on `dataclasses`, but this is a backport which should not be needed for python >= 3.7

pytorch itself uses the following line in its own [requirements.txt](https://github.com/pytorch/pytorch/blob/f2582a59d0835323ebf143726ea79ba52e7cceff/requirements.txt#L13):

[code]

### Reproduction steps

[code]

### Expected behavior

N/A

### Env

[2021-10-22 19:53] #1422 closed, assigned to nobody

[2021-10-22 20:56] paloha opened #1425 "Deprecation warning when using %matplotlib widget"
### Describe the bug

This is rather weird problem. I am using `%matplotlib widget` in Jupyter Lab. All works well until I import `kornia`.
Then an annoying deprecation warning starts appearing and must be suppressed with `warnings.`  It would not be so much of a problem if it is clear it comes from kornia. But it is not at all clear and I thought I had some problems with my packages. I have descr

[2021-10-24 01:41] abhishekaich27 commented on #745
Faced this error today. Hope it gets resolved.

[2021-10-25 12:46] #1424 closed, assigned to nobody

[2021-10-28 18:30] orsic opened #1436 "Methods project_points and unproject_points fail with batch size larger than 1"
### Describe the bug

The following snippet works with batch size 1 but fails otherwise

[code]

### Reproduction steps

[code]

### Expected behavior

By reshaping the lines (unsqueeze axis -1) in [project_points](https://github.com/kornia/kornia/blob/master/kornia/geometry/camera/perspective.py#L51-L54) and [unproject_points](https://github.com/kornia/kornia/blob/master/kornia/geometry/camera/pe

[2021-10-30 11:39] edgarriba commented on #1436
@orsic defenitely go for the PR

[2021-11-01 11:43] AnimeshMaheshwari22 commented on #1381
Have been working on this. Will try to send a PR as soon as possible!

[2021-11-03 07:10] justanhduc opened #1442 "Poisson image editing"
## 🚀 Feature
As discussed briefly on Slack before, I would like to add two Poisson image editing algorithms which are Poisson blending and local illumination changes. Please see the following [paper](https://www.cs.jhu.edu/~misha/Fall07/Papers/Perez03.pdf) for more details. A reference for Poisson blending can be found [here](https://github.com/PPPW/poisson-image-editing/blob/master/poisson_image_

[2021-11-03 08:57] chris-tkinter commented on #1159
Yeah @shijianjian I think it would be nice to have an example. Thanks!

[2021-11-03 10:37] shijianjian commented on #1159
@chris-tkinter Totally forgot this. Will add it today.

[2021-11-03 16:33] #1245 closed

[2021-11-03 16:41] edgarriba commented on #1442
Cool, go ahead with a PR

[2021-11-06 16:29] copaah opened #1444 "[Feature request] Debayer and decimation in single step"
## 🚀 Feature

A common image signal processing (ISP) step in most camera pipelines are to use a bayer filter to get color images from raw pixel values. Kornia already has conversions from bayer to color images. In computer vision it is often necessary to downscale images for computational reasons or because it yields improved results (e.g. in stereo pipelines it can be considered a regularization

[2021-11-06 16:31] copaah commented on #1122
@ankitajais20

Do you still want to contribute to this? I can supervise you if you have any questions - just ping me here or on slack.

[2021-11-06 16:42] copaah opened #1445 "[Feature request] Bayer preserving augmentation techniques"
## 🚀 Feature
Learning directly from raw bayer images is an exciting idea that will take the entire learning step completely end-to-end. However, doing this presents it own challenges.

One of them is to preserve bayer patterns when doing common image augmentation techniques such as flipping images.

This feature request to add to Kornia a set of augmentation techniques that preserve bayer patterns

[2021-11-06 17:10] copaah opened #1446 "[Feature request] First stereo model: PSMNet"
## 🚀 Feature
Kornia already has a set of exciting deep learning based models implemented.

I would like to add to  Kornia the first stereo model: PSMNet. PSMNet is used in many stereo research papers as a strong comparison baseline and this will play nice together with the `kornia.geometry.camera.StereoCamera` module as well.

## Motivation

Getting a stereo model in Kornia will promote Kornia to

[2021-11-06 17:20] copaah opened #1447 "[Code health] Streamline PinholeCamera and StereoCamera modules"
## 🚀 Feature
Ideally the `StereoCamera` class should be initialized by two `PinholeCamera`s instead of two `torch.Tensor`. This will be a breaking change to the `StereoCamera` API and I suspect that the `PinholeCamera` might have to change a little as well.

This ticket is to track this work.

Ideally the test code should also be aligned such that the `test_pinhole.py` and `test_stereo.py` can sha

[2021-11-06 22:09] copaah opened #1448 "[Feature request] Rectification of stereo image pairs."
## 🚀 Feature
To complete the stereo pipeline in Kornia, we need functionality for rectifying images captured by a stereo camera setup.

This will be somewhat similiar to the OpenCV function [cv2.initUndistortRectifyMap](https://docs.opencv.org/4.5.4/d9/d0c/group__calib3d.html#ga7dfb72c9cf9780a347fbe3d1c47e5d5a), but I don't think we would initialize the rectification maps first. Instead we would j

[2021-11-07 07:25] dobosevych commented on #936
Can I help with this one?

[2021-11-08 02:23] Abdelrhman-Hosny commented on #936
I've been dabbling with `draw_line` for a couple of days, and I finished writing the function for it using this [Line Drawing Algorithm](https://en.wikipedia.org/wiki/Bresenham%27s_line_algorithm#Line_equation), at the time it is not optimized and not properly validated.

I've created a [kaggle notebook](https://www.kaggle.com/abdelrhmanhosny/test-draw-line)  to show how my function compares to op

[2021-11-08 09:40] dobosevych commented on #936
I think the goal was to do that on GPU. I am not sure whether numpy suits or under optimization you mean moving that to GPU?

[2021-11-08 09:56] edgarriba commented on #936
@Abdelrhman-Hosny the implementation looks really cool and seems pretty straightforward to port it to pure torch operators and will cover already @dobosevych comments.

I think the ideal would be something like this:
[code]
We can think also about adding other properties like colour, thickness, etc.

Any other thoughts @shijianjian @ducha-aiki @anguelos  ?

[2021-11-08 09:58] edgarriba commented on #936
One more comment - we have `render_gaussian2d` that is meant to render 2d points in a differentiable way, but it's quite memory consuming and not really sure that's a good choice here. @anibali  thoughts ?
https://kornia.readthedocs.io/en/latest/geometry.subpix.html#kornia.geometry.subpix.render_gaussian2d

[2021-11-08 10:16] edgarriba commented on #1448
Wondering how we could use here the differentiability properties form pytorch and for example how could be implemented seamless to the Image Registration algorithm
https://kornia.readthedocs.io/en/latest/applications/image_registration.html

[2021-11-08 10:20] edgarriba commented on #1446
Does this method generalize well ? Saying that because we have been a bit reticent this years to include learnt models that are completely biased to the data and choose those ones that fit in our low-level (and "generic") vision pipeline.

I also see that they have a real-time implementation for that as well: https://github.com/JiaRenChang/RealtimeStereo

[2021-11-08 10:22] edgarriba commented on #1445
We recently added color conversions on that direction: https://kornia.readthedocs.io/en/latest/color.html#bayer-raw
Verify that could work with the proposed ideas. /cc @oskarflordal @shijianjian

[2021-11-08 10:25] edgarriba commented on #1444
@copaah check https://github.com/kornia/kornia/blob/master/kornia/color/raw.py /cc @oskarflordal @cceyda

[2021-11-08 10:29] #1192 closed

[2021-11-08 14:57] oskarflordal commented on #1445
What is suggested is doing augmenations directly on the bayer image, i.e. without conversions. Given the limitations of augmentations (cropping needed for flips/translation, rotation not possible without breaking the cfa) and the nature of what an augmentation is: What would be the strong case for not doing e.g.
(bayer -> color) -> augment -> (color -> bayer), ideally with a higher quality debayer

[2021-11-08 15:04] oskarflordal commented on #1444
Yes, it should be straight forward and fairly common thing to do, I suppose. The function is essentially taking the BG generated here
https://github.com/kornia/kornia/blob/master/kornia/color/raw.py#L64
and adding the two green samples from here https://github.com/kornia/kornia/blob/master/kornia/color/raw.py#L144
and stacking the 3 channels together.

[2021-11-08 16:53] edgarriba commented on #936
kornia only accepts torch as dependency

yeap :+1:

[2021-11-09 00:04] copaah commented on #1445
@oskarflordal

This is probable a stupid question, but how will you go from color to bayer without keeping track of the CFA throughout the augmentation pipeline?

[2021-11-09 00:07] copaah commented on #1444
@oskarflordal

Yes, exactly. This is also what the ROS Image Pipeline does [here](https://github.com/ros-perception/image_pipeline/blob/71d537a50bf4e7769af513f4a3d3df0d188cfa05/image_proc/src/nodelets/crop_decimate.cpp#L120).

Should be a very easy PR.

[2021-11-09 00:18] copaah commented on #1448
@edgarriba

I think this is one of the more important tasks for the stereo module, so I can try to take it on. Will need some help outlining the algorithm though and also some guidance on how to integrate with the Image Registration API.

[2021-11-09 00:39] copaah commented on #1446
@edgarriba

I have seen this method in a couple of papers with different datasets without fine tuning:

* [A Survey on Deep Learning Techniques for Stereo-based Depth Estimation](https://arxiv.org/pdf/2006.02535.pdf)
* [SERV-CT: A disparity dataset from CT for validation of endoscopic 3D reconstruction](https://arxiv.org/abs/2012.11779)

You'll notice that this isn't the top performing method in a

[2021-11-09 12:19] oskarflordal commented on #1445
(note that I am not really part of the core Kornia team, I am just interested in understanding the use case)
Not sure if you need to keep track of it? You can go from rgb representation to raw with any CFA, if you train your algorithm for a specific sensor I suppose you convert using that fixed CFA no matter what data source you have. Obviously, going from a raw image you would loose a lot of the

[2021-11-09 13:46] edgarriba commented on #1448
my guess here is to try implement standalone and later we see how can be integrated with the registration api API. As initial approach I would try to implement in terms of plane sweep algorithm by building a cost volume. In fact, that was the very first initial use case of kornia and the HomographyWarper. /cc @ducha-aiki any thoughts here ?

[2021-11-09 13:47] ducha-aiki commented on #1446
I'd say 1 is priority, some cool types of 2 is good to have, as well as original models which are close to 3.

[2021-11-09 13:54] ducha-aiki commented on #1448
It is very needed indeed! I agree that the best way is to create such functions alone and integrate later.

[2021-11-09 16:27] Abdelrhman-Hosny commented on #936
I've started working, now I've added a color parameter to the line.

I've created 3 functions

[code]
****

[code]
****

[code]
****

I'm writing to give an update, also confirm the names and inputs of the functions, are these okay ?.

I would also like to ask whether all 3 functions should be added to the `kornia.utils` or whether I should only add `draw_lines` and the rest be put somewhere else

[2021-11-10 11:51] edgarriba commented on #936
I think having the three functions public it's good. One question - `draw_pixel` why returns `None`, is it supposed to happen inplace ? why not return the image ?

[2021-11-10 13:23] AnimeshMaheshwari22 commented on #1381
For this functionality, we need the u and v vectors right?

[2021-11-10 18:08] #901 closed

[2021-11-10 19:13] Abdelrhman-Hosny commented on #936
My thought process was that `draw_pixel` only has one line that is executed `image[:, y, x] = color` and the rest of it is just will just be checks to make sure that the pixels are inside the image.

So, it won't be used outside another function. should I change it to `_draw_pixel` instead ?

[2021-11-10 19:28] edgarriba commented on #936
In that case, yes - keep it private

[2021-11-11 03:04] copaah commented on #1448
From talking with @edgarriba there are two sets of functionality we want to support akin to those in OpenCV:

* [stereoRectify](https://docs.opencv.org/4.5.3/d9/d0c/group__calib3d.html#ga617b1685d4059c6040827800e72ad2b6)
* [stereoRectifyUncalibrated](https://docs.opencv.org/4.5.3/d9/d0c/group__calib3d.html#gaadc5b14471ddc004939471339294f052)

My initial idea was to go ahead with implementing somet

[2021-11-11 03:05] copaah commented on #1446
@ducha-aiki

Okay. I'll research some models falling into category 1, i.e. fast SOTA stereo models that preferably generalizes well.

[2021-11-11 12:25] edgarriba commented on #1448
@copaah my idea was to implement the local feature matching pipeline in the library and add the solver for the homographies that rectifies the epipolar lines. @ducha-aiki proposed to implement this paper: https://hal-enpc.archives-ouvertes.fr/hal-00654415/document in case we don't find a direct implementation. Was checking into [OpenCV code](https://github.com/opencv/opencv/blob/master/modules/cal

[2021-11-11 14:13] ducha-aiki opened #1455 "Collinearity check for homography RANSAC"
## 🚀 Feature

Implement collinearity check for homography RANSAC, in order to speed-up things
https://github.com/opencv/opencv/blob/4.x/modules/calib3d/src/usac/degeneracy.cpp#L119

Just todo for myself to not forget
## Motivation

## Pitch

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribute to Kornia uni

[2021-11-16 17:55] #936 closed

[2021-11-17 03:41] shijianjian commented on #520
I am thinking to resume this given the needs of using Kornia preprocessing/augmentation/operation as layers.

More or less, at least to have a summary list like:

| Operation | Diffrentiable | JIT | ONNX |
|---|------|------|------|
| GrayToRGB | Y | Y | Y |
| Equalize | N | Y | Y |
| Affine | Y | Y | N |

[2021-11-18 22:19] #1060 closed

[2021-11-20 17:14] copaah commented on #1448
I'll give the algorithm in the attached document a shot. It's for rectifying images with known stereo calibration.

[vdocuments.mx_a-compact-algorithm-for-rectification-of-stereo-pairs.pdf](https://github.com/kornia/kornia/files/7574901/vdocuments.mx_a-compact-algorithm-for-rectification-of-stereo-pairs.pdf)
s

[2021-11-22 06:35] ruby50082 opened #1466 "find_fundamental function cannot backpropogate"
### Describe the bug

When I added kornia.geometry.epipolar.find_fundamental function, the whole pipeline cannot backpropagate properly.
(But when I used my handcrafted find_fundamental function, the pipeline worked. So, I am wondering if there is a bug in kornia.geometry.epipolar.find_fundamental.)

Following is the error:
RuntimeError: one of the variables needed for gradient computation has bee

[2021-11-22 09:35] edgarriba commented on #1448
Looks like a good one

[2021-11-22 10:01] edgarriba commented on #1466
thanks for reporting -- do you have any snippet that shows the described behavior ? In principle, we tests backpropagation with pytorch `gradcheck` here: https://github.com/kornia/kornia/blob/master/test/geometry/epipolar/test_fundamental.py#L169

How much it differs your with our implementation ? Right now we implement the 8-algorithm but planning to add more /cc @ducha-aiki

[2021-11-27 19:52] edgarriba opened #1470 "Add Image Matting API"
## 🚀 Feature

implement a high level api for image matting based on
https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.3/contrib/Matting

![](https://user-images.githubusercontent.com/30919197/141714637-be8af7b1-ccd0-49df-a4f9-10423705802e.jpg)

## Motivation

We would like to provide such functionality for the content generation and designers community

## Challenge

The model is in PaddleP

[2021-11-29 14:21] twsl opened #1471 "DataKey Typo BBOX_XYHW"
### Describe the bug

`AugmentationSequential` doesnt accept the `bbox_xywh` data key

### Reproduction steps

[code]

### Expected behavior

Initialize just fine like mentioned in the docs.

### Environment

[code]
- PyTorch Version (e.g., 1.0): 1.10
- OS (e.g., Linux): Linux
- How you installed PyTorch (`conda`, `pip`, source): pip
- Build command you used (if compiling from source): no
- Python

[2021-11-29 19:19] twsl opened #1473 "Weird bounding box resize values"
### Describe the bug

I'm trying to resize images to half the width and height. my images are 1200x1600

### Reproduction steps

[code]
2.
[code]
3. Supply bounding boxes
[code]
tensor([[458.7130, 505.5780, 482.6980, 522.5638],
        [434.2283, 478.1010, 502.6855, 533.0551],
        [455.2152, 485.5947, 480.1996, 510.5738],
        [530.6680, 421.6481, 559.1501, 464.6122],
        [383.2602, 381

[2021-11-30 16:25] edgarriba commented on #1473
this should be fixed in https://github.com/kornia/kornia/pull/1459 @shijianjian

[2021-12-03 11:38] psandev opened #1477 "RandomPerspective and RandomAffine fail when used wih pytorch-lightning precision=16"
### Describe the bug

HI,
I am using the following transform:
train_transforms = torch.nn.Sequential(
        K.augmentation.RandomHorizontalFlip(),
        K.augmentation.RandomPerspective(distortion_scale=0.02),
        K.augmentation.RandomAffine(degrees=(-5.0, 5.0), translate=(0.02, 0.02), scale=(0.9, 1.1), shear=(-0.02, 0.02),
                                 resample='bilinear'),
    )

pl v

[2021-12-03 11:53] edgarriba commented on #1477
@psandev thanks for the feedback -- did a quick test here. To execute geometric transformations with half precision you need to use cuda because of the grid sampler not implemented for fp16 in cpu from  PyTorch side. My guess is that some logics under PL don't handle well your case @Borda

Colab I used to verify: https://colab.research.google.com/drive/1JRwIreL075uqgWhO1WNccu4d7ry1H4Ro?usp=sharing

[2021-12-03 13:19] Borda commented on #1477
I think that the half-precision on CPU is a future PyTorch feature coming in 1.10

[2021-12-03 14:42] psandev commented on #1477
I used half-precision on GPU.

On Fri, Dec 3, 2021 at 3:19 PM Jirka Borovec ***@***.***>
wrote:

[2021-12-04 03:39] shijianjian commented on #1473
I think the reason is that we transform boxes with transformation matrices, which turns out to be the non-exact numeric matches. Not sure what is the best solution.

/c @ducha-aiki @lferraz-kognia

[2021-12-04 12:53] twsl commented on #1473
But shouldnt a matrix based yield exact values as well? As far as I know, transformation matrices have a scaling component

[2021-12-05 07:54] edgarriba commented on #1473
Is it possible that the samplers fallback to center crop ?
https://github.com/kornia/kornia/blob/6a970b61d222862fcc6efb483c7d4268e3ecf162/kornia/augmentation/random_generator/random_generator.py#L598

[2021-12-05 17:27] shijianjian commented on #1445
Just looked at the paper, my question is would the bayer-preserving augmenations still be helpful if combined with those common non-bayer-preserving methods (e.g. rotation, scaling)?

From the implementation perspective, I think it is better to make it out of the current augmentation pipeline, as

[code]
Then it can work like:

[code]

[2021-12-06 15:29] shijianjian commented on #1473
I will update the cropping functions to be shape-agnoistic, on top of the normalised coordinates (ranged from [0, 1]). Then, I think this issue might be alleviated. Probably start next week or so.

[2021-12-08 10:33] julien-blanchon opened #1485 "Add keepdim to RandomChannelShuffle"
### Describe the bug

`K.augmentation.RandomChannelShuffle` inconsistency with others kornia augmentations.
Keepdim is not in argument of the `RandomChannelShuffle` class, and so always broadcast it to the batch form (eg, broadcast a torch.Size([6, 64, 64]), C*H*W to torch.Size([1, 6, 64, 64]) B*C*H*W)

### Reproduction steps

[code]

### Expected behavior

[code]

### Environment

- PyTorch Versi

[2021-12-08 10:44] julien-blanchon commented on #1485
Forwarding `keepdim` argument to the `super().__init__` may be enough to fix that

[2021-12-08 10:53] julien-blanchon commented on #1485
https://github.com/kornia/kornia/commit/916ca00f9b453e5f3885db0f3c88f523b4fb0a80

[code]

[2021-12-08 11:03] julien-blanchon commented on #1485
By the way why not adding the keepdim argument to every kornia augmentation that support it ?

https://github.com/kornia/kornia/commit/c6504d7874931e9663bd3259e645cbcbad21ef72

[2021-12-08 11:50] edgarriba commented on #1485
@julien-blanchon could you send a PR with the patch ? Not sure why some are missing @shijianjian  ?

[2021-12-08 12:24] julien-blanchon commented on #1485
Yes, waiting for review https://github.com/kornia/kornia/pull/1486

[2021-12-09 14:48] justinpinkney opened #1489 "Precompute kernels and store as buffers in filters.GaussianBlur2d"
## 🚀 Feature
GaussianBlur2d module currently just stores the input arguments to `gaussian_blur2d`  and then calls the function. This adds overhead in recomputing the kernels and them moving them to the device memory.

## Motivation

After looking at GPU profile traces I noticed extra to device copies being triggered by my use of the functional `gaussian_blur2d` reducing my GPU utilisation, I expec

[2021-12-10 08:59] miquelmarti commented on #1055
This seems to not have been fixed:

[2021-12-10 09:51] miquelmarti opened #1491 "Wrapping RandomCrop in Augmentation/ImageSequential returns wrong inverse"
### Describe the bug

When wrapping even a single RandomCrop augmentation with AugmentationSequential or ImageSequential, the expected inverse is not correctly computed.

### Reproduction steps

RandomCrop inverse is correctly computed:
[code]
[code]

When wrapping the augmentation with AugmentationSequential or ImageSequential:
[code]
[code]

Using a larger input size the result is the same. Also

[2021-12-10 10:15] shijianjian commented on #1491
Can you try use a bigger image? I suppose that is something related to the SVD. It is inaccurate with a small image like 3*3 size.

[2021-12-10 10:32] miquelmarti commented on #1491
Ok, I tried with 300x300 and the output for the inverse of `RandomCrop((200,200), padding=1, ....)` has size 300x300 as expected, while the wrapped version in AugmentationSequential has size 298x298.

I set `padding=0` suspecting there was some issue around this and indeed the output size of the inverse becomes correct. Not sure what this has to do with SVD.

[2021-12-10 10:46] shijianjian commented on #1491
Okay. Can you update the desciption with the corresponding code snippet accordingly? I will test when I am back.

Not SVD, I remember it is something about the matrix inversion or something. Just put a random word, sorry. :)

[2021-12-10 13:22] miquelmarti opened #1492 "Containers compute forward_parameters for all submodules before padding"
### Describe the bug

So this is probably the real cause for #1491.
The `forward_parameters` methods for all augmentations inside a container are called first, before doing anything else, here: https://github.com/kornia/kornia/blob/922e9da518a0bd54396b007d9a0c3e295e525ad6/kornia/augmentation/container/image.py#L339
And then passed along.

For the RandomCrop augmentation, and maybe for other augmen

[2021-12-11 09:40] #1485 closed

[2021-12-11 09:45] edgarriba commented on #1489
@justinpinkney thanks to raise issue -- I think it's doable as soon as we maintain backward compatibility. Just one design question, should we keep the functional the same and advice users to use the Module for better performance ? /cc @ducha-aiki

[2021-12-11 09:48] edgarriba commented on #1489
One sub-task I see here as well is to allow to use the sigma as a tensor so that we can differentiate through that.

[2021-12-11 10:32] edgarriba commented on #1492
@miquelmarti give it a shoot and let us know how we can help to merge. /cc @shijianjian

[2021-12-11 18:52] copaah commented on #1448
Added first go a reimplementing the algorithm from the paper. I get approximately same results, but need data from a real stereo rig to verify.

[2021-12-14 13:19] justinpinkney commented on #1489
I'd suggest that for those applying the same Gaussian blur repeatedly the Module is the right way to go, really it's just a convolution with non-learnable parameters.

The sigma as a tensor is an interesting idea, and would certainly be do-able, I wonder if it would confuse/complicate the use of the GaussianBlur module however? As I'm guessing it's a less common use case (just a guess though).

I'

[2021-12-14 13:22] ducha-aiki commented on #1489
Hi,

I agree that your approach is a right thing to do. Regarding the learned sigma - it is better done later, and for now, the refactor to the registered buffer approach is a great idea.

[2021-12-15 14:56] maaft opened #1498 "Allow augmentations without DataKey.Input"
## 🚀 Feature

Sometimes you want to apply augmentations to e.g. masks the need to transform also an image.

## Alternatives

None

## Additional context

When using AugmentationSequential like this:
[code]
 following error is thrown:
`NotImplementedError: The first input must be DataKey.INPUT.`

[2021-12-15 15:23] gau-nernst opened #1499 "TrivialAugment and RandAugment"
## 🚀 Feature

Implement TrivialAugment and RandAugment

Links to papers:

- TrivialAugment: https://arxiv.org/abs/2103.10158
- RandAugment: https://arxiv.org/abs/1909.13719

## Motivation

I saw that AutoAugment has already been added here https://github.com/kornia/kornia/issues/549. It will be great if Kornia can support RandAugment and TrivialAugment also.

Recently the torchvision team also use

[2021-12-16 07:26] edgarriba commented on #1498
maybe we could assume the order in case it's not specified. Besides, in that particular case if data keys you specify as input it will work because for geometric transformations images and masks are treated the same. /cc @shijianjian

[2021-12-16 07:31] edgarriba commented on #1499
@gau-nernst the [`AugmentationSequential`](https://kornia.readthedocs.io/en/latest/augmentation.container.html#kornia.augmentation.container.AugmentationSequential) already supports the feature to apply randomly groups of augmentations. The missing feature here is that we don't have defined fixed policies for open-source datasets, however, its relative simple to create your own ones. If needed, we

[2021-12-16 08:33] maaft commented on #1498
Are they really currently treated the same for geometric augmentations? IMHO the interpolation method must differ.

One should never use other interpolation methods than `nearest` for mask, or you'll end up with non-binary values.

[2021-12-16 10:05] edgarriba commented on #1498
Agree, but for now they are treated the same, must be the user who specifies the interpolation method. I don't think we support out of the box such fine-grained automation. In principle, for such cases we recommend to create custom classes and define different behaviors per data type.

[2021-12-16 10:29] shijianjian commented on #1498
I am not against making different default flags for different data keys, if we can have a clean implementation and a decent API.

[2021-12-16 13:14] shijianjian commented on #1499
@miquelmarti will give a hand to this. Probably start with TrivialAugment, which is intuitive.

[2021-12-16 16:10] shijianjian opened #1501 "Using TypeVar instead of Union for JIT"
Since the Union type still has not been supported by JIT in 0.10.0. So, how about updating from:

[code]
to
[code]

However, some undesired behaviour might occur when using nested `TypeVar`.
[code]

[2021-12-16 16:14] shijianjian opened #1502 "Deprecate return_transform in augmentations"
We initially keep the `return_transform` for inverting the augmentation. While we implemented the `inverse` function now, I would suggest to deprecate the `return_transform` by moving to:
[code]

This can also make the codebase cleaner for handling the output.

[2021-12-17 06:09] #1501 closed

[2021-12-20 17:00] ozen opened #1504 "LoFTR JIT Support"
## 🚀 Feature

I have run into an issue while trying to JIT trace or script the LoFTR module, then found the code below:

https://github.com/kornia/kornia/blob/3e765bd6da6fd92394daff1b2aec52ee42b6bd4f/test/feature/test_loftr.py#L60-L61

The existence of the test_jit function makes me think Kornia aims to support JIT for all modules, but LoFTR is not supported at this time. Is adding this part of a

[2021-12-20 17:39] edgarriba commented on #1504
If it's needed I can give a try during the week or assist in case you wanna give it a shot. /cc @ducha-aiki

[2021-12-22 16:32] justinpinkney opened #1505 "Some Gaussian filter unit tests do not properly test equivalence of functionality"
### Describe the bug

Some unit tests in `test/filters/test_gaussian.py` use a dummy input of all ones. e.g. `test_jit` and `test_module`

https://github.com/kornia/kornia/blob/3e765bd6da6fd92394daff1b2aec52ee42b6bd4f/test/filters/test_gaussian.py#L83-L89

Due to the constant nature of the input this does not properly test the equivalence of the two operations.

Some of the other test use `torch.r

[2021-12-25 13:40] harsh2ai opened #1508 "Support for object Detection pipeline and Augmentations"
## 🚀 Feature
Support for object detection models and augmentations within Kornia

## Motivation

I have been using Kornia for a while now and loved its perfomance so I decided to use it for creating my own ocr, but I ran into a couple of issues like the support for augmentations which albumentations does provide but they still have a lot of issues at hand and isn't friendly so I believe that this

[2021-12-25 14:14] shijianjian commented on #1508
Can you elaborate what are the missing pieces in your experiment? Also, we are working on supporting the detection now. https://github.com/kornia/kornia/pull/1497

/cc @twsl

[2021-12-25 15:07] twsl commented on #1508
I propose we create an end to end example using mask rcnn as it includes both, bounding boxes and segmentation masks, as input. Preferably with pytorch lightning to reduce boilerplate code.

[2021-12-25 17:33] shijianjian commented on #1508
@twsl Great. If possible, may you share the demo after #1497 get merged?

[2021-12-25 18:01] twsl commented on #1508
@shijianjian we might have to add some additional utilities to simplify the workflow, but i can create a draft after xmas.

[2021-12-26 07:04] edgarriba commented on #1508
@harsh2ai what ocr have you tried ? This is an interesting feature to have discussed at some point with @ducha-aiki .
Regarding the detection algorithm, I’d advocate to make some generic that can support different like yolov4 or more recent ones like detr, our current face detection, etc. Same for training library, we recently started [`kornia.x`](https://kornia.readthedocs.io/en/latest/x.html#kor

[2021-12-28 05:22] #1491 closed

[2021-12-28 05:22] #1492 closed

[2022-01-04 14:39] twsl opened #1514 "Restructuring of the augmentation package"
## 🚀 Feature

This would introduce a cleaner interface making it much easier to work on a single thing.

## Motivation

I struggled a lot when I first went into the source code of kornia, especially the augmentation and as someone coming from other languages than python it is still weird to see multiple classes per file.
Moreover I think files with more than thousand lines might indicate bad style

[2022-01-04 14:44] edgarriba commented on #1514
Sounds good to me. I would also consider to separate between what's core, containers and the actual implementation of the augmentations.

[2022-01-04 15:05] harsh2ai commented on #1508
@edgarriba you can say its more of a generic OCR being built on top of pytorch with Kornia as the middleware for all operations, since that gives more better perfomance in comparison to cv2, I have different models for different purposes effectively which when stacked up bring up an effective OCR model, this is a project which is being pushed forward by me and my friend

For the object detection p

[2022-01-04 15:09] harsh2ai commented on #1508
I can give you one such example let's say we're resizing the images while doing transformations there should be a functionality to resize the bbox accordingly given the dim of image and it should support all formats like Pascal,coco

[2022-01-04 15:20] twsl commented on #1508
@harsh2ai that is already possible with [containers](https://kornia.readthedocs.io/en/latest/augmentation.container.html), you just need to supply the correct datakeys. kornia currently supports xyxy and xywh bbox format right now.

[2022-01-04 16:10] harsh2ai commented on #1508
@twsl could you share any link where it's implemented or maybe a tutorial/example regarding the same

[2022-01-04 16:26] harsh2ai commented on #1514
Sounds great will try contributing to tutorials

[2022-01-04 18:54] twsl commented on #1514
To be discussed:
- merge box, gaussian and motion blur into one file?
- merge crop, center crop and resized crop into one file?
- introduce mix, intensity and geometric subfolders for 2d?

[2022-01-05 01:58] shijianjian commented on #1514
Not sure on the first two. But I think we probably introduce mix subfolder (mix_2d, and mix_3d?)

[2022-01-05 09:36] twsl commented on #1514
@shijianjian and I agreed on:
- one augmentation class per file, unless its a non-random variation that probably just inherits from the random class
- subfolders based on the parent for mix, geometric, intensity

[2022-01-05 11:12] edgarriba commented on #1508
@harsh2ai [`kornia.augmentations`](https://kornia.readthedocs.io/en/latest/augmentation.html) it's already an intend of improvement over existing libraries. Albumentations it's based in opencv -- kornia is opencv in pytorch, so kornia.augmentation should be the seamless library.

Currently, there's an effort to re-organize and refactor that module by @twsl and @shijianjian. If there's any specific

[2022-01-05 14:03] shijianjian commented on #1498
I am thinking to introduce enums like MASK.INTEGER and MASK.FLOAT for this. So that the interpolation method will be set to nearest when the input is MASK.INTEGER. MASK.FLOAT will maintain current behaviour.

/cc @twsl

[2022-01-07 10:38] edgarriba commented on #1508
@harsh2ai @anguelos for `kornia-text` worth to check on https://github.com/open-mmlab/mmocr to overlap less. I would suggest to find a lightweight network to target embedded devices.

[2022-01-07 14:30] edgarriba opened #1520 "Padding error with `RandomCrop`"
### Describe the bug

Tests are failing because of the following test `TestAugmentationSequential::test_random_crops` possibly introduced by the combination of be104a5 and 3f8e7a3.

Output error:

[code]

NOTE: This is a major bug, for now test is disabled until this is fixed.

### Reproduction steps

[code]

### Expected behavior

Pass the tests and enable the tests.

### Environment

[code]

###

[2022-01-07 14:33] harsh2ai commented on #1508
@edgarriba I would look up items for this issue of finding lightweight models , also regarding youre previous reply I didn't get what you meant by opening a new ticket thread could you elaborate on what you meant on that part

[2022-01-07 15:29] #1514 closed

[2022-01-08 15:01] twsl opened #1522 "Fix bounding box return type in AugmentationSequential"
### Describe the bug

In order to seamlessly integrate in object detection worksflows, i need a few things.
Internally, all transformations are done by representing the four points of a bounding box `bbox`.
Yet if the datakey used is eigher `bbox_xyxy` or `bbox_xywh` I'd expect the output to be in the same format. While technically it is, there are a few things that might need a fix.
- [ ] those t

[2022-01-08 15:01] twsl commented on #1508
I think the most important part for a clean object detection pipeline are a support for list of tensors as input to support different input sizes and properly respecting the bounding box input format. see https://github.com/kornia/kornia/issues/1522

[2022-01-08 17:48] #1520 closed

[2022-01-09 13:12] matanjacoby opened #1524 "Add antialias to warp_perspective"
It will be great if there will be an antialiasing option in the kornia.geometry "warp_persperctive" function.

[2022-01-09 16:59] edgarriba commented on #1524
@matanjacoby thanks for reaching out. Do you think it will be a similar implementation as for the resize ? /cc @ducha-aiki

[2022-01-11 09:41] matanjacoby commented on #1524
I think it is hard to determine a kernel for a general perspective transform. But something can be better than no filter at all :)

[2022-01-11 12:44] edgarriba commented on #1524
One idea could be to assume a sigma (1,1) as a circle, apply the transformation and take the two main axis for the new sigma ellipsoid

[2022-01-11 12:48] matanjacoby commented on #1524
cool idea:)

[2022-01-11 12:50] ducha-aiki commented on #1524
What we also can do, is to anisotropic mip-mapping (aka scale-pyramid)
https://en.wikipedia.org/wiki/Anisotropic_filtering,
specifically this https://en.wikipedia.org/wiki/Anisotropic_filtering#/media/File:MipMap_Example_STS101_Anisotropic.png

Then we sample from proper locations. I guess it would be useful for many things.
However, the overhead would be not negigable and we would need to write a

[2022-01-11 19:01] VladShtompel commented on #1524
Seems to be a duplicate of #990

[2022-01-11 20:54] VladShtompel commented on #875
@edgarriba I'd like to have a go at it, implementing a fix like what shijianjian and Zhylkaaa suggested.

What do you think?

[2022-01-11 21:08] edgarriba commented on #875
Sure , please go ahead

[2022-01-13 09:36] jinfagang opened #1526 "torchgeometry old code migration"
I have a old code using torchgeometry:

[code]
it was input Nx3x4, output Nx3

but from  `from kornia.geometry.conversions import rotation_matrix_to_angle_axis`

this input Nx3x3, output Nx3,

**more importantly**, I found these 2 function result value is not totally same.

[code]

the output pose from 2 functions **are not same** !!

[2022-01-13 18:30] nitaifingerhut opened #1527 "kornia.geometry.epipolar.essential_from_Rt fails with volumetric data!"
### Describe the bug

`kornia.geometry.epipolar.essential_from_Rt` has a problem with volumetric data.
assume we work with volumetric data in format `BTCHW` , so the input shapes are:
`R1=(B, T, 3, 3), t1=(B, T, 3, 1), R2=(B, T, 3, 3), t3=(B, T, 3, 1)`
after line:
`R, t = relative_camera_motion(R1, t1, R2, t2)`
the shapes of R, t will be:
`R=(B, T, 3, 3), t=(B, T, 3, 1)`
Then, it calls
`Tx = numer

[2022-01-14 10:08] edgarriba commented on #1526
hi! could you verify which is the one giving correct result ? in theory, the most recent has much better testing

[2022-01-14 11:53] jinfagang commented on #1526
@edgarriba  I don't know which one is right, but these are old code from VPoser, a human prior project. I don't know why they give me different result.

[2022-01-15 09:18] RElbers opened #1528 "The RandomPosterize class raises RuntimeError because of conflicting devices."
### Describe the bug

Using the _RandomPosterize_ class on the GPU device raises the following exception:

[code]

It seems like it's caused by the _bits_ variable not being placed on the same device. It's probably fixed just by placing something like the below code in the _posterize_ function.

[code]

### Reproduction steps

[code]

### Expected behavior

The `RandomPosterize` class should work

[2022-01-15 09:20] edgarriba commented on #1528
Hi! Do you have the full log error?

[2022-01-15 09:23] RElbers commented on #1528
Full output for the reproduction script:

[code]

[2022-01-17 16:00] nitaifingerhut commented on #1527
IMHO, the fix is to from `kornia.geometry.epipolar.numeric`:

`
def cross_product_matrix(x: torch.Tensor) -> torch.Tensor:
    r"""Returns the cross_product_matrix symmetric matrix of a vector.

    Args:
        x: The input vector to construct the matrix in the shape :math:`(*, 3)`.

    Returns:
        The constructed cross_product_matrix symmetric matrix with shape :math:`(*, 3, 3)`.

    """

[2022-01-18 19:47] #1527 closed

[2022-01-20 18:28] jatentaki opened #1531 "Custom augmentations in AugmentationSequential"
### Describe the bug

I wanted to implement a custom augmentation (rotation by a random multiple of 90 degrees using `torch.rot90`) and this causes a plenty of issues with `DataKey`. That was with kornia 0.6.1, but when I wanted to make this report reproducible on colab, which has kornia 0.6.2, I found that the approach from the [tutorial](https://kornia.readthedocs.io/en/latest/augmentation.base.

[2022-01-21 08:17] edgarriba commented on #1531
thanks for reporting — @shijianjian is looking soon several issues around this same topic. /cc @twsl

[2022-01-21 08:40] edgarriba commented on #1528
Awesome, I’ll fix during the weekend

[2022-01-21 08:43] edgarriba commented on #1526
If I have to rely on something it would be in the new implementation reviewed by @amonszpart
We could compare against other libraries maybe to double check ?

[2022-01-21 10:35] jinfagang commented on #1526
@edgarriba for vposer, they using old torchgeometry get a right result. In my reasoning, so, if new kornia gives a different result, then the "right" result I want is different.

So, it would be better notice or warning users, that old API might got different result than new.

Currently, i really want to know, what exactly caused this differences. and why torchgeometry stoped to maintain.

[2022-01-21 10:51] edgarriba commented on #1526
torchgeometry evolved to `kornia.geometry` few years back. I would be happy to go back to the old implementation if we find the reason and we properly test

[2022-01-21 13:01] amonszpart commented on #1526
I checked, and my PR did not change the way `rotation_matrix_to_angle_axis` works mathematically:
- https://github.com/kornia/kornia/pull/926/files?diff=split&w=0#diff-a8f3e0de21b707884a7a9a8a02a24848470a376b1b49bc585f7a88d8794f167bR324
- https://github.com/kornia/kornia/pull/926/files?diff=split&w=0#diff-a8f3e0de21b707884a7a9a8a02a24848470a376b1b49bc585f7a88d8794f167bR433

So I think the change (

[2022-01-21 14:46] jinfagang commented on #1526
@amonszpart thanks for your investigation.

Can u test right with torchgeometry old code from directly  and than compare with kornia new code? above code shows result are not equal.

[2022-01-21 16:57] miquelmarti opened #1534 "Augmentations in nested AugmentationSequential container not applied to bboxes or keypoints"
### Describe the bug

Augmentations in nested AugmentationSequential container not applied to bboxes or keypoints.

Since the nested AugmentationSequential module is not an instance of `_AugmentationBase` nothing is done for boxes or points in https://github.com/kornia/kornia/blob/4768008f137620e1d79f58b72e5f84311d81ccab/kornia/augmentation/container/utils.py#L83-L92

### Reproduction steps

[code

[2022-01-22 18:44] shijianjian commented on #1531
It is not a kornia bug. You should not use list.
You got
[code]

But you should
[code]

[2022-01-22 18:44] #1531 closed

[2022-01-23 13:25] twsl opened #1538 "AugmentationSequential manipulates BBoxes input"
### Describe the bug

Passing a bbox input `AugmentationSequential` changes the input.

### Reproduction steps

[code]

### Expected behavior

I expect the input not to change

### Environment

[code]
- PyTorch Version (e.g., 1.0): 1.10.1
- OS (e.g., Linux): Ubuntu
- How you installed PyTorch (`conda`, `pip`, source): source (master)
- Build command you used (if compiling from source): pip install

[2022-01-23 15:58] #1534 closed

[2022-01-24 19:29] rsomani95 opened #1540 "`RandomMotionBlur` fails when `kernel_size` is a `Tuple[int, int]`"
### Describe the bug

Using the `RandomMotionBlur` augmentation with a tuple for `kernel_size` throws a `TypeError`. This appears to happen because internally `apply_transform` is trying to convert `kernel_size` to an `int` while receiving a collection of numbers

### Reproduction steps

[code]

### Expected behavior

Successfully perform the transform with a different kernel size every batch

###

[2022-01-24 22:07] edgarriba commented on #1540
This actually seems to go more deeper :)
https://github.com/kornia/kornia/blob/master/kornia/filters/kernels_geometry.py#L10

Feel free to give it a shot. We can assist you if you face some issues while implementing /cc @shijianjian @twsl

[2022-01-24 22:08] edgarriba commented on #1538
Is there any inplace ops happening inside @shijianjian ?

[2022-01-25 00:56] rsomani95 commented on #1540
@edgarriba thanks for the quick response!

I'll be happy to take a crack at it. In my view, the simplest solution would be to keep the `kernel_size: int` as is in the inner functions and simply pick one of `batch_size` `ksize_factor` inside `RandomMotionBlur.apply_transform`. Something like:

[code]

The other, more complicated route would be to make `get_motion_kernel2d` accept a `tuple[int,in] |

[2022-01-25 03:40] shijianjian commented on #1538
Yes. All the bbox operations are inplace right now.

[2022-01-26 07:13] edgarriba commented on #1540
We could start with 1) and later we expand to 2)/cc @shijianjian ?

[2022-01-26 19:28] hasibzunair opened #1542 "[Feature Request] Add `MS-SSIM + L1` reconstruction loss"
## 🚀 Feature

Implementation of MS-SSIM + L1 loss function which can be used in vision tasks such as image inpainting, restoration, synthesis etc.

## Motivation

While there is an implementation of [SSIM loss](https://kornia.readthedocs.io/en/latest/losses.html#kornia.losses.SSIM) in `korina.losses`, there isn't one for MS-SSIM + L1. It is annoying to always use a big function with my other loss

[2022-01-27 01:32] rsomani95 commented on #1540
Put in a PR for (1)

[2022-01-27 11:50] twsl opened #1544 "Add Resize augmentation"
## 🚀 Feature

I'm in need of a resize operation, that works with AugmentationSequential.

## Motivation

In contrast to the existing resize functions, it should work inside the sequential with bboxes as well.

## Pitch

Add a new 2d geometric augmentation.

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribu

[2022-01-28 09:59] edgarriba commented on #1542
@hasibzunair Thanks for pointing this out. Are you willing to give it a shot ?
Besides, I believe this is duplicated from https://github.com/kornia/kornia/issues/451
Also worth to check on https://github.com/kornia/kornia/issues/1158

[2022-01-28 17:26] hasibzunair commented on #1542
@edgarriba, yup. Should I get started with the MS-SSIM + L1 then? Can see others working on similar features!

[2022-01-28 17:38] edgarriba commented on #1542
sounds like a plan

[2022-01-29 20:57] #1528 closed

[2022-01-30 11:00] #1544 closed

[2022-01-30 16:04] #1540 closed

[2022-01-30 17:39] hasibzunair commented on #1542
@edgarriba  How do I run https://kornia.readthedocs.io/en/latest/losses.html locally to see the new changes?

[2022-01-30 17:42] edgarriba commented on #1542
I suggest to read this: https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst#developing-kornia
And then once you modify (inside the dev-env) -- `pytest test/losses/test_losses.py::TestSSIMLoss::test_ssim`
https://github.com/kornia/kornia/blob/master/test/losses/test_losses.py#L301

[2022-01-30 17:43] #1204 closed

[2022-01-30 17:55] hasibzunair commented on #1542
Is there a way to see the documentation locally too? I read https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst#developing-kornia but didn't see anything on that. Not sure if I am missing something. Wanna double check the math equations hahah.

[2022-01-30 18:03] edgarriba commented on #1542
that one is missing, you're right (worth adding :) -- you should `make build-docs`
https://github.com/kornia/kornia/blob/master/Makefile#L50

[2022-02-02 06:04] junjun1023 opened #1554 "Make the edges related to input tensors"
## 🚀 Feature

Hi, a differentiable input tensors (e.g. synthesized image) will get edges by calling `Canny(low_threshold=xxxx, high_threshold=xxx)`, but the edges are not related to input tensor. It means I can't compute edge loss from synthesized images. Can you modify the way of implementation and not to break the relation of input image and its edge?

## Motivation

I want to compute edge loss

[2022-02-02 10:03] edgarriba commented on #1554
@junjun1023 thanks for reporting. In order to check on differentiable, you must check that the following tests passes
https://github.com/kornia/kornia/blob/master/test/filters/test_canny.py#L264

[2022-02-02 11:17] clamence opened #1555 "torch.jit issue during import"
### Describe the bug

When I try to import get_perspective_transform, warp_affine, I have the following error (Ubuntu 18.04, kornia 0.6.3, python 3.7.11)

[code]

### Reproduction steps

[code]

### Expected behavior

No error during import

### Environment

[code]
PyTorch version: 1.7.1
Is debug build: False
CUDA used to build PyTorch: 11.0
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS

[2022-02-02 12:41] miquelmarti commented on #1498
Disregarding the fact that masks and inputs should not be treated the same, how could we allow augmentations without DataKey.Input? It seems the only reason to force having always the input datakey is to be able to get its shape when computing the parameters. Is there something else I'm missing? In such case, could we allow not having the input but ask for the shape instead? Could also get the sha

[2022-02-02 17:21] shijianjian commented on #1498
I think having an input shape is possibly a good solution to this. The general idea is to have a suite of parameters for the whole AugmentationSequential. As long as we can get the parameters in the first place, we can make it happen across different datakeys.

[2022-02-03 08:12] edgarriba commented on #1555
One way to know is you updating at least to 1.8.1. We made last mínimum version few releases ago.
Besides, you can just try
 `from kornia.geometry.transform import get_perspective_transform, warp_affine`
 or
`from kornia.geometry import get_perspective_transform, warp_affine`

[2022-02-03 09:49] aerobio commented on #246
Sorry to bother you with the same issue, but the [tutorials](https://github.com/kornia/tutorials/blob/master/source/hello_world_tutorial.ipynb) insist on using `np.array` instead of `np.ndarray`:

    img_bgr: np.array = cv2.imread('arturito.jpg')

[2022-02-03 10:15] edgarriba commented on #246
that's a typo -- worth sending a PR with the update

[2022-02-05 11:50] ashnair1 opened #1557 "Incorrect shape while using CombineTensorPatches"
### Describe the bug

Currently `CombineTensorPatches` does not accurately invert the results of `ExtractTensorPatches`. This can be observed by running the following script.

### Reproduction steps

[code]

Instead of returning the original shape (2,3,16,16), `CombineTensorPatches` will return (32, 3, 4, 4)

### Expected behavior

image and new_image should have the same shape - (2,  3, 16, 16)

[2022-02-05 12:15] ashnair1 commented on #1557
The same bug can cause the script to fail earlier if you use a larger window size

[code]

Error produced

[code]

[2022-02-05 15:14] eik0u opened #1559 "Misleading Benchmarks of kornia.augmentations"
## 📚 Documentation

Benchmarks of [kornia.augmentation](https://kornia.readthedocs.io/en/latest/augmentation.html) are misleading.
Code of benchmarks in the [Google Colab](https://colab.research.google.com/drive/1b-HpK4EsZR8uolztgH4roNBLaDwcMULx?usp=sharing) on that page is wrong:
1. It doesn't even launch baseline implementations from other libraries. It launches kornia_timer with batch_size=1 in

[2022-02-06 09:23] edgarriba commented on #1559
@eik0u thanks for pointing out, worth to check where the issue comes from. If I recall well both implementations used to use index based slicing by default so performance should be similar, however Kornia handles properly slicing at different indices at every element of the batch. /cc @shijianjian

[2022-02-07 11:54] lamhoangtung opened #1563 "kornia.utils.draw_line produce wrong output for coordinates larger than uint8"
### Describe the bug

Hi, I'm using `kornia.utils.draw_line` to draw a simple line but it's producing incorrect output for coordinates larger than `uint8`

For example:
- An image with shape `3, 800, 800`
- Draw a line from `500, 500` to `600, 600`

And `kornia.utils.draw_line` will produce an output like this:
![wrong](https://user-images.githubusercontent.com/26834698/152783200-f6ae6636-3f9f-48c

[2022-02-08 09:21] clamence commented on #1555
Thank you for your answer, updating to 1.10 definitely worked !

[2022-02-08 09:21] #1555 closed

[2022-02-09 06:50] xubin1991 opened #1568 "bbox and keypoints won't work with RandomRotation"
### Describe the bug

Using the latest version of kornia(0.6.3), RandomRotation cannot product correct bbox and keypoints while the mask is corrrect.

Here is the script(which modified from https://kornia-tutorials.readthedocs.io/en/latest/data_augmentation_sequential.html):
[code]

On my machine, this produce:
![image](https://user-images.githubusercontent.com/18608159/153137959-960676fe-5d80-423

[2022-02-09 11:50] eik0u commented on #1559
Sure, a proper fix to speed-up kornia.augmentation would be great, but this issue is mainly about documentation. Fixing documentation is easy - either remove benchmarks completely (until the slowdown is fixed) or rerun them after fixing **benchmarking** code.

Posting such misleading benchmarks is not cool. I drew conclusion that torchvision is very slow until I've decided to check it myself and w

[2022-02-09 11:58] gmberton commented on #691
Same issue here. I used kornia augmentations for a few days after finding that GPU augmentation provides 2x training speedup with my code, but then I also found a drop of few % in accuracy, so now I have to give up kornia augmentations.
Is there any plan to have torchvision-equivalent color jittering?

[2022-02-09 13:25] pietz opened #1569 "keepdim=True in RandomCrop not working"
### Describe the bug

Setting `keepdim=True` in `RandomCrop()` has no effect. The batch dim is added either way.

### Reproduction steps

[code]

### Expected behavior

Expected: Receive 3D tensor
Actual: Receive 4D tensor

### Environment

[code]

### Additional context

_No response_

[2022-02-09 13:29] shijianjian commented on #1559
TorchVision augmentation indeed can perform in a batch but the exact same augmentation will be performed on all the images across the whole batch, while in kornia, we perform different augmentations for each image. That is why they are faster and why I did the benchmark with a for-loop to test against.

<img width="386" alt="Screenshot 2022-02-09 at 9 24 38 PM" src="https://user-images.githubuserc

[2022-02-09 15:19] shijianjian commented on #1569
Thanks for reporting. Fixed in #1571

[2022-02-09 15:33] eik0u commented on #1559
As I've noted in this issue the original benchmark didn't even launch the code for baselines! :)
I've showed the numbers of the fixed benchmark: torchvision is 130x faster with **batch_size=1**. So it's faster to apply torchvision image by image than kornia in batch mode.
Moreover torchvision is faster with batch_size=1 than kornia with batch_size=128.

Here is a [Google Colab](https://colab.resea

[2022-02-09 16:21] shijianjian commented on #1559
We did not do any optimization for  `same_on_batch` yet. It is just to control the parameter generation for now.

As per the speed, if you apply torchvision augmentation image by image for not getting the same augmenatations in a batch, Kornia will definitely faster with the larger batch size. Also, you may add `torch.no_grad()` for a fair comparison if you want.

If you agree, TorchVision indeed

[2022-02-09 18:34] eik0u commented on #1559
I completely understand that the benchmark is old. But let me state it one more time: the code for benchmark is wrong in the first place.

Let me walk you step by step so you could better understand this issue from my point of view:
1. The [documentation](https://kornia.readthedocs.io/en/latest/augmentation.html#benchmark) states that [this Google Colab](https://colab.research.google.com/drive/1b-

[2022-02-09 18:46] edgarriba commented on #691
@gmberton kornia has the enough low level functionality to write your own color jitter or any other augmentation related ops. We do not plan to match torchvision since it’s another project/tea and different uses cases funded mainly a very well known company plus it’s child foundations. You can check our budgets here https://opencollective.com/kornia

If anything is required please, consider to fun

[2022-02-09 18:46] #691 closed

[2022-02-09 18:56] eik0u commented on #1559
Oh, I know. There is another option - you could drop the columns for torchvision and albumentations from the benchmark table as the numbers for them are wrong (kornia(batch_size=1) was used instead of them).
That way you could still continue to rightfully boast about GPU speed ups with bigger batch sizes and avoid presenting torchvision and albumentations unfairly.

[2022-02-09 19:18] #1542 closed

[2022-02-10 01:19] shijianjian commented on #1559
IIRC, only some cropping based methods are significantly slower. We will investigate why the cropping is that slow. Consider #1571 as relevant.

Are you okay to file a PR to update those numbers? No need to remove any columns or rows yet.

[2022-02-11 07:44] edgarriba commented on #691
@gmberton thanks so much! Are you in our slack ? We can discuss over there how to make a proper integration for different backend libraries. @lferraz was interested in taking a look into that. /cc @shijianjian

[2022-02-11 22:51] #1569 closed

[2022-02-12 10:32] edgarriba commented on #1436
Looking at the tests, I would say we cover that case.
https://github.com/kornia/kornia/blob/master/test/geometry/camera/test_perspective.py#L70

Worth to double check

[2022-02-12 12:05] lferraz commented on #691
I checked the code in https://github.com/rdevon/kornia/commit/09d95360837e557a5d83f3bd891f0271d546ee62 and I think the easiest approach is to add a flag (OPENCV/PIL) to those 2 funcionalities. By default set OPENCV and then we do not need to change anything else. What do you think @edgarriba @shijianjian @gmberton ?

[2022-02-13 16:39] thatbrguy commented on #1436
Ahh I think the shape of `K` is wrong in the bug report. The author of the bug report used the following input variables:

[code]

When it should have been:

[code]

Maybe that's what caused the issue for the author?

[2022-02-14 03:13] gmberton commented on #691
@lferraz using a flag sounds great to me

[2022-02-14 04:02] loucadgarbon opened #1578 "An error occurred when the mask parameter passed to the LoFTR module"
### Describe the bug

When passing in the mask0 and mask1 parameters, an error raise:
RuntimeError: The size of tensor a (4096) must match the size of tensor b (262144) at non-singleton dimension 1

### Reproduction steps

[code]

### Expected behavior

The program should run normally

### Environment

[code]
- PyTorch Version (e.g., 1.10.2):
- OS (e.g., Windows10):
- How you installed PyTorch (pi

[2022-02-14 04:11] shijianjian commented on #691
@gmberton Are you okay to file a PR on this ?

[2022-02-14 08:52] dichen-cd opened #1579 "Gradient computation failed for distance_transform"
### Describe the bug

Using `kornia.contrib.distance_transform` before computing an MSE loss would raise RuntimeError for gradient computation.
The error message looks like this:

[code]

A minimum reproducible script is provided below.

### Reproduction steps

[code]

### Expected behavior

Gradient back-propagated successfully and there should not be any console outputs

### Environment

[code]

[2022-02-14 09:29] edgarriba commented on #1579
@dichen-cd thanks to report. A quick guess is due to the inplace addition here
https://github.com/kornia/kornia/blob/master/kornia/contrib/distance_transform.py#L70

[2022-02-14 09:30] #1563 closed

[2022-02-14 09:31] edgarriba commented on #1568
@xubin1991 can you verify the fix and close this ?

[2022-02-14 09:33] edgarriba commented on #1578
does this error throw the exact where it crashes ?

[2022-02-14 09:33] edgarriba commented on #1578
@ducha-aiki

[2022-02-14 13:58] #1578 closed

[2022-02-15 03:14] dichen-cd commented on #1579
Hi @edgarriba . Thanks for the quick reply.

I tried to replace the inplace addtion `out += (offset + cdt) * mask` with `out = out + (offset + cdt) * mask`, the problem still remains.

[2022-02-15 06:03] shijianjian commented on #1579
How about the next line? Considering using torch.where instead?

[2022-02-15 09:42] #462 closed

[2022-02-16 02:22] dichen-cd commented on #1579
Hi @shijianjian. Thank you for the suggestion!

I changed `boundary[mask == 1] = 1` to `boundary = torch.where(mask == 1, torch.ones_like(boundary), boundary)`.
The problem is now fixed.

[2022-02-16 02:52] shijianjian commented on #1579
Brilliant. Do you mind wrapping up and sending a PR?

[2022-02-16 03:44] dichen-cd commented on #1579
Hi @shijianjian , A PR is sent https://github.com/kornia/kornia/issues/1579.

[2022-02-16 12:18] ashnair1 commented on #1557
Looking into this further, I realize the first issue is mainly due to an issue with ExtractPatches.  Basically the window size used is incorrect. It should be input_size // win_size. This is why a similar augmentation like `PatchSequential` works. It correctly computes the window size before calling `extract_patches`. I can submit a PR but we need to decide if the window size computation should be

[2022-02-17 07:55] xubin1991 commented on #1568
Thanks @shijianjian  , I use your patch and can get correct result now:
![image](https://user-images.githubusercontent.com/18608159/154430367-b2c92920-0754-4d4b-8c31-a65a69b1d4b7.png)

@edgarriba now I close this issue.

[2022-02-17 07:55] xubin1991 commented on #1568
Thanks @shijianjian  , I use your patch and can get correct result now:
![image](https://user-images.githubusercontent.com/18608159/154430367-b2c92920-0754-4d4b-8c31-a65a69b1d4b7.png)

@edgarriba now I close this issue.

[2022-02-17 07:55] #1568 closed

[2022-02-22 15:17] ducha-aiki opened #1587 "kornia.augmentation.resize does not have antialias flag, unlike kornia.geometry.transform.resize"
### Describe the bug

Check
https://kornia.readthedocs.io/en/latest/_modules/kornia/augmentation/_2d/geometric/resize.html#Resize

versus
https://kornia.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.Resize

[2022-02-22 21:15] avani17101 commented on #702
Don't seem to find any `kornia.filter.bilateral_blur` variable. Did its name change in new version?

[2022-02-23 11:54] edgarriba commented on #702
@avani17101 bilateral file was not finished since we couldn't fins a proper API vs "fast" implementation. This particular algorithm needs to almost iterate through the different pixels to compute weighting in a local neighborhood.  This is extremely slow with python -- we should find another good vectored way to implement decently efficient. /cc @ducha-aiki

[2022-02-23 12:01] AnimeshMaheshwari22 commented on #702
Hello. This is my apprehension as well. The functionality I found close to this was uniform spatial bilateral filtering that is relatively faster, but that is not the exact requirement.

[2022-02-23 12:07] ducha-aiki commented on #702
@edgarriba how about this implementation? https://github.com/sunny2109/bilateral_filter_Pytorch/blob/main/bilateral_filter.py
It seems one can just use unfold2d, no?

[2022-02-23 12:26] edgarriba commented on #702
might fit !! @lferraz suggested something similar with unfolding

[2022-02-23 13:20] AnimeshMaheshwari22 commented on #702
Since I had submitted a PR, I can continue that and give it a try!

[2022-02-23 14:53] edgarriba commented on #702
would be great to follow this new implementation

[2022-02-24 14:32] fchouteau opened #1588 "Cannot script kornia.geometry.Rescale"
### Describe the bug

Hello,

Since `kornia==0.5.4` we have issues running torch.jit.script on `kornia.geometry.Rescale` (and affiliated codes). It worked before the refactoring (`kornia==0.5.3`) but doesn't since.

I don't see any impossibility of scripting such a module, so I am wondering whether if it's a bug or if I missed something that would make the module unscriptable.

Note that tracing i

[2022-02-25 09:07] edgarriba commented on #1588
@fchouteau thanks to point this out. I'll take a look during the weekend. Seem that torchscript doesn't like this line
https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/affwarp.py#L572

[2022-02-28 12:27] Parskatt opened #1591 "Flag to let random perspective be area preserving"
## 🚀 Feature
I suggest a flag for random perspective, e.g. "area_preserving=True" that samples homographies such that the transformed image is on average the same size as the original.

One could change the random generation so that it is at least approximately the same area after e.g. by letting the mapping perturbations go in random directions, or use some post-processing.

## Motivation
The cur

[2022-02-28 13:53] shijianjian commented on #1591
@Parskatt It is an interesting feature. Please file a PR!

[2022-02-28 15:17] Parskatt commented on #1591
@shijianjian Haven't contributed here before, so might have missed something. Anyway, I made a WIP pull request in #1592 .

[2022-02-28 18:14] #1502 closed

[2022-03-03 07:21] oliver-batchelor opened #1597 "Use reshape instead of view in scale_space_detector?"
### Describe the bug

[code]

After having changed view to reshape then this:
[code]
### Reproduction steps

[code]

### Expected behavior

Run without exception

### Environment

[code]

### Additional context

_No response_

[2022-03-03 07:53] edgarriba commented on #1597
@oliver-batchelor rhanks to report. Can you send a quick PR with the fix and include that failing tests ? /cc @ducha-aiki

[2022-03-03 08:03] oliver-batchelor commented on #1597
@edgarriba I'm investigating, there seems to be more problems. Especially that second error I don't yet understand why the sizes are not right.

[2022-03-05 10:21] edgarriba opened #1601 "Equivalent function of cv2.fillConvexPoly in Kornia"
### Discussed in https://github.com/kornia/kornia/discussions/1599

Include a tensor version of[ `cv2.fillConvexPoly`](https://docs.opencv.org/3.4/d6/d6e/group__imgproc__draw.html#ga9bb982be9d641dc51edd5e8ae3624e1f)

<div type='discussions-op-text'>

<sup>Originally posted by **vipulkumar-developer** March  4, 2022</sup>
Hi, I've started a new discussion to ask if there exists a method like cv2.fi

[2022-03-05 10:22] edgarriba commented on #1601
/cc @ducha-aiki @shijianjian any suggestion about potential implementations ?

[2022-03-06 09:41] #1557 closed

[2022-03-07 09:58] edgarriba opened #1604 "Add `PlanckianJitter` in color augmentations"
## 🚀 Feature

We would like to have the recent published `PlanckianJitter` augmentations from: https://github.com/TheZino/PlanckianJitter

See: https://github.com/TheZino/PlanckianJitter/issues/2 @nrupatunga

## Motivation

Ideally we would like the following code under `planckian_jitter.py`
https://github.com/kornia/kornia/tree/master/kornia/augmentation/_2d/intensity

(below is just a pseudo-cod

[2022-03-07 10:09] vedal commented on #1159
From the documentation in https://kornia.readthedocs.io/en/latest/augmentation.container.html, this issue seems ready to be closed

[2022-03-07 12:10] nrupatunga commented on #1604
Thank you for the boilerplate code. That helps to start

[2022-03-07 18:48] edgarriba commented on #1159
@vedal you are right, but i have the opinion that having a separate `OneOf` (or `Select`, `Choose` [better namings]) is more explicit and easy to follow ? /cc @shijianjian

[2022-03-08 14:54] edgarriba opened #1608 "Add `white_balance` in kornia.enhance"
## 🚀 Feature

We would like to have a function implements a vectorized version of the white balancing algorith,

Reference: https://stackoverflow.com/questions/46390779/automatic-white-balancing-with-grayworld-assumption

Code in python / numpy:

[code]

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

-

[2022-03-09 09:06] Parskatt commented on #1601
@edgarriba I think I can make a rough sketch today

[2022-03-09 09:09] edgarriba commented on #1601
@Parskatt amazing !

[2022-03-09 10:27] Parskatt commented on #1601
Here is a super rough sketch:
[code]

[2022-03-09 10:31] Parskatt commented on #1601
I think almost all parts of this could be optimized, so Im happy to incorporate suggestions.

[2022-03-09 11:50] Parskatt commented on #1601
To generalize this approach to the non-convex case, you would have to count the "line-crossing" number for the pixels in each row. If the number is even, put a 0, if the number is odd, put a 1.

[2022-03-09 13:03] Parskatt commented on #1601
New attempt (for the general case):

[code]

[2022-03-09 18:48] edgarriba commented on #1601
@Parskatt this is so cool, anything that approximates opencv is fine -- Feel free send a PR. I suggest to add it in https://github.com/kornia/kornia/blob/master/kornia/utils/draw.py /cc @shijianjian

[2022-03-11 06:36] edgarriba opened #1613 "resize/downsample is significantly blurrier than skimage"
### Discussed in https://github.com/kornia/kornia/discussions/1596

<div type='discussions-op-text'>

<sup>Originally posted by **scott-vsi** March  2, 2022</sup>
When downsampling an image (512,512) to (224,224), I have noticed that kornia produces a much blurrier image than skimage.

It looks like kornia uses a sigma [see [1](https://github.com/kornia/kornia/blob/62f114e7883292ae6bb38874cfaca2d9

[2022-03-11 07:12] #1613 closed

[2022-03-13 11:34] edgarriba opened #1618 "Add `adjust_log` to kornia.enhance"
## 🚀 Feature

We would like to have a consistent functionality against scitkit-image `adjust_log`

See: https://scikit-image.org/docs/stable/api/skimage.exposure.html#adjust-log

## Motivation

Useful for image manipulation and  to compose complex augmentations

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

[2022-03-13 11:35] edgarriba opened #1619 "Add `adjust_sigmoid` to kornia.enhance"
We would like to have a consistent functionality against scitkit-image `adjust_sigmoid`

See: https://scikit-image.org/docs/stable/api/skimage.exposure.html#adjust-sigmoid

## Motivation

Useful for image manipulation and  to compose complex augmentations

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

[2022-03-14 02:35] NickleDave opened #1621 "`test_one_hot` will fail when upgrading to pytest >= 7.0.0"
### Describe the bug

Hi kornia devs,

Just giving you a heads up that one of your tests will fail if/when you change your dev requirements to use "pytest >= 7.0.0".
https://github.com/kornia/kornia/blob/e65fe6c54ada355cf0d9a0ebe4e607acc02e79a7/test/utils/test_one_hot.py#L7

Because of this issue:
https://github.com/pytest-dev/pytest/pull/9061

I know this because I "adapted" (copied :innocent:) `

[2022-03-14 08:00] edgarriba commented on #1621
Actually the best would just to use `assert_close` which already deals with tensors
https://github.com/kornia/kornia/blob/master/test/color/test_gray.py#L7

[2022-03-14 13:07] ducha-aiki opened #1622 "Overblur strikes back"
### Describe the bug

After using  latest kornia https://github.com/kornia/kornia/pull/1612 with smaller blur in resize, the custom image matching pipeline I am using started working MUCH worse.
 I cannot give any specific numbers, but it seems that image matching benefits from the more blur in resize.

cc @[scott-vsi](https://github.com/scott-vsi)

Probably the proper thing, to specify amount of

[2022-03-15 18:56] #1604 closed

[2022-03-16 06:47] edgarriba commented on #1622
Are we moving to any action item before the release ? Possibly end of the week since most of all wanted PRs are in

[2022-03-16 12:41] #1622 closed

[2022-03-16 14:47] ducha-aiki opened #1632 "Support two formats for LAFs"
## 🚀 Feature

Current kornia convention for local features assumes same number of features per image in batch: (B,num, ...)
 New features (KeyNet,LoFTR) instead put all features in huge list and provide tensor with indexes.
 (B, N) == current format is better for parallel processing, but us not as flexible as (B*N) + indexing format - some  (e.g. threshold-based) detectors just don't output same n

[2022-03-16 14:51] ducha-aiki commented on #1632
Also add add_padding() and remove_padding() functions

[2022-03-16 22:34] edgarriba commented on #1632
This looks like we need a `LocalFeature` data structure / API. I guess something that can handle lists and contiguous tensors and easy to back and forth, even between frameworks. I would just start drafting a small class that can represent the detection parameters and later the descriptor. I guess the challenge is in the detector since different methods have their own representation.

[2022-03-17 10:00] ducha-aiki opened #1635 "Update old long shape checks with new interface KORNIA_CHECK_SHAPE"
## 🚀 Feature
Replace old shape and type checks with new interface like
[code]
introduced in https://github.com/kornia/kornia/pull/1633

[2022-03-17 16:57] juliendenize commented on #691
Another difference between Kornia and Torchvision that can be source of error is how to use gaussian blur.

In Kornia `sigma` is a tuple used deterministically to provide standard deviation for x and y axis:
[code]

In torchvision `sigma` can be either a float used for both axes or a tuple used to uniformly sample a sigma used for both axes:
[code]

To have similar behavior with torchvision, one c

[2022-03-18 16:15] Parskatt opened #1639 "Newer pytorch versions raise warnings for meshgrid"
### Describe the bug

In newer (>= 1.10) pytorch versions, the indexing for meshgrid needs to be provided an index order:
https://pytorch.org/docs/1.10/generated/torch.meshgrid.html?highlight=meshgrid#torch.meshgrid
This means that kornias meshgrid function https://github.com/kornia/kornia/blob/9bae28e032b092b065658117723a82816d09dbac/kornia/utils/grid.py#L6-L12 will raise warnings each time it is

[2022-03-18 19:19] edgarriba commented on #1639
@Parskatt this is addressed here https://github.com/kornia/kornia/pull/1629

We just need to fix minor backwards compatibility issues

[2022-03-18 22:14] Parskatt commented on #1639
Woops

[2022-03-18 22:14] #1639 closed

[2022-03-19 07:09] #1601 closed

[2022-03-19 12:24] Parskatt opened #1641 "Assumed coordinate systems for draw_rectangle and draw_convex_polygons are different"
### Describe the bug

Draw rectangle assumes (by casting coordinates to int), a coordinate system with the center of the top-left pixel at [0.5,0.5], while draw_convex_polygons assumes [0,0] at the center of the top-left. While the assumed coordinate system is noted in draw_convex_polygons, it is not in draw_rectangle. This means that the edges of the draw objects will not be consistent for the sa

[2022-03-19 12:29] Parskatt commented on #1641
I think this problem is also prevalent in multiple other parts of kornia, where the coordinate systems used are not explicit.
create_meshgrid e.g. assumes a [0,0] center of top-left pixel, but this is not specified.

Assuming [0.5,0.5] for [0,0] and vice-versa may introduce subtle errors especially when pixel precision is required, so I think it's important that we are very clear with what coordin

[2022-03-19 16:17] edgarriba commented on #1641
@Parskatt I agree -- we had this discussion with @ducha-aiki while deciding similar conventions for warping. In pytorch we can control that with the `align_corners` (from `grid_sample`) to keep backward compatibility and align with opencv we are setting align corners to false by default which mean I believe [0,0] center.

[2022-03-19 16:26] Parskatt commented on #1641
@edgarriba I'm pretty sure that `align_corners = False` implies [0.5,0.5] center of top-left.
I've had so many issues with this when doing geometric matching haha.

[2022-03-20 07:35] edgarriba opened #1648 "We might need to upgrade to a more meaningful tests in augmentation smoke tests"
We might need to upgrade to a more meaningful tests in augmentation smoke tests

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1611#discussion_r830571400_

[2022-03-20 07:36] edgarriba opened #1649 "Check if `test_random_gen_accumulative_additive_additive` still crashes in pytorch 1.10.1"
Check if `test_random_gen_accumulative_additive_additive` still crashes in pytorch 1.10.1

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1611#discussion_r830571801_

[2022-03-20 07:40] edgarriba commented on #1641
Oh, okay, then I’d keep that standard. Unless we have another preference. In drawing api my guess is that we are using heavily indexing so using subpixel precision won’t easy at all with the current approach.

[2022-03-20 07:43] edgarriba opened #1650 "Remove notebooks from main repo (with history cleaning because of images)"
Remove notebooks from main repo (with history cleaning because of images)

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1611#discussion_r830572967_

[2022-03-20 08:44] Parskatt commented on #1641
Yeah, unless we do anti-aliased lines there is only 0.5 pixel resolution since the coloring is binary. I think I will make a pull request later to fix draw polygon to assume [0.5,0.5] indexing so that it is consistent with draw_rectangle.

[2022-03-20 09:46] edgarriba commented on #1641
cool, yeah sounds good. Would be also great to small a small colab showing the different drawing functions. (basically plotting the tests)

[2022-03-20 09:54] Parskatt commented on #1641
@edgarriba you mean in the examples section? I might be able to later next week.

[2022-03-20 10:01] edgarriba commented on #1641
we have this: https://github.com/kornia/tutorials

[2022-03-20 10:28] Parskatt commented on #1641
Great! I'll make a larger write-up later, and maybe include non-convex polygons and quadratic bezier curves there as well.

[2022-03-20 15:40] shijianjian commented on #1591
Closed by #1592

[2022-03-20 15:40] #1591 closed

[2022-03-21 13:37] Parskatt opened #1651 "align_corners = False produces incorrect transforms for warp_perspective"
### Describe the bug

warp_perspective allows the ``align_corners = False`` argument, but only applies it to F.grid_sample and not to the meshgrid. As a result, the coordinate systems are inconsistent, and produce incorrect transformations. This problem does not appear in all transformations, as the grid generation in e.g. warp_affine uses the built in torch function affine_grid which accepts a ``

[2022-03-21 18:22] simon-schaefer opened #1653 "nan Gradient in kornia.geometry.rotation_matrix_to_quaternion"
### Describe the bug

When using `torch.float32` the transformation from rotation matrices to quaternions outputs nan valued gradients. This is caused by `trace + 1.0` (in `sq = ...`) which might be slightly below zero, for single precision. It should be `sq = torch.sqrt(trace + 1.0 + eps) * 2.0` instead.

[code]

### Reproduction steps

[code]

### Expected behavior

The code above outputs a grad

[2022-03-21 23:14] Akaame commented on #1653
[code]
`trace_positive_cond` path is not taken for this matrix. What do you get when you calculate `cond_1` by hand?

[2022-03-22 09:55] shaibagon opened #1654 "runtimeError: cusolver error: CUSOLVER_STATUS_EXECUTION_FAILED in RandomResizedCrop"
### Describe the bug

Calling `RandomResizedCrop` with reasonable parameters:
[code]

results with this runtime error:
[code]

### Reproduction steps

[code]

### Expected behavior

Expecting code not to crash when augmenting an image.

Currently crushing with:
[code]

### Environment

[code]
- PyTorch Version: 1.10.2, build py3.9_cuda11.3_cudnn8.2.0_0
- OS: Linux
- How you installed PyTorch: cond

[2022-03-22 10:06] edgarriba commented on #1653
@simon-schaefer can you guys send a quick PR adding the `eps` parameter ? Besides, I'm recently exploring alternatives to handle geometry conversions via Lie Algebra. I have an internal prototype of a python (not only pytorch) implementation of hauke's library Sophus https://github.com/strasdat/Sophus that I hope we can release at some point soon.

[2022-03-23 08:39] nitaifingerhut commented on #1122
I can also guide you through this or maybe do it myself if I'll find the time

[2022-03-24 10:10] edgarriba commented on #1654
@shaibagon thanks for reporting. Could you give us what's your input and the args structure ? I quickly tried here and all seems fine.

https://colab.research.google.com/drive/1sC6wXPNL_wkI4bqa5PfDSqmJA3864q8n?usp=sharing

[2022-03-24 11:37] simon-schaefer commented on #1653
Thank you for your quick reponse!

@Akaame: Analytically, the gradient of `q.sum()` w.r.t. `m00` is
[code]
which results in 0.125. It is similar for the other terms, just with a different sign. Thus, the correct outcome is
[code]
We get the same result when we perturb the initial rotation matrix from above by adding a small eps to the diagonal elements `m11` and `m22`.

@edgarriba: Sure, will do i

[2022-03-25 02:46] z0gSh1u opened #1660 "`filter2d` gives wrong output shape with even width and odd height"
### Describe the bug

As we know, `filter2d` with `padding='same'` should give a same output shape as `input`. However:

[code]

We can't obtain the filtered result.

### Reproduction steps

[code]

### Expected behavior

Like scipy:

[code]

### Environment

- PyTorch Version (e.g., 1.0): 1.10.2
- OS (e.g., Linux): Linux (Ubuntu 18.04)
- How you installed PyTorch (`conda`, `pip`, source): `conda`

[2022-03-25 16:41] dobosevych commented on #1619
Whether already exists such implementation or it should be created from scratch? Can you point to module where to add such implementation?

[2022-03-26 07:46] shijianjian opened #1664 "Optimizing of ```same_on_batch``` params for augmentations"
## 🚀 Feature
Optimizing of ```same_on_batch``` params for augmentations.

## Motivation
All operations and random param generations are designed towards performing element-wise augmentations. With `same_on_batch`, it only controls the parameter generations but not improving the performances. Thus, it would be better if we can improve the efficiency of batch-wise augmentations.

[2022-03-26 11:27] simon-schaefer commented on #1653
I have submitted the PR for adding the eps.
https://github.com/kornia/kornia/pull/1665

[2022-03-26 18:51] edgarriba commented on #1619
@dobosevych the idea is to write from scratch following scimitar implementation and place it here https://github.com/kornia/kornia/blob/master/kornia/enhance/adjust.py

[2022-03-26 18:56] #1660 closed

[2022-03-28 13:17] edgarriba commented on #1664
@shijianjian could you give a quick example what you exactly in mind ?

[2022-03-28 16:12] shijianjian commented on #1664
I think there will be two steps of optimisation here:

1. generate random parameters under `batchsize==1`.
2. apply the transformation efficiently with `reshape(1, N*C, H, W)`, etc.

The general idea is to avoid element-wise generation and transformation.

[2022-03-31 17:01] tileb1 opened #1671 "AttributeError: cannot assign parameters before Module.__init__() call"
### Describe the bug

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-39-048b789dea33> in <module>
----> 1 crop = K.RandomResizedCrop((224, 224), scale=p([0.08, 1.0]))

~/anaconda3/envs/dino/lib/python3.8/site-packages/kornia/augmentation/_2d/geometric/resized_crop.py in __init__(

[2022-03-31 18:58] carbocation opened #1673 "Semantic Segmentation examples do not work with AugmentationSequential"
## 🚀 Feature
It would be nice if the [semantic segmentation example](https://github.com/kornia/kornia-examples/blob/master/data_augmenation_segmentation.ipynb) worked with an AugmentationSequential pipeline, instead of requiring manual sequential application of operations.

## Motivation
It would be nice to use AugmentationSequential to construct a series of geometric augmentations that can be app

[2022-03-31 19:07] carbocation commented on #1673
(Digging through more of the docs.) Alternatively, perhaps the task of only applying geometric transforms, but not those for intensity or color, is already solved by `AugmentationSequential` accepting `data_keys=["mask"]`? In that case, it may be worth showing an example of that in the semantic segmentation example.

[2022-04-01 08:51] edgarriba commented on #1673
@carbocation we are open to receive tutorials/examples contributions any time

[2022-04-01 13:44] shijianjian commented on #1671
@tileb1 Thanks for reporting. I will fix it this weekend.

The documented methods shall work with earlier version like 0.6.0, before the refactor of the new random generator.

[2022-04-01 16:15] tszFung-gz commented on #1608
Hi, I would like to solve this issue on this. but I am a student and I don't have enough time during the week. I would like to ask how long the development of this issue will be limited.

[2022-04-02 16:26] JanSellner opened #1676 "Make nearest neighbour interpolation the default for all mask data"
## 🚀 Feature
I am using the `RandomAffine` heavily in a segmentation task where I have (at least) one input image and the corresponding mask. I am using the transformation with the data_keys `input` and `mask`, respectively. It is possible to set a `resample` argument for the interpolation in `RandomAffine` but I noticed that this applies to both, the input image and the mask. However, I think a m

[2022-04-03 16:17] tileb1 commented on #1671
Ok great, thank you @shijianjian !

[2022-04-04 07:46] kristijanbartol commented on #1123
I guess this feature is now implemented in https://github.com/PyTorchLightning/metrics/issues/799, except for MeanBad{n}Error metric? Should we also attempt to implement this third metric in torchmetrics instead of here?

[2022-04-04 07:56] Borda commented on #1123
that would be awesome :purple_heart:

[2022-04-04 09:01] edgarriba commented on #1123
if it fits in lightning world why but more stereo geometry stuff is coming soon to kornia so i'd say we will add it sooner or later

[2022-04-04 09:09] Borda commented on #1123
just to be clear, TM is coming from PL authors but it has zero dependencies to PL :)

[2022-04-04 09:20] edgarriba commented on #1123
our recent policy is just to have our (kornia non-profit org) libs dependencies except for fundamental tensor backend for now.

[2022-04-04 09:53] edgarriba commented on #1676
This makes sense to me. Could you file a PR to update the behavior ? /cc @shijianjian any opinions ?

[2022-04-04 13:41] tszFung-gz commented on #1608
Thanks. I'm glad I can join the kornia community. I will submit my first pull as soon as possible. @edgarriba

[2022-04-04 16:08] edgarriba commented on #1608
@tszFung-gz great -- feel free to join our slack for a more direct design discussions

[2022-04-05 13:34] edgarriba opened #1681 "Resize/Rescale not well supported by ONNX"
### Describe the bug

Warning error:

[code]

https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/affwarp.py#L574

### Reproduction steps

[code]

### Expected behavior

we `Resize()` to work for any shape

### Environment

[code]

### Additional context

_No response_

[2022-04-06 05:29] shijianjian commented on #1671
@tileb1 Can you play with #1675 to see if it works to your case? Please consider to contribute with several testing cases.

[2022-04-06 14:50] tileb1 commented on #1671
@shijianjian, I don't get the error anymore now. Though the parameters cannot be optimized. The following code is taken as is from the paper.

[code]
This works well and the gradients are being propagated to the parameters in jitter
[code]
gives the following output

[code]
However, that's not the case with the RandomResizedCrop
[code]
The following show that the gradients are not computed
[code]

[2022-04-07 01:57] shijianjian commented on #1671
@tileb1 Can you try using `cropping_mode=='resample'?`

[2022-04-07 10:02] tileb1 commented on #1671
@shijianjian then, I get:
[code]
So now at least I have gradient, but they are 0 for some reason. If you check the loss I use
[code]
(so I'm enforcing the output of crop to be the upper left crop of size 224x224)
I don't see why the gradients are 0. In fact, if I change the loss to simpler things, I still get gradients of 0 e.g.
[code]

[2022-04-11 17:48] cheind opened #1683 "Add more demosiacing methods | Merge with pytorch-debayer"
## 🚀 Feature
Add state-of-the-art demosaicing methods for bayer images. Here I'm not referring to deeply learned architectures.

## Motivation

*kornia* currently implements a single [raw-to-rgb method](https://github.com/kornia/kornia/blob/master/kornia/color/raw.py) for different CFA layouts. Frankly, demosaicing is well known for introducing all sorts of image reconstruction artefacts such as b

[2022-04-11 20:40] edgarriba commented on #1683
@cheind thanks for opening the issue. That would be a very valuable contribution to the project. Feel free to propose any change and improvements to the current apis.

[2022-04-12 15:18] Beluuuuuuga commented on #1619
@edgarriba
I would like to make a contribuion. All I need to do is add the function, add the docstring for the function, and add the test? I couldn't figure out how to add an image, do I need to add an image for an example?

[2022-04-13 08:48] edgarriba commented on #1619
@Beluuuuuuga you are right -- adding the images to docs is optional but recommended (if we want to keep a healthy documentation). We do that through the following python script: https://github.com/kornia/kornia/blob/master/docs/generate_example_images.py (it's a bit messy -- open to make it better)

[2022-04-14 10:47] dobosevych commented on #1619
I made some tests and plan to do PR on Saturday
https://colab.research.google.com/drive/1OZhHLoJri2wStYnXoFwWSupsT1--m4Ks?authuser=1#scrollTo=Ka7IamUGEdKJ

[2022-04-14 16:33] dobosevych commented on #1619
Added initial implementation

[2022-04-16 08:46] dobosevych commented on #1619
Demo:
https://colab.research.google.com/drive/1OZhHLoJri2wStYnXoFwWSupsT1--m4Ks?authuser=1#scrollTo=RKH_kUd5fxii

[2022-04-16 08:46] dobosevych commented on #1618
Demo:
https://colab.research.google.com/drive/1OZhHLoJri2wStYnXoFwWSupsT1--m4Ks?authuser=1#scrollTo=RKH_kUd5fxii

[2022-04-16 08:54] dobosevych commented on #1635
I think it makes sense to split this issue in the list of PRs in a similar manner, as it is done here https://github.com/celery/kombu/issues/1511. It would allow tracking progress.

[2022-04-18 05:59] apolinario commented on #1477
I have the same issue on GPU

[2022-04-18 09:46] edgarriba commented on #1635
@dobosevych I'd list only the kornia submodules, our codebase is quite large already.

[2022-04-18 10:12] edgarriba commented on #1619
@dobosevych could you later send this colab PR here? https://github.com/kornia/tutorials/tree/master/source

I'd like also starting to introduce this is the examples: https://github.com/kornia/kornia-rs

[2022-04-18 10:24] edgarriba commented on #1477
I just tried again with latest version this shared colab and it works for me: https://colab.research.google.com/drive/1JRwIreL075uqgWhO1WNccu4d7ry1H4Ro?usp=sharing

![image](https://user-images.githubusercontent.com/5157099/163795123-23839c6d-c76d-46c9-868e-47de4f511a0d.png)

i'd open a ticket in lightning. Otherwise you can try our training api -- i use at work and works well at least for vision

[2022-04-18 10:26] edgarriba commented on #1477
Closing this -- unless you have a kornia specific non-working code please reopen. Otherwise touch base the lightning team in their channels.

[2022-04-18 10:26] #1477 closed

[2022-04-18 18:21] Tanmay06 commented on #1587
Hi, I've raised a draft pull request #1687. Please, have a look at it and let me know if any changes are required. Thanks.

[2022-04-20 12:56] #1587 closed

[2022-04-22 22:52] JanSellner commented on #1654
I had the same issue with PyTorch 1.11 and CUDA 11.3 on an A100 GPU. I upgraded to CUDA 11.5 and could solve the issue (i.e. `pip install torch==1.11.0+cu115 --extra-index-url https://download.pytorch.org/whl/cu115`). In the [PyTorch Forums](https://discuss.pytorch.org/t/torch-c-linalgerror-after-calling-torch-linalg-inv-from-pytorch-1-11-using-cuda-11-3/148000), there is also a reproducible for a

[2022-04-23 19:19] MohamedAliRashad commented on #939
Have there been any update on this ?
A `findContour` like algorithm in kornia that fits nicely with PyTorch will be a great addon to the community.

[2022-04-23 22:18] code-review-doctor opened #1688 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/kornia/kornia/blob/9f9544de123b56155486df5b69b4cab81bcf3006/kornia/enhance/equalization.py#L359

I found this issue automatically. I'm a bot. Beep Boop 🦊. See other issues I found in your repo [here](https://codereview.doctor/kornia/kornia)

[2022-04-24 16:38] #1688 closed

[2022-04-25 07:59] edgarriba commented on #939
@MohamedAliRashad as far as I know, no one is working on that feature yet. Contributions are welcomed

[2022-04-25 09:28] #1619 closed

[2022-04-27 21:31] andretag opened #1693 "ViT generates different output in successive runs with same input"
### Describe the bug

Is it expected that if I pass the same image as input of the same transformer, the output can be different? This happens unless I call `torch.manual_seed(SEED)` before calling the transformer.

### Reproduction steps

[code]

### Expected behavior

I would expect the output to be the same, given the same input, even if I do not manually set the torch random seed.

### Environ

[2022-04-27 22:22] jramapuram commented on #1502
@shijianjian : `return_transform` seems to return the identity matrix for numerous transforms (eg: ColorJitter). Is this expected?

[2022-04-28 01:35] carbocation commented on #1693
For what it's worth, I have observed the same thing with other ViT implementations like https://github.com/lucidrains/vit-pytorch . (I have double checked that the model is in eval mode with torch.no_grad, too.)

[2022-04-28 02:14] carbocation commented on #1676
One class of error that seems to arise from this issue of masks not being set to nearest neighbors is that the number of classes in the mask can increase. In my case, when I run `RandomAffine` on a target that has values from 0-13, plus an `ignore_index` set to -100, I subsequently see numerous negative values (-99, -98, -97, etc). This manifests as an error during loss calculation, e.g.:

[code]

[2022-04-28 13:08] andretag commented on #1693
I am wondering if this is not a but, but simply the behavior of the dropout layers

[2022-04-28 13:15] #1693 closed

[2022-04-28 16:19] edgarriba commented on #1502
@jramapuram for intensity transformations there’s no transformation at all, that’s why you get the identity

[2022-04-28 16:22] edgarriba commented on #1676
Something to consider, is that when you apply geometric transformations, you might want to get the transformation matrix to build a mask of the final valid area to evaluate the loss

[2022-05-04 08:29] tynic opened #1697 "RandomFishEye not transforming bboxes"
### Describe the bug

When using `RandomFishEye` augmentation on an image and bbox, the output image is transformed however bbox is not.

### Reproduction steps

[code]

### Expected behavior

The output bbox should be transformed along with the image, instead, the output bbox is never modified:
`myfig1.png`:
![myfig1](https://user-images.githubusercontent.com/7979110/166646084-01578c63-0965-45b5-

[2022-05-04 08:44] edgarriba commented on #1697
@tynic the fisheye transform is a non-rigid geometric transformation, that has a vector field per pixel and limits to transforms coordinates as opposed to the affine group transforms. I currently don't have a direct solution to the problem but worth to explore if you have any idea. /cc @shijianjian @ducha-aiki ?

[2022-05-04 09:30] tynic commented on #1697
@edgarriba Thank you for your response. In such cases, shouldn't an exception be thrown and the restriction properly documented? Silently returning the original boxes is confusing.

[2022-05-04 14:45] shijianjian commented on #1697
I think a stupid way of doing it can be:
1. input the bbox as a mask,
2. fit the output with either outer rectangle or inner rectangle, that can be a parameter.

I am wondering how easy it is to have an equation to compute the every output points with the `center_x` and `center_y`. Given
https://github.com/kornia/kornia/blob/1172b8bd3ac239741070db4af572fca0e97ea474/kornia/augmentation/_2d/geometri

[2022-05-04 19:58] grosssoftware opened #1698 "Affine shear matrix not properly computed around center point"
This fix in this pull request: https://github.com/kornia/kornia/pull/612 isn't quite right. There's a negative sign missing in m23 when calculating the shear_mat. It should be:
[code]

_Originally posted by @grosssoftware in https://github.com/kornia/kornia/issues/612#issuecomment-1117798930_

[2022-05-05 17:14] shijianjian commented on #1697
This should work to remap the points.

@tynic Can you file a PR to throw a user warning for some augmentations like FishEye and ThinPlate? I think we might need another paradigm to handle such non-affine transformations whilst `AugmentationSequential`.

[code]

![image](https://user-images.githubusercontent.com/15955486/166976309-3d9efc64-4c23-4ffa-81ce-7d9c1aec0933.png)

[2022-05-08 12:34] #1676 closed

[2022-05-10 11:09] shijianjian opened #1703 "[Feature Request] Refactoring augmentations"
I was thinking of refactoring the `augmentation` module with the following base for both `Augmentation`s and `Sequential`s. So that, all these abstract classes will be implemented by `IntensityAugmentation` and `GeometricAugmentation` like what we have now. Additionally, this would allow customized non-intensity and non-geo augmentations to transform different data keys freely, which simplifies th

[2022-05-10 11:22] edgarriba commented on #1703
I like the idea -- from where how do you inject the previous transforms or extra meta ? I believe this pattern is close to tormentor /cc @anguelos

[2022-05-10 11:28] shijianjian commented on #1703
It gonna be `AugmentationBase2D(_BasicAugmentationBase, GenericAugmentationBase)` and `AugmentationSequential(ImageSequential, GenericAugmentationBase)`

[2022-05-10 12:47] edgarriba commented on #1703
can be avoid multiple inheritance  ? it's better to find a better pattern with composition instead of inheritance (or multi). Having multi inheritance clearly shows a bad design decision somewhere.

[2022-05-11 13:44] shijianjian commented on #1673
`AugmentationSequential ` offers a syntax sugar for different data keys. The error you got is not a bug, since you need to use named parameter for params, like `aug(image, params=aug._params)`.

This `AugmentationSequentail` API is our new default that promoted [here](https://kornia.readthedocs.io/en/latest/applications/image_augmentations.html).

[2022-05-11 13:44] #1673 closed

[2022-05-11 15:59] vanderschuea commented on #1703
I would really love such an implementation, it would make it so much easier to truly use kornia for keypoint augmentation which is a mess now with unsupported transformations not throwing errors (#1697)  and the impossibility of left/right keypoint separation making augmentationsequential basically useless for any standard application (Coco, crowdpose etc.) w/o writing a custom layer around the tr

[2022-05-11 19:02] jizongFox opened #1704 "Elastic transformation for 3D images?"
## 🚀 Feature
I am seeking for the elastic transformation for volumetric images.

## Motivation
This can be helpful for medical image transformation or videos

[2022-05-12 08:59] shijianjian commented on #1703
Hi @vanderschuea, what do you mean regarding the `left/right keypoint separation` here? Also, you are welcomed to join our slack to discuss if you can give a hand on this feature. It is a non-trivial refactor XD.

[2022-05-12 09:18] edgarriba commented on #1703
@shijianjian i like the idea to have a brainstorming session about this.

[2022-05-12 09:52] vanderschuea commented on #1703
Hi @shijianjian, I meant that when doing a horizontal flip, a right-keypoint will become a left-keypoint. Since most (if not all) current SotA keypoint-based methods use a different output per keypoint-type, this becomes a problem. If I'm not mistaken this is for now still unsupported, thus it necessitates a custom wrapper around the kornia augmentations :/

[2022-05-16 16:34] themattinthehatt opened #1710 "normalization error in render_gaussian2d"
### Describe the bug

In the source code for kornia.geometry.subpix.render_gaussian2d, there is a normalization step where the heatmap should be divided by sigma squared, but instead is divided by sigma:
[code]
https://github.com/kornia/kornia/blob/44c97a0a9957957559d0a8c9225be67a89306778/kornia/geometry/subpix/dsnt.py#L139

I believe this should instead be
[code]

### Reproduction steps

[code]

[2022-05-16 16:47] themattinthehatt commented on #1710
reopening with a new "bug" label

[2022-05-17 09:12] edgarriba commented on #1710
@themattinthehatt thanks to point this out. Would you mind to file a quick PR with the fix ? /cc @anibali

[2022-05-17 10:18] themattinthehatt commented on #1710
Sure thing, traveling now but will submit in a day or two

On Tue, May 17, 2022, 10:12 Edgar Riba ***@***.***> wrote:

[2022-05-17 12:20] tobiaswuerth opened #1712 "v0.6.5 TypeError: apply_transform() got an unexpected keyword argument 'flags'"
### Describe the bug

Hi, I'm using a Colab notebook and since today I was unable to start the code, even though nothing changed. The logged message is as follows:

[code]

downgrading from the newly released v0.6.5 to 0.6.4 fixed it for me: `!pip install kornia==0.6.4`

### Reproduction steps

I am not really sure if this is an issue caused by your code or mine.

If it is mine, the only reference

[2022-05-17 12:26] tobiaswuerth commented on #1712
Since I got it working for me I don't really care, just posting this to let you know that upgrading issues might arise

[2022-05-17 21:26] shijianjian commented on #1712
Thanks for report. We added the `flags` argument as the new default. So it is not a bug. Adding the new arg will resolve the issue.

[code]

[2022-05-17 21:26] #1712 closed

[2022-05-18 06:04] edgarriba commented on #1712
@tobiaswuerth just curious — why not using `RandomGaussianNoise` ?https://kornia.readthedocs.io/en/latest/augmentation.module.html#kornia.augmentation.RandomGaussianNoise

[2022-05-18 12:40] tobiaswuerth commented on #1712
@edgarriba it's actually not my code/notebook. I've been playing around with a few things and this was one possible implementation by another developer

[2022-05-18 15:32] dobosevych commented on #1618
I think this one could be closed

[2022-05-18 15:47] #1618 closed

[2022-05-19 10:10] edgarriba opened #1714 "Implement kmeans"
## 🚀 Feature

Add a `kornia.contrib.kmeans` functionality that clusters batches of n-dimensional sets of features.

Reference: https://github.com/subhadarship/kmeans_pytorch/

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the tutorials.

</sub>

[2022-05-19 12:51] walsvid opened #1715 "angle_axis_to_rotation_matrix backward gradient may produce NaN"
### Describe the bug

When using rotation_matrix_to_angle_axis and angle_axis_to_rotation_matrix as conversion, the loss may have NaN gradient.

Especially when the angle of axis angle is very small.

Another library pytorch3d do not have this bug, if using pytorch3d.transforms.matrix_to_quaternion and pytorch3d.transforms.quaternion_to_axis_angle, as suggestd in #317 . And #483 is also related to

[2022-05-20 09:13] ducha-aiki opened #1717 "List of crashing tests in M1 GPU (mps)"
### Describe the bug

This issue is created to list all the tests cases, which are crashing on M1 GPU (torch.device('mps')), so we can at least run all the tests, which are running, failing or not.

- test/test_metrics.py::TestPsnr::test_metric
- test/feature/test_laf.py::TestAngleToRotationMatrix::test_angles
- test/geometry/camera/test_perspective.py::TestProjectPoints::test_project_and_unprojec

[2022-05-20 09:17] edgarriba commented on #1717
@ducha-aiki i think it's a bit more of work but would be great to know the exact thing that makes this to crash so that we can share with the pytorch-core team ?

[2022-05-20 09:51] ducha-aiki commented on #1717
Yes, that is what I am figuring out now

[2022-05-20 10:02] ducha-aiki commented on #1717
It seems that what is crashing, is function `assert_close` when one of the arguments is inf or nan.

Example to reproduce

[code]

Output:

[code]

[2022-05-20 10:09] ducha-aiki commented on #1717
Have opened issue here https://github.com/pytorch/pytorch/issues/77957

[2022-05-20 10:29] ducha-aiki commented on #1717
https://github.com/pytorch/pytorch/issues/77958

[2022-05-20 12:16] edgarriba commented on #1715
@walsvid the 3d geometry conversions module needs a refactor. I have some internal prototypes at work that updates the implementations via Lie Algebra based on the [Sophus](https://github.com/strasdat/Sophus) api.

If you (or anyone) is interested ping me to make a collaboration. Otherwise, need to wait until i have sometime to push a full PR with tests etc.

[2022-05-21 07:57] ducha-aiki commented on #1717
Here is an issue on pytorch github to track all the missing operations on M1
https://github.com/pytorch/pytorch/issues/77764

[2022-05-22 06:50] ducha-aiki commented on #1717
Situation is getting better with version `torch==1.13.0.dev20220521` and running with `PYTORCH_ENABLE_MPS_FALLBACK=1`. But still there are crashes

[2022-05-25 10:38] shijianjian commented on #1697
@tynic can you post the full script to reproduce your results?

[2022-05-26 11:05] mshunshin opened #1721 "Add RandomGamma Augmentation - Code Provided"
## 🚀 Feature
RandomGamma is a useful augmentation - so we should have this in kornia.

## Motivation

One trick for RandomGamma is to sample the gamma from a uniform range (e.g. 0.5 to 2) as this leads to it being weighted to above 1, but to sample for the log(gamma) and then exp.

## Pitch

I have based this code on other Augmentations

## Code

[code]

[2022-05-27 08:41] zhaoguangyuan123 opened #1722 "AttributeError: module 'kornia' has no attribute 'HomographyWarper'"
### Describe the bug

I want to try 'homography.ipynb'.

After install kornia via "bash install_dependencies.sh" I  run the jupyeter notebook but it returns the bug：

[code]

Did I miss any steps?

### Reproduction steps

[code]

### Expected behavior

Successfully  import HomographyWarper

### Environment

[code]

### Additional context

_No response_

[2022-05-27 08:47] edgarriba commented on #1722
@zhaoguangyuan123 this is example is deprecated (we need to remove from the repo). For a more updated version of it please check this tutorial: https://kornia-tutorials.readthedocs.io/en/latest/homography.html

[2022-05-27 08:54] zhaoguangyuan123 commented on #1722
Got it. Thank you.

[2022-05-27 08:57] edgarriba commented on #1721
@mshunshin thanks for opening this ticket.

Have you checked the [`adjust_gamma`](https://github.com/kornia/kornia/blob/master/kornia/enhance/adjust.py#L216) ?  Ideally the way we structure the augmentations module is that we implement first in a functional and then build on top of that the augmentation specific class with all the randomness states, etc. Said that, I'd suggest to use in `RandomGam

[2022-05-30 16:23] ducha-aiki opened #1728 "kornia_geometry functions I personally miss"
## 🚀 Feature
This is going to be a my personal list of functions we are lacking (or I cannot find them), which I will be adding to kornia when have time

- https://github.com/kornia/kornia/pull/1727
- eval_fundamental_matrix_pose_error (Image matching challenge metrics) https://github.com/ubc-vision/image-matching-benchmark/blob/new_metrics/utils/eval_helper.py#L135
- depth_at_kpts_locations (to g

[2022-05-31 08:47] Modexus opened #1730 "Unclear error message in get_rotation_matrix2d"
### Describe the bug

Both device and `dtype` are checked in `get_rotation_matrix2d` for equality of all three tensors but the error message only informs about device (`dtype` is returned but it is not clear they have to be equal).

[code]

I struggled to use `rotate` because I thought there was an issue with the device.

### Reproduction steps

[code]

### Expected behavior

Either cast the angle

[2022-05-31 09:07] edgarriba commented on #1730
@Modexus thanks for reporting -- actually from Kornia perspective the only requirement would be that they are all in floating point. The rest, I believe PyTorch itself will raise an error. I'm in favor to minimize the checking and not over raise stuff that later PyTorch will do. We apply the same logics in other functions. /cc @ducha-aiki

[2022-05-31 10:14] oliland opened #1731 "FFT backend for Filter2d"
## 🚀 Feature
An FFT backend for `kornia.filters.filter_2d`.

## Motivation

`kornia.filters.filter_2d` is very slow for large kernels.

## Pitch

Convolution in the spatial domain is equivalent to multiplication in the Fourier domain. For large kernels, transforming both the kernel and the image to the fourier domain, multiplying, and inverting the FFT should yield a much faster `filter2d` impleme

[2022-05-31 10:29] edgarriba commented on #1731
@oliland that would be an awesome contribution. I guess we are targeting something like this:
https://stackoverflow.com/questions/60561933/verify-convolution-theorem-using-pytorch

A benchmark should be included. I also noticed some slow downs when using large kenels in gaussian blur and similar

[2022-05-31 10:31] edgarriba commented on #1731
on the other hand, not sure if pytorch itself exposes the algorithm to use for the conv2d /cc @ducha-aiki @t-vi

[2022-05-31 18:23] ducha-aiki commented on #1731
I think, that if you run it with `torch.backends.cudnn.benchmark=True`, it would allow PyTorch to pickup the right alg. I am not sure if conv2d allows to select an algorithm, but I know for sure there is FFT implementation among cudnn algs.

[2022-05-31 19:06] edgarriba commented on #1731
@ducha-aiki this will be valid only for cuda/nvidia hardware

[2022-05-31 19:28] ducha-aiki commented on #1731
Yes, but for others it would be even more complicated, we would have to have many ifs per backend per kernels size then
I think that CPU conv is done via im2col https://discuss.pytorch.org/t/how-was-conv2d-implemented-in-pytorch/35223

[2022-06-02 03:53] Yosshi999 opened #1732 "HardNet raises an exception when no keypoints are detected"
### Describe the bug

I'm using KeyNetAffNetHardNet in my project but sometimes it raises an exception.
I found that when no keypoints are found in an input image, an empty batch is fed to Hardnet and a runtime error is raised.

Hardnet8 may have the same issue, or `kornia.feature.LocalFeature` have to return empty if nothing is detected.

[code]

### Reproduction steps

[code]

### Expected behav

[2022-06-02 09:06] edgarriba commented on #1732
/cc @ducha-aiki

[2022-06-02 16:50] ducha-aiki commented on #1732
I will fix that soon, thanks

[2022-06-07 08:44] hal-314 opened #1735 "RandomCrop, CenterCrop and RandomResizeCrop doesn't crop bbox or keypoints when cropping_mode="slice""
### Describe the bug

RandomCrop, CenterCrop and RandomResizeCrop doesn't crop bbox or keypoint inputs when cropping_mode is "slice".  Mask inputs works fines.

Note that using cropping_mode="resample" works fine.

### Reproduction steps

[code]

### Expected behavior

Do crop for bbox and keypoints like any other transform does.

### Environment

[code]

### Additional context

_No response_

*Ed

[2022-06-07 08:58] hal-314 opened #1736 "Image transforms don't accept empty boxes or keypoints as inputs"
### Describe the bug

Image transforms don't accept empty boxes (B, 0, 4) or keypoints (B, 0, 2) as inputs.

### Reproduction steps

[code]

### Expected behavior

To just work or be available to reuse the same kornia transform when images haven't boxes or keypoints associated.

### Environment

[code]

### Additional context

The context is currently, I have a dataset with annotated boxes. Severa

[2022-06-07 12:51] edgarriba commented on #1736
What’s the raised error? What do you expect to get in `tfm_boxy and `tfm_keypoints` ?

[2022-06-07 14:42] rsomani95 opened #1737 "Batched Augmentations Fail With `torch.autocast()` When `0 < p < 1`"
### Describe the bug

When running batched augmentations in mixed precision, kornia bugs out with the following error:

[code]

Interestingly, this bug doesn't happen when `p=0.0` or `p=1.0`, but only when it's between these. My hunch is there's some erroneous dangling hidden state that's causing this.

### Reproduction steps

[code]

### Expected behavior

Run augmentations without any errors

##

[2022-06-07 15:20] edgarriba commented on #1737
We might need to dig into amp to understand how pytorch cast/uncast types. /cc @shijianjian

[2022-06-07 15:27] edgarriba commented on #1737
@rsomani95 feel free to propose a solution— until we don’t get any kind of cuda sponsorship I don’t think we’ll prioritise this feature. I can take a look myself at this feature when I need it to optimise some internal projects possibly after summer, but for now I don’t require half precision to train our models.

[2022-06-07 16:13] rsomani95 commented on #1737
@edgarriba Fair enough, thanks for the quick response. I'd love to be able to help but I'm out of my depth with how pytorch is casting types. If I make any progress / workaround, I'll definitely update on this thread.

[2022-06-08 08:39] hal-314 commented on #1735
I will try to do a PR this week

[2022-06-08 08:42] hal-314 commented on #1736
I expect to get an empty bbox ( size -> (1,0,4) ) and keypoint ( size -> (1, 0, 2) ).

The stacktrace is:
[code]

[2022-06-08 10:58] hal-314 opened #1738 "mode="vertices" in Boxes.from_tensor add +1 to boxes width and height"
### Describe the bug

mode="vertices" in Boxes.from_tensor add +1 to boxes width and height

### Reproduction steps

[code]
original vertices
[code]
after from and to boxes
[code]

### Expected behavior

To return the same original boxes

### Environment

[code]

### Additional context

_No response_

[2022-06-12 12:22] Oleksandra2020 commented on #941
Hi, I have a question about why `draw_line` is needed to implement RandomSnow? The Albumentations implementation converts RGB to HLS, increases the lightness and then converts the image back to RGB. Does the use of `draw_line` mean generating random points and drawing white lines in their scope? Thanks in advance.

[2022-06-12 14:35] #1736 closed

[2022-06-15 04:55] xiaoyuan0203 opened #1744 "Improve binary focal loss to trade off recall and precision by adding weights to positive examples like torch.nn.BCEWithLogitsLoss"
## 🚀 Feature
Improve binary focal loss to trade off recall and precision by adding weights to positive examples. Just like `pos_weight` parameter in torch.nn.BCEWithLogitsLoss. `pos_weight` must be a vector with length equal to the number of classes.

[2022-06-15 11:31] #1735 closed

[2022-06-15 14:22] #1738 closed

[2022-06-15 14:24] edgarriba commented on #1744
Open to send a PR ?

[2022-06-15 16:34] ducha-aiki opened #1746 "Loftr does not work with some image size (not a memory issue)"
### Describe the bug

LoFTR incorrectly does something with positional embeddings
[code]

### Reproduction steps

[code]

### Expected behavior

Not an error

### Environment

[code]

### Additional context

_No response_

[2022-06-17 16:45] edgarriba opened #1747 "add `Quaternion` api"
## 🚀 Feature

Add `Quaternion` class that is compatible with `Eigen::Quaternion`
https://eigen.tuxfamily.org/dox/classEigen_1_1Quaternion.html

Initial implementation here: https://github.com/kornia/kornia/blob/liegroup-algebra/kornia/geometry/liegroup/quaternion.py

## Motivation

We want a simple api that can be easily combined with `kornia.geometry.conversions` and the upcoming `kornia.geometry

[2022-06-21 13:58] MushMello opened #1751 "CUDA error: device-side assert triggered"
### Describe the bug

I installed the cuda 11.5 version of Torch with `pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu115` and ran Pixray. But then Kornia threw the "CUDA error: device-side assert triggered" error at
"File "C:\Users\Sebi\AppData\Local\Programs\Python\Python310\lib\site-packages\kornia\enhance\adjust.py", line 104, in adjust_hue_raw

[2022-06-21 16:12] edgarriba commented on #1751
@MushMello could you provide a small snippet that fully reproduces the error ? maybe colab or something self contained / runnable so that i can take a look

[2022-06-21 19:52] MushMello commented on #1751
@edgarriba This is the code I use for Pixray: https://pastebin.com/Kpj5tUZD

And this is the complete console output when I run the python script: https://pastebin.com/t5yKP2A2

[2022-06-27 10:43] edgarriba opened #1753 "Add `Hyperplane` api"
## 🚀 Feature

Api to integrate `Eigen::Hyperplane` re-written in pure pytorch.
source: https://gitlab.com/libeigen/eigen/-/blob/master/Eigen/src/Geometry/Hyperplane.h

## Pitch

Part of the effort to support more `Eigen` primitives as part of the `kornia.geometry`.

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects

[2022-06-27 10:45] edgarriba opened #1754 "Add `AlignedBox` api"
## 🚀 Feature

Api to integrate `Eigen::AlignedBox` re-written in pure pytorch.
source: https://gitlab.com/libeigen/eigen/-/blob/master/Eigen/src/Geometry/AlignedBox.h

## Pitch

Part of the effort to support more `Eigen` primitives as part of the `kornia.geometry`.

This can be an alternative or more pure geometry upgraded version of the current `BoundingBox` class.

/cc @shijianjian

____________

[2022-06-27 10:46] edgarriba opened #1755 "Add `AxisAngles` api"
## 🚀 Feature

Api to integrate `Eigen::AxisAngles` re-written in pure pytorch.
source: https://gitlab.com/libeigen/eigen/-/blob/master/Eigen/src/Geometry/AngleAxis.h

## Pitch

Part of the effort to support more `Eigen` primitives as part of the `kornia.geometry`.

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :

[2022-06-27 10:54] edgarriba opened #1756 "Integrate `Sophus` api"
## 🚀 Feature

Implement  `kornia.geometry.liegroup` submdule based on [Sophus](https://github.com/strasdat/Sophus).

Initial implementation here: https://github.com/kornia/kornia/tree/liegroup-algebra/kornia/geometry/liegroup

## Motivation

write a python / pytorch / numpy agnostic api

## Alternatives

Existence of https://github.com/princeton-vl/lietorch

Drawbacks:
- last commit one year ago
-

[2022-06-27 10:55] edgarriba commented on #1756
Need to cross validate with Sophus results.

/cc @strasdat  can we somehow generate from c++ side a input/output to cross validate results ?

[2022-06-27 15:37] factify commented on #1504
Hi @edgarriba, just found this thread, I've started looking into this and make it jit compatible. Got stuck on the "CoarseMatching" has no attribute 'log_optimal_transport' - line 135 - coarse_matching.py . Don't know if you have done this already so maybe you can give me some advice. Thanks in advance.

[2022-06-28 17:52] factify commented on #1504
Hello @edgarriba , I think I got to the end of this now (currently on loftr.py) and managed to map most of it to be jit aligned. I'm still getting a RuntimeError: Unsupported value kind: Tensor on the "forward" of the LoFTR class when torch.jit.script(). Any help would be appreciated.

[2022-06-28 18:30] edgarriba commented on #1504
is there any code you could share ? or logging errors. Open a PR draft so that we can take a look at it

[2022-06-29 07:57] ashnair1 opened #1757 "ValueError when applying flip augmentations to boxes"
### Describe the bug

Came across a strange bug while applying flip augmentations with bboxes. Running the below code snippet produces the following error some of the time.

For reference my image is of shape `(B, C, H, W)` and my boxes are a list of length `B` where each element is of shape `(N,4)`

[code]

The randomness of the message could be stemming from the randomness in applying the augmen

[2022-06-29 08:32] ashnair1 commented on #1757
Tried to narrow down the error and it seems it comes down to the shape of `boxes` that are passed on to `transform_bbox`. Using the above snippet
- If the shape is `(2,2,4,2)`, the script passes
- If the shape is `(1,2,4,2)`, the script fails

[2022-06-29 11:23] MrShevan commented on #1744
@xiaoyuan0203 @edgarriba Looks interesting! Can I take it?

[2022-06-29 11:48] edgarriba commented on #1744
@MrShevan sure ! go ahead

[2022-06-29 12:00] xiaoyuan0203 commented on #1744
#> @xiaoyuan0203 Open to send a PR ?

Sorry for reply to you until now. Could you tell me how to do it?

[2022-06-29 13:54] MrShevan commented on #1744
Oh sorry. I see you are interested in creating your own PR. Let me know if it's free

[2022-06-29 14:33] xiaoyuan0203 commented on #1744
It's free of cource. It's my first time to take part in open-source,so I just want to know how to do. If you are interested in make a pull request, you can do it. Do you mean you want to improve the focal loss?

[2022-06-29 14:58] edgarriba commented on #1744
@xiaoyuan0203 i have other suggestions for losses to add e.g for semantic segmentation. or the ones from this model we are going to include: https://github.com/xavysp/LDC

[2022-06-29 15:09] MrShevan commented on #1744
@xiaoyuan0203 Well, I can help you get started :)
We can try to make this PR together. You can fork this and create your own branch. Here it is well written in paragraph `Prepare your Workspace`. And then I'll join you)

[2022-06-29 15:30] edgarriba commented on #1744
you can also check our less graphical contributor guides: https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst#developing-kornia

[2022-06-29 16:58] carbocation opened #1759 "ColorJiggle only works on 3-channel images, leaving no high-level abstraction for brightness/contrast for non-3ch images"
### Describe the bug

Kornia's `ColorJiggle` throws an error when used on non-3-channel images, even when hue is not changed. As a consequence, Kornia doesn't seem to have any higher-level abstraction for creating random brightness or contrast augmentations unless an image has 3 channels.

### Reproduction steps

1. Demo code to reproduce:

[code]

The output:

[code]

The issue seems to be a cons

[2022-06-29 17:10] carbocation commented on #1759
A demonstration that removes the hue and saturation is here. Note that this is not really production-level (the comment is not updated and the index traversal is just replaced with [0, 1]).

[code]

[code]

Output:
[code]

[2022-06-29 21:01] edgarriba commented on #1757
@ashnair1 for now we assume dense tensors. to make it work correctly you should pad your boxes tensors to match with the maximum size (here 2). Ideally, we should implement this as part of the `Boxes` class
https://github.com/kornia/kornia/blob/master/kornia/geometry/boxes.py#L171

we are open to contributions -- maybe for the next iteration based on https://github.com/kornia/kornia/issues/1754

/

[2022-06-29 21:12] edgarriba commented on #1759
@carbocation i've never been a fan of  the color jitter operator exactly for this low flexibility, the design pattern was inherited from torchvision mostly to be cross compatible with that library.

I'd advocate as you did to create you own operator with the core basic augmentation operators according to your needs.

One hack to do here would be to define the factors as `Optional` defaulting to `N

[2022-06-30 04:55] xiaoyuan0203 commented on #1744
@MrShevan Here? https://github.com/xiaoyuan0203/kornia/tree/feat/focal_loss

[2022-06-30 06:54] ashnair1 commented on #1757
@edgarriba The error occurs even if I ensure the number of boxes to be equal. For example, changing the boxes tensor as shown below

[code]

still throws

[code]

[2022-06-30 07:32] ashnair1 commented on #1757
Ok, I've found the cause. This error occurs when elements in your batch have **different augmentations**. So in my above example, if I had batch size of 2 where one element was flipped and the other wasn't this error is triggered.

The fix is to set the `same_on_batch` arg in `AugmentationSequential` to `True`. Perhaps this should be documented somewhere.

[2022-06-30 07:45] ashnair1 commented on #1757
Technically this is still a problem and applying distinct augmentations on batch elements should be possible.

[2022-06-30 07:57] MrShevan commented on #1744
Yep, great)
I have done the following steps:
1. I cloned your forked repo into my local and switched into your branch.
I use PyCharm as IDE, so it was simple to do the initial setup
<img width="1440" alt="Снимок экрана 2022-06-30 в 10 15 15" src="https://user-images.githubusercontent.com/32237302/176621692-0596d00a-e3dc-41fb-9343-a4f48e11e295.png">

and switch to `feat/focal_loss`
<img width="373"

[2022-06-30 08:37] xiaoyuan0203 commented on #1744
@MrShevan Thanks a lot! Is it a good habit to use my usual conda environment instead of environment from the `kornia/setup.py`?

[2022-06-30 08:56] MrShevan commented on #1744
Well, I think If the tests run, it doesn't matter. But sometimes tests too complicated and require a lot of installed python libraries, in such case easy create new interpreter as I did or updateConda (command from [this guide](https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst#developing-kornia) in 4: `./setup_dev_env.sh`)

Do you mind if I open the first PR from your branch with my dr

[2022-06-30 09:09] xiaoyuan0203 commented on #1744
It doesn't matter.

[2022-06-30 10:13] ashnair1 commented on #1757
Found the issue and opened a PR to fix this. Problem was caused by not indexing the transform matrix while applying transforms.

[2022-06-30 13:23] edgarriba opened #1763 "Implement `cv::integral`"
## 🚀 Feature

Implement the pytorch version of `cv::integral`

https://docs.opencv.org/4.6.0/d7/d1b/group__imgproc__misc.html#ga97b87bec26908237e8ba0f6e96d23e28

Some reference:
- https://github.com/scikit-image/scikit-image/blob/main/skimage/transform/integral.py
- https://discuss.pytorch.org/t/is-there-an-elegant-way-to-calculate-integral-image-using-pytorch-api/22669/5

________________________

[2022-06-30 14:49] edgarriba opened #1764 "Improve `get_perspective_transform` with `lstsq`"
## 🚀 Feature

Currently the function [`get_perspective_transform`](https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/imgwarp.py#L280)

is implemented using the `torch.linalg.solve` and for some reason in the wheels provided by nvidia jetson (without MAGMA) seems a bit unstable compared to using `torch.linalg.lstsq`.

Eventually improve the implementation according to: https://

[2022-07-01 10:37] robmarkcole opened #1766 "Typo in image_matching example"
In https://kornia-tutorials.readthedocs.io/en/latest/image_matching.html there is
[code]
but this is confusing since the reader assumes this is returning the homography matrix.
More clear would be
[code]

As a bonus the example could show the computation of H and its use to unwarp the image:
[code]

Also suggested by @edgarriba
[code]

[2022-07-01 14:31] edgarriba opened #1769 "`normalize_homography` is broken for cuda respect to cpu"
### Describe the bug

[code]

### Reproduction steps

[code]

### Expected behavior

..

### Environment

[code]
- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):
- Build command you used (if compiling from source):
- Python version:
- CUDA/cuDNN version:
- GPU models and configuration:
- Any other relevant information:
[code]

[2022-07-01 17:08] edgarriba opened #1770 "Deprecate Python 3.6 support"
## 🚀 Feature

Deprecate python 3.6 -- support Python >= 3.7

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the tutorials.

</sub>

[2022-07-02 07:07] monkeycc opened #1772 "Segmentation Aug with Labelme Json files？"
## 🚀 Feature

Segmentation Aug with Labelme Json files?
How would I now be able to save the augmented polygons back to json labelme annotations format?

Labelme Json  -  kornia  - output：   img json labelme annotations

## Motivation

## Pitch

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribute to Kornia

[2022-07-02 11:09] #1757 closed

[2022-07-02 12:12] AnimeshMaheshwari22 commented on #1763
Hello. Some questions regarding this.
1.  Is the expected output a tensor with all values as sum of left values in its row and top values in its column?
2. Which module does it go to?

[2022-07-04 11:04] edgarriba commented on #1763
well check the scikit implementation -- it can be easily implemented with cumsum /cc @ducha-aiki

[code]

[2022-07-04 11:06] edgarriba commented on #1772
hi ! I'm not sure about the Labelme format but you can easily serialize the augmentation parameters by accessing `aug._params`
See: https://github.com/kornia/kornia/discussions/1745

[2022-07-04 13:05] edgarriba opened #1775 "[feature] Add `KORNIA_CHECK_SAME_DEVICES`"
actually this could be part of the new testing api
`KORNIA_CHECK_SAME_DEVICES`

https://github.com/kornia/kornia/blob/master/kornia/testing/__init__.py#L208

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1760#discussion_r911752967_

[2022-07-04 17:54] #1764 closed

[2022-07-05 10:50] edgarriba opened #1778 "`Boxes` validation test must be updated"
@shijianjian the `Boxes` validation test must be updated

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1713#discussion_r913659580_

[2022-07-06 09:16] edgarriba opened #1781 "Update the `FaceDetection` API based on the changes from `libfacedetection.train` API"
Update the `FaceDetection` API based on the changes from `libfacedetection.train` API
--> https://github.com/ShiqiYu/libfacedetection.train/commit/e5c4a24de8446bd1069b923a6f318d6602677ebd

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1780#discussion_r914611891_

[2022-07-06 09:34] edgarriba commented on #1781
UPDATE: the api seems to be broken with the new weights

https://github.com/kornia/kornia/runs/7211645883?check_suite_focus=true

[2022-07-06 09:43] edgarriba commented on #1781
UPDATE: added a backup of the previous weights under `kornia/data`

https://github.com/kornia/data/blob/main/yunet_final.pth

[2022-07-06 11:26] edgarriba opened #1782 "Add Yunet license plate detection"
## 🚀 Feature

Add `kornia.contrib.LicencePlateDetection` API based on Yunet variant.

httpss://github.com/opencv/opencv_zoo/tree/master/models/license_plate_detection_yunet

## Motivation

Expand applications API in contrib.

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the tutorials.

</su

[2022-07-11 14:34] MrShevan commented on #1775
Is it still needed?) I read your comments in mentioned PR and it seemed to me that I could make improvements

[2022-07-11 20:04] #1744 closed

[2022-07-12 05:38] #1775 closed

[2022-07-15 10:04] edgarriba opened #1796 "Improve speed in `squared_distance` in `ParametrizedLine`"
squared_distance is quite innecifient used in this way. The funciton itself first compute the norm, then it is squared and now sqrt.... use directly the `norm` here.

_Originally posted by @lferraz in https://github.com/kornia/kornia/pull/1794#discussion_r921532986_

[2022-07-21 10:48] tvercaut opened #1799 "Bilinear interpolation at sampled discrete pixel location induces errors"
### Describe the bug

For an image `I`, if location `x` and `y` are integers, the result of bilinear interpolation of `I` at `(x,y)` should be strictly equal to `I(x,y)`. This is not currently the case in kornia.

### Reproduction steps

[code]

### Expected behavior

`out` should be equal to `img` for an identity transformation.

### Environment

[code]

### Additional context

The errors are see

[2022-07-21 11:08] tvercaut commented on #1799
This may be an upstream issue in pytorch as the following fails with `align_corners=True`:
[code]

[2022-07-22 09:04] edgarriba commented on #1799
@tvercaut thanks to point this out. This I believe it's also reflected here:
https://github.com/kornia/kornia/blob/master/test/geometry/transform/test_affine.py#L318.

BTW, we are making design docs to revamp the `kornia.geometry` module and make a bit of reorganization of the lib.
I'll add this as api things to improve. Would be interesting to get some feedback to design the next roadmap.

[2022-07-25 09:28] edgarriba opened #1804 "Implement `cv::threshold` with its variants"
## 🚀 Feature

We would like to have in `kornia.enhance` a batched device agnostic version of the `cv::threshold` including the different variants.

Different threshold types:
- [ ] THRESH_BINARY
- [ ] THRESH_BINARY_INV
- [ ] THRESH_TRUNC
- [ ] THRESH_TOZERO
- [ ] THRESH_TOZERO_INV
- [ ] THRESH_OTSU
- [ ] THRESH_TRIANGLE

some of them could be implemented by [`torch.nn.functional.threshold`](https:

[2022-07-25 11:13] MrShevan opened #1805 "Configure `rtol` and `atol` parameters to pass tests on the `losses` module"
## 🚀 Feature

When running tests using `float16` and `cuda` in `losses` module, errors occurs.

 `pytest test/losses -v --dtype=float16 --device=cuda`

[code]

If you use `float16`, these errors not occurs. It seems they are caused by the fact that the parameters `rtol` and `atol` are not configured.

Example of error description:
[code]

I suggest choosing default thresholds for `rtol` and `atol`

[2022-07-27 09:07] edgarriba commented on #1805
@MrShevan probably need a mechanism in the Test class that chooses the tolerance based on the precision ?
I started this initiative some time ago but never had the chance to implement it across the library
https://github.com/kornia/kornia/blob/master/kornia/testing/__init__.py#L78

worth to explore adding that functionality there

[2022-07-27 10:40] #1732 closed

[2022-08-01 14:38] georg-bn commented on #1746
I think this is because the LoFTR positional encoding has a max image size of 2048 pixels by default in a precomputed tensor for the encoding. I guess there are several ways to solve this, one is to let `PositionEncodingSine` recompute a larger positional encoding, and possibly "cache" it, when a larger image size is input.

[2022-08-02 13:43] shijianjian commented on #565
Closed via #1611. `ColorJitter` is preserved as what happens in TorchVision, while we introduced `ColorJiggle` to keep the Kornia implementation.

[2022-08-02 13:43] #565 closed

[2022-08-07 20:27] erentknn commented on #1804
I am going to start working on this if no one else didn't.

[2022-08-08 05:20] edgarriba commented on #1804
Sounds good!

[2022-08-08 11:11] kishore-s-15 commented on #1782
Hi @edgarriba, I would like to work on this feature.

[2022-08-08 11:31] edgarriba commented on #1782
@edgarriba sounds good ! /cc @ShiqiYu

[2022-08-09 08:20] edgarriba commented on #1746
@georg-bn are you willing to help with such improvement ? there's an ongoing effort to make also loftr scriptable https://github.com/kornia/kornia/pull/1758

[2022-08-10 11:34] georg-bn commented on #1746
Yes, I can have a look.

[2022-08-12 06:30] kishore-s-15 commented on #1781
Hi @edgarriba, I'll look into this issue along with https://github.com/kornia/kornia/issues/1782.

[2022-08-12 09:29] edgarriba commented on #1781
awesome !

[2022-08-14 09:38] edgarriba opened #1824 "upgrade `add_weighted` to accept weights as tensors"
We have a use case in for blurring aware of edge to use this function with weights as tensors

_Originally posted by @edgarriba in https://github.com/kornia/kornia/pull/1822#discussion_r945259365_

[2022-08-14 09:39] edgarriba commented on #1824
@nitaifingerhut

[2022-08-14 11:05] nitaifingerhut commented on #1824
thanks!

[2022-08-14 11:05] nitaifingerhut commented on #1824
do you want me to do it?

[2022-08-14 11:11] edgarriba opened #1825 "Add NamedPose API"
## 🚀 Feature

base class api so that we we leverage 2d/3d pose estimation related problems for geometric computer vision.

- One of the common channels when describing a pose is describing the reference frames.
- We want the pose api to be compatible with optimization based pipelines like pytorch module.
- Compatible with other components such as [`Quaternion`](https://github.com/kornia/kornia/pul

[2022-08-14 11:13] edgarriba commented on #1824
feel free to go for it

[2022-08-15 15:08] nitaifingerhut commented on #1824
@edgarriba hereby: https://github.com/kornia/kornia/pull/1827

[2022-08-17 10:52] MrShevan opened #1830 "[Improvement] Improve support for half-precision in some functions"
## 🚀 Feature
Some functions are not supported by float16 tensors (half-precision).
Related #1805

## Motivation
Now these functions use condition which skip not passing tests.

Example,
[code]

These tests don't pass with torch.float16 tensors. Need to improve tests or functions in lib:
[code]

[2022-08-18 12:27] #1747 closed

[2022-08-19 09:51] #1805 closed

[2022-08-19 10:09] ducha-aiki opened #1832 "Integrate AdaLAM codebase into kornia"
## 🚀 Feature
Integrate AdaLAM utils into core kornia, maybe reuse it

- batch_2x2_inv
- batch_2x2_det
- Affine RANSAC

[2022-08-19 11:09] #1778 closed

[2022-08-26 04:42] justanhduc opened #1836 "Refactoring `ColorJitter` and `ColorJiggle` into smaller components"
## 🚀 Feature
`ColorJitter` and `ColorJiggle` currently are too packed. It is better to develop smaller components and rewrite these as compositions of smaller components.

## Motivation

Smaller components can be applied individually. For e.g., brightness and contrast jitterings are applicable to gray images, but currently they are under `ColorJitter` and `ColorJiggle` which are not applicable to

[2022-08-26 06:03] edgarriba commented on #1836
I like the names such `RandomBrightness` , `RandomContrast`, etc. it goes according with other ops in the module

[2022-08-26 11:21] aekiratli opened #1838 "Option to use pytorch CPU only"
## 🚀 Feature
It would be nice to have CPU version of kornia. Pytorch requirement comes with GPU enabled by default
This should reduce size of docker images.

[2022-08-26 12:23] aekiratli commented on #1838
[code]

For anyone who wants to lower the size of their docker image, you can manually install torch CPU version, it drastically reduces image

Log from `RUN pip install -r requirements.txt`
[code]

[2022-08-26 19:48] edgarriba commented on #1838
In principle if you install first the cpu version of pytorch , Kornia will work fine. At least it does for our main testing infra
https://github.com/kornia/kornia/blob/master/.github/workflows/tests_cpu.yml#L32

[2022-08-29 11:29] justanhduc commented on #1836
@edgarriba I think I can work on a PR if it's not too urgent.

[2022-08-30 08:53] edgarriba commented on #1836
definitely!

[2022-08-30 11:09] ducha-aiki opened #1846 "Add homography-from-line-correpsondences RANSAC"
## 🚀 Feature

Add solver H from line correspondences.

## Motivation

To have implemented  some nice use-case for SOLD2
## Pitch

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the

[2022-08-30 12:24] ducha-aiki commented on #1124
Done in https://github.com/kornia/kornia/pull/1844

[2022-08-30 12:24] #1124 closed

[2022-08-31 03:07] kunaltyagi opened #1850 "Faster implementation of MS-SSIM"
## 🚀 Feature

Current implementation impacts training speed significantly (~40% slowdown compared to pure L1)

## Motivation

MS-SSIM gives some awesome results, and it'd be nice to have an option to switch to a
* lower accuracy and faster implementation such as https://link.springer.com/article/10.1007/s11554-010-0170-9
* more optimized implementation

## Pitch

Faster iteration is always great.

[2022-08-31 08:47] edgarriba commented on #1850
@kunaltyagi do you have any suggestion for improvements ? I don't think your statement is fair to compare against L1 since the ssim/msssim is a more complex operator than element-wise subtraction and absolute value. But I agree, let's iterate to optimize if possible.

The way is implemented is via 2d convolutions and the reason for being slow might be because of large kernels (computed from sigmas

[2022-08-31 13:08] kunaltyagi commented on #1850
I have a couple of ideas, but I don't know how much they are worth since my experience in PyTorch doesn't include bench-marking.
1. Use integral values. They are usually fast than float (though does it matter in pytorch?)
2. Reduce kernel size -> Will have an immediate impact
3. Use jit or compile the kernel to allow optimizations based on the known values of kernel. Eg: multiplication with 5 can

[2022-08-31 13:35] ducha-aiki opened #1855 "Implement 2-stage fundamental matrix from line segment correspondences"
## 🚀 Feature
Algorithm, from [Wide-Baseline Stereo Matching with Line Segments](https://homes.esat.kuleuven.be/~konijn/publications/2005/CVPR-HB-05.pdf), CVPR 2005:

1. Estimate >=2 homographies with [RANSAC-H from line corrs](https://github.com/kornia/kornia/blob/master/kornia/geometry/ransac.py#L65).
2. for each plane, find the line intersections
3. Feed line intersections into RANSAC-F as point

[2022-08-31 13:44] ducha-aiki opened #1856 "Implement Tutorial showcasing SOLD2"
## 🚀 Feature

Similar to https://kornia-tutorials.readthedocs.io/en/latest/image_matching_adalam.html

## Motivation

## Pitch

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the tu

[2022-08-31 14:02] johnnv1 commented on #1856
I would love to contribute to this tutorial 😄

[2022-08-31 14:03] ducha-aiki commented on #1856
Go ahead then! :)

[2022-08-31 15:24] #1746 closed

[2022-08-31 18:26] Juddd opened #1857 "The example of image registration cannot run noramlly"
I'm newer of kornia. As the title, [this example](https://kornia.readthedocs.io/en/latest/applications/image_registration.html#) in the official documentation cannot run normally. Could your me a right version?

ps：I'm in the newest version 0.67

[2022-08-31 18:42] ducha-aiki commented on #1857
What do you mean it cannot run normally?

If you click on the full version link:

and copy-paste the thing into Jupiter notebook (or just ipython) it works perfectly.

I have just tried on my laptop and it works perfectly.

[2022-08-31 19:20] ducha-aiki commented on #1857
Please, don't start communication with insults.

The problem with your example is that you have lot of "occlusions" in form of text.Gradient-based registration is a wrong method in this case.  I would recommend  you to use homography tracker https://kornia.readthedocs.io/en/latest/tracking.html#kornia.tracking.HomographyTracker or feature based matching instead

https://kornia-tutorials.readthedoc

[2022-09-01 01:35] Juddd commented on #1857
Sorry, I didn't mean to insult, I'm just not very good at expressing my meaning in English. I am Chinese. I'm currently using the opencv method of feature points, so I'd like to upgrade my project with kornia.

[2022-09-01 10:54] ducha-aiki commented on #1857
Then KetNet-HardNet-AdaLAM from kornia (https://kornia-tutorials.readthedocs.io/en/latest/image_matching_adalam.html) is the way to go

[2022-09-01 10:54] #1838 closed

[2022-09-01 10:56] ducha-aiki commented on #1597
It might be the case when you use RGB image instead of grayscale as an input...

[2022-09-01 12:42] edgarriba commented on #1857
@ducha-aiki why the tutorial is partially broken ?

[2022-09-03 14:31] duc12111 opened #1859 "Bugs when using RandomRGBShift"
### Describe the bug

When running RandomRGBShift augmentation on gpus I came across this error

[code]
after checking the code I think the problem is that
[code]
and also I am not sure about `.view(1,3,1,1)` shouldn't it be `.view(-1,3,1,1)`

### Reproduction steps

[code]

### Expected behavior

[code]

### Environment

[code]

### Additional context

_No response_

[2022-09-03 15:51] edgarriba commented on #1859
What's your input shape?

[2022-09-03 16:01] duc12111 commented on #1859
(3,3,270,480)

[2022-09-03 16:49] edgarriba commented on #1859
That's definitely another valid solution. Feel free to send a fix

[2022-09-05 13:32] ducha-aiki opened #1863 "Make pre-commit.ci PRs cancel previous tests to not waste CI time"
## 🚀 Feature
Now the CI is done twice on essentially the same code.

## Motivation

Have CI-test be done twice faster

References:

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre

## Pitch

## Alternatives

## Additional con

[2022-09-05 13:36] edgarriba commented on #1863
@asottile is that possible ?

[2022-09-05 14:43] asottile commented on #1863
I had prototyped this and it was very fragile and didn't make a difference ~95%+ of the time so I scrapped it

[2022-09-05 15:00] ducha-aiki commented on #1863
@asottile for other libs - maybe, but our test-cpu suite take 30 min. We also don't have instances to run multiple PRs in parallel. So if someone is actively pushing is PR and pre-commit.ci pushes as well, it can block CI for half a day or more

[2022-09-05 15:03] asottile commented on #1863
oh you're talking about cancelling github actions not cancelling pre-commit.ci -- yeah that's easy just follow the github actions documentation

[2022-09-06 03:55] chris-morgan opened #1864 "Package includes test.geometry module"
The package distribution includes `test.geometry`.

setup.py needs:

[code]

(Might as well go wildcard.)

[2022-09-06 06:31] edgarriba commented on #1864
Hi, can you send a PR with the fix?

[2022-09-06 06:33] chris-morgan commented on #1864
No, I’m not invested in this or interested in engaging further; just a drive-by bug report.

[2022-09-06 09:01] edgarriba commented on #1863
@asottile thanks for the answer. @ducha-aiki i can spend a bit of time on this today

[2022-09-06 17:11] p-mishra1 commented on #53
i'm taking Edge Detection Tutorial

[2022-09-07 08:28] #1863 closed

[2022-09-07 15:39] p-mishra1 commented on #53
[huggingface space link](https://huggingface.co/spaces/mipra/kornia-edge-detection)
i have question how can we embed the app in notebook generated HTML (sorry for the lame question).
Right now I have added the demo like [this](https://github.com/p-mishra1/tutorials/blob/praj/EdgeDetectionDemo/source/filtering_edges.ipynb).

[2022-09-07 19:20] osanseviero commented on #53
Very cool! You can do what #1793 does, but instead of a iframe, use an iframe as in #1835 :fire:

@NimaBoscarino @edgarriba should the demos be in the Kornia organization?

[2022-09-07 19:32] NimaBoscarino commented on #53
Fantastic, thank you for that @p-mishra1! 🥳

@osanseviero I think it makes sense for the demos to be in the Kornia org. We could either have users join the Kornia org (https://huggingface.co/kornia) and transfer their spaces there (or create them directly in there), or someone on the Hugging Face side could perform the space transfer on the backend if we don't want to add new users to the org. @ed

[2022-09-07 19:36] gagan3012 commented on #53
Can I take [Image denoising with Total Variation](https://kornia-tutorials.readthedocs.io/en/latest/total_variation_denoising.html)

[2022-09-08 05:29] edgarriba commented on #53
@NimaBoscarino @osanseviero sounds good to me to add more people in the hf Kornia  org

[2022-09-08 09:56] gauthamk28 commented on #53
Can I take [Image resize/antialias exploration](https://kornia-tutorials.readthedocs.io/en/latest/resize_antialias.html) ?

[2022-09-08 12:51] johko commented on #53
Hey, I'll do [Homography warping](https://kornia-tutorials.readthedocs.io/en/latest/warp_perspective.html) and [Line segment matching](https://kornia-tutorials.readthedocs.io/en/latest/line_detection_and_matching_sold2.html)  :)

[2022-09-08 14:32] kadirnar commented on #53
- [ ] I want to do [Image Stitching](https://kornia.readthedocs.io/en/latest/applications/image_stitching.html)

[2022-09-09 06:03] lappemic commented on #53
Hey there, i am working on [Filtering Operators tutorial](https://kornia-tutorials.readthedocs.io/en/latest/filtering_operators.html)

[2022-09-09 06:39] lappemic opened #1872 "Filtering Operators tutorial"
## 📚 Documentation

[53](https://github.com/kornia/kornia/issues/53)
Hugging space demo and embedded app

[2022-09-09 07:18] osanseviero commented on #53
So cool! Thanks everyone for contributing!

[2022-09-09 08:46] ramon-rd opened #1873 "Edge Detection tutorial"
## 📚 Documentation

https://github.com/kornia/kornia/issues/53
Hugging space demo and embedded app

[2022-09-09 09:26] lappemic commented on #1872
The HF space is not available and running [here](https://huggingface.co/spaces/kornia/kornia-image-filtering). Many thanks to @NimaBoscarino for the starter guide and support! Please let me know, if i can improve the space and add more features since this was one of my first contributions and especially the first gradio app! 🍾 😄

[2022-09-09 10:14] kadirnar commented on #53
- [ ] I want to do [2D Line fitting](https://github.com/kornia/kornia/blob/master/examples/geometry/fit_line2.py)  🚀

[2022-09-09 12:49] gauthamk28 opened #1875 "Image resize/antialias exploration"
## 📚 Documentation

https://github.com/kornia/kornia/issues/53#issuecomment-1240493389
Hugging space demo and embedded app

[2022-09-09 16:08] AnInventor commented on #53
I want to do [tracking](https://github.com/kornia/kornia/issues/53#:~:text=Edge%20Detection%20tutorial-,Tracking,-2D%20Line%20fitting)

: )

[2022-09-09 18:09] ramon-rd opened #1878 "Morphological operators tutorial"
## 📚 Documentation

https://github.com/kornia/kornia/issues/53
Hugging space demo and embedded app

[2022-09-09 19:16] NimaBoscarino commented on #1872
Yay thank you for doing this! I took a look at your space, and there's a small bug to fix: https://kornia.readthedocs.io/en/latest/filters.html#kornia.filters.blur_pool2d actually downsamples images, so it looks like all the images going through your space are being downsampled regardless of whether a user wants to use `blur_pool2d` or not 🤔

[2022-09-10 00:50] lappemic commented on #1872
Thanks Nima for this hint. I was not really aware of it. After digging a bit more in the kornia docs i realized, that also `max_blur_pool2d` is downsampling. This is why i decided to go for another approach in the space and now have deployed a single tab per filter option. Would be happy to hear your thoughts about this. Thanks again for the feedback!

[2022-09-11 11:43] semaphore-egg opened #1879 "warp_perspective is much slower in gpu than cpu"
### Describe the bug

In following script, the mean running time of GPU version is about 2x slower than the CPU version. GPU utilization is very slow (around 12%).

### Reproduction steps

[code]

[code]
676 µs ± 58.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

[code]
1.39 ms ± 11.9 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### Expected behavior

The GPU version s

[2022-09-11 11:53] edgarriba commented on #1879
@semaphore-egg I would suggest to design the test following Pytorch benchmark api described here: https://pytorch.org/tutorials/recipes/recipes/benchmark.html

specially because usually cuda tests must be synchronized

[2022-09-11 11:57] semaphore-egg commented on #1879
Ok, I will update it using your instructions.

[2022-09-11 16:51] semaphore-egg commented on #1879
Setting the target size to some bigger values `(4, 2)->(1920, 1080)` shows significant speedup. The target size matters.

[2022-09-11 16:51] #1879 closed

[2022-09-12 08:37] #1859 closed

[2022-09-12 08:38] edgarriba commented on #1872
the tabs widget looks really nice, feel free to add to ours docs similar to https://github.com/kornia/kornia/pull/1876/files

[2022-09-12 09:02] edgarriba commented on #1850
@kunaltyagi
1) pytorch needs floating point values as requirements to differentiate.
2) We can explore and give a different default, however, as an api it should be customizable to enable more wide research.
3) Not clear shifts implements the backward properly.
4) I believe variance is part of the formulation of ssim.

Tagging @t-vi  to contribute with ideas as for pytorch optimization here.

As f

[2022-09-12 10:48] #1878 closed

[2022-09-12 13:06] johnnv1 commented on #1864
One suggestion I have is to move the entire setup to declarative metadata, it makes the setup clearer. Also, can use tools (pre-commit hook) to ensure the sanity (https://github.com/asottile/setup-cfg-fmt)

[2022-09-12 22:03] edgarriba commented on #1864
Sounds like a good idea. Recently played a bit with setup.cfg and makes everything more readable. Bit busy this days but I can try something unless anyone wants to volunteer before

[2022-09-12 22:56] johnnv1 commented on #1864
I can do this in some moment this week

[2022-09-13 10:43] juhonkang opened #1882 "Cannot load images"
### Describe the bug

![image](https://user-images.githubusercontent.com/67153600/189880892-803ece15-4041-4f49-8876-6c965e8722a7.png)

![image](https://user-images.githubusercontent.com/67153600/189881312-9a9572f9-c53a-4cbe-bdc3-e1ea799ab46d.png)

### Reproduction steps

[code]

### Expected behavior

Successfully load images

### Environment

[code]

### Additional context

_No response_

[2022-09-13 12:03] edgarriba commented on #1882
hi, could you share or point to that colab so that we can help ?

[2022-09-13 15:12] NimaBoscarino commented on #1872
@lappemic The easiest way to do it is to basically do it like this PR: https://github.com/kornia/kornia/pull/1871/files

That is:
1. Create a file at `docs/source/gradio/filtering_operators.html` that has the `<script>` and `<gradio>` snippets.
2. Embed it in [the "Blurring" section of the docs](https://github.com/kornia/kornia/blame/master/docs/source/filters.rst#L8)

[2022-09-13 17:51] marianna13 commented on #53
Hi! Can I do the image registration? :)

[2022-09-13 18:06] edgarriba commented on #53
@marianna13 defenitely

[2022-09-14 05:41] akashAD98 commented on #53
@edgarriba i want to do [Filtering Operators tutorial](https://kornia-tutorials.readthedocs.io/en/latest/filtering_operators.html)

[2022-09-14 08:23] lappemic commented on #53
Hey @akashAD98 just to let you know: Filtering is already covered. Not that we do multiple work :D

[2022-09-14 08:52] NimaBoscarino commented on #53
@akashAD98 That one's been done already 😞 But you can take any of the other ones, or even ones that aren't on the list. For example, [Semantic Segmentation](https://kornia.readthedocs.io/en/latest/applications/semantic_segmentation.html) or [Random Mosaic](https://kornia-tutorials.readthedocs.io/en/latest/data_augmentation_mosiac.html) would both be really cool to have demos for.

[2022-09-14 09:14] edgarriba commented on #53
There are also other like [Face Detection](https://kornia.readthedocs.io/en/latest/applications/face_detection.html) including large numbers of possible applications from that combining geometry, like to cover faces with meshes

[2022-09-14 09:19] edgarriba commented on #53
I would also encourage people to join our slack to have more direct conversation in the public channels with our developers community: https://join.slack.com/t/kornia/shared_invite/zt-csobk21g-2AQRi~X9Uu6PLMuUZdvfjA

Also, a very nice cool addition from @kadirnar in the [tutorials](https://github.com/kornia/tutorials) repo is to append the badge pointing to the app. See: https://github.com/kornia/

[2022-09-14 13:48] #1875 closed

[2022-09-14 15:13] edgarriba commented on #53
@NimaBoscarino just realizing that folks (and ourselves during review) we forgot to add `src` in the `gradio-app` tag point to `https://hf.space/embed/kornia/....` and not rendering at all in the docs

/cc @ramon-rd  @p-mishra1 @lappemic @gauthamk28 @kadirnar

[2022-09-14 16:45] p-mishra1 commented on #53
Strange because i definitely checked it after PR got merged and it was working perfectly. But yeah i can create a new PR on this, thanks.

[2022-09-14 16:47] NimaBoscarino commented on #53
@edgarriba The `src` is actually not needed at all, and it looks like I added it in my original PR by accident. It's strange that the demos aren't rendering; I'll take a look and see what's gone wrong.

[2022-09-14 17:10] p-mishra1 commented on #53
@NimaBoscarino [Edge detection space](https://huggingface.co/spaces/kornia/kornia-edge-detection) this does not have nested folder structure. But still it is not getting rendered, something fishy here.

[2022-09-14 21:05] NimaBoscarino commented on #53
@p-mishra1 For the edge detection space I think it's just that at the moment there are two gradio apps being embedded under the same `raw:: html` directive, and I think we can only pass one at a time.

[code]

So tomorrow I can make a small PR to make any of these small fixes! In the meantime keep making all these great spaces 🥳

[2022-09-15 08:32] johko opened #1889 "Line Segment Homography Warping not working"
### Describe the bug

Hi,
as part of the Docs'n Demo sprint I'm currently working on porting this tutorial: https://kornia-tutorials.readthedocs.io/en/latest/line_detection_and_matching_sold2.html to a HF space.

But I stumbled across some problems in the Homograpy part of the tutorial.
When calling `ransac = K.geometry.RANSAC(model_type="homography_from_linesegments", inl_th=3.0)` I get the error

[2022-09-16 07:58] edgarriba commented on #1889
@johko are you using last version in master ? i see the existence of that option
https://github.com/kornia/kornia/blob/9bf43775fa2a9da56e543fa54de47e02b8c6de42/kornia/geometry/ransac.py#L41

/cc @ducha-aiki not usre is the case but we might want to use enums here since are less error prone

[2022-09-16 10:23] ducha-aiki commented on #1717
https://github.com/pytorch/pytorch/issues/85143 - this blocks a lot of kornia functionality.

Other than that, which can be temporarily-fixed on our side:

- spatial gradient relies on conv3d, which is not supported on mps
- `aten::_linalg_det.result` is not supported yet (we can use manual determinant calculation
- `%` operator not supported
- `cdist` is not supported, we can go around it
- `std_

[2022-09-16 11:20] ducha-aiki commented on #1889
@johko it seems that you are using older version of kornia. Line matching was added only recently.

[2022-09-16 11:22] ducha-aiki opened #1891 "Add pytorch 1.12 and nightly to out test matrix, remove some older version (1.9, 1.10)"
## 🚀 Feature
Add pytorch 1.12 and nightly to out test matrix, remove some older version (1.9, 1.10)

## Motivation

To have CI in line with modern pytorch.

[2022-09-16 11:25] #1856 closed

[2022-09-16 11:33] ducha-aiki commented on #1891
We probably could reduce number of combinations of pytorch x Python for macos, given 10x multiplier

<img width="761" alt="image" src="https://user-images.githubusercontent.com/4803565/190629747-2a91f4f6-afa1-4229-ba29-e1f756dcc0a5.png">

https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions#about-spending-limits

[2022-09-16 11:41] johko commented on #1889
Ah, okay. I'll try with the newer version then, I currently only used the pip provided one which probably was a bit older then.

Thank you for the quick reply :)

[2022-09-16 12:12] ducha-aiki opened #1893 "Add CI on pytorch-nightly"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the tutorials.

</sub>

[2022-09-16 12:13] edgarriba commented on #1893
update this: https://github.com/kornia/kornia/blob/master/.github/workflows/tests_nightly.yml

ideally to test the full pytorch versions matrix

[2022-09-16 12:17] edgarriba commented on #1717
`spatial_gradient` should be refactored -- @lferraz got reported that the perfomance of some functions that rely on it e.g `sobel` are extremely slow, My guess is because of conv3d.

As for the rest, i'm fine adapting too.

[2022-09-16 12:19] ducha-aiki commented on #1717
@edgarriba I will do the things in separate PRs once the basic for testing https://github.com/kornia/kornia/pull/1716 be merged

[2022-09-16 13:14] ducha-aiki commented on #1891
Partly fixed by https://github.com/kornia/kornia/pull/1892

[2022-09-16 13:17] ducha-aiki opened #1894 "Errors in mypy test locally"
### Describe the bug

When run locally
`make mypy`

I am getting many errors from augmentation package

[code]

### Reproduction steps

[code]

### Expected behavior

No error

### Environment

[code]

### Additional context

_No response_

[2022-09-16 13:23] ducha-aiki opened #1895 "4 Tests are failing on pytorch 1.12.1"
### Describe the bug

Tests are failing for the `TestAddWeighted.test_jit`, `TestRandomEqualizeAlternative.test_exception`
Copy-paste from CI results:

[code]

### Reproduction steps

[code]

### Expected behavior

No crash

### Environment

[code]

### Additional context

_No response_

[2022-09-16 14:05] marianna13 commented on #53
@edgarriba Hi! I have created demo for Image Registration with Kornia. You can view it here: https://huggingface.co/spaces/marianna13/image_registration_with_kornia

[2022-09-16 14:14] #1895 closed

[2022-09-16 14:32] osanseviero commented on #53
Hi @marianna13! I just approved your org request, so now you should be able to transfer the repo over there. Feel free to open a PR adding the demo to the documentation :D :fire:

[2022-09-16 16:25] marianna13 commented on #53
I open the PR 😀

[2022-09-16 16:39] #1891 closed

[2022-09-16 17:04] ducha-aiki commented on #1717
@edgarriba spatial gradient is fixed here https://github.com/kornia/kornia/pull/1898
There is also "spatial_gradient3d", which is not fixed, but there 3d convolution is actually correct alg and it is much  rarery used

[2022-09-16 18:47] johnnv1 commented on #1770
I think this can help:
[code]

and then just run:

[code]

A previous result is:

[code]

With this, the `isort` will add 'from __future__ import annotations' at all files, and the `pyupgrade` will do all work. Probably the changes will be just the tying annotations.

[2022-09-17 06:58] juhonkang commented on #1882
https://colab.research.google.com/drive/1gINb4zJR2pONQiQPW_mRHCtBLKc-V8WB?usp=sharing
Datalink
https://drive.google.com/drive/folders/1ihKLXw7RizaKbdM20JuJ2n_uPuaJ2Rmz?usp=sharing

[2022-09-17 15:59] VikramxD commented on #53
I want to take Semantic segmentation

[2022-09-18 06:32] edgarriba commented on #1882
Wait, have you tried what the error suggests, to make a copy of the numpy array ?

[2022-09-18 06:35] edgarriba commented on #1882
I suggest to replace the loading function by something like this
[code]

[2022-09-19 13:52] duc12111 opened #1899 "RandomPerspective Error"
### Describe the bug

Getting error while using RandomPerspective.

### Reproduction steps

[code]

### Expected behavior

File "/usr/local/lib/python3.8/dist-packages/kornia/augmentation/base.py", line 176, in forward
    output = self.apply_func(in_tensor, params, flags)
  File "/usr/local/lib/python3.8/dist-packages/kornia/augmentation/base.py", line 245, in apply_func
    trans_matrix = self.c

[2022-09-19 19:00] shijianjian commented on #1899
Hi @duc12111, can you reproduce this on Colab? So that we can investigate further. It looks like an env issue.

[2022-09-19 19:37] #1889 closed

[2022-09-20 07:17] Juddd opened #1902 "The example will report bug when cuda available"
## 📚 Documentation

There is an example [here](https://kornia-tutorials.readthedocs.io/en/latest/image_matching_adalam.html). I note it is normal in the CPU, but it will report bug when the CUDA is available.

[code]
![bug1](https://user-images.githubusercontent.com/10048069/191192482-067d1a65-a155-4d29-84c1-83f5fdfec493.jpg)

We should add the `.to(device)` into:
[code]

Then it will work well

[2022-09-20 11:16] ducha-aiki commented on #1902
@Juddd thank you! Could you please make PR here? https://github.com/kornia/tutorials/

[2022-09-22 04:50] NimaBoscarino commented on #53
@dvando Totally, that would be great!!

[2022-09-22 13:16] johnnv1 opened #1906 "Remove unnecessary CI jobs"
From https://github.com/kornia/kornia/pull/1885#issuecomment-1254995760:

[2022-09-22 13:21] johnnv1 opened #1907 "Remove pytest markers"
From https://github.com/kornia/kornia/pull/1885#discussion_r973668636

@edgarriba commented that pytest markers (jit, grad, nn) may no longer be in use and can be removed

[2022-09-22 13:27] johnnv1 commented on #1906
Maybe these and some other commands can be removed from "Makefile"
 - make lint - will be covered by pre-commit
 - make mypy - will be covered by pre-commit
 - make autopep8 - i think the files have been formatted by black (also at pre-commit)

[2022-09-23 13:08] Madelynnn opened #1908 "How to install magma after using nvidia wheels"
### Describe the bug

The pytorch wheels provided by nvidia jetson come without MAGMA. Hence, the function get_perspective_transform which uses torch.linalg.solve will throw the error: "RuntimeError: solve: MAGMA library not found in compilation. Please rebuild with MAGMA".

How can this error be avoided?

Thanks in advance for answering my question

### Reproduction steps

[code]

### Expected be

[2022-09-24 06:13] edgarriba commented on #1908
I had the same issue few months back. First i computed that specific augmentation in cpu, later we compiled pytorch with magma. I also found that using a different algebra solver worked but the results were not stable. TBH, nvidia wheels for jetson are a bit outdated and I don’t see any progress in that direction. The best is to compile pytorch with your own specs. We could discuss to open source

[2022-09-25 13:40] Juddd opened #1909 "report a documentaion bug"
The code [here](https://kornia-tutorials.readthedocs.io/en/latest/line_detection_and_matching_sold2.html#example-of-homography-from-line-segment-correspondences-from-sold2) has a `model_type="homography_from_linesegments"`. But I will get error information like:
![image](https://user-images.githubusercontent.com/10048069/192146426-015ae786-fcbf-4efb-aa8a-bb8fea293ee8.png)

If I change the `"homogr

[2022-09-25 18:28] ducha-aiki commented on #1909
@Juddd are you sure that you are running the latest version of kornia? homography from line segments has been added very recently

[2022-09-26 02:32] Juddd commented on #1909
@ducha-aiki Hi, my `kornia` is version 0.67 (installed via `conda install kornia`), is this not the latest version?

[2022-09-26 07:50] ducha-aiki commented on #1909
Yes, the homohraphy lines existing in the master branch so far. Perhaps we should draft some release

[2022-09-26 08:02] Juddd commented on #1909
@ducha-aiki Since this is not a bug, I'll turn this off. I hope you hurry up and get this example running successfully.

[2022-09-27 03:30] Juddd commented on #1909
@ducha-aiki May I know the approximate time of the new version?

[2022-09-27 08:59] duc12111 commented on #1899
Do you know how to know the setup of an environment ? so that I can recreate them in colab. I have tried but couldn't

[2022-09-27 20:52] shijianjian commented on #1899
@duc12111 You may install kornia on colab with "!pip install kornia". Then put your snippet afterwards.

[2022-09-27 22:13] duc12111 commented on #1899
@shijianjian I will try that again. It seems to only happen with my PC. It still works on my laptop. I will try again. Otherwise, can you also check https://github.com/kornia/kornia/pull/1837. If everything is fine, I will do the same for random brighness, saturation and contrast for this issue https://github.com/kornia/kornia/issues/1836.
Thanks

[2022-09-27 22:35] shijianjian commented on #1899
@duc12111 Probably comes by the low CUDA version on your PC. It should be working.

Yes. Please go for the other augmentations. Not sure what happens to the CI for your branch.

[2022-09-28 15:43] #1770 closed

[2022-09-28 15:43] #1864 closed

[2022-09-29 09:35] #1824 closed

[2022-09-29 09:44] ducha-aiki commented on #1653
Solved in #1665

[2022-09-29 09:44] #1653 closed

[2022-09-29 09:48] ducha-aiki commented on #1466
Closing because of no activity

[2022-09-29 09:48] #1466 closed

[2022-09-29 09:51] ducha-aiki commented on #1446
@copaah any update on this so far?

[2022-09-29 09:52] ducha-aiki commented on #1216
Done in https://github.com/kornia/kornia/pull/1823

[2022-09-29 09:55] ducha-aiki commented on #875
Is it still the case?

[2022-09-29 10:03] marianna13 commented on #53
Hi everyone! How to find out what demos have already been created so I could take one?

[2022-09-29 10:04] ducha-aiki commented on #53
@marianna13 just check here https://huggingface.co/kornia

[2022-09-29 10:25] marianna13 commented on #53
@ducha-aiki thanks!

[2022-09-29 14:20] marianna13 commented on #53
Can I do Homography warping or ZCA Whitening?

[2022-09-29 18:38] NimaBoscarino commented on #53
@marianna13 Totally, you can take either of those!

Also, a note to everyone that the method for embedding the demos into the documentation has changed slightly to make it easier. Instead of having to create a bunch of new files, you can just embed it into the appropriate doc with something like:

[code]

As seen here: https://github.com/NimaBoscarino/kornia/blame/master/docs/source/filters.rst#L3

[2022-09-29 19:35] shijianjian commented on #1894
I will take look.

[2022-10-02 18:40] Arthlec opened #1921 "RandomPlanckianJitter does not work with tensors on cuda device"
### Describe the bug

When RandomPlanckianJitter augmentation is applied on cuda tensors, the following Runtime error occurs:
[code]

### Reproduction steps

[code]

### Expected behavior

Same behavior as with cpu tensors.

My personal solution:

[code]
I can open a PR tomorrow if the bug is confirmed.

### Environment

[code]

### Additional context

_No response_

[2022-10-03 09:25] ducha-aiki commented on #1717
https://github.com/pytorch/pytorch/issues/86107

[2022-10-03 10:58] ducha-aiki commented on #1906
make lint and make mypy are quite useful - for doing a local check and then fixing things manually, rather than relying on pre-commit. Especially mypy - because of multiple possible typings.

[2022-10-03 10:59] ducha-aiki commented on #1857
@edgarriba because it cannot run on weak readthedocs VM under time limit, 30 sec IIRC

[2022-10-03 11:13] ducha-aiki commented on #1907
@edgarriba I believe they are still useful. Correct me if I am wrong

[2022-10-03 13:56] Queuecumber opened #1923 "Two Problems with the Scale Module"
### Describe the bug

The `Scale` module as written has two issues

1. on line 947, the `scale_factor` variable is saved in the module, this needs to be a buffer in order to handle cases when the module is moved to a different device or casted to a different dtype. This is also true for other variables that are saved in this module but I didn't test them. Also I have a feeling this is a systemic i

[2022-10-03 14:28] ducha-aiki commented on #1923
@shijianjian

[2022-10-03 20:30] shijianjian commented on #1923
Hi @Queuecumber, thanks for reporting!

This is one of the legacy issue in this repo, and I fully agree to register those variables as either buffer or parameters to make use of the `.cuda()` and `.cpu()` conventions. One comment here is that, in the pervious stage considerations, we were thinking if one shall use kornia to optimize those parameters like ``scale_factor`` or not. We therefore did n

[2022-10-03 21:38] mertkaraoglu commented on #1737
The issue also exists with `kornia.geometry.transform.warp_perspective()` as well.

[2022-10-04 00:25] Queuecumber commented on #1923
The idea of training `scale_factor` is very interesting, I suppose since everything is differentiable it's possible.

[2022-10-04 06:23] edgarriba commented on #1923
@shijianjian +1 for this initial Kornia module

[2022-10-05 06:24] edgarriba commented on #1857
We could try to migrate to the-pages

[2022-10-05 08:14] edgarriba commented on #1737
ping to @MrShevan he's working to support half precision.

I personally haven't had enough time to dig into the autocast to find a solution, however as far i understand pytorch designed the autocast mainly the basic building block to define networks architectures which means (as per their docs too) don't support some operators. @t-vi  any insights here ?

Not sure but might be worth to explore and

[2022-10-05 08:28] edgarriba commented on #1907
we are currently not using -- but we could if we want to speed up the testing workflow @MrShevan any thoughts here ?

[2022-10-05 08:29] edgarriba commented on #1906
agree here -- i would remove only autopep8 since we mostly use black for the same purpose

[2022-10-05 08:29] ducha-aiki commented on #1907
@edgarriba we don't use them online in CI, but I do use them in local testing.

[2022-10-05 08:32] edgarriba commented on #1921
ideally you need also to send to device the module. Try something like
[code]

[2022-10-05 08:34] edgarriba commented on #1907
oh, good to know -- then let's keep it if at least someone is using. Besides, i'd advocate to be somehow part of the ongoing effort `BaseTester` class from @MrShevan

[2022-10-05 08:44] t-vi commented on #1737
I didn't look at it in detail, but @JanSellner 's approach of being more diligent with casting as needed sees like the right way to do it.

[2022-10-05 08:47] Arthlec commented on #1921
It works as intended now. Thank you!

[2022-10-05 08:47] #1921 closed

[2022-10-05 11:41] nmichlo opened #1929 "RandomRGBShift doesn't used correct values over batch"
### Describe the bug

`RandomRGBShift` does not work over a batch of images, this is actually caused by the `shift_rgb` function.

Specifically the old line in the current version `kornia==0.6.7`:
[code]

I have noticed that this change has partially been implemented on main:
https://github.com/kornia/kornia/blob/349c6389f902f2c6f5c76f3dd0e9e1bf246a1fa1/kornia/enhance/shift_rgb.py#L17

However, th

[2022-10-05 11:53] nmichlo commented on #1929
PR: https://github.com/kornia/kornia/pull/1930

[2022-10-06 12:41] johnnv1 commented on #1906
i don't get it, since we can run pre-commir locally and fix then manually too, but ok 😅

[2022-10-07 09:48] marianna13 commented on #53
Hi @edgarriba ! I opened a PR (https://github.com/kornia/kornia/pull/1932) :)

[2022-10-08 23:41] YanivHollander opened #1936 "Roadmap for new features to Kornia NeRF implementation"
## 🚀 Feature
List of new features to NeRF in Kornia

## Motivation

A basic implementation of the "Neural Radiance Field" method for novel view synthesis has been recently integrated as a module in Kornia https://github.com/kornia/kornia/pull/1911. The current `kornia.nerf` module follows plain vanilla NeRF, as detailed in https://arxiv.org/pdf/2003.08934.pdf. The following issue presents a roadma

[2022-10-11 00:02] #1929 closed

[2022-10-11 09:02] #1873 closed

[2022-10-11 09:33] Juddd commented on #1909
@ducha-aiki Can I get an approximate time, please? I want to use it in my project

[2022-10-11 09:52] edgarriba commented on #1909
soon this week: https://github.com/kornia/kornia/pull/1938

we are fixing small issues -- besides, to use in you project you can pip install directly from main
https://github.com/kornia/kornia#from-source-using-pip

[code]

[2022-10-11 13:43] #1909 closed

[2022-10-12 13:24] #1907 closed

[2022-10-12 16:48] #1906 closed

[2022-10-12 21:40] edgarriba opened #1944 "Implement sepia filter"
## 🚀 Feature

Add a sepia filter operator in `kornia.filters`

resource: https://stackoverflow.com/questions/23802725/using-numpy-to-apply-a-sepia-effect-to-a-3d-array

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the t

[2022-10-13 14:41] johnnv1 commented on #1944
Hi, I can work on this 😄

[2022-10-14 07:22] edgarriba commented on #1944
@johnnv1 sounds goods!

[2022-10-14 07:23] edgarriba commented on #1944
one consideration would be using `filter2d` instead and evaluate performance against `.dot()`

[2022-10-17 12:06] ducha-aiki opened #1948 "Expose `KORNIA_CHECK_*` functions"
## 🚀 Feature
Make them visible and add to documentation

## Motivation

They are cool and useful.

[2022-10-19 18:50] mjun0812 opened #1951 "`import kornia` break CUDA lazy init"
### Describe the bug

Hi there. Thank you for providing a great library!

I found a bug related to CUDA initialization in kornia==0.6.8.

This bug happened using the "CUDA_VISIBLE_DEVICES" environment value in Python script.

### Reproduction steps

Below is my workstation.

[code]

Then, I try below script. This script is used to change the GPU in script.

[code]

Output is here.

[code]

### Exp

[2022-10-19 19:09] ducha-aiki commented on #1951
@mjun0812 thank you for the good catch! Let's go for it, please make a PR.

[2022-10-19 19:15] mjun0812 commented on #1951
@ducha-aiki I created a Pull Request. Please check it! 🙏

[2022-10-19 19:48] shijianjian commented on #1951
When we import kornia, no modules shall be initialised, right?

I think it is a bug in `adalam` module, not the `utils`.

Say, adalam shall not be initialised during the import time.

[2022-10-19 19:52] shijianjian commented on #1951
Probably we should make this line lazy. Otherwise the devices will be fixed to a certain device during the import.

https://github.com/kornia/kornia/blob/db988652b13f46ac0dfedc5f883e11a848a6ca07/kornia/feature/adalam/adalam.py#L92

[2022-10-19 20:11] johnnv1 commented on #1951
Not related to the problem, but the @shijianjian suggestion also will improve the import time in a bit (from ~8ms to ~0.2ms)

[2022-10-19 20:14] ducha-aiki commented on #1951
@shijianjian you are right. Let me fix that in adalam

[2022-10-19 23:04] #1951 closed

[2022-10-21 20:45] duc12111 commented on #1836
Hi @edgarriba, I wonder if this is a mistake
https://github.com/kornia/kornia/blob/fac687ed482fdc0493a58931e881a751a20495ad/kornia/augmentation/base.py#L219 seems to create duplicate class name since https://github.com/kornia/kornia/blob/fac687ed482fdc0493a58931e881a751a20495ad/kornia/augmentation/base.py#L62 have already had class name

[2022-10-21 22:06] shijianjian commented on #1836
Yes. It is a bug. Can you send a PR to fix it?

[2022-10-22 04:25] edgarriba commented on #1836
Good catch! Is anyone working on this current feature request? Will be very useful to have as separated
components  `RandomBrightness`, `RandomContrast` , etc

[2022-10-24 08:27] edgarriba commented on #1948
As discussed i'll move in a follow up PR under `kornia.core.logger` -- the plan is to embed those functions also in a custom `logging` application.

[2022-10-24 08:27] edgarriba opened #1958 "Move check functions to `kornia.core.logger`"
As discussed i'll move in a follow up PR under `kornia.core.logger` -- the plan is to embed those functions also in a custom `logging` application.

_Originally posted by @edgarriba in https://github.com/kornia/kornia/issues/1948#issuecomment-1288629730_

[2022-10-25 06:03] #1836 closed

[2022-10-25 10:17] ducha-aiki opened #1959 "Adding TSDF integration"
## 🚀 Feature : TSDF Integration

To have TSDF http://www.open3d.org/docs/latest/python_api/open3d.integration.TSDFVolume.html integration of depth/point cloud, so one can have a 3D reconstruction from RGBD sequence

## Motivation

I am now using http://www.open3d.org/docs/latest/python_api/open3d.integration.TSDFVolume.html and http://www.open3d.org/docs/latest/python_api/open3d.integration.Scalab

[2022-10-25 10:28] edgarriba commented on #1959
is this fast ? :)

[2022-10-25 12:52] ducha-aiki commented on #1959
Fast what? Open3D is fast, yes. But I don't have any pytorch implementation to compare.

[2022-10-25 21:07] #1944 closed

[2022-10-26 19:30] edgarriba opened #1962 "Add `depth_from_disparity` / `disparity_from_depth`"
## 🚀 Feature

Implement a simple utility function to compute depth from/to disparity

[code]

[code]

______________________________________________________________________

#### Consider also to contribute to Kornia universe projects :)

<sub>

- [**Tutorials**](https://github.com/kornia/tutorials): our repository containing the tutorials.

</sub>

[2022-10-27 03:37] kunaltyagi opened #1964 "Missing image for RandomJigSaw"
## 📚 Documentation

Source code: https://github.com/kornia/kornia/blob/master/kornia/augmentation/_2d/mix/jigsaw.py#L16
Direct link: https://raw.githubusercontent.com/kornia/data/main/random_jigsaw.png

Documentation link: https://kornia.readthedocs.io/en/latest/augmentation.module.html#kornia.augmentation.RandomJigsaw

[2022-10-27 09:07] Juddd opened #1965 "Report a UserWarning"
### Describe the bug

I get a *UserWaring*

### Reproduction steps

The code is from the documentation [here](https://kornia-tutorials.readthedocs.io/en/latest/image_matching_adalam.html). Whenever I run this code for the **first time** I get the following warning:

![image](https://user-images.githubusercontent.com/10048069/198238188-8aa93181-8e8b-4318-9abd-d747659509a7.png)

I guess fixing this