[2018-08-28 14:00] edgarriba opened #1 "TGM v0.1.0 Roadmap"
This is the roadmap for torchgeometry v0.1.0 focuses on multi-view reprojection primitives that work on images and feature maps.

- Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list).

**Features**
- API
    - Pinhole
        - [x] inverse_pose 001097c3af11a44f18bb8e66e32bf73362d12046
        - [x] pinhole_matrix 063b0c611217c6fcdf1f4

[2018-09-03 20:26] edgarriba opened #2 "HomographyWarper gradcheck test fails"
Apparently we might have an issue when we compute the gradient using the [`HomographyWarper`](https://github.com/arraiy/torchgeometry/blob/master/torchgeometry/homography_warper.py#L22) module since the Pytorch [`gradcheck` ](https://pytorch.org/docs/stable/autograd.html?highlight=gradcheck#torch.autograd.gradcheck) routine doesn't succeed as expected.

link to the unittest:

https://github.com/ar

[2018-09-05 21:11] #2 closed, assigned to nobody

[2018-09-25 22:10] Mona77 opened #3 "test_transform"
I'm getting error when I run test_transforms. I'm missing any steps?
[code]

[2018-09-25 23:19] #3 closed, assigned to edgarriba

[2018-09-26 19:58] Mona77 opened #5 "SO3 & SE3"
@edgarriba, Have you seen the GVNN library. It is vision geometry Pytorch library that is written in Lua. @chaneyw was suggesting to add SO3, SE3 transformations as well. Pl let me know what do you think.

[2018-10-03 22:02] #1 closed

[2018-10-03 22:06] edgarriba opened #15 "TGM v0.1.1 Roadmap (short-term)"
This is the roadmap for short-term torchgeometry v0.1.1 focuses PyTorch 1.0.0 support, bug fixes and code clean up.

Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list).

## Features

- **Support PyTorch 1.0.0**  3ee14c83285f05ce8d29725a0489d0c9f8b058ed

- **Bug fixes**
  - [x] test_homography_i_H_ref crashes 0aba15d0b3ea79cfc3ed6a31ba

[2018-10-04 15:31] edgarriba opened #17 "[examples] MyHomography simplification"
suggestion of @szagoruyko

code from: https://github.com/arraiy/torchgeometry/blob/master/examples/homography_regression/main.py#L35-L46

[code]
the whole class is equivalent to
[code]

[2018-10-05 07:16] ducha-aiki opened #18 "LAF-related stuff"
Hi,

Would you be interested in incorporating things for local affine frames ?
E.g. https://github.com/ducha-aiki/affnet/blob/master/LAF.py

If yes, we can discuss and I can prepare PR after the CVPR deadline

[2018-10-05 17:49] ankurhanda commented on #1
I will be more than happy to add new functionality to it --- robot kinematics and other stuff that I have already implemented but in tensorflow :) so we could import both gvnn and that as well.

[2018-10-05 20:57] edgarriba commented on #18
@ducha-aiki that would be awesome ! We still have figure out a proper code reorganization which I guess it will come depending on demanding features or contributions like yours. Let me think about how we can introduce your codes because after at a first looking it might need some testing and documentation since it's a bit difficult to figure out what's happening in each function.

[2018-10-06 10:06] ducha-aiki commented on #18
@edgarriba Sure, documentation is lacking and will be added. Regarding testing - it would be nice to implement tests together.

[2018-10-14 04:25] Mona77 opened #21 "possible bug in Homography"
@edgarriba To calculate [homography](https://github.com/arraiy/torchgeometry/blob/a7db348c5978efc7870c649757947123bfbf78fb/torchgeometry/imgwarp.py#L173) matrix you have solved for Ah=x0 where h is [8x1] vector and then you append 1 to this vector.
 I would try solving for Ah=0 where h is [9x1] then divide each element of h by the last one. Something similar to [opencv](https://github.com/opencv/o

[2018-10-14 08:29] edgarriba commented on #21
@Mona77 this is because to transform points with the homography we need homogeneous coordinates (3x3 * 3x1). If you want you can check the maths from this tensorflow implementation:
http://kindoblue.nl/neural-network/tensorflow-homography.

I've also been comparing to OpenCV results and I get the same results.

[2018-10-14 11:23] bhack opened #23 "Benchmark"
It could be interesting to evaluate benchmark against optimized impl. like https://docs.nvidia.com/cuda/npp/group__nppi.html

[2018-10-14 12:11] #17 closed

[2018-10-14 23:00] edgarriba opened #24 "`normalize_transform_to_pix` strange behaviour"
found that [normalize_transform_to_pix](https://github.com/arraiy/torchgeometry/blob/get_perspective_transform_opencv/torchgeometry/imgwarp.py#L37) when the grid in the `HomographyWarper` is in normalized coordinates doesn't produce the correct result.

![screenshot from 2018-10-14 23-56-56](https://user-images.githubusercontent.com/5157099/46923231-f85f9a00-d00c-11e8-9c7c-95665fe2c22d.png)

Howev

[2018-10-16 22:13] edgarriba commented on #24
close in favor of https://github.com/arraiy/torchgeometry/pull/25

[2018-10-16 22:13] #24 closed

[2018-12-10 21:03] #21 closed

[2018-12-10 21:06] edgarriba commented on #5
@Mona77 @chaneyw @ethanrublee  gonna open roadmap for v0.2.0 where we should target gvnn and advanced 3d stuff. Are you still up for this ?

[2018-12-10 21:14] edgarriba commented on #23
@bhack could be interesting also to see effect of the PyTorch JIT compiler. I've seen also that Pyro adopted the possibility to run in eager/script modes through JIT.
https://github.com/uber/pyro/releases
http://pyro.ai/examples/jit.html

[2018-12-10 22:00] edgarriba opened #28 "TGM v0.2.0 Roadmap"
This is the **roadmap for torchgeometry v0.2.0** focuses mainly importing [GVNN](https://github.com/ankurhanda/gvnn), documentation improvement and website. Some basic functionalities for image processing will also be part of this release.

Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list). Please, take a read on the **[CONTRIBUTING]

[2018-12-10 22:10] edgarriba commented on #5
see https://github.com/arraiy/torchgeometry/issues/28

[2018-12-10 22:10] #5 closed

[2018-12-10 22:31] edgarriba commented on #28
@ankurhanda What do you think we should prioritize for importing GVNN ? You mention that you have already some ported codes. Might be helpful if you could give a brief list of ideas of what do you already have and not.

[2018-12-11 16:45] ankurhanda commented on #28
This is what I have already now.
- SO3
- SE3
- Non-rigid SE3
- Projection Layer
- Depth Estimation

[2019-01-08 15:48] #15 closed

[2019-01-14 21:54] Wizaron opened #38 "[JIT] Unit test for torch script"
If we decouple the pytest functions into two parts, one for functionality to test and the other one for testing as in the following example, we can carry out tests for both pytorch and torch script in a single test function.

If it is OK, I am going to decouple them prior to writing tests for torch script.

Do you have any suggestions?

[code]

[2019-01-14 22:31] edgarriba commented on #38
@Wizaron cool that you want to go ahead with this ! there's one thing that I'm not quite sure yet - I see to many assertions, and usually that's an anti-pattern for test design :D

I would go for something more modular by provding proper test classes to cover the different needs.

Maybe @carlosb1 could give us an intuition to proceed with this since he's working on the `mypy` test integration.

[2019-01-15 06:38] asetsuna opened #39 "[DOCS] Doc link is broken."
<img width="791" alt="issue" src="https://user-images.githubusercontent.com/2498827/51162969-1d48ff00-18d3-11e9-99e5-5c80593891e8.png">

[2019-01-15 13:08] carlosb1 commented on #38
A few thing. First, It is added an assert for "case" to test, for this reason it should be a bad design has multiple asserts in a test.. it is better split for every case. Also, it would be good to split tests that they are testing feature / functionality or if it is checking the function (unitary test). For this last case, we can split them in different files, and when the set of number of tests

[2019-01-15 14:01] edgarriba commented on #39
yep, finding the best way to automate docs generation, test and deployment. Working on that.

[2019-01-17 22:10] edgarriba opened #45 "[JIT] Image warp and conversion warnings"
JIT tests throws the following warnings that should be fixed: https://pastebin.com/XQPURJFy

[2019-01-17 22:13] edgarriba commented on #38
@Wizaron could you investigate this ? https://github.com/arraiyopensource/torchgeometry/issues/45
@carlosb1 could you share the snippet for testing you mention ?

[2019-01-17 23:05] edgarriba commented on #39
@asetsuna fixed via 5f55bed2572ed76144e09357d511d03123722b85. Interested in contributing ?

[2019-01-17 23:05] #39 closed

[2019-01-17 23:16] edgarriba opened #47 "[DOCS] Update data types links"
Some data types are yet not well linked. Need to check the source code and update types according to mypy if possible.

Example [link](https://github.com/arraiyopensource/torchgeometry/blob/master/torchgeometry/imgwarp.py#L74-L75)
[code]

[2019-01-20 12:15] Wizaron commented on #45
* We can safely ignore the following warning since we create a constant tensor (`tr_mat`) in each run.

[code]

* I will try to propose a fix for the other warnings. Currently, those assertions are executed when we trace the function and the corresponding results are saved as constants, hence the traced model does not include the assertions.

[2019-01-21 14:01] edgarriba opened #51 "[TEST] Speed up CI builds and GPU support"
Each time a pull request is sent, the current [Travis script ](https://github.com/arraiyopensource/torchgeometry/blob/master/.travis.yml) builds the environment for each of the stages.

We should be able to cache the conda packages and reuse it for all the stages.

[2019-01-22 11:15] edgarriba opened #53 "[COMMUNITY] Call for contributions / tutorials / examples"
Hello, community!

We’re putting out a call for contributions in an effort to make the docs even more useful, with interactive Gradio demos hosted on Hugging Face 🤗

As Kornia is a Computer *Vision* library, we want users to be able to *see* the functionalities of our modules as easily as possible. We’re tackling this by making demos to showcase particular features, and then embedding them directl

[2019-01-30 15:42] edgarriba commented on #38
@Wizaron @carlosb1 In my last two PR I've been adopting this pattern for test. Let me know your thoughts about how you can adapt it to JIT and others.

[2019-01-31 10:59] ClementPinard opened #60 "[Feature request] Depth Smooth Loss"
Hello, I happened to have worked on depth smoothness,
and even if when they are used they are called depth smooth, the value that is smoothed is actually the inverse depth. So maybe we should add it to the right terminology, otherwise it might get confusing and people will try to lower spatial gradient of depth instead of inverse depth.

The loss is taken from https://github.com/tensorflow/models/

[2019-02-01 10:32] edgarriba commented on #60
HI @ClementPinard ! thanks for the feedback.

Regarding the terminology I agree and I'll make the changes ASAP.

As for the second order approach, I think the easier could be adding a flag to the signature. In the end it only adds the second order to the returned loss.

About the ``TotalVariationLoss``, it only accepts a single tensor which is the depth, right ? In the ``DepthSmoothnessLoss`` the

[2019-02-01 13:50] ClementPinard commented on #60
Well it's not TVLoss per se, but you could see extended TV loss as a weighted sum of gradients. For example, it's called TV loss for DTAM : https://www.robots.ox.ac.uk/~vgg/rg/papers/newcombe_davison__2011__dtam.pdf which i think is a pretty solid reference, and it's probably where the exponential weight of image gradient comes from originally.

The regular TVLoss would then be the special case of

[2019-02-05 20:38] carlosb1 commented on #38
@edgarriba @Wizaron . From my side, it seems enough, I was checking different options for splitting the test and I couldn't find anything better.

[2019-02-06 12:00] edgarriba opened #69 "[BUG] test_image crashes with PyTorch 1.0.1"
Noticed that there's either a bug somewhere in ``test_image.py`` or in last PyTorch release 1.0.1.
The crash happens when updating to ``pytorch-cpu==1.0.1`` in TravisCI.

**UPDATE (11/02/2019):**

Confirmed that after installing ``pytorch-cpu==1.0.1`` through the script ``setup_travis_env.sh`` there is a crash only in TravisCI. Tried to reproduce in local and seems to work as expected. Poltergeist

[2019-02-12 05:08] soumith commented on #69
is there a way you can get a stack-trace.
You can probably modify your script to make it run under gdb and print a stack-trace to the console.

[2019-02-12 12:10] edgarriba commented on #69
@soumith thanks for your time. It turns out that the issue has been solved by itself restarting again the jobs (already tried that before though). I guess they did some update in TravisCI or something since I didn't touch my code and I guess you didn't update the pytorch wheels for v1.0.1 right ?

[2019-02-12 12:10] #69 closed

[2019-02-18 04:34] versatran01 opened #74 "[Feature] Transformation"
Hi, I would like to contribute a few functions related to transformation into this repo.
I think just calling things pose is very vague, pose is an abstract term that can have many representations. The current pose is represented using a homogeneous transformation, and it should be named that way (instead of just calling it pose, which can be represented by xyz and quaternion or xyz and euler angl

[2019-02-19 15:14] edgarriba commented on #74
hi @versatran01 ! thanks for considering to contribute to the library :D

I totally agree with you about the naming convention. We are totally open to refactor it if that makes sense and the use of the package more clear. Could you list what do you have in mind to implement ? We could start from there to break down and define a proper API for the transforms submodule.

Regarding the epsilon value,

[2019-02-19 18:48] versatran01 opened #75 "[BUG] Regarding relative_pose"
Either this math is wrong or I misunderstood some of the notation here.

P_1^{2} = \begin{bmatrix} R_2 R_1^T & R_1^T (t_2 - t_1) \\ \mathbf{0} &
        1\end{bmatrix}

I believe the correct forms should be (assuming when you say pose, it is wrt to some common frame, thus T_1 is actually T_1^W, T_2 is actually T_2^W. Then the relative transformation from 1 to 2 is T_2^1 which is

T_2^1 = T_1 ^ -1

[2019-02-20 10:43] edgarriba commented on #75
@versatran01 thanks for reporting. I'll take a look at it today and I'll add as a TODO for next week release.

[2019-02-20 10:48] edgarriba opened #76 "[ENHANCEMENT] Create conda packages"
- We should provide conda packages for each release.
- Update installation docs showing conda installation procedure.

[2019-02-20 10:53] edgarriba opened #77 "[PIP] Update pytorch required version"
We should update `setup.py` to accept PyTorch >= v1.0.0
https://github.com/arraiyopensource/torchgeometry/blob/master/setup.py#L32

[2019-02-20 10:57] edgarriba opened #78 "[PACKAGE] move version number to a file"
Isolate the package version a single file. Similar to: https://github.com/allenai/allennlp/blob/master/allennlp/version.py

[2019-02-21 08:32] edgarriba commented on #74
@versatran01 I put this link as reference: https://github.com/ros/geometry/blob/melodic-devel/tf/src/tf/transformations.py

some of the conversions were initially based on this.

[2019-02-24 06:30] tiancheng-zhi commented on #75
My code broke down due to this bug too... I manually calculate relative pose then my code works.

[2019-02-24 07:42] edgarriba commented on #75
@tiancheng-zhi nice to hear about new users of the library. Notice that I'm fixing the issue in https://github.com/arraiyopensource/torchgeometry/pull/79. You are very welcomed to share with us your thoughts.

[2019-02-24 19:58] tiancheng-zhi commented on #74
The default epsilon value (1e-6) is too large. Datasets like ScanNet provides camera poses with very high precision (1e-5 ~ 1e-8). The epsilon value should be much smaller than this value.

[2019-02-25 18:32] versatran01 commented on #74
eps should not be part of the function signature, see #79 for more discussion.

[2019-02-26 23:48] edgarriba opened #82 "[FEAT] Add tests coverage for warp_affine"
the function `warp_affine` doesn't have a proper unittest.

Coverage report: https://codecov.io/gh/arraiyopensource/torchgeometry/src/25cc06ec56334055dcf3a1a38eee619fa40f644a/torchgeometry/core/imgwarp.py#L105...149

[2019-02-27 22:18] nkolot opened #84 "[BUG] Bug in quaternion_to_axis_angle"
There is a bug in quaternion_to_axis_angle when the input quaternion is the quaternion corresponding to a 0 rotation ([1,0,0,0]). Specifically the problem is introduced by the division at line 408 in conversions.py

Minimal example to reproduce it
[code]

[2019-02-28 07:52] edgarriba commented on #84
@nkolot thanks for the report :D

I link here the code just to make it more visible: https://github.com/arraiyopensource/torchgeometry/blob/master/torchgeometry/core/conversions.py#L408

My guess is that this division needs an epsilon value. Actually, we were discussing similar issues with @versatran01. He's the opinion that should be user that provides an input with non-absolute zeroed values. I'

[2019-02-28 13:47] edgarriba opened #85 "[FEAT] DepthWarper using inverse depth"
We started the discussion in #79  whether the `DepthWarper` should warp by depth or inverse depth.

@ClementPinard @versatran01 Propose to use inverse depth for numerical stability issues.
Screenshot of one the arguments for that:
![screenshot from 2019-02-28 14-37-04](https://user-images.githubusercontent.com/5157099/53570411-b328a880-3b66-11e9-9bfb-eeb420b35f2f.png)

Currently the warper works a

[2019-02-28 13:52] edgarriba opened #86 "[FEAT] rename compose_transformation and relative_transformation signatures"
As we started to discuss in #79 ,
@versatran01 proposes to rename the following function signatures:
[code]
Links to this change reference:
- https://arxiv.org/abs/1107.1119
- https://frc.ri.cmu.edu/~hpm/project.archive/reference.file/Smith,Self&Cheeseman.pdf

[2019-02-28 17:13] versatran01 commented on #84
This function looks really complicated, what is the purpose of the mask in this function.

[2019-02-28 17:25] versatran01 commented on #85
Currently in my implementation, eps is used only in one place, which is just like
@ClementPinard said, to clamp the depth the eps when doing the mentioned inverse operation.

[2019-02-28 17:34] versatran01 commented on #85
![selection_001](https://user-images.githubusercontent.com/1883423/53585891-faa63900-3b54-11e9-95fa-11beb6160b8b.jpg)

This is an example of warping using vkitti ground truth pose and depth. From left to right, target image,  synthesized image and their difference.

[2019-02-28 21:02] edgarriba commented on #84
@versatran01 I didn't implement this function. But I agree, it can be simplified.

[2019-02-28 21:07] edgarriba commented on #85
@versatran01 nice ! would be great to adapt your codes with the current class.

[2019-03-05 12:12] #84 closed

[2019-03-06 21:22] edgarriba commented on #77
closed in favor of #92

[2019-03-06 21:22] #77 closed

[2019-03-06 21:23] edgarriba commented on #82
close in favor of #87

[2019-03-06 21:23] #82 closed

[2019-03-06 21:24] edgarriba commented on #75
closed in favor #79

[2019-03-06 21:24] #75 closed

[2019-03-06 21:24] edgarriba commented on #74
closed in favor of #79

[2019-03-06 21:24] #74 closed

[2019-03-11 21:42] edgarriba commented on #78
closed in favour of #93

[2019-03-11 21:42] #78 closed

[2019-03-15 15:03] kajal-puri commented on #47
Hi @edgarriba

Please review my [pull request] (https://github.com/arraiyopensource/torchgeometry/pull/97) for this issue.

[2019-03-22 22:06] bhack opened #98 "[FEAT]Quaternion to Rotation matrix"
`quaternion_to_rotation_matrix`

https://github.com/KieranWynn/pyquaternion/blob/master/pyquaternion/quaternion.py#L965

[2019-03-23 15:59] bhack commented on #98
/cc @ClementPinard

[2019-03-24 05:24] eglxiang opened #99 "Install issue keeps happening no matter how I install"
import torchgeometry
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "torchgeometry/__init__.py", line 3, in <module>
    from torchgeometry import core
  File "torchgeometry/core/__init__.py", line 1, in <module>
    from .homography_warper import HomographyWarper, homography_warp
  File "torchgeometry/core/homography_warper.py", line 39
    height: int,

[2019-03-24 07:51] eglxiang commented on #99
This is common issue as there's another friend who finds this problem as well. It seems to be caused by torch version... only torch 1.0 supported?
Could the developer give some quick pointer here? Much appreciated!

[2019-03-24 08:08] eglxiang commented on #99
Or deos this library only work for Python3?
sorry for keep asking...

[2019-03-24 15:00] Merical commented on #99
@eglxiang I think it may be a python version issue. Python 3.5 does not support this variable annotation.

[2019-03-24 18:35] edgarriba commented on #99
@eglxiang you are probably using python < v3.6. The typing sintax we support is for >= v3.6. As for pytorch, we support >= v1.0.0. Let us know if you solve the issue with this.

[2019-03-24 18:50] eglxiang commented on #99
I see. But I need to call this library for my existing repository that relies on Py2.7. Will Py 2.7 be supported in the near future?

[2019-03-24 19:26] edgarriba commented on #99
Supporting 2.7 could be such a pain right know basically because most of the code relies on typing and that means rewriting a lot of things to support typing for 2.7 which has a totally different syntax. Another reason is that python 2.7 will be deprecated in less than a year. See https://pythonclock.org

We can disscuss more about this so that you can use torchgeometry but what about upgrading yo

[2019-04-02 15:55] edgarriba opened #106 "[FEATURE] Add Yapf as pre-commit hook"
We should have a script to pre-format the code before sending a pull request:
https://github.com/google/yapf/tree/master/plugins

[2019-04-02 15:56] edgarriba commented on #99
@eglxiang we added the requirement to the package setup in https://github.com/arraiyopensource/torchgeometry/pull/104.
Closing this.

[2019-04-02 15:56] #99 closed

[2019-04-03 12:54] edgarriba opened #107 "[FEAT] Switch torch asserts"
We currently have custom assertion to check equal torch tensors
[code]

this can be replaced by:
[code]

[2019-04-21 23:10] rsdel2007 commented on #107
Do we have to replace from all the places where it is used?

[2019-05-01 21:55] edgarriba opened #116 "[FEAT] Verify conversion to homogeneous"
We should double check the following behavior: https://github.com/opencv/opencv/pull/14411

[2019-05-05 19:02] Msabih opened #125 "perspective transform not giving same result"
Hi,

I checked perspective transform using same source and destination points and the perspective transform should be giving the same array back but for some reason, it does not. I wanted to calculate a metric using perspective transform and the metric gave different results when compared to opencv's perspective transform.

Here is my code to reproduce.
`
import torch
import torchgeometry as tgm
i

[2019-05-06 11:01] edgarriba commented on #125
@Msabih if you follow the example, your destination points should something like:
[code]
where `w, h` are the destination height and width.

Besides, I have recently introduced [crop_and_resize](https://torchgeometry.readthedocs.io/en/latest/geometric.html#torchgeometry.crop_and_resize) which already implements this same functionality. Please, try both approaches and let us know. I will update the

[2019-05-06 12:28] Msabih commented on #125
Does it matter ? From my understanding, if the source points and destination points are identical then perspective transform should output the same image. Thats what I was trying to test here i.e giving the same source and destination points and checking torch.equal(). In opencv, this test works, if I give same source and destination points and use np.array_equal(), the two arrays are equal.

[2019-05-06 12:56] Msabih commented on #125
@edgarriba

Here is an example to demonstrate what I am pointing towards. Could you please run the code and check why the difference of warp image and image with same source and destination points for tgm gives me two lines whereas in opencv, it gives zero image ?

I am quite sure that there is some logical error/mistake in tgm's code.

[code]

[2019-05-06 15:38] edgarriba commented on #125
ok, sorry I misunderstood what you were trying to do int this test. To compare tensors I suggest to use `torch.testing.assert_allclose`.

[2019-05-09 04:23] Msabih opened #130 "[BUG] Using Multi GPU support"
While using tgm, I have come across one or two places in the code where the creation of new tensor has to be done on the device in the context otherwise the multi gpu training gives an error.

Should I give a pull request or perhaps you could think of better ways to solve this.

for example in torchgeometry/core/conversions.py in line 97-100, I changed the code as follows
[code]

[2019-05-09 10:46] edgarriba commented on #130
@Msabih could you give us more information about your error, a screenshot of what you get, the devices you use, etc. I don't see why multi gpu should be a problem, since `scale` is derived from `z_vec` and this directly from `points`.

[2019-05-09 14:05] Msabih commented on #130
I was getting the typical error that these two tensors must be on the same devices. I will rebuild the library and get back to you with the error message. I am using multiple nvidia TX 1080 GPUs.

I didnt read the whole code, just got to the point of error, printed the device names of the tensors and scale was one device: 0 whereas I was using 6 and 7.

[2019-05-10 23:40] Msabih commented on #130
@edgarriba

[2019-05-11 05:29] edgarriba commented on #130
It's interesting. How do you copy your tensors to cuda outside of the functions? Could you provide a small script so that we can reproduce the issue? Which torch version do you use? I'm fine with your fix, but we have been using this function in cuda multi gpu an no errors like this one. Would like to see why it happens first. /cc @bhack

[2019-05-12 02:41] Msabih commented on #130
So I am taking a list of devices and giving it to the DataParallel as argument. Later on images are taken to first GPU for training like images = images.to(self.devices[0])

[2019-05-12 02:45] Msabih opened #133 "Does perspective transform support source points outside the image dimensions"
Hi,

I was experimenting with homography transform and one issue, I was consistently getting different results as compared to opencv. in warp perspective where the calculation of 'M' was correct.

 Before I check my code or discuss more about this issue, could you please answer if the source points outside image dimensions are supported ? Because I have such "source" points which are supported in

[2019-05-12 06:48] edgarriba commented on #130
Ok I see. Last, just to fully understand, if you print points, zvec and scale devices what do you get?

[2019-05-12 06:53] edgarriba commented on #133
In theory yes, however the sampler will fill it with zeros by default but can play with the padding mode parameter from the sampler. Could you provide us a short snippet reflecting such case?

[2019-05-13 18:00] vimalthilak opened #138 "[Festure Request] Suggested enhancement for SpatialSoftArgmax2d"
@edgarriba : First of all, very nice repository!

I have a suggested enhancement that would help users implement recently published papers. I was inspecting the class that impelments softargmax2d

and thought that you might want to add a temperature parameter for your class that a client can then use to specify the peakiness of their desired distribution.

[2019-05-13 19:44] edgarriba commented on #138
@vimalthilak thanks for the suggestion. Yes, we can definitely do that. Will mark as a to do after the refactoring we are doing in library organization right now. Besides, any help is very welcomed :D

[2019-05-14 14:24] Msabih commented on #133
Okay, i have to upload a test image. Please download this npz image
https://transfer.sh/F6Kny/tgm_testimg.npz

and then this code snippet to compare the output of opencv and tgm.

[code]

[2019-05-14 15:49] edgarriba commented on #133
@Msabih thanks. I'll investigate that

[2019-05-15 14:09] Msabih commented on #133
@edgarriba  were you able to reproduce the issue ?

[2019-05-15 14:25] edgarriba commented on #133
@Msabih yes, I run your script and I get an empty image.

[2019-05-15 15:02] Msabih commented on #133
@edgarriba  and the opencv gives lines correctly. I will also try to debug this. Any hints will be welcome. Thanks for your time.

[2019-05-27 10:13] edgarriba opened #143 "[FEAT] Add more conversions functions"
As discussed, we should add the following conversion operators:
- [x] denormalize_coord https://github.com/arraiyopensource/kornia/pull/153
- [x] quaternion_to_rotation_matrix https://github.com/arraiyopensource/kornia/pull/155
- [x] quaternion_log_to_exp https://github.com/arraiyopensource/kornia/pull/155
- [x] quaternion_exp_to_log https://github.com/arraiyopensource/kornia/pull/155
- [ ] quater

[2019-05-27 18:06] jiangwei221 commented on #133
@Msabih I'd like to reproduce the bug, but the provided .npz file is expired

[2019-05-27 18:27] jiangwei221 opened #144 "[FEAT] Batch support for image_to_tensor/tensor_to_image"
Current implemetation only works for (C, H, W) ->(H, W, C), maybe is good to have (B, C, H, W) ->(B, H, W, C).
Also, if we define this function works on image, should we limit the number of channels to only 1 and 3? seem other number of channels do not make sense, at least cannot be plot via matplotlib...

[2019-05-28 10:49] edgarriba commented on #144
hi @jiangwei221 thanks for your interest in the library, we can definitely support batched version. It can be easily implemented by changing the permute indices.

For [image_to_tensor](https://github.com/arraiyopensource/kornia/blob/master/kornia/utils/image.py#L29) can be done by doing something like this:
[code]
I guess will be be similar for tensor_to_image. I'm not quite if we should restrict

[2019-05-28 10:56] edgarriba commented on #133
@jiangwei221 thanks to help with that, I'm still working on infrastructure stuff and couldn't spend time on this. I can still download the file.

[2019-05-28 11:03] edgarriba commented on #125
@ should we close this in favor of https://github.com/arraiyopensource/kornia/issues/133 ?

[2019-05-28 11:04] edgarriba commented on #98
closing this as it's included in https://github.com/arraiyopensource/kornia/issues/143

[2019-05-28 11:04] #98 closed

[2019-05-28 11:06] edgarriba commented on #38
unit tests with JIT are already included in latest cointributions, check: https://github.com/arraiyopensource/kornia/blob/master/test/filters/test_filters.py#L52

closing this.

[2019-05-28 11:06] #38 closed

[2019-05-28 11:07] edgarriba commented on #130
@Msabih can you provide a unit test script where this can be reproduced ?

[2019-05-28 11:09] edgarriba commented on #76
I will create a separate repo for kornia-builder, as suggested by Soumith.

Pointers to follow:
https://github.com/pytorch/builder/tree/master/conda/torchvision
 https://github.com/pytorch/builder/blob/master/conda/build_vision.sh

[2019-05-28 11:11] edgarriba commented on #28
closing this since this roadmap is deprecated.

Will create new one very soon since the target of the library is more generic computer vision, not only geometry. See package renaming to "kornia": cdd8f01f5ff6e1c7ac68b47137f0f77bd671ba4d

[2019-05-28 11:11] #28 closed

[2019-05-28 11:12] edgarriba commented on #51
we should start thinking a bout migrating to an alternative to give support to gpu testing:

CircleCI seems to give support to do that:
https://circleci.com/docs/2.0/gpu/

[2019-05-28 11:14] edgarriba commented on #47
closing this since is mostly covered in last commits.

[2019-05-28 11:14] #47 closed

[2019-05-28 11:16] edgarriba commented on #45
@Wizaron closing this since we found a workaround for that by wrapping functions to torch.jit.script before tracing. Other solutions are welcomed since we are looking for solutions to let the user to specify whether to use jited functions.

[2019-05-28 11:16] #45 closed

[2019-05-28 11:22] edgarriba commented on #138
@vimalthilak looking into this after huger refactor. Welcome to kornia :D

That would be my suggestion for the signature:

[code]

is guess one would like to pass a learned tensor of temperatures to be optimized.
Please share your thoughts on that before we go ahead with the implementation.

[2019-05-28 11:27] Msabih commented on #125
Yeah sure, this should be closed because this was'nt really a wrong result. It was just off by floating precision.  #133 however looks like a genuine case as there the transform is blank.

[2019-05-28 11:27] #125 closed

[2019-05-28 11:29] edgarriba opened #145 "[FEAT] Improve kornia.color"
I open this since we might want to implement the following operators in `kornia.color` module. The motivation is that torchvision only supports this for PIL images, we want to give support for torch.Tensor:

Assigned -> @priba

- [x]  `kornia.color.adjust_brightness` https://github.com/arraiyopensource/kornia/pull/195
- [x] `kornia.color.adjust_contrast` [torchvision ref](https://pytorch.org/docs/

[2019-05-28 11:32] edgarriba commented on #125
@Msabih thanks. Yes, would appreciate the effort for solving this. Maybe by designing a toy unit test will help.

[2019-05-28 11:32] Msabih commented on #130
Okay, I will do it in a day as I find time. Just to note, I think this problem will not occur if multiple GPUs were used using DistributedDataParallel but only using DataParallel. Because I have switched to using DDP even on single machine with multiple GPUs as it distributes the load equally and is consistent. I did'nt try the perspective transform in that setting but I am pretty sure that this e

[2019-05-28 11:36] edgarriba commented on #130
awesome. So DDP seems the way to go in general right ?

[2019-05-28 11:57] Msabih commented on #130
Yes in general that is the case. But users may use DataParallel just because its easier or there could be a genuine use case. One use case is that Distributed Data Parallel takes more memory( its multiplied by number of nodes) if your Data Loader loads all the dataset at once however Data Parallel uses same amount of memory as single process use case. Another usecase might be if the cluster has fr

[2019-05-28 14:08] tang-peng opened #146 "function 'convert_points_from_homogeneous' may not work"
This package is a great job.

However, in the function `convert_points_from_homogeneous`, I found:

[code]

This code does not work if the `z_vec` is negative, because its value is restricted by EPS. However, the last element of the homogeneous coordinate vector can be negative.

So, is that a bug?

[2019-05-28 14:32] edgarriba commented on #146
@tang-peng thanks for pointing this out. It's already a known issue, check: https://github.com/arraiyopensource/kornia/issues/116

the solution could be something like:
[code]

please, feel free to open a PR to fix it.

[2019-05-28 14:32] edgarriba commented on #116
closing this in favor of https://github.com/arraiyopensource/kornia/issues/146

[2019-05-28 14:32] #116 closed

[2019-05-28 14:57] bhack commented on #145
I could be nice to have other color operators like DeepMind/Tensorflow:

https://github.com/deepmind/multidim-image-augmentation/blob/master/doc/color_augmentation_colab.md

[2019-05-28 16:41] edgarriba opened #147 "[DOCS] normalize_pixel_coordinates input shape is wrong"
docs state that input shape is BxHxWx2, however it handles tensors with shape (*, 2)
[link](https://github.com/arraiyopensource/kornia/blob/master/kornia/geometry/conversions.py#L423)

[2019-05-28 18:19] vimalthilak commented on #138
This signature looks reasonable. It generalizes what I had in mind in terms of treating the temperature as a hyperparameter that's not learned but I think your use case should accommodate this usage as long as the client sets requires_grad=False.

[2019-05-28 18:19] jiangwei221 commented on #133
Caused by #146 .

[2019-05-28 18:34] bhack commented on #146
Check https://github.com/arraiyopensource/kornia/pull/148

[2019-05-28 18:43] bhack commented on #51
I don't know if it is available on the managed version.
Can you ask in channels to the commiters of these files https://github.com/pytorch/pytorch/commits/master/.circleci?

[2019-05-28 20:01] bhack opened #149 "Contributor covenant"
Can we adopt [contributor covenant](https://www.contributor-covenant.org/)?

[2019-05-28 22:01] anibali commented on #138
@bhack Feel free to take as much as you would like from DSNTNN, I wouldn't mind if Kornia eventually rendered my little library obsolete.

[2019-05-29 14:22] edgarriba commented on #149
absolutely

[2019-05-29 14:50] edgarriba commented on #149
see https://github.com/ContributorCovenant/contributor_covenant/pull/675

[2019-05-29 16:00] bhack commented on #149
You can add  [![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-v1.4%20adopted-ff69b4.svg)](code-of-conduct.md)  in the readme.me

[2019-05-29 16:05] edgarriba commented on #149
mmm, too many badges. Want to keep it simple :D
I will add a small section with a couple of lines in the readme pointing this out.

[2019-05-29 16:28] edgarriba commented on #149
closing this due to https://github.com/arraiyopensource/kornia/pull/151 and https://github.com/ContributorCovenant/contributor_covenant/pull/675

[2019-05-29 16:28] #149 closed

[2019-05-31 23:04] bhack commented on #146
Can we close now?

[2019-06-01 06:09] #146 closed

[2019-06-01 16:38] bhack commented on #133
Is it solved?

[2019-06-01 17:07] edgarriba commented on #147
fixed in https://github.com/arraiyopensource/kornia/pull/153

[2019-06-01 17:07] #147 closed

[2019-06-02 12:03] bhack opened #154 "[DOCS] Points clipping"
When we use use Transform points i.e. from 3d points to the camera plane it is not possible to do visibility clipping after https://github.com/arraiyopensource/kornia/blob/master/kornia/geometry/linalg.py#L212 caused by clipping ambiguities in the return values after the internal embedded normalisation at that line.

Also w could assume 0 values without clipping.

See http://medialab.di.unipi.it/w

[2019-06-03 13:34] bhack commented on #154
Check also https://github.com/opencv/opencv/issues/14703

[2019-06-04 22:39] edgarriba commented on #144
closing in favor of https://github.com/arraiyopensource/kornia/pull/150

[2019-06-04 22:39] #144 closed

[2019-06-05 15:05] stefat77 opened #157 "Meaning of the Homography in HomographyWarper"
Hello,
I'm doing some tests with the HomographyWarper function to find out how it uses the homography to warp the tensor.
In the following code I'm trying to track a point in a image. Both the image and the point are warped using the same homography. The warped point must be mapped at the same location of the warped image:

[code]

In this case the image is translated to the left while the point i

[2019-06-05 16:37] edgarriba commented on #157
@stefat77 thanks to try kornia :D

I see one thing in your code example: when you normalize the sample point, what are your coordinates convention ? According to our convention, I suspect that you normalize in the other way around since we assume {x, y}

Check how we create the base grid: https://github.com/arraiyopensource/kornia/blob/master/kornia/utils/grid.py#L38

Hope this helps.

[2019-06-05 16:48] edgarriba commented on #107
closing this since in the last commits this has been incrementally fixed

[2019-06-05 16:48] #107 closed

[2019-06-06 10:08] stefat77 commented on #157
@edgarriba Thank you for the reply!
I changed the convention, but I still have troubles.
I have also noticed that the top left corner should have [1,1] normalized coordinates, while the bottom right corner should have [-1,-1] (torch.grid_sample has the opposite convention).
I changed the normalization equations as follows:

[code]

In this case with...
 - {x,y} convention
 - top left pixel having

[2019-06-06 10:55] edgarriba commented on #157
@stefat77 I think you are normalizing wrong. I compared it with [kornia.normalize_pixel_coordinates](https://kornia.readthedocs.io/en/latest/geometry.conversions.html#kornia.geometry.conversions.normalize_pixel_coordinates) and the sign you get is inverted.

[2019-06-06 10:56] edgarriba commented on #157
another question, is this homography for normalized coordinates ?

[2019-06-06 12:14] stefat77 commented on #157
@edgarriba thank you for your patience!
I wrote everything using kornia libraries:

[code]
But again, the point in not warped as the image.

It's just a homography I made up randomly. Why should the homography be specific for normalized coordinates?

[2019-06-07 08:17] stefat77 commented on #157
@edgarriba I solved the problem. I don't know why, but if I warp the image with the homography H and the point with the inverse homograpy H^-1 then the point and the image are warped in the same way.

[2019-06-07 15:13] edgarriba commented on #157
@stefat77 oh, now I see what you want to check.

I played around with you code and I can confirm that for going from a -> b you need to pass the homography from b -> a. The reason is that since we want to generate patch b, we need to sample from a and for this we need to pass the inverse transform since we have to retrieve pixels in the other direction. I encourage you to go in deep to the homogra

[2019-06-07 15:20] edgarriba opened #159 "[DOCS] Fix homography warper docs"
As discussed and proved in https://github.com/arraiyopensource/kornia/issues/157 we need to:

1. Replace in documentation `dst_homo_src` -> `src_homo_dst`.
1.1 Add integration test for 1) - probably the code I shared in https://github.com/arraiyopensource/kornia/issues/157
2. Call `kornia.normalize_pixel_coordinates` in [here](https://github.com/arraiyopensource/kornia/blob/master/kornia/geometry/

[2019-06-07 15:21] edgarriba commented on #159
@stefat77 could you contribute with this ?

[2019-06-07 15:22] edgarriba commented on #157
closing in favor of https://github.com/arraiyopensource/kornia/issues/159

[2019-06-07 15:22] #157 closed

[2019-06-11 22:04] edgarriba opened #163 "[FEAT] Implement Conv SAME"
Import Conv SAME from: https://github.com/rwightman/pytorch-image-models/blob/ema-cleanup/models/conv2d_same.py

This will be useful for filtering to avoid black borders

[2019-06-11 23:16] bhack commented on #163
https://github.com/pytorch/pytorch/issues/3867

[2019-06-13 14:23] Daiver opened #165 "[FEATURE] Rendering/rastering stuff"
Hi guys! Thank you for great library
Is there any plans to implement 3d model rendering/rastering? Probably like https://github.com/tensorflow/graphics

[2019-06-13 14:49] edgarriba commented on #165
hi @Daiver ! kornia (torchgeometry before) and tf.graphics are quite overlapped.

Please, take a look at the geometry module since we already cover part of the camera api. Not real plans to introduce rendering/rastering at this very moment since we are refactoring some of the api and make the codi compliant with jit in order to be used in production. However, if you feel that you can contribute wi

[2019-06-13 14:54] edgarriba opened #166 "[FEATURE] Dstnn implementation"
We might want to introduce `dstnn` under contrib as discussed in https://github.com/arraiyopensource/kornia/issues/138#issuecomment-496554834

[2019-06-13 14:55] edgarriba commented on #166
@anibali how's your schedule to contribute with it ?

[2019-06-13 14:56] edgarriba commented on #138
closing this since solved in https://github.com/arraiyopensource/kornia/issues/166

[2019-06-13 14:59] #86 closed

[2019-06-13 15:04] edgarriba commented on #130
@Msabih could you contribute with this patch and a quick test ?

[2019-06-13 15:07] edgarriba commented on #133
@jiangwei221 @Msabih can we close this ?

[2019-06-13 15:09] edgarriba commented on #154
@bhack what's the decision for this ?

[2019-06-13 15:14] bhack commented on #154
In Tensorflow design it is responsibility of the user to filter 3d points to avoid Inf/Nan. See https://github.com/tensorflow/graphics/issues/17

[2019-06-13 15:24] edgarriba commented on #154
ok, right. Let's just update our docs to behave similar.

[2019-06-14 00:19] anibali commented on #166
I'll work on it today and see how far I get.

[2019-06-14 08:18] Daiver commented on #165
@edgarriba thank you for your attention! it's super simple module for my own pet projects but I don't mind :) But i'm not sure that i have enough time.
Also i have super naive rasterization too, btw (somewhere).

[2019-06-24 08:43] #163 closed

[2019-06-25 02:09] S-aiueo32 opened #170 "[FEATURE] Add borderType option to kornia.filters like OpenCV"
`kornia.filters` operations have no option like `borderType` on OpenCV.
In my experience, `borderType` is the most critical argument in the arguments that is not in `kornia.filters`.
To reproduce it, I suggest the changes like below:
[code]

[2019-06-25 10:05] edgarriba commented on #170
@S-aiueo32 you are absolutely right. However, [`torch.conv2d`](https://pytorch.org/docs/stable/nn.html#id22) only implements `zeros` or `circular` padding modes. To address this issue, as @ducha-aiki suggested in
https://github.com/arraiyopensource/kornia/pull/168, we need to manually pad the input using `torch.pad` which already implement more advanced padding techniques. In order to generalize t

[2019-06-26 01:40] S-aiueo32 commented on #170
I had noticed that `torch.conv2d` has a poor option for padding after my post.
So... how long will it take to release `filter2d` operation?
If it takes a lot, I think it is needed to make ad hoc changes for `border_type` using pure `pad` operation.
[code]

[2019-06-26 06:23] edgarriba commented on #170
@S- aiueo32 check this out . Already merged https://github.com/arraiyopensource/kornia/pull/171

[2019-06-26 06:27] S-aiueo32 commented on #170
Ohhhh... I missed it.
Thank you for the great job.

[2019-06-26 06:27] #170 closed

[2019-06-26 07:16] edgarriba commented on #170
Yeap, it's something we needed for a while. I've seen you implemented YCbCr, are you planning to send a PR? The is a lot of color stuff to be done 😆

[2019-06-26 07:46] S-aiueo32 commented on #170
@edgarriba Yeah, I'll throw it.

[2019-07-01 06:16] maoyali opened #173 "Is it compatible with python 2.7?"
![image](https://user-images.githubusercontent.com/31682925/60414521-fa08d680-9c0a-11e9-948e-9dcc8e1d4b9b.png)
there are some problems happened, but i donn't know how to solve it,who can tell me why?

[2019-07-02 13:54] edgarriba opened #175 "[DOCS] missing docs for `normal_transform_pixel`"
function [`normal_transform_pixel`](https://github.com/arraiyopensource/kornia/blob/master/kornia/geometry/transform/imgwarp.py#L23) have missing docs and tests.

TODO:
- add function to docs: https://github.com/arraiyopensource/kornia/blob/master/docs/source/geometry.transform.rst
- create few unit tests
- potentially move the function to `kornia.geometry.conversions`

[2019-07-03 13:27] edgarriba commented on #173
@maoyali kornia is compatible only with python >= 3.6.
The main reason is because python 2 is about to be deprecated see: https://pythonclock.org
In addition, python typing syntax from 2 and 3 is quite different.

BTW, what version of kornia are you using ? In theory in last versions, an error should be raised in case of python versions mismatch. Check: https://github.com/arraiyopensource/kornia/b

[2019-07-03 13:29] maoyali commented on #173
I have solved it with python3.6, thank you ~

[2019-07-03 13:49] edgarriba commented on #173
perfect. I'm closing this

[2019-07-03 13:49] #173 closed

[2019-07-05 20:26] varunagrawal opened #178 "Quaternion Representation"
Currently, all the quaternion operations assume the structure is `[x, y, z, w]`. However, as per the vision/robotics/graphics literature as well as countless libraries like [transforms3d](https://matthew-brett.github.io/transforms3d/reference/transforms3d.quaternions.html) and [pyquaternion](http://kieranwynn.github.io/pyquaternion/#default), the canonical representation for quaternions is always

[2019-07-05 22:10] edgarriba commented on #178
@varunagrawal Sure, go ahead with it. At some point I was even planning to implement a Quaternion class. We are open to discuss it.

[2019-07-06 14:20] bhack commented on #178
What is the standard in very popular 3d engines?
https://docs.unity3d.com/ScriptReference/Quaternion.html

https://api.unrealengine.com/INT/API/Runtime/Core/Math/FQuat/index.html

[2019-07-08 17:10] varunagrawal commented on #178
@bhack that's interesting. Even ROS uses `[x, y, z, w]` so there doesn't seem to be a standard. Would it then be easier to simply update the docs and let users know that they should expect quaternions in `[x, y, z, w]`?

[2019-07-14 01:34] krrish94 opened #181 "[BUG] Bug in _compute_projection ?"
It seems to me that there is a bug in the `DepthWarper` class (in the `_compute_projection`) function.

https://github.com/arraiyopensource/kornia/blob/master/kornia/geometry/warp/depth_warper.py#L96

`z` is to be actually computed as `1. / flow[:, 3]` as opposed to `1. / flow[:,2]`. (Recall that `flow` is computed from `point`, which is ordered on Line 93 of the same script as `torch.FloatTensor(

[2019-07-17 09:18] ducha-aiki opened #188 "Make test not stop on 1st failure"
When I do "make test" it goes just up to first failure and then stops. It would be much better, if instead it goes for all the tests always.

[2019-07-17 09:44] ducha-aiki opened #190 "mypy problems"
Hi,

There are problems with typing, specifically:

1) kornia/feature/laf.py:96: error: "Tensor" has no attribute "contiguous"; maybe "is_contiguous"?
I am not the only one with such problem
https://gitmemory.com/issue/pytorch/pytorch/21261/498439370

2) kornia/feature/laf.py:115: error: Unsupported operand types for - ("float" and "Tensor")

Pytorch works with floats just fine. I think, this shou

[2019-07-17 10:31] edgarriba commented on #188
I'm looking for any pytest command line option to do so

[2019-07-17 10:31] edgarriba commented on #190
as 1, no clue.
as for 2, I hacked it in some places by wrapping floats to -> `torch.tensor(1.)`

[2019-07-17 13:53] ducha-aiki opened #192 "[Feat] Turn on JIT tests"
JIT tests have been temporaly disabled since recent torch version changed the API. This might require to take a look at it again. See https://github.com/arraiyopensource/kornia/pull/191

[2019-07-17 20:20] varunagrawal commented on #178
Closing this since #179 fixes it.

[2019-07-17 20:20] #178 closed

[2019-07-18 12:22] ducha-aiki opened #194 "[FEAT] LAF improving"
Todo`s for after paper deadline:

- [ ] convert from OpenCV keypoints
- [ ] extract patches w/o for loop for images. The problem is that there can be different number of features per scale, so batch is not really the batch

https://github.com/arraiyopensource/kornia/pull/182

[2019-07-29 20:28] ducha-aiki opened #199 "[FEAT/DOC] Add __repr__ to nn.Module"
The most of modules are lacking very useful `__repr__` function. I am leaving this issue open until we catch-up.

- [ ] create list of missing `__repr__` s
- [ ] fix all the old functions
- [ ] add some test to lint to require `__repr__` existence

[2019-07-29 21:44] mez opened #200 "Are there plans to make a C++ interface available?"

[2019-07-30 12:47] edgarriba commented on #199
@ducha-aiki what info do you want to output ?

[2019-07-30 14:01] ducha-aiki opened #202 "Refactor the filter kernels into filters.kernels.py"

[2019-07-30 14:02] ducha-aiki commented on #199
It depends on the Module. E.g. for  CornerHarris, it would be the k, for GaussianBlur - kernel size and sigma, etc.

[2019-08-02 20:00] varunagrawal commented on #145
@edgarriba quick question: does it make sense to have the operations have batch options?
I personally feel this makes the code more complex for a very small use case. In the most likely cases, the user will perform the transformation in the dataloader before the batching takes place.

[2019-08-02 21:02] ducha-aiki commented on #145
Sure it makes sense. You can do then lots of color transforms, then concat and learn The color.
https://github.com/ducha-aiki/caffenet-benchmark/blob/master/Colorspace.md

There was also recent paper about it.

Or - you may want to learn color-invariant transformation. One of the ways to do it - make that transform differentiable, like for the geometry (spatial transformers)

[2019-08-02 21:34] edgarriba commented on #145
Or maybe the "standard" approach for data augmentation is incorrect and the way to go is doing the transforms once the batch is created directly in the you

[2019-08-02 22:34] varunagrawal commented on #145
Alright.

However, this issue needs to be better defined. The transformations requested make use of the properties of various color spaces, and this requires the input tensor to be `uint8` for many of those color space transforms to make sense. This is also how PIL does it.

However, #195 seems to accept tensors between 0 and 1, and this begs the question, whether is this valid or should we restri

[2019-08-03 11:54] priba commented on #145
Hi,

At the moment I considered the input to be between 0 and 1. When I thought about it, it makes more sense from my point of view. Shall we change or allow it to be between [0, 255]?

Also, I am a bit confused when I compare the brightness/contrast adjust between PIL (torchvision) and OpenCV. In [OpenCV](https://docs.opencv.org/3.4.3/d3/dc1/tutorial_basic_linear_transform.html), brightness is de

[2019-08-06 16:09] varunagrawal commented on #145
What would your point of view be? Most image manipulation programs use `uint8` types with the values being `[0-255]` since the conversion operations for different color spaces are defined with respect to that (though one can argue mathematically that 0-255 can be scaled to 0-1, but I am not sure how that would affect clamping of values , which it technically shouldn't).

Hence my argument for fles

[2019-08-07 08:11] priba commented on #145
As kornia is a differentiable computer vision library I understand that these modules can be used in any stage of the model. Hence, we will usually deal with real values rather than `uint8`. That's why I considered the input to be between 0 and 1.

[2019-08-07 13:24] edgarriba commented on #145
@priba you are right, the assumption is correct, we are not a standard vision library and we might want to represent images from the point of view of feature tensors.
@varunagrawal It's true that we might want to mimic some of the `torchvision` interfaces however the goal of the library is for training, meaning that the operators don't have to be limited to consume only `uint8` images. We should e

[2019-08-08 12:31] priba commented on #145
@edgarriba I am a bit confused with the differences between PIL (torchvision) and OpenCV for brightness and contrast. Once this is clear I can continue with the missing items.

[2019-08-12 18:39] darleybarreto opened #205 "[FEATURE] Add padding_mode option to transformations"
I would like to point out some small changes on functions and classes using HomographyWarper. For example, when performing any transformation (Rotate, Translate, etc), it is not possible to change the default padding_mode, although HomographyWarper class has a field for this.

[2019-08-13 08:43] ducha-aiki commented on #202
Done in https://github.com/arraiyopensource/kornia/pull/198

[2019-08-13 08:43] #202 closed

[2019-08-21 14:28] edgarriba commented on #205
@darleybarreto thanks for pointing out. I add this feature as a request so that we can include it in the next release. As usual, any help will be appreciated :D

[2019-08-21 14:59] edgarriba commented on #181
@krrish94 the DepthWarper class has to be refactored very soon. I'll work on that.

[2019-08-29 13:26] penguinbing opened #208 "Perspective"
It seems that kornia's "get_perspective_transform" function didn't consistent with OpenCV's "getPerspectiveTransform". Is any bug there?

[2019-08-29 15:08] edgarriba commented on #208
@penguinbing do you have any example that shows that ?

[2019-08-30 02:02] penguinbing commented on #208
[code]
And get the result below:
[code]

[2019-08-30 04:27] cvfish opened #209 "kornia.angle_axis_to_rotation_matrix does not seem working"
Hi there,

I did a pip install from source and found that
konia.angle_axis_to_rotation_matrix and konia.rotation_matrix_to_angle_axis are not consistent.

I did the following:

input = torch.rand(1, 3)
output = kornia.angle_axis_to_rotation_matrix(input)
input_back = kornia.rotation_matrix_to_angle_axis(output)

input and input_back will not be the same.

Also I tried quaternion, which seems worki

[2019-08-30 04:50] cvfish commented on #209
Further inverstigation seems that kornia.angle_axis_to_rotation_matrix is correct, while kornia.rotation_matrix_to_angle_axis is wrong.

[2019-08-30 09:36] edgarriba commented on #209
@cvfish pip version of kornia is outdated. Have you tried with master ? We plan a release within the next couple of weeks with a lot of fixes since last version. Let us know, otherwise we can investigate whether there's a bug in that function.

[2019-08-30 18:10] cvfish commented on #209
I actually tried the pip install from source using command

pip install git+https://github.com/arraiyopensource/kornia

Is this version up to date ?

[2019-09-03 01:30] penguinbing commented on #208
Any advice? Thank you. @edgarriba

[2019-09-03 09:46] edgarriba commented on #208
@penguinbing you have a bug in your code, checkout that line:
bottom_left  = (top_left[0], patch_size+**top_left[0]**) -> **top_left[1]**

[2019-09-03 09:46] #208 closed

[2019-09-03 11:42] penguinbing commented on #208
Thank you very much. I'll pay more attention to my code next time.

[2019-09-09 11:41] bhack commented on #166
We can close this

[2019-09-09 13:04] edgarriba commented on #166
yes

[2019-09-09 13:04] #166 closed

[2019-09-11 09:35] edgarriba opened #214 "[OPTIMIZATION] disabled gradcheck test for extract patches"
The gradient check tests for `TestExtractPatchesSimple` and `TestExtractPatchesPyr` have been temporally disabled due to it takes 9min respect to 4min when are disabled. Detected during the migration of the tests to CircleCI in #212.

We should look for alternatives in the input sizes or look at the implementation to optimize the functionality.

[2019-09-19 16:43] jasam-sheja opened #217 "kornia.readthedocs.io is not pointing to this repository!"
Hello,
This might not be the place for such issues, but I don't where else to put it.

The links on this repository are leading to kornia.readthedocs.io. However, The 'Edit on GitHub' at kornia.readthedocs.io is not leading to this repository but actually gives a 404 page on GitHub.

[2019-09-19 16:52] jasam-sheja opened #218 "The optional arguments for warp_affine and warp_perspective are not active"
These two functions don't utilize their optional arguments.

kornia.geometry.transform.mgwarp.warp_affine:
`flags` (probably should be named `mode`) is not passed down or used
same for `padding_mode`

kornia.geometry.transform.mgwarp.warp_perspective:
its optional arguments are not mentioned in the documents!
`flags` (probably should be named `mode`) is not passed down or used
same for `border_mod

[2019-09-24 17:00] edgarriba commented on #217
hi @jasam-sheja this should fix it: https://github.com/arraiyopensource/kornia/commit/5a153430806ad51be0caefa5969974ebb8840a93

[2019-09-24 17:00] #217 closed

[2019-09-26 05:46] CoinCheung opened #220 "How could I set affine transform fill value?"
Hi,

Thanks for providing this helpful library, I have just read the api documentation, and I did not find the option to set the fill value for affine transformations. How could I do this please?

[2019-09-26 09:11] edgarriba commented on #220
@CoinCheung not sure if I understand what are you asking for.  Could you provide a more explicit example or any snippet so that can be easily implemented in case it is not. In that case, I'll add as a feature request.

[2019-09-26 09:19] ducha-aiki commented on #220
@CoinCheung do you mean border-fill mode?

[2019-09-26 09:27] CoinCheung commented on #220
yes, suppose I use affine transform to shear an image, after the operation, there would be triangle borders at the corners of the image. Opencv set these corners to be 0 by default, but it also leaves an option to set it to other values: `cv2.warpAffine(..., borderValue=255)`. Could I do the same thing with kornia ?

[2019-09-26 11:16] edgarriba commented on #220
oh, I see. I think this is related https://github.com/arraiyopensource/kornia/issues/218

[2019-09-27 14:09] tpet commented on #173
Having an initial fork for Python 2 if anybody is interested, not much tested yet.

https://github.com/tpet/kornia/tree/python2

[2019-09-27 15:41] edgarriba commented on #173
cool ! but be aware that pytorch is dropping out support for python2
https://discuss.pytorch.org/t/dropping-python-2-support-on-january-1st-2020/56730

[2019-09-29 17:59] edgarriba opened #223 "[Feature Request] Generic type and shape checks"
We might want to have generic functions to assert variables type and shapes.

See discussion: https://github.com/arraiyopensource/kornia/pull/219#discussion_r328084624

[2019-09-29 18:02] edgarriba commented on #218
@jasam-sheja @CoinCheung  I mark this as a feature request for v0.1.4

[2019-09-29 18:02] edgarriba commented on #220
closing for duplication in #218

[2019-09-29 18:02] #220 closed

[2019-09-29 18:33] edgarriba commented on #209
@cvfish installing directly with pip+git gives you the version in master. Have you found any workaround for this issue ? an alternative could be comparing against tf.graphics that implements same features https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/geometry/transformation/axis_angle.py#L147

[2019-09-29 18:34] edgarriba commented on #205
closing this for duplication https://github.com/arraiyopensource/kornia/issues/218

[2019-09-29 18:34] #205 closed

[2019-09-29 18:37] edgarriba commented on #200
@mez unless there's a massive claim for it, we do not plan to provide such feature. The development team is quite small and we have other priorities right now. Said that, if anyone comes with a good plan we will more than happy to consider such contribution.

[2019-09-29 18:38] edgarriba commented on #200
closing. Please, reopen in case someone is really interested in this.

[2019-09-29 18:38] #200 closed

[2019-09-29 18:40] edgarriba commented on #194
@ducha-aiki please update this with whatever is missing. Otherwise, close it.

[2019-09-29 18:42] edgarriba commented on #190
@ducha-aiki is this still happening ?

[2019-09-29 18:46] edgarriba commented on #188
@ducha-aiki is this still happening ?

[2019-09-29 18:53] edgarriba commented on #181
@krrish94 we recentyl introduced `kornia.perspective.project_points` which I believe that can be replaced by compute_projection. Actually, thinking to drop it out from the API.

https://kornia.readthedocs.io/en/latest/geometry.camera.perspective.html#kornia.geometry.camera.perspective.project_points

[2019-09-29 18:54] edgarriba commented on #165
@Daiver any update on this ?

[2019-09-29 18:58] edgarriba commented on #145
@priba what are the actual differences? can we bootstrap this somehow ? /cc @dvd42 can you help with that task?

[2019-09-29 19:00] edgarriba commented on #133
I think this is solved. Closing.

[2019-09-29 19:00] #133 closed

[2019-09-29 19:01] edgarriba commented on #130
@Msabih @bhack was this solved ? Otherwise I'm closing it.

[2019-09-29 19:03] edgarriba commented on #106
@ducha-aiki what do you think about it ? We currently use autopep8, however I recently discovered `black` to autoformat.

[2019-09-29 19:05] edgarriba commented on #85
Going to refactor at some point the depth warper. We can resume the discussion by the. Closing this now.

[2019-09-29 19:05] #85 closed

[2019-09-29 19:07] edgarriba commented on #51
Closing this in favor of 30099b4b0481f4151b893f77d7bf297ee47d268b

[2019-09-29 19:07] #51 closed

[2019-09-29 19:09] edgarriba commented on #23
@bhack we provide some benchmarks in the paper. I close this by now. We can think to have a tutorial showing performance.

[2019-09-29 19:09] #23 closed

[2019-09-29 20:01] krrish94 commented on #181
Yes, that sounds about right.

[2019-09-30 10:42] ducha-aiki commented on #214
It looks like all the spatial-transformer-like grad checks are very slow compared to the rest of functions.
Probably the only possible thing to speed-up is  to reduce image/grid sizes

[2019-09-30 10:44] ducha-aiki commented on #194
Well, you are again the 1st.
Regarding the 2nd, I have thought a lot about it, but cannot find a way.
Except, fixing the # of features per pyramid level, e.g. in proportion to resp. image area.

But this requires benchmarking on, say Oxford Affine and HPatches, at least

[2019-09-30 10:45] #188 closed

[2019-09-30 10:46] ducha-aiki commented on #190
Yes, both. I put `# type: ignore` on those lines

[2019-09-30 10:59] ducha-aiki commented on #106
I am mostly doing this manually, because autopep8 and black are ugly.
So I am against pre-hook

[2019-09-30 14:10] edgarriba opened #225 "[Feat] add device and dtype to create_meshgrid"
Would like to be able to pass to `kornia.create_meshgrid` parameters like the `batch_size` and a `device`.

Open to discuss an API for this.

[2019-09-30 19:49] edgarriba commented on #190
ok. I'll ask in pytorch slack.

[2019-09-30 19:54] edgarriba commented on #214
yeap, you can try to reduce the input - that's what I did for the warpers.

[2019-09-30 19:55] edgarriba commented on #106
closing this. If anyone have any objection, please feel free to reopen the discussion.

[2019-09-30 19:55] #106 closed

[2019-09-30 19:55] bhack commented on #190
For the 1st One is this useful?

https://github.com/pytorch/pytorch/commit/2e59a0a646883f6b20f2e0d0af9c795e629bc115

[2019-09-30 19:57] edgarriba commented on #194
ok, let's keep this ticket open until it's 2nd it's finished.

[2019-10-06 17:40] edgarriba opened #229 "[Feature Request] Flip image"
Implement the following flip routines:

[code]

[2019-10-06 17:51] edgarriba opened #230 "[Feature Request] normalize accepts float as arguments"
we might want that normalize accepts as input the mean and std as floats

[2019-10-06 17:51] edgarriba opened #231 "[Feature Request"

[2019-10-06 17:51] #231 closed

[2019-10-06 17:54] edgarriba commented on #230
we might want that normalize accepts as input the mean and std as floats

[2019-10-06 18:23] edgarriba opened #232 "[BUG] AdjustBrightness module should receive factor"
The implementation of AdjustBrightness module is wrong. It  should receive the factor in the constuctor. See the fixed example:

https://github.com/arraiyopensource/kornia/blob/master/kornia/color/adjust.py#L21-L28

[code]

[2019-10-06 18:46] edgarriba opened #233 "[Feature Request] Implement addWeighted"
we might want to implement `addWeighted` from OpenCV.

https://docs.opencv.org/3.4/d2/de8/group__core__array.html#gafafb2513349db3bcff51f54ee5592a19

the motivation is that all can be used as base to implement all the adjust functions

[2019-10-09 06:51] Oktai15 opened #239 "[Feature request] RGB to Lab, Lab to RGB"
It would be great if you implemented differentiable conversation between RGB and Lab.

[2019-10-09 15:51] HassanAlsamahi opened #241 "No module named test.common error"
I am trying to test the colors conversion using the script
`test_gray.py` running from every directory, `kornia`, `kornia/test`, and `kornia/test/colors`, the same error pops. what to do to run tests?

the error:
`Traceback (most recent call last):
  File "test/test_losses.py", line 5, in <module>
    from test.common import device_type
ModuleNotFoundError: No module named 'test.common'`

[2019-10-09 23:45] edgarriba commented on #241
You should run tests with `pytest test_`

[2019-10-10 06:42] #230 closed

[2019-10-10 08:46] HassanAlsamahi commented on #241
thanks that worked

[2019-10-10 08:46] #241 closed

[2019-10-10 15:23] HassanAlsamahi opened #244 "[Enhancement] Input of functions in color conversions."
I've noticed that the input of some functions in color conversions, has to be floating points and normalized, and I know that this is required for the conversion, but what about implementing the floating conversion and normalization inside the function so that it doesn't confuse the user?

[2019-10-11 12:21] anhle-uet opened #245 "How to use kornia.utils.metrics.mean_iou?"
I want to compute mIOU for evaluating semantic segmentation results. Does **input** and **target** have to be converted to one-hot by: **kornia.utils.one_hot** or just stay the same with shape **NxHxW**?

[2019-10-11 12:44] ducha-aiki commented on #245
They don`t need to be one-hot, instead integers ( classes idxs). I recommend to convert BxChxHxW to (B*H*W)xCh

tensor.permute(0, 2, 3, 1).view(-1, ch)

[2019-10-11 18:44] aerobio opened #246 "np.ndarray should be used instead of np.array in type hints"
The tutorials and the documentation show the use of **np.array** as the return type for methods returning numpy arrays. For example:

    img_bgr: np.array = cv2.imread('./data/arturito.jpeg')

However, the class defining an array in numpy is **np.ndarray**, while **np.array** is a function that constructs arrays:

    <class 'builtin_function_or_method'>

    <class 'type'>

Static checkers like

[2019-10-12 02:22] ebarcikowski opened #247 "Typo in requirements.txt"
Two small mistakes in the `requirements.txt` file.

For opencv (line 6) I had to use

[code]

Also, line 22 should be:
[code]

[2019-10-12 10:23] moizsajid commented on #232
It looks like this bug has been resolved.

[2019-10-12 11:21] moizsajid commented on #229
Should these operations be implemented inside kornia.utils component?

[2019-10-12 11:23] dvd42 commented on #229
@moizsajid they are already implemented, we will merge them really soon.

[2019-10-12 14:04] edgarriba commented on #232
True. Closing this

[2019-10-12 14:04] #232 closed

[2019-10-14 09:26] ananyamukh6 opened #251 "Implement total variation"
Created a PR to implement total variation (for 3d and 4d tensors). Also added an image denoising example using total variation regularization

https://github.com/arraiyopensource/kornia/pull/250

[2019-10-15 02:27] #245 closed

[2019-10-15 07:48] minihops123 opened #252 "[Docs] [Bug] in /examples/depth_regression/main.py"
Hello,
i tried to run examples/depth_regression/main.py using the example command line provided in the readme.
However, I get the error

module 'kornia.utils' has no attribute 'create_pinhole'

I was searching for this function on github but did not found that.

I installed kornia via
pip3 install git+https://github.com/arraiyopensource/kornia

Thanks! I'm looking forward to try your code!

[2019-10-17 10:14] edgarriba commented on #252
this example will be updated soon

[2019-10-17 10:15] edgarriba commented on #246
@aerobio you are right. We will update. Any help is always welcomed :D

[2019-10-17 10:19] edgarriba commented on #244
if it's well specified in the docs I don't think it's confusing. The target of the library is training and we usually deal with normalized tensors. In pytorch 1.3 there is quantization by default, but not sure how this can help.

[2019-10-17 10:20] edgarriba commented on #251
closing this in favor of https://github.com/arraiyopensource/kornia/pull/250

[2019-10-17 10:20] #251 closed

[2019-10-17 10:29] edgarriba commented on #239
@Oktai15 thanks for the request. I add here a reference link from OpenCV so that we can start looking into it before starting the implementation: https://docs.opencv.org/master/de/d25/imgproc_color_conversions.html

[2019-10-17 10:32] edgarriba opened #256 "[Feature Request] BGR to gray"
we have RGB to Gray but not BGR to Gray.

[2019-10-17 10:35] edgarriba opened #257 "[Feature Request] Implement Chamfer Loss"
we might want to evaluate having Chamfer loss

https://github.com/345ishaan/DenseLidarNet/blob/master/code/chamfer_loss.py

this also might require a much clean implementation of the distance_matrix implementation

https://discuss.pytorch.org/t/efficient-distance-matrix-computation/9065
see B: quadratic form

[2019-10-17 10:42] ducha-aiki commented on #257
First we should check torch.pdist speed and memory, because its performance is likely to improve with times.

[2019-10-17 10:43] ducha-aiki commented on #257
If it is too bad, I have a batched version of variant C, which combines low memory footprint of C and speed of B. Might submit it as some time

[2019-10-17 11:03] edgarriba commented on #257
sounds good

[2019-10-19 12:10] HassanAlsamahi commented on #256
I'll work on this

[2019-10-21 03:38] zccyman opened #269 "[Feature Request] minimum enclosing rectangle"
How do I get the minimum enclosing rectangle like  using the OpenCV function minAreaRect?

[2019-10-21 07:43] edgarriba commented on #269
@zccyman nice feature request ! I open here a discussion with things to consider:
- API
[code]
where points is a tensor with shape (B, N, 2) and should return a rotated rectangle which I guess can be parametrized by: [x_center, y_center, height, width, orientation], so return shape is (B, N, 5).

- I include here a reference for the implementation
https://gis.stackexchange.com/questions/22895/find

[2019-10-21 08:13] dvd42 opened #270 "CI Fails testing the Sift Descriptor"
The CI fails whenever testing the  `test_batch_shape_non_std function` from the sift descriptor because it takes too long.

[code]
Is there an easy way to fix this?

[2019-10-21 08:19] ducha-aiki commented on #270
@dvd42 what happened with CI setup then? Tests were working last week for sure

[2019-10-21 08:34] dvd42 commented on #270
Ok it seems like its not consistent, sometimes it breaks because the test took too long and other times it just runs fine. Unfortunately I am unaware of how the CI works internally and don't now what the problem might be.

[2019-10-21 08:52] edgarriba commented on #270
I've seen this behavior in some PRs. Let's keep tracked of this

[2019-10-21 14:00] #229 closed

[2019-10-21 14:49] ducha-aiki opened #271 "[Feature request] CLAHE implementation"
Recent ICCV 2019 paper (http://cmp.felk.cvut.cz/daynightretrieval/)  shows that CLAHE filtering greatly improves day-night recognition and is not worse than complex learned image translation stuff.  Besides CNNs, CLAHE was used for a long time for king of illumination-invariant recognition
I think, it is good thing to have in kornia.

![image](https://user-images.githubusercontent.com/4803565/6721

[2019-10-21 19:45] jph00 commented on #269
FYI `fastai2.medical.imaging.mask2bbox` does something fairly similar to what's requested in this issue. Although it's not a rotated box, and it uses a mask as input (use `torch.nonzero` to turn this into a list of points).

https://github.com/fastai/fastai_dev/blob/master/dev/local/medical/imaging.py#L175

[2019-10-22 06:08] ananyamukh6 opened #273 "Implement PSNR loss"
Created a PR here: https://github.com/arraiyopensource/kornia/pull/272

[2019-10-22 07:57] zccyman opened #274 "dsnt calculate numerical coord in heatmaps"
I think this dsnt is similar to coordinate calculation of (PoseFix)[https://arxiv.org/pdf/1812.03595.pdf].Is it possible to substitute posefix method for dsnt. In my opinion, I use posefix method more convenient
than dsnt,  no need to convert to image size from small digits in pose estimation.

[code]

[2019-10-22 13:31] turboxin opened #275 "[Feature Request] fp16 support?"
Hi, does kornia support fp16 now?

[2019-10-22 18:21] edgarriba commented on #275
@turboxin we don't have half precision tests so expect adventures with it. Do you have any immediate need ? we could start trying those.

[2019-10-22 19:14] pablovela5620 opened #276 "image_to_tensor with dataloader question"
I'm a bit confused as to how `kornia.image_to_tensor()` is used with a data loader or if I should just use numpy's transpose method.

As it stands if I load an image in using opencv for my own dataset I get back a numpy array of shape `(HxWxC)`, `kornai.image_to_tensor` will convert this into a tensor of shape `(BxCxHxW)`. This works fine if you're not using pytorch's dataloader, but if you are th

[2019-10-22 22:26] pablovela5620 opened #277 "Can kornia be used for bounding box/ keypoint data augmentation"
I see this can be used for different affine/perspective transformations for an image, can this library also be used to perform the same transformation on bounding box/ keypoint coordinates batched on the gpu? If so how?

[2019-10-23 02:22] turboxin commented on #275
Hi @edgarriba, thanks for replying.
I tested warp_affine with fp16 input, it seems that torch.inverse() used in line49 of kornia.geometry.transform.imgwarp.py doesn't support fp16 with this error: "inverse_cuda" not implemented for "Half".
I don't have immediate need now since I could just convert fp16 input to fp32 before putting into warp_affine and convert back afterwards. But I guess it would

[2019-10-23 02:22] #275 closed

[2019-10-23 08:42] zccyman opened #278 "[Feature Request] draw polygonal curves use kornia"
How do I draw polygonal curves like using the OpenCV function cv2.polylines when I have known coordinates?

[2019-10-23 10:02] bhack commented on #275
Partially this depend on the base op converge on FP16 in pytorch directly.

[2019-10-23 10:40] ducha-aiki opened #279 "[Feature request] add perspectiveTransform for keypoints/bboxes"
https://docs.opencv.org/2.4/modules/core/doc/operations_on_arrays.html#void%20perspectiveTransform(InputArray%20src,%20OutputArray%20dst,%20InputArray%20m)

[2019-10-23 10:45] ducha-aiki commented on #277
Not yet exactly. We will add this for our plan. https://github.com/arraiyopensource/kornia/issues/279
In mean time, if you have transformation in format of homography matrix, you can use this function:

https://kornia.readthedocs.io/en/latest/geometry.linalg.html#kornia.geometry.linalg.transform_points

[2019-10-23 10:47] ducha-aiki commented on #278
We don`t have drawing functions yet I believe, except rendering blobs:

https://kornia.readthedocs.io/en/stable/geometry.html#kornia.geometry.render_gaussian_2d

[2019-10-23 13:26] edgarriba commented on #279
I believe you can do that with [`kornia.transform_points`](https://kornia.readthedocs.io/en/latest/geometry.linalg.html#kornia.geometry.linalg.transform_points)

[2019-10-23 13:35] ducha-aiki commented on #279
I think, that missing part for https://github.com/arraiyopensource/kornia/issues/277 use-case is to actually get the perspective transform from shift/rot/affine, as now outputsof functions like https://kornia.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.get_rotation_matrix2d  are not 3x3
But stricly speaking you are right :)

[2019-10-23 15:02] edgarriba commented on #278
we don't have it, however would be great if we can implement it using standard pytorch functions

[2019-10-23 15:24] pablovela5620 commented on #277
Gotcha, thanks for the response. I'm assuming that getting the homography matrix is non-trivial and there is no function implementation in kornia? Not the same as getting a transformation matrix (Rotation/translation?)

[2019-10-23 15:34] ducha-aiki commented on #277
It depends on what you are starting from :)
If you have 4 corners before and after, then just apply this
https://kornia.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.get_perspective_transform

If rotation angle is available, then use https://kornia.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.get_rotation_matrix2d and add 3rd row == [0, 0,

[2019-10-23 15:57] edgarriba commented on #276
the behaviour for this function cna be found here: https://github.com/arraiyopensource/kornia/blob/master/kornia/utils/image.py#L29-L37

it depends on the usage you want to make. All the operators in kornia are designed to perform in batch.

[2019-10-23 17:47] pablovela5620 commented on #276
So let me explain what I'm trying to do. I want to use this for data augmentation and transforms. The issue that I'm facing are as follow.

I have a custom dataset
[code]
The problem is that first if kornia.image_to_tensor inside the `__getitem__` function then when I use the data loader I'll end up with an extra dimension since image_to_tensor adds in a batch, this could be fixed just using `.squ

[2019-10-23 20:18] smounsav opened #280 "[Feature request] Tensor as factor input for color.adjust_hue and color.adjust_saturation"
Hi, I've noticed that the functions color.adjust_brightness and color.adjust_contrast are accepting tensors as factor input and can process batches.
However, color.adjust_hue and color.adjust_saturation are only accepting a single float as factor. Would it be possible to extend those 2 functions, so that they handle tensors as well?
Thx.

[2019-10-23 20:34] edgarriba commented on #280
It definitely can.  Similar to: https://github.com/arraiyopensource/kornia/blob/master/kornia/color/adjust.py#L95

the factor need to be extended to `Union[float, torch.Tensor]` and later just adapt shapes. Would be great if you could contribute with that.

[2019-10-24 10:38] potocpav opened #281 "[BUG] crop_and_resize doesn't work when it changes image aspect ratio"
Here is a failing test-case, adapted from [this test](https://github.com/arraiyopensource/kornia/blob/a48164b1274827773f3da36dcbe2879c69f4471c/test/geometry/transform/test_crop.py#L14) but with some aspect-ratio distortion:
[code]
But the expected result, as per [documentation](https://torchgeometry.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.crop_and_resize), is:
[c

[2019-10-24 10:49] potocpav commented on #281
The question is how to correct this:

1. Change `crop_and_resize` to take [x,y]
2. Change `get_perspective_transform` to take [y,x]
3. Leave the interfaces as-is, and convert between the representations inside `crop_and_resize`

[2019-10-24 13:10] edgarriba opened #282 "[BUG] setup_dev_env for MacOSX"
the [`setup_dev_env.sh`](https://github.com/arraiyopensource/kornia/blob/master/setup_dev_env.sh#L20) script should be able to detect whether is running under a linux or macosx system since the miniconda binary is different.

Linux: `Miniconda3-latest-Linux-x86_64.sh`
MacOSX: `Miniconda3-latest-MacOSX-x86_64.sh`

[2019-10-24 16:08] lferraz opened #284 "[Feature Request] return the transformation matrices for the transforms"
return the transformation matrices associated to each one of the kornia/geometrytramsform functions.
E.g. in the `crop_and_resize()` function, you could return  `dst_trans_src`
https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/crop.py#L86

This feature is extremely useful to replicate the transforms on non-image data like points, boxes...

[2019-10-24 16:16] edgarriba commented on #284
we could add a flag called `return_transform` which by default is set to False

[2019-10-24 16:52] tdchaitanya commented on #282
In the pull request #285, I have modified the `setup_dev_env.sh` and haven't touched any other files. Not sure why the python 3.6 test is failing. Could you please help me find the reason @edgarriba

[2019-10-24 20:32] smounsav commented on #280
Sure, I've already started the corrections on my local machine. I'll go through the contribution guideline to know the process for pull requests.

[2019-10-25 05:00] tdchaitanya commented on #282
The issue has been resolved !!

[2019-10-25 17:09] mrT23 opened #286 "[BUG] rotation isnt working on GPU"
i am trying to do a simple rotation of a batch on GPU and it fails.
on CPU the rotation works:
`    transform = nn.Sequential(
        kornia.geometry.Rotate(angle=torch.Tensor([3]).to(device=input.device))
    );
    input=transform(input)
`

i am using pytorch 1.2, cuda10,  magma-cuda100

error messege for the GPU case:
CUDA runtime error: an illegal instruction was encountered (73) in magma_sge

[2019-10-25 22:41] smounsav opened #287 "[Bug] Incorrect documentation for adjust_contrast"
Hi,
I think the documentation for function adjust_contrast is incorrect.
The documentation states that a contrast factor of 0 generates a black image and 1 outputs the original image. However, with the current implementation, it is not the case, the original image is obtained with factor 0 and a factor 1 outputs a white image.
I think to obtain a black image, the factor to use would be -1 but this

[2019-10-25 23:00] smounsav opened #288 "[Bug] Division by 0 problem in rgb_to_hsv function"
In kornia.color.rgb_to_hsv, the computation of s is leading to nan value due to division by 0 when variable v contains 0.
`s: torch.Tensor = deltac / v  # saturation`
I don t know what is the best solution to solve this. On my local machine, I add a small eps=1e-7 as a workaround:
`s: torch.Tensor = deltac / (v + 1e-7) # saturation`

[2019-10-25 23:16] otaj opened #289 "[DOCS] AUR packages"
Hi,

it's not really an issue, I just wanted to let you know I made AUR (Arch User Repository) packages for kornia, available [here](https://aur.archlinux.org/packages/python-kornia/) for normal releases and [here](https://aur.archlinux.org/packages/python-kornia-git/) for git version.

Keep up the good work :-)

[2019-10-26 00:21] smounsav opened #290 "[Bug] Wrong implementation of adjust_hue"
I think the implementation of color.adjust_hue is wrong.
According to the documentation the factor should be between [-0.5:0.5], a factor 0 meaning no transformation. However, the code implemented doesn t leave h unchanged if hue_factor=0:
`h_out: torch.Tensor = torch.frac(h * hue_factor)`
If we take inspiration from the torchvision implementation, I think a correction could be:
` h_out: torch.Ten

[2019-10-26 16:55] potocpav commented on #281
I will submit a PR if we decide which approach to take.

[2019-10-27 04:55] ananyamukh6 opened #293 "[Feature Request] Implement morphological operations like dilation"
https://github.com/kornia/kornia/pull/292

[2019-10-27 11:29] edgarriba commented on #293
let's discuss here what you have in mind to implement regarding morphological operators

[2019-10-27 11:35] edgarriba commented on #289
@otaj this is great :D Planning very soon to add a link with projects or available resource to get the lib. Leave this open by now. Updating news with it too.

[2019-10-27 11:40] edgarriba commented on #289
Notice that we have moved the project to kornia org :D

https://github.com/kornia

[2019-10-27 12:38] edgarriba commented on #288
right, this is a simple fix by adding an epsilon value. Should be easy to fix, maybe with a test

[2019-10-27 12:40] edgarriba commented on #286
@mrT23 Is in our next roadmap to setup the infra to cover gpu tests

[2019-10-27 12:43] edgarriba commented on #281
@potocpav good catch ! I would go for 1 just make thing simple. If you can also update the test to cover this corners cases would be great.

[2019-10-27 12:59] mrT23 commented on #286
ok.
I think your package has great potential, keep up the good work

some recommendations and advice, feel free to ignore :)
- all the inverse 3x3 matrix operations would be faster, simpler and safer if done always on the CPU.
just the warping need to be done on GPU

- i also think that the adjust_hue implementation is wrong, in several ways.

first, the line:
"
  if **not** isinstance(hue_factor,

[2019-10-27 13:23] edgarriba commented on #286
@mrT23 thanks for the feedback ! very helpful ;D

We will go for the optimizations once we have settled down as a team.

regarding the hue issue check this: https://github.com/kornia/kornia/issues/290

as for inplace operations, I'm very skeptical to it since sometimes raises errors during backprop which is the main scope of this library. Very open to discuss and test that :D

[2019-10-27 13:25] edgarriba commented on #290
you are right and I'm pretty fine with it. Would be great though to find some resources to take as a reference and try to stick to it. Maybe @mrT23 has some opinions about this.

@smounsav could you take care of opening a PR to fix this ?

[2019-10-27 13:29] edgarriba commented on #287
@smounsav you are right. We should probably consider rethink about this adjusting operators. Just discovered torchvision already implement that in raw tensors. We could take it as reference. https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional_tensor.py

we were discussing with @dvd42 to also implement `add_weigthed` from opencv, which is similar to this blending operato

[2019-10-27 13:43] edgarriba opened #294 "[ENHANCEMENT] GPU Testing"
I open this issue to start a discussing about how should we proceed towards testing the functionalities in different devices. There's an initial proposal using `pytest.fixtures` with the following pattern:

https://github.com/kornia/kornia/blob/master/test/common.py
[code]

https://github.com/kornia/kornia/blob/master/test/filters/test_gaussian.py#L31
[code]

I would also consider to find a patter

[2019-10-27 13:58] mrT23 commented on #286
lets take for example the main contrast operation:
"
x_adjust: torch.Tensor = input + contrast_factor
out: torch.Tensor = torch.clamp(x_adjust, 0.0, 1.0)
"

there is no reason not to do it as inplace, without allocation anything:
"
input.add_(contrast_factor)
input.clamp_(0,1)
"
this will prevent allocating memory and will run faster.
if backward gradients are needed, you cant do inplace operation

[2019-10-27 14:15] kshitij12345 commented on #233
@edgarriba Would like to work on it if that is okay with you.

Just wondering in which of the current namespace will it fit or should there be a namespace with core functionality.

[2019-10-27 14:42] edgarriba commented on #233
that would be awesome. We can place inside kornia.color by now. Ping us in case you need any help

[2019-10-27 15:35] ananyamukh6 commented on #293
@edgarriba @ducha-aiki :
Its not differentiable, which is why I added it in a separate module different from "filters". If we plan a  `kornia.nondifferentiable` I can move it under there.
I was thinking if we had dilation and erosion, we could have a series of easily implemented morph ops like image-open, image-close, skeleton, morphological edge detection, etc.

@ducha-aiki : Do you have some ref

[2019-10-27 15:40] ananyamukh6 commented on #273
Merged https://github.com/kornia/kornia/commit/4fcc9a570dfa38f67ec812c8fdfabe434b3e466e

Closing

[2019-10-27 15:40] #273 closed

[2019-10-27 19:04] ananyamukh6 opened #297 "[Feature Request] RGB to YUV and YUV to RGB"
Here is a prototype branch.
Using out_channel=3 X inchannel=3 X 1 X 1 conv to implement yuv to rgb and rgb to yuv

https://github.com/kornia/kornia/compare/master...ananyamukh6:ananyamukh6/yuv

@edgarriba @ducha-aiki , do you think this looks useful? If so I can add tests/docs etc, polish it up and submit a PR

[2019-10-27 19:25] ducha-aiki commented on #293
@ananyamukh6 I think, this may work:
http://www.cs.tau.ac.il/~turkel/notes/Gray_Morph.pdf
Basically, it is max_pool( image window + dilation kernel) and min_pool(image_window - erosion kernel).

[2019-10-28 11:00] dvd42 opened #298 "[Feature Request] Data Augmentation Module"
I will start implementing a data augmentation module in the library. WIth operators such as those that can be found in torchvision. This module will be basically a wrapper that adds some random factor to the existing functions in the library. I am opening this issue as a reference. Anyone who would like to contribute with some data augmentation functionalities is more than welcome to do so. :smile

[2019-10-28 11:16] edgarriba commented on #298
@dvd42 great ! feel free to create a separated branch for that. Can you create a list with all the operators you are planning to implement ?

[2019-10-28 11:41] lferraz commented on #298
I think it is a good idea assume that the output of the augmentations is composed by 2 things; the augmented tensor and the applied transformation. The applied transformation is very useful to apply the transformation to the metadata (e.g. points or bounding boxes). Ideally all the basic transforms in the near future should provide this info if it is required.

[2019-10-28 13:51] otaj commented on #289
Packages have been updated with new URL. I left a github there (github.com/kornia/kornia), since then it is easier to keep the URL and source tied together ;) If you wish, I can change it to kornia.org

[2019-10-28 13:56] edgarriba commented on #289
github is fine :D

[2019-10-28 19:27] HassanAlsamahi commented on #239
@edgarriba I'll work on this, if still available

[2019-10-28 19:39] edgarriba commented on #239
@HassanAlsamahi sure go ahead

[2019-10-28 19:42] edgarriba commented on #297
@ananyamukh6 awesome. However, regarding your implementation I wouldn't use conv2d, we benchmarked before and seems more efficient just dot products. Please, feel free to open a PR

[2019-10-28 19:43] #282 closed

[2019-10-28 19:43] #256 closed

[2019-10-28 19:44] #246 closed

[2019-10-29 06:46] edgarriba opened #300 "[Feature Request] implement find fundamental"
We might want to have a function to compute the fundamental matrix using the eight points algorithm. The API should look like

https://docs.opencv.org/master/d9/d0c/group__calib3d.html#ga49ea1a98c80a5e7d50ad4361dcf2877a

[2019-10-29 06:47] edgarriba commented on #300
Already have it, will push it soon

[2019-10-29 10:52] #233 closed

[2019-10-29 14:57] #244 closed

[2019-10-29 15:26] mronta opened #302 "[Feature Request] Motion Blur"
I would like to implement Motion Blur.
At the moment I lack of a reference for it, apart its implementation in 'imgaug' lib (https://github.com/aleju/imgaug).

[2019-10-30 10:28] mronta commented on #302
In my understanding, 'albumentations' implementation does not have direction of the Motion Blur like 'imgaug' (https://imgaug.readthedocs.io/en/latest/source/api_augmenters_blur.html#imgaug.augmenters.blur.MotionBlur).
Which one should I follow?

[2019-10-30 12:12] #281 closed

[2019-10-30 14:44] edgarriba commented on #287
@smounsav check this: https://github.com/kornia/kornia/pull/304 and feel free to comment

[2019-10-30 14:55] smounsav opened #308 "[Bug] Potential bug in rgb_to_hsv"
Hi, I have some doubts about the implementation of rgb_to_hsv.
To avoid division by zero when dividing by deltac to calculate rc, gc and bc, 0 values are replaced by 1 by following command :
[code]
What is the motivation to replace 0 by 1?
To avoid division by 0, I would rather go by adding a small epsilon to delta:
[code]
What do you think?

[2019-10-30 16:57] smounsav commented on #298
I like this idea and the way DA can be done in this library. In other libraries, they provide those random transformations functions but not always the basic functions, so you can t learn the parameters or apply specific transformations. In kornia there would be both, and so that people can choose between specific transformations or random ones.

[2019-11-01 12:59] kshitij12345 opened #311 "Test against OpenCV"
It would be better to test the implemented functionality against OpenCV as the standard. As far as I know, few deep learning frameworks do verify the basic operations against numpy for sanity check.

https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_numpy_ndarray.py

https://github.com/chainer/chainer/blob/master/tests/chainerx_tests/unit_tests/routines_tests/test_lo

[2019-11-01 16:24] edgarriba opened #312 "[ROADMAP] Kornia v0.1.5"
This is the roadmap for **kornia v0.1.5** focuses mainly importing in the data augmentation module.

Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list). Please, take a read on the [CONTRIBUTING](https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst) notes.

* **Data augmentation** https://github.com/kornia/kornia/issues/298 ->

[2019-11-02 02:11] ananyamukh6 commented on #312
Volunteering for Morphology, some color conversions.

[2019-11-02 02:28] ananyamukh6 commented on #297
Interesting comment about the conv vs dot. Do you mean I should do:
[code]
instead of:
[code]

[2019-11-02 07:30] edgarriba commented on #297
@ananyamukh6 I suggest you to try both and benchmark. Any reason why using tensodot instead of matmul ?

just checking from wiki: https://es.wikipedia.org/wiki/YUV

I would try both forms and benchmark
1) Split rgb and do mul + sum element wise
2) Similar to what you did but just simple dot product. For this one you can create a (*,3,3) weights tensor and do at once with matmul or (@ op)

[2019-11-02 07:37] edgarriba commented on #293
so what's the decision here ? I'd go for the `kornia.morphology` module.
I added in the roadmap the functionalities we already mentioned to implement.

Would a be good idea to write down here the signatures and the expected behavior/implementation since I see that this ones might be a bit tricky from traditional vs differentiable soft version.

[2019-11-02 08:00] edgarriba commented on #298
@dvd42 check roadmap. It's been decided that we will align other frameworks API like albumentations, torchvision and provide differentiable versions of the augmentation functions as discussed too here. So let's do a bit a of research and update the functionalities.

Besides, as discussed too we might want to return the transforms.  For that I would make it optional and provide a boolean  `return_t

[2019-11-02 08:12] edgarriba commented on #286
@mrT23 we updated the roadmap and already working on some of the things you mention.

board meeting: https://github.com/kornia/kornia/wiki/2019#2019-10-31
roadmap: https://github.com/kornia/kornia/issues/312

gpu tests [wip]: https://github.com/kornia/kornia/pull/313

regarding to the augmentation with no grads, I don't we will do that. The reason is because we might want users to backpropagate th

[2019-11-02 08:22] edgarriba commented on #311
@kshitij12345 you are opening a thing here :D

we already had an internal discussion with @ducha-aiki about opencv very recently. If it's only for sanity check and just use to get the expected values for some of integration tests I would say it's okay.

However, we should take into account that not all the implementations are strictly following opencv since some of them are slightly modified to be

[2019-11-02 08:45] edgarriba commented on #308
@dvd42 followed this I guess: https://gist.github.com/PolarNick239/691387158ff1c41ad73c#file-rgb_to_hsv_np-py-L36

your solution should work too. Does this really really change the performance ?

[2019-11-02 08:46] edgarriba commented on #287
fixed

[2019-11-02 08:46] #287 closed

[2019-11-02 08:46] edgarriba commented on #284
discussed here https://github.com/kornia/kornia/issues/298

[2019-11-02 08:46] #284 closed

[2019-11-02 08:48] edgarriba commented on #278
added in the roadmap. Lets discuss here the api, functionalities and so.

[2019-11-02 08:49] edgarriba commented on #274
@anibali could you take a look at it ?

[2019-11-02 08:51] edgarriba commented on #302
the more the better. Adding the functionality to the roadmap.

[2019-11-02 08:54] edgarriba commented on #280
@smounsav cool ! let me know if you need help

[2019-11-02 09:58] lferraz commented on #298
Automatic concatenation could be fantastic, however that means that all the transforms need this flag.
Do you want to add this flag to all the transforms? another option could be adding a wrapper doing this multiplication and assuming that if a transform doesn’t provide a matrix is because the matrix is the identity.

[2019-11-02 10:16] kshitij12345 commented on #312
@edgarriba I would like to work on `Random{Vertical/Horizontal}Flip`

[2019-11-02 10:27] edgarriba commented on #312
@kshitij12345 sure, once we have decided how the api should look like and merge this https://github.com/kornia/kornia/pull/309/files

[2019-11-02 12:48] edgarriba commented on #298
@lferraz probably in order to keep the API clean and simple is just to return the transform if and only if the user specify that using a flag `return_transformation` similar to [`nn.MaxPool`](https://pytorch.org/docs/stable/nn.html#torch.nn.MaxPool2d). In case a user wants to concatenate a transform should be pretty straightforward, we can even provide examples for that. In this way, we give enoug

[2019-11-02 13:22] lferraz commented on #298
Perfect!!

El sáb., 2 nov. 2019 13:48, Edgar Riba <notifications@github.com> escribió:

[2019-11-03 06:51] ucalyptus commented on #175
PR  #315 based on this issue

[2019-11-03 09:08] edgarriba commented on #223
@lferraz @ducha-aiki was questioning myself whether should we use logging instead of raw prints

[2019-11-03 15:53] hassony2 opened #317 "Potential bug in angle_axis_to_rotation_matrix"
Hi !

Thanks for the great work :)
I am observing some surprising behavior in rotation_matrix_to_angle_axis, and I think it is worth raising although I am not yet sure it is actually a bug or a problem with my interpretation of the functions.

The main observation is that I expect  a cycle of conversion to be consistent (e.g. apllying angle_axis_to_rotation_matrix(rotation_matrix_to_axis_angle())

[2019-11-03 18:15] edgarriba commented on #317
hey @hassony2 , just double checking the implementation and probably we should update to something easier like https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/geometry/transformation/rotation_matrix_3d.py#L114

[2019-11-03 18:56] dvd42 commented on #308
Yeah I dont think this is a bug. Since the values where deltac is 0 will be replaced in the following lines anyways. You can try doing:

[code]
And I suspect you would get the same results.

[2019-11-04 01:14] anibali commented on #274
@zccyman The PoseFix paper literally says that they use soft-argmax, which is the same as DSNT. I don't understand what you're asking for. If all you want is to use pixel coordinates instead of normalised coordinates, you can try out the `normalized_coordinates` flag for `spatial_softargmax_2d`:

https://github.com/kornia/kornia/blob/0a3cbb02850ac78059e0615da93144b5a64d3330/kornia/geometry/dsnt.py

[2019-11-04 04:12] ananyamukh6 commented on #297
I am new to pytorch so am learning on the way. Thanks for pointing out `torch.matmul`. I'll try that out as well

[2019-11-04 05:04] ananyamukh6 commented on #297
Running experiments of a `[4, 3, 243, 410]` image

# Method 1: Using conv2d: 0.03423714637756348
# weights of size 3 x 3 x 1 x 1
    weights = torch.tensor([[[[0.299]], [[0.587]], [[0.114]]], [[[-0.14713]], [[-0.28886]], [[0.436]]], [[[0.615]], [[-0.51499]], [[0.10001]]]])
    return F.conv2d(input, weights)

# Method 2: Using tensordot: 0.0197908878326416
    w1 = torch.tensor([0.299, 0.587, 0.11

[2019-11-04 17:07] #308 closed

[2019-11-05 10:13] priba opened #318 "[Bug] Data augmentation random_hflip"
The flip_mat which is the Transformation matrix should be
 torch.tensor([[-1, 0, w],
                       [0, 1, 0],
                       [0, 0, 1]])
in order to sum the image width when transforming the points.

[2019-11-05 16:09] Dipet opened #320 "rgb <-> hls conversion [bug]"
Hi!
Why are you normalize HLS to `[0, 1]`? HLS defined like `H: [0, 360]` `L: [0, 1]`, `S: [0, 1]`. This behaviour slower and absolutely inintiutive.

Also you need tests to compare results of all your transforms with OpenCV. Current implementations of this transforms get different results to OpenCV, and I did still not test other transforms.

[2019-11-05 16:11] Dipet commented on #320
HLS to RGB wrong.
[code]

[2019-11-05 21:04] AntoineHX opened #321 "Bug in filter2D or error in doc"
Hi,

I think there's an error either in the implementation of kornia.filters.filter2D or in the documentation on the kernel shape.

[code]

The Kernel should have the shape (B, kH, kW) but what's actually requested seems to be a shape (kH, kW). This sample code work only when i remove the expand().
This is probably because of this line in filter2D : `tmp_kernel = tmp_kernel.repeat(c, 1, 1, 1)`

[2019-11-05 21:44] edgarriba commented on #312
@kshitij12345 augmentation module is ready to be populated

[2019-11-05 22:02] ducha-aiki commented on #320
I agree with you. It should be normalized to [0, 2*pi] and documented

[2019-11-05 22:04] ducha-aiki commented on #223
Pytorch itself mostly uses prints and asserts
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L338
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L552

[2019-11-06 05:18] dvd42 commented on #318
Fixed in #319

[2019-11-06 05:18] #318 closed

[2019-11-06 07:26] lferraz commented on #223
asserts is fine to me. However, I consider logging more flexible.

[2019-11-06 19:47] ucalyptus commented on #312
Would like to work on rgb_to_rgba

[2019-11-06 19:53] ucalyptus commented on #321
Faced the same error

[2019-11-07 11:48] EmilienDupont opened #326 "mode parameter is not used in warp_affine (and homography)"
Hi,

Thanks for the great library!

I've been trying to use the [warp_affine](https://github.com/kornia/kornia/blob/cdd8f01f5ff6e1c7ac68b47137f0f77bd671ba4d/kornia/geometry/transform/imgwarp.py#L111) function using the `nearest` interpolation (as opposed to the default `bilinear` interpolation). However, in the function definition it looks like the `flags` parameter is not used. `warp_affine` depe

[2019-11-07 11:56] ducha-aiki commented on #326
Hi,

Thank you for the point out. We plan to fix it, but now quite busy because of CVPR deadline. Feel free to submit fixing PR in meantime ;)

[2019-11-07 12:13] EmilienDupont commented on #326
Sounds good, thank you :smile:

[2019-11-07 12:19] #321 closed

[2019-11-07 12:19] ducha-aiki commented on #321
Fixed in #327

[2019-11-08 09:42] dvd42 commented on #276
You can try to do `pil_image = Image.fromarray(img.squeeze(0).permute(1, 2, 0).numpy().astype('uint8'))` and then pass these images to the torchvision transform

I am aware that this is a bit of an unclean solution, however...

We are actually working on that feature right now. It will be released in the next version and you will no longer need to use PIL Images for data augmentation with torchvio

[2019-11-08 11:53] edgarriba commented on #312
@ucalyptus go ahead

[2019-11-10 17:56] ananyamukh6 commented on #297
https://github.com/kornia/kornia/pull/330#pullrequestreview-314631371

[2019-11-12 17:46] priba commented on #320
I also agree. I am adding tests to compare to openCV and I will normalize the hue to [0,2*pi]. HSV should also be normalized.

Some functionalities such as AdjustHue use the previous scale and will be also modified. The hue_factor ranges in [-0.5, 0.5] like torchvision (https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.functional.adjust_hue), shall we change it to

[2019-11-14 03:25] justanhduc commented on #312
@edgarriba I already have RGB2 <-> YCbCr. May I work on that?

[2019-11-14 07:27] edgarriba commented on #312
@justanhduc yes, please :)

[2019-11-15 08:31] mronta commented on #312
@edgarriba I can apply for random erasing

[2019-11-15 10:09] edgarriba commented on #312
@mronta sure go ahead. In contrast to torchvision, I propose to extend to generate batched parameters to erase. Besides, I would think in performing this op in a soft way /cc @ducha-aiki

[2019-11-15 21:57] pablovela5620 commented on #276
Makes sense, thanks! Looking forward to the next version so I can stop using PIL

[2019-11-15 21:57] #276 closed

[2019-11-18 14:31] priba commented on #320
Check PR #342

[2019-11-18 15:44] ducha-aiki commented on #223
What about the following format

input: tensor name, list of possible shapes, e.g. [[None, None, 2]]
output: none, crash + print if error

Kind of stuff I have done here:
https://github.com/kornia/kornia/blob/master/kornia/feature/laf.py#L104

@lferraz, @edgarriba

[2019-11-18 17:32] #302 closed

[2019-11-19 09:45] mronta commented on #312
@edgarriba is differentiable image resize already achievable through  `torch.nn.functional.interpolate` ?

[2019-11-19 09:55] ducha-aiki commented on #312
@mronta yes, but for proper resize you need to blur with appropriate kernel size first.

[2019-11-20 18:26] edgarriba opened #346 "[Improvement] use spatial gradient for inverse_depth_smoothness_loss"
check PR discussion: https://github.com/kornia/kornia/pull/313#discussion_r348444529

[2019-11-20 18:30] edgarriba opened #347 "[Feature Request] Shake-Shake regularization"
Feature request from @vfdev-5

Shake-Shake regularization: https://arxiv.org/pdf/1705.07485.pdf

[2019-11-21 17:13] peterjiz commented on #239
I forked the code and implemented lab_to_rgb and rgb_to_lab
[lab_color_space](https://github.com/peterjiz/kornia/tree/lab_color_space)

[2019-11-21 17:53] #297 closed

[2019-11-21 18:06] edgarriba commented on #239
Great, please open a PR

[2019-11-21 18:21] peterjiz commented on #239
Done!

[2019-11-22 14:35] edgarriba commented on #271
another thing related to this could be histogram equalization"
https://stackoverflow.com/questions/28518684/histogram-equalization-of-grayscale-images-with-numpy

[2019-11-25 20:56] smounsav commented on #280
Hi, this has already been handled in PR #324 (https://github.com/kornia/kornia/pull/324), so I think we can close this issue.

[2019-11-25 20:56] #280 closed

[2019-11-25 23:30] pablovela5620 opened #353 "[BUG] Potential Spatial Soft Argmax Bug"
Hi, I have the following issue. I'm not sure if this is the intended behavior of the `kornia.geometry.spatial_softargmax_2d` but I seem to be having trouble with it. I have the following heatmap. I created this in such a way that the min value is very close to zero and the max value is 1. I made sure to use `spatial_softmax_2d` as stated in the documentation it should be a valid heatmap.
![image](

[2019-11-26 12:19] ducha-aiki commented on #353
Hi,

Could you please post a code you used to generate the heatmap, so we can run and check?

[2019-11-27 08:54] #320 closed

[2019-11-29 10:16] nghorbani commented on #317
A complimentary illustration for this bug.
I have [SMPLx](https://smpl-x.is.tue.mpg.de/) body pose rotations in axis-angle representation:

[fullpose.zip](https://github.com/kornia/kornia/files/3904693/fullpose.zip)
fullpose = torch.from_numpy(np.load('/home/nghorbani/Downloads/fullpose.npz')['fullpose']).view(batch_size, -1,3)# 22x3

A visualization of the parameters using our PyTorch [body model

[2019-11-29 14:29] ducha-aiki opened #355 "[PERFORMANCE] filter2D performance issue"
Now filter2d runs multichannel data as group convolution https://github.com/kornia/kornia/blob/master/kornia/filters/filter.py#L70

However, I found that it is 2x slower, than doing reshape (B,C) -> (B*C, 1) and do single channel convolution.

Code to reproduce:

[code]

Reshape method:
[code]

Groupconv (current) method:

[code]
With kernel_size = 5:

Reshape method:
[code]

Groupconv (current) m

[2019-11-29 15:57] edgarriba commented on #355
Awesome

[2019-11-29 21:28] ducha-aiki commented on #355
[code]

Then
[code]

[2019-11-29 21:29] ducha-aiki commented on #355
Results,
NVIDIA DGX1, torch 1.3.1

3 group cpu
134 ms ± 581 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
3 reshape cpu
1.31 s ± 4.39 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
3 group cuda:0
3.16 ms ± 5.89 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
3 reshape cuda:0
20.3 ms ± 29.2 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
5 group cpu
263 ms ± 3.91 m

[2019-11-29 21:36] ducha-aiki commented on #355
NVIDIA 1080, torch 1.3.0, CUDA 10.1

3 group cpu
301 ms ± 1.08 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
3 reshape cpu
1.86 s ± 1.97 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
3 group cuda:0
30.7 ms ± 68.9 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
3 reshape cuda:0
44.6 ms ± 3.17 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
5 group cpu
580 ms ± 1.75 m

[2019-11-30 11:57] ducha-aiki commented on #355
Titan X, torch 1.3.1, CUDA 10.1

3 group cuda:0
57.4 ms ± 65.8 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
3 reshape cuda:0
91.7 ms ± 95.3 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
5 group cuda:0
150 ms ± 189 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
5 reshape cuda:0
275 ms ± 970 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)
7 group cuda:0
274 ms ± 4

[2019-12-01 06:30] ananyamukh6 commented on #347
The paper implements shake-shake (SS) for a 1 pass through and 2 residual channels

For a general SS module, perhaps we are looking for n channels? where alphas are alpha[0], alpha[1], ... alpha[n-2],  alpha[n-1] = 1-sum(alhpa[0...(n-2)])

[2019-12-01 07:35] ananyamukh6 commented on #293
@edgarriba

for `kornia.morphology`:
Binary non-differentiable items:
1. dilation: implemented as conv2d + thresholding
- inputs must be binary, structuring element is also binary
- return (F.conv2d(img, structuring_element, padding=(se_shape[2] // 2, se_shape[2] // 2)) > 0).float()

2. erosion:
- same input constraints as dilation
- implementation: invert image (black <-> white), perform dilation

[2019-12-01 08:44] ananyamukh6 commented on #293
Here is a first-attempt experiment on implementing dilation with fold/unfold (which might be useful for implementing grayscale/differentiable ops)

https://github.com/kornia/kornia/compare/master...ananyamukh6:ananyamukh6/dilation_with_foldunfold

The function `dilation` implements it as a conv + threshold (as I had it originally)
the function `dilation2` implements it as max(img + kernel)

`dilat

[2019-12-02 01:17] LeeHayun opened #358 "[Bug] rgb_to_grayscale implementation issue"
Hi, I have question about the implementation of `kornia.color.rbg_to_grayscale`.

https://github.com/kornia/kornia/blob/04307c26a9b4dc8d37f0b1a746c197609e98514c/kornia/color/gray.py#L57-L59

Reference:
https://docs.opencv.org/4.0.1/de/d25/imgproc_color_conversions.html

According to the reference, I think the implementation should look like this:
[code]

If not, is there a reason to use 0.110 for

[2019-12-02 09:48] edgarriba commented on #358
@LeeHayun you are right, this is wrong. Will fix it

[2019-12-02 16:21] czotti opened #359 "import cv2"
Thanks for your work.

I was in the process of testing the lib for some use cases and turns out that it import cv2 in color and it's not used.

https://github.com/kornia/kornia/blob/master/kornia/color/hls.py#L3

[2019-12-02 16:41] edgarriba commented on #359
@czotti  good catch ! this is an error, as a policy opencv itself shouldn't be used in the core code. Please, feel free to remove it.

[2019-12-03 17:33] #359 closed

[2019-12-04 14:11] Noezor commented on #271
Will look into CLAHE first from Heckbert's book. Will try to do a PR by this week-end.
IDK if we can write fully differentiable Histogram Equilization though. I will aim for it.

[2019-12-04 16:18] ducha-aiki commented on #293
@ananyamukh6

I think, that you mixing binary dilation/erosion and grayscale.
Results of dilation2 are indeed correct, although we might not used to it, because we think of dil/erosion as binary version only.

I will refer here to classical textbook, Digital Image Processing by Gonzalez and Woods.

![image](https://user-images.githubusercontent.com/4803565/70158219-2b546980-16b7-11ea-8ec9-22e70e3d

[2019-12-04 22:18] ducha-aiki commented on #271
Sure, go ahead!

I think that differentiable histogram can be done similarly to this gaussian (or triangular) kernel density:

https://papers.nips.cc/paper/7545-unsupervised-learning-of-shape-and-pose-with-differentiable-point-clouds.pdf
![image](https://user-images.githubusercontent.com/4803565/70186327-fc0c1f80-16eb-11ea-96d5-ed9c97d613e9.png)

[2019-12-05 08:51] Vimos opened #363 "[DOCS] *args for FocalLoss should be **kwargs"
https://github.com/kornia/kornia/blob/1f540b4c74dfb00d012b89c9376a5f9ff957a0fb/kornia/losses/focal.py#L96

Otherwise, one can get
[code]

[2019-12-05 11:40] edgarriba commented on #363
@Vimos thanks! Could you open a PR fixing it ?

[2019-12-05 13:26] Dipet opened #365 "rgb_to_hls nan in output tensor"
Code for reproduce
[code]

[2019-12-05 15:32] Dipet opened #366 "rgb_to_grayscale different coefficients with OpenCV"
OpenCV coefficients:
[code]

kornia coefficients:
[code]

`0.299 + 0.587 + 0.110 == 0.996`

[2019-12-05 17:25] edgarriba commented on #366
@Dipet check this https://github.com/kornia/kornia/pull/361

[2019-12-06 11:30] #363 closed

[2019-12-06 11:49] edgarriba commented on #317
@nghorbani @hassony2 do you have any idea why the current code is failing and what's the difference between tensorflow's code and our pytorch adaptation ? I really see the actual implementation more clean and understandable :D

[2019-12-06 17:18] poxyu opened #367 "[Bug] convert_points_from_homogeneous - NaN gradients in backward pass"
I just experienced a NaN-gradient problem while doing a backward pass here:
https://github.com/kornia/kornia/blob/4b0ae70f7f806c5eff5ab87f8b1f2d9ab4ff1e45/kornia/geometry/conversions.py#L99

`torch.where` works absolutely fine, but if you have zero divisions you find yourself with NaN-gradients for sure 💩

Here is a toy example:
[code]
And these are z_vec gradients:
`tensor([-0.0625, -0.0278,

[2019-12-06 22:49] edgarriba commented on #367
@poxyu thanks for reporting, I will investigate it

[2019-12-06 23:18] nghorbani commented on #317
I have suggested a fix with a pull request taken from the previous torchgeometry code. it works out of the box for me.

[2019-12-07 12:53] edgarriba commented on #367
with eps equals to 1e-5 seems to work on my computer

[2019-12-07 14:18] ducha-aiki opened #368 "[ENHANCEMENT] Implement Gaussian2d as Sequential(1xks, ks x 1)"
That is classical speed-up trick, which we don`t use yet :)

[code]

![image](https://user-images.githubusercontent.com/4803565/70375990-afe7f780-1904-11ea-97cf-fe2a4d11c1b7.png)

[2019-12-07 14:37] poxyu commented on #367
Even in this toy example?
In my case it happend during homography regression. I initialized my homography module with some "strong" transformation and after several iterations grads became NaN (inside `kornia.HomographyWarper`).
As I told you there are no problems during forward pass (I tested all homographies manually) and shit happens only in backward pass, when one of the z_vec value becomes `i

[2019-12-07 14:39] poxyu commented on #367
I will try to give you some real example instead of this toy one.

[2019-12-07 16:20] poxyu commented on #367
@edgarriba this is just an example. After about 13-14 iterations `dst_homo_src()` has three NaN's in it:
[code]

`img_src.png`:
![img_src](https://user-images.githubusercontent.com/8268361/70377432-a5cdf500-1914-11ea-9d90-6af09b1eca29.png)

`img_dst.png`:
![img_dst](https://user-images.githubusercontent.com/8268361/70377431-a5cdf500-1914-11ea-8282-27adca9edea5.png)

[2019-12-07 16:24] poxyu commented on #367
tell me if you need more information

[2019-12-07 18:26] edgarriba commented on #367
been trying a couple of things so far. First, created this small unit test:
[code]
with your fix it doesn't pass

what I've tried is the following,
[code]
plus reducing the epsilon to eps -> 1e-5 and it passes all the tests except in those where the points has negative values (for the clamp close to positive zero)

the other trick is to directly add an epsilon value to the z_vec which also breaks

[2019-12-07 18:30] edgarriba commented on #367
another thing to consider is a bug in `torch.where` since should be able to bypass the gradient correctly based on the binary mask generated

[2019-12-08 01:21] poxyu commented on #367
https://discuss.pytorch.org/t/gradients-of-torch-where/26835/2

my current workaround is:
[code]

thank you, @edgarriba

[2019-12-08 13:19] edgarriba commented on #367
@poxyu great ! check #369 , I had to increase the epsilon value otherwise the numerical test didn't pass

[2019-12-09 01:29] poxyu commented on #367
@edgarriba I love everything about your PR except this big epsilon 😂

[2019-12-09 09:51] edgarriba commented on #367
well, it's the only way I found to pass the provided test for gradient check and to not break the other existing tests of the whole framework. I've been also playing a bit with the gradcheck tolerance, but it seems that eps 1e-5 is the magic number that makes gradcheck happy :D

[2019-12-09 11:23] ducha-aiki commented on #367
Guys, what about

[code]

![image](https://user-images.githubusercontent.com/4803565/70432062-a6829a80-1a7e-11ea-89a0-d19f1f3dc98a.png)

[2019-12-09 12:25] edgarriba commented on #367
@ducha-aiki the test I provided above is still failing with your solution with an epsilon smaller than 1e-5

[2019-12-09 12:43] ducha-aiki commented on #367
Well, actually, gradient is not correct here, as we are putting 1 instead of correct huge number/inf.
So I am in favor of dropping your test and just use @poxyu version, if it works in practice and not generates NaNs

[2019-12-09 12:51] edgarriba commented on #367
sure, then I believe we should somehow provide @poxyu's test (or a small version of it) in order to assure correctness of this function since can be a bit critical for others functions that rely on it.

[2019-12-09 15:37] edgarriba commented on #367
@poxyu @ducha-aiki I'va updated #369 with a real case test (using random data). Check it out,

[2019-12-11 03:13] poxyu commented on #367
Similar problem (zero division and NaN gradients) occurs in backward pass here:
https://github.com/kornia/kornia/blob/a0bafcdc8f959ad1ddcae5b050a8d786e1e66000/kornia/geometry/conversions.py#L154

Super simple toy example:
[code]

I guess it has to be a separate issue, hasn't it? 🙂

P.S. - found it several minutes ago and haven't fixed it myself yet.

[2019-12-11 07:39] edgarriba commented on #367
Yes, please open a separated issue. Will close this once we merge #369
Regarding this new issue, I would give a try at this code from tf graphics,
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/geometry/transformation/rotation_matrix_3d.py since at least it's more clean

[2019-12-15 10:37] #367 closed

[2019-12-16 02:18] RSKothari opened #376 "Purpose of conv_soft_argmax2d"
Could you help me (or edit the docs) and guide the function description to a paper which has describes convolutional soft-arg max?

[2019-12-16 10:39] edgarriba commented on #376
@RSKothari in this paper we use this operator : https://arxiv.org/abs/1904.00889

[2019-12-16 10:40] #358 closed

[2019-12-16 10:55] priba commented on #290
PR #333 corrects this issue.

`h_out: torch.Tensor = torch.fmod(h + hue_factor, divisor)`

hue_factor moves the hue by a values between [-pi, pi], and fmod with the proper divisor scales it properly.

[2019-12-16 10:55] #290 closed

[2019-12-16 12:21] priba commented on #365
Hi @Dipet it seems this happens because of kornia versions.  In my case, installing it from git does not generate NaN: `pip install git+https://github.com/kornia/kornia`

`pip install kornia` produces exactly what you report. I guess it will be corrected in the next release (@edgarriba ?).

[2019-12-16 12:36] Dipet commented on #365
Yes I did use old version. sorry.

[2019-12-16 12:36] #365 closed

[2019-12-16 14:24] edgarriba commented on #366
closing in favor of #361

[2019-12-16 14:24] #366 closed

[2019-12-16 14:30] edgarriba commented on #294
closing this in favor of https://github.com/kornia/kornia/pull/313

[2019-12-16 14:30] #294 closed

[2019-12-16 14:31] edgarriba commented on #286
@mrT23 closing this issue since the original bug has (or should have) been solved in https://github.com/kornia/kornia/pull/313

[2019-12-16 14:31] #286 closed

[2019-12-17 21:17] edgarriba commented on #311
closing this since in the last PR we are already including regression test against data generated with opencv. There a lot of test yet to be covered. In case some wants to volunteer in that, feel free to add more tests.

[2019-12-17 21:17] #311 closed

[2019-12-17 21:18] edgarriba commented on #298
close this since the module is already there. @dvd42  could you bootstrap a bit the main and missing functionalities ?

[2019-12-17 21:18] #298 closed

[2019-12-17 21:19] edgarriba commented on #279
@dvd42 you did something in that direction during the hackathon right ?

[2019-12-18 11:56] soham24 opened #380 "[JIT] Can I pack kornia operation in model and export as onnx model?"
I want to only process grayscale version of image.
Can I pack kornia operation in model and export as onnx model?

[2019-12-19 18:55] sfikas opened #382 "[Bug] conv_soft_argmax2d input range ?"
It seems that conv_soft_argmax2d should accept ranges only in 0.0 - 1.0. Otherwise 'NaN' values tend to appear, as per the following example:
![kornia_convsoft_error](https://user-images.githubusercontent.com/16489490/71200670-2c81bb00-22a1-11ea-8d36-fa1a26ae0c7d.jpg)

Is this intended behaviour? If not, this is a bug -- If yes, it should be noted on the documentation and a check should also be ad

[2019-12-20 08:38] #326 closed

[2019-12-20 08:49] edgarriba commented on #382
@sfikas I recently found a similar behavior that could come from the same issue. Currently, inside the conv_softmax operator we compute the softmax with a handmade implementation defined as follows:

```x_exp = (input / temperature).exp()```

See: https://github.com/kornia/kornia/blob/master/kornia/geometry/spatial_soft_argmax.py#L391

However, it turns out that depending on the input data range,

[2019-12-20 08:59] sfikas commented on #382
Thanks! By the way, same goes for conv_soft_argmax3d, which was what I originally wanted to use, and this in turn because it is part of the affine-invariant keypoint detection tools in kornia.feature (class ScaleSpaceDetector etc.)

[2019-12-20 09:04] sfikas commented on #382
The 'exploding' behaviour of this softmax implementation could (??) be related to the problem reported in https://github.com/kornia/kornia/issues/353  , @pablovela5620

[2019-12-20 09:04] edgarriba commented on #376
closing this. Others please feel free to add more resources in this thread if convenient.

[2019-12-20 09:04] #376 closed

[2019-12-20 09:06] edgarriba commented on #382
probably. `conv_soft_argmax3d` is also affected ;D

[2019-12-20 09:07] edgarriba commented on #353
@pablovela5620 check #382. Could you provide a snippet to reproduce this issue so that can be included as test ?

[2019-12-20 09:14] edgarriba commented on #380
@soham24 this will be possible once this first PR gets in: https://github.com/kornia/kornia/pull/261

To make this happen, we need to wait until the patch @suo did in pytorch/pytorch#31057 gets into a supported release, which I guess will be in pytorch 1.3.2. During the hackathon we discussed about including a `kornia.jit` module which already converts every function into a torch script module, me

[2019-12-20 09:47] dvd42 commented on #380
Yes, you should be able to as long as the used operations inside the kornia modules are supported ONNX. Here is a small example:

[code]

[2019-12-20 17:05] #382 closed

[2019-12-20 17:24] edgarriba opened #385 "[ROADMAP] Kornia v0.1.6"
This is the roadmap for **kornia v0.1.6** that will focus mainly in morphology and epipolar geometry.

Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list). Please, take a read on the CONTRIBUTING notes.

* **Epipolar Geometry**
Propose stuff potentially from `opencv.calib3d` and `opencv.sfm`
  * [x] symmetrical_epipolar_distance https:

[2019-12-21 04:07] soham24 commented on #380
Thanks @edgarriba  and @dvd42 for reply.
This is so cool and will change everything.
I would love to contribute with my limited set of skills.

[2019-12-21 04:30] RSKothari commented on #138
Don't want to create a new issue for you so adding onto current feature request.

Request return of softmax (with temperature parameter incorporated) along with soft-argmax coordinates. This could be helpful for multitask applications.

[2019-12-21 08:38] edgarriba commented on #380
@soham24 great. In the next release we create the mentioned module so that can be easy to plug in new methods.

[2019-12-21 09:57] edgarriba commented on #138
@RSKothari thanks :)

[2019-12-21 13:18] ducha-aiki opened #386 "[bug] examples/depth_regression/main.py docs-build crash"
[code]

[2019-12-21 14:30] edgarriba opened #387 "[ENHANCEMENT] Improve random rectangle erasing"
Improve the existing random erasing algorithm in
https://github.com/kornia/kornia/commit/85ef4c0a1e58a023dbae840b233677b37ac32fdc#diff-d354cebd44a3d59c414bcb9dc7a78f66R111

by the one proposed here: https://twitter.com/francoisfleuret/status/1208342223340875776

![image](https://user-images.githubusercontent.com/5157099/71309309-c6af4380-2406-11ea-9f86-a1d44cb05277.png)

[2019-12-21 14:51] ducha-aiki commented on #387
https://gist.github.com/alexandre01/7d4a03f2ba21e57a676a491782933dfc -- updated version

[2019-12-22 02:03] poxyu opened #388 "grid_sample() and align_corners parameter - new default value in pytorch v1.4.0"
It is said pytorch devs are going to change the default behavior of `grid_sample()` in pytorch v1.4.0:
from `align_corners=True` to `align_corners=False`

Here is the link:
https://pytorch.org/docs/stable/nn.functional.html#grid-sample

<img width="679" alt="Снимок экрана 2019-12-22 в 2 39 28" src="https://user-images.githubusercontent.com/8268361/71315867-07d74000-2467-11ea-9441-1e016dbfac8a.png"

[2019-12-22 21:25] anibali commented on #138
@RSKothari If you look at [spatial_soft_argmax2d](https://github.com/kornia/kornia/blob/439b6c60cc35348edda75a103b4456be1c276af4/kornia/geometry/spatial_soft_argmax.py#L483), it's a really basic wrapper that calls two other functions which do all the work ([dsnt.spatial_softmax_2d](https://github.com/kornia/kornia/blob/439b6c60cc35348edda75a103b4456be1c276af4/kornia/geometry/dsnt.py#L24) and [dsnt

[2019-12-23 09:08] edgarriba commented on #388
yes, we could do that. We should also check the performance when the flag is set to False.

[2019-12-23 10:32] denkorzh opened #390 "[BUG] incorrect batch quaternion conversion"
I run the following lines of code:
[code]
and obtain inconsistent results:
[code]

Overall, the conversion between quaternions and rotation matrices seems to be incorrect.

[2019-12-23 10:50] edgarriba commented on #390
@denkorzh this is related to https://github.com/kornia/kornia/issues/317 and https://github.com/kornia/kornia/pull/354 downgrades to a previous version that's supposed to work. I will investigate this today to avoid going back to previous implementations.

[2019-12-31 23:37] pablovela5620 commented on #353
Sure, this is what I used to generate the heatmaps from uv coords
![image](https://user-images.githubusercontent.com/25287427/71636346-291cf680-2bf4-11ea-9520-644acad0ad76.png)

[code]
[code]

[2020-01-02 04:00] shijianjian commented on #312
For data augmentation tasks, I think it is better to mimic PyTorch style implementation for better reproducibility.

Take the ```ColorJitter``` as an example, the current implementation cannot reproduce the same result  via a function call. Currently, we have:
    1. ```colorJitter``` method, which will generate random params and apply function.
    2. ```ColorJitter``` class, which does nothing b

[2020-01-07 11:31] ducha-aiki opened #392 "Make focal loss accept (N,C) input, not just (N,C,H,W)"
While the main application of the focal loss is object detection, therefore 4-d tensors are common, there is no reason why it should crash on simple classification tasks. I'll submit a fix soon

[2020-01-08 15:58] ducha-aiki commented on #392
Fixed by #393

[2020-01-08 15:58] #392 closed

[2020-01-14 07:26] RSKothari commented on #173
Any reason for >=3.6 dependency @edgarriba ?

[2020-01-14 07:53] edgarriba commented on #173
We are using mypy syntax for python 3 (which is totally different to python 2 syntax) and it requires >= 3.6

[2020-01-16 12:37] edgarriba opened #400 "[Feature Request] add blurring to resize"
Improve resize by blurring in order to prevent if aliasing produced by interpolation

See https://github.com/kornia/kornia/pull/394

[2020-01-18 00:03] edgarriba commented on #388
pytorch 1.4 is here. I will update at some point during this weekend. What should we do here ? /cc @ducha-aiki

[2020-01-18 01:14] poxyu commented on #388
I've read several times docs to `torch.nn.functional.interpolate` and `torch.nn.functional.grid_sample`.
After this I decided to... use `align_corners = False` :joy:

Main reason is `making the sampling more resolution agnostic`. And it makes more sense to me.

Here is my ugly solution for now:
[code]

[2020-01-18 13:20] edgarriba commented on #388
@poxyu makes sense. Actually we noticed some instabilities in the scale space algorithm and suspecting that this patch could help to improve. Could you try to make a PR with it ? By now, I hacked all the parameters in grid_sample to make it compliant with the old versions so that tests and behavior is maintained. See this: https://github.com/kornia/kornia/pull/402

[2020-01-19 00:14] poxyu commented on #388
I can add additional parameter to `kornia.utils.grid.create_meshgrid` (and probably to `create_meshgrid3d`).
For example, `align_corners: Optional[bool] = True` (or False?) and make it work with `normalized_coordinates`, something like:
[code]
What do you think @edgarriba?

[2020-01-23 06:00] poxyu commented on #388
When you have time, just let me know what you think

[2020-01-24 10:50] albertaparicio opened #413 "[Feature Request] histogram computation"
I would like to request the implementation of histogram computation (similar to what OpenCV does) into Kornia.

[2020-01-24 19:28] edgarriba commented on #388
@poxyu yes please go ahead, just make sure tests are provided so that we can Keep backward compatibility with the current behaviour.

[2020-01-25 12:09] timgates42 opened #420 "Fix simple typo: suports -> supports"
There is a small typo in kornia/filters/laplacian.py.
Should read `supports` rather than `suports`.

[2020-01-25 12:58] #420 closed

[2020-01-25 14:26] edgarriba opened #422 "[Enhancement] Improve documentation with sphinx doctest"
Would be great to start using doctest so that during the documentation generation all keeps consistent with the existing API

Reference: https://www.sphinx-doc.org/en/master/usage/extensions/doctest.html

[2020-01-25 14:29] edgarriba commented on #413
adding the opencv link reference so that we can discuss the implementation
https://docs.opencv.org/4.2.0/d6/dc7/group__imgproc__hist.html#ga4b2b5fd75503ff9e6844cc4dcdaed35d

[2020-01-27 05:29] VRandme opened #426 "Antialiasing issues (max_blur_pool)"
Hello I have submitted a minor pull request regarding max_blur_pool.py

It Involves no actual code changes and only touches the comments so I believe it should be no problem to pull.
https://github.com/kornia/kornia/pull/425

Also, the output shape currently states
Output: :math:`(B, C, H / 2, W / 2)`

However, when i use the example code with varying kernel sizes(2,3,4 etc)
the output sizes may o

[2020-01-27 08:22] edgarriba commented on #426
@VRandme thanks for the feedback. I'ts okay from my side. @ducha-aiki has been playing with this layer, maybe he has more to add to the conversation.

[2020-01-27 11:48] ducha-aiki commented on #426
@VRandme sure, go ahead with PR.

 Regarding the function itself, unlike the standard blurs (MaxPool, AvgPool), this one has weakly decoupled Pooling (weighted sum, or how you would like to call it) and the subsampling step, which is now done by pyrdown, so can be only 2x, 4x and so on. The problem you are experiencing is that polling now does not have  padding like the convolution, so the problem

[2020-01-27 16:37] elistevens opened #428 "[Feat] Provide scipy.ndimage.measurements and .morphology functions"
It would be nice if there were more performant versions of the functions in https://docs.scipy.org/doc/scipy-0.16.0/reference/ndimage.html#module-scipy.ndimage.measurements

For my use case, backpropagation isn't needed.

I'm mostly interested in `label`, `center_of_mass`, and the binary erosion, dilation, hole filling, etc.

Here's what I have been using (note that these are not exact reimplement

[2020-01-27 19:39] unitx-bot opened #429 "Question: cardinality of dice loss seems constant"
This is likely a general question with dice loss itself, not with the library.

`cardinality = torch.sum(input_soft + target_one_hot, dims)`

The cardinality seems constant, regardless of predictions. This is because, :

both `input_soft` and `target_one_hot` are of shape `(N, C, H, W)` where C = number of classes.
1. `torch.sum(input_soft, dims)` is constant, as every `C` dimension's softmax prob

[2020-01-27 19:39] #429 closed

[2020-01-27 19:40] keven425 opened #430 "Question: cardinality of dice loss seems constant"
This is likely a general question with dice loss itself, not with the library.

cardinality = torch.sum(input_soft + target_one_hot, dims)

The cardinality seems constant, regardless of predictions. This is because, :

both input_soft and target_one_hot are of shape (N, C, H, W) where C = number of classes.

torch.sum(input_soft, dims) is constant, as every C dimension's softmax probability adds u

[2020-01-28 00:58] connorlee77 opened #431 "Backpropogating ScalePyramid is slow"
I have a ResnetFCN with its output fed through the ScalePyramid (default parameters). Is there a reason in the implementation of [ScalePyramid ](https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/pyramid.py) for why backpropagation may be very slow?

[2020-01-28 08:38] dvd42 commented on #277
@pablovela5620 check out the new[ data augmentaion module ](https://kornia.readthedocs.io/en/latest/augmentation.html)

[2020-01-28 08:40] #277 closed

[2020-01-28 09:05] ducha-aiki commented on #431
You probably don't need ScalePyramid for ResNetFCN, as it samples scales too dense - it is designed for local features. Try build_pyramid https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/pyramid.py#L248   instead . Second, the bluring is slow but essential part. We are planning to speed-up this, but not yet

[2020-01-28 09:23] edgarriba commented on #428
@elistevens thanks for this small contribution :)

we definitely have to work on the morphology module for the next release.
There is an open discuss about it. I think we need to find an agreement in terms of API design for soft vs non-soft implementation.

Check this: https://github.com/kornia/kornia/pull/292  and https://github.com/kornia/kornia/issues/293

[2020-01-28 11:33] ducha-aiki commented on #293
Might be relevant
https://arxiv.org/abs/2001.09046v1.pdf

[2020-01-28 17:02] elistevens commented on #293
FYI, unless there's something obviously wrong with them, I'd suggest making exactly matching the results of the scipy.ndimage.morphology an explicit design goal. It means that users can feel confident that they can swap out one for the other, and it makes constructing test cases easier too.

Also, can't erosion be implemented with a 2d convolution of the structuring element, and then only taking t

[2020-01-28 17:23] connorlee77 commented on #431
Are the blurring convolutions the slow part of scalepyramid or is it creating the pyramids?

[2020-01-28 17:40] ducha-aiki commented on #293
@elistevens the whole idea of kornia is to be differentiable. scipy.ndimage.morphology  is not.

[2020-01-28 18:41] elistevens commented on #293
Ah, I thought that I'd read that `kornia.filters` was for non-differentiable things.

While it seems perhaps awful from a memory pressure perspective, could you do something like:

[code]

This of course assumes the standard cross structure; I think that constructing the weights wouldn't be too bad with use of `nonzero`.

[2020-01-28 21:29] edgarriba commented on #293
in terms of API I would like to stick more to OpenCV since is what we have more or less been following. However, as we did with other modules we can take the best of the exsting frameworks and make improvements. @ducha-aiki as for differentiability we could revisit the idea of having a soft vs non-soft implementations of the functionality. I actually collected some feedback from different potentia

[2020-01-29 21:06] ducha-aiki commented on #293
@elistevens  that's actually great idea. I still think that we should do grayscale dilation and do tutorial how to get results exactly the same as for binary case, but your "terrible-memory" idea is pretty nice.
@ananyamukh6 do you plan to continue work on this?

[2020-01-30 05:58] ceroytres commented on #312
Can I help with the remaining color conversions?  @edgarriba

[2020-01-30 10:37] edgarriba opened #434 "[ROADMAP] Kornia v0.2.1"
This is the roadmap for **kornia v0.2.1** that will focus mainly in morphology and epipolar geometry.

Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list). Please, take a read on the CONTRIBUTING notes.

* **Epipolar Geometry**
Propose stuff potentially from `opencv.calib3d` and `opencv.sfm`
  * [x] symmetrical_epipolar_distance https:

[2020-01-30 10:37] edgarriba commented on #312
closing in favor of https://github.com/kornia/kornia/issues/434

[2020-01-30 10:37] #312 closed

[2020-01-30 10:38] edgarriba commented on #312
@ceroytres check new roadmap and please pick any item :D

[2020-01-30 10:38] #385 closed

[2020-01-30 12:18] edgarriba commented on #293
adding this to the conversation: https://www.kaggle.com/ren4yu/bengali-morphological-ops-as-image-augmentation

we discussed with @ducha-aiki to use the challenge as a use case to define the API. Maybe could start by mimicking OpenCV and later iterate on that.

[2020-01-30 16:47] ceroytres commented on #434
@edgarriba Can I do the remaining color conversions?

[2020-01-30 16:48] edgarriba commented on #434
@ceroytres sure, go ahead, try to split them in different PRs

[2020-01-30 21:19] ducha-aiki commented on #293
OK, here is a minimalistic implementation of proper grayscale morphology based on @elistevens idea

[code]

To have results exactly as in binary dilation, one should use (-1, 0) kernels, where -1 for "off" elements and "0" for on.
e. g. cross will be:

[code]

The implementation above lacks fast se_to_mask implementation, i.e. without for loop and also would benefit from adding strides, padding an

[2020-01-30 21:22] ducha-aiki commented on #431
Good question. Would you like to help us benchmark it? :)

[2020-01-30 22:02] elistevens commented on #293
Unfortunately I'm under deadline elsewhere, and that's soaking up the majority of my free time ATM. I don't think I'd be able to take something to completion until late Feb. or March. I don't know what schedule you're thinking of.

A thought:  `se_to_mask` could be called in `__init__` rather than in `forward` to cache the result.

[2020-01-30 22:07] connorlee77 commented on #431
The latency was actually due to a non-optimal correlation function in my loss function. Thanks for the help!

[2020-01-30 22:07] #431 closed

[2020-01-31 11:23] edgarriba commented on #355
@ducha-aiki can we close this ?

[2020-01-31 11:25] #247 closed

[2020-01-31 11:26] edgarriba commented on #145
closing this. Will open new one with the whitening function

[2020-01-31 11:26] #145 closed

[2020-01-31 11:28] edgarriba opened #435 "[Features Request] ZCA whitening"
Would be great to a pytorch gpu ready version of the ZCA whitening function

Numpy reference:  https://github.com/mwv/zca/blob/master/zca/zca.py#L32

[2020-01-31 11:29] ducha-aiki commented on #355
Yes.

[2020-01-31 11:29] #355 closed

[2020-01-31 11:30] edgarriba commented on #138
@vimalthilak is this issue still relevant ? otherwise we can close it

[2020-01-31 11:46] edgarriba commented on #293
cool, as for the function signature I would stick to opencv:

#### Dilate
https://docs.opencv.org/master/d4/d86/group__imgproc__filter.html#ga4ff0f3318642c4f469d0e11f242f3b6c

[code]

#### Erode
https://docs.opencv.org/master/d4/d86/group__imgproc__filter.html#gaeb1e0c1033e3f6b891a25d0511362aeb

[code]
and also adding a kernel generation function:

#### GetStructuringElement
https://docs.opencv.or

[2020-01-31 11:53] edgarriba commented on #279
this is already merged https://kornia.readthedocs.io/en/latest/geometry.linalg.html#kornia.geometry.linalg.transform_boxes

[2020-01-31 11:53] #279 closed

[2020-01-31 11:57] edgarriba commented on #130
I think this was already solved. Please, reopen in case anyone experience same issue

[2020-01-31 11:57] #130 closed

[2020-01-31 11:58] #154 closed

[2020-01-31 11:59] edgarriba commented on #218
already solved

[2020-01-31 11:59] #218 closed

[2020-01-31 12:02] edgarriba commented on #192
this is related to https://github.com/kornia/kornia/pull/261

[2020-01-31 12:07] edgarriba commented on #214
@ducha-aiki tests are enabled, still slow but not sure what we can do for now.
I guess we can close this and open new issue once the time arrives for real C++ optimization.

[2020-01-31 12:10] edgarriba commented on #289
@otaj do you have any automatic tool to update packages each time we do a realease ? Notice that v0.2.0 is out !

[2020-01-31 15:12] otaj commented on #289
Hi, I just updated the package on AUR. I do not any automatic tool to do so, however I was planning to set something like that, so I will get to it right away :) Thanks for such a reminder.

BTW, variable `version` in `setup.py` in release archive is 0.1.2, I believe it should read 0.2.0. It just means, that the `import kornia; print(kornia.__version__)` gives something like 0.1.2

[2020-01-31 15:30] edgarriba commented on #289
I have to rethink this part about versioning. However, each time I do a release I put by hand the version number. So the wheel from pypi should be fine.

[2020-01-31 15:35] ducha-aiki commented on #293
Do we really need anchor point? It compicates things a lot. And do people really use filters/SEs, which are not centered? I never even heard about this.  Moreover, we already ignored it in our filter2d))
https://docs.opencv.org/master/d4/d86/group__imgproc__filter.html#ga27c049795ce870216ddfb366086b5a04

[2020-01-31 16:13] edgarriba commented on #293
fair enough, lets ignore it

[2020-01-31 16:29] otaj commented on #289
Well, the `setup.py` in tag v0.2.0 in repo has a wrong version, so maybe it just was pushed after it was properly tagged?

[2020-01-31 17:33] edgarriba commented on #289
Well is already fixed :)

[2020-02-01 11:48] bhack commented on #293
/cc @lc82111 https://github.com/lc82111/pytorch_morphological_dilation2d_erosion2d

[2020-02-03 11:15] lebionick opened #437 "[BUG] extract_patches_simple does not work"
I launch example notebook: https://github.com/kornia/kornia/blob/master/examples/feature_detection/extract_local_patches.ipynb
and it crashes:
[code]
`kornia==0.2.0` and I also tried the newest one from master

[2020-02-03 11:23] lebionick commented on #269
I wonder if it is possible to make differentiable crops based on tensor values (e.g. a neural network segments an image then we find bounding boxes in segmentation map and crop them from original image/feature map, concatenate and send to the next network)

[2020-02-03 12:26] edgarriba commented on #269
@lebionick I believe this is possible with `crop_and_resize`
https://kornia.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.crop_and_resize

analogous to ROI[Pool/Align] family operators for object detection algorithms

[2020-02-03 12:27] edgarriba commented on #437
what version of torch are you using ? this should have been fixed already

[2020-02-03 13:07] lebionick commented on #437
`torch==1.1.0 (cuda 10.0)`

[2020-02-03 13:12] lebionick commented on #269
@edgarriba
so the problem is to extract coordinates of bounding boxes for this function if doing segmentation, not based on sliding-window detection

[2020-02-03 13:13] edgarriba commented on #437
try to update to 1.4

[2020-02-03 13:16] ducha-aiki commented on #269
@lebionick we are thinking about adding such function, thanks for suggestion.
In meantime you could you use this function from fastai2 (mask2bbox)
https://github.com/fastai/fastai2/blob/afed3afe7660a17a25c17f630f746918a4b11acb/fastai2/medical/imaging.py#L181

[2020-02-03 13:26] lebionick commented on #437
Unfortunately I cannot do this (permanently), because of CUDA and warp_ctc_pytorch dependencies in our production, but I think the issue is resolved.

[2020-02-03 13:26] #437 closed

[2020-02-03 13:33] lebionick commented on #269
@ducha-aiki
As far as I understand, this function extracts only one box without angle. But for my case (multiline OCR) I would like to have many boxes and their angles.
P.S. The source code is a bit messy, I cannot understand how it works and how to extrapolate to my case:)

[2020-02-03 14:02] jph00 commented on #269
Please don't make judgements like that. Just because you can't understand it, doesn't make it messy. There might be other reasons you can't understand it. For instance, you don't have the context for that code, and haven't read the tutorial it's part of.

[2020-02-05 21:35] connorlee77 opened #440 "ScaleSpaceDetector return SIFT keypoints?"
What exactly does ScaleSpaceDetector return? I presume a list of SIFT keypoints? How do I find the positions of these keypoints in the image?

[2020-02-05 22:26] ducha-aiki commented on #440
Please, see the documentation
https://kornia.readthedocs.io/en/latest/feature.html#kornia.feature.ScaleSpaceDetector

"Returns
shape [BxNx2x3]. Detected local affine frames. responses (torch.Tensor): shape [BxNx1]. Response function values for corresponding lafs:

It doesn't return list of SIFTs, it returns tensor of those keypoints, which were specified in resp_module input parameter.

[2020-02-06 00:22] connorlee77 commented on #440
Thanks for the explanation! I guess my real question is: what are the lafs?

I'm ultimately trying to get the location of the keypoints in order to pass a patch into the siftdescriptor class.

[2020-02-06 00:23] connorlee77 commented on #440
Is there an example of using ScaleSpaceDetector with SIFTDescriptor anywhere? That may be more useful for me to understand the outputs of ScaleSpaceDetector

[2020-02-06 01:06] connorlee77 commented on #440
Never mind. I see that we can use extract_patches_simple() to retrieve said patches from laf.

[2020-02-06 01:06] #440 closed

[2020-02-06 10:29] lferraz opened #441 "[BUG] image_to_tensor() changes the image datatype to float"
e.g. if I have a uint8 numpy image and I apply the method it returns a float tensor.
I consider these kind of changes shouldn't be done or at least they should be clearly noted in the docstring.
Another issue with this is the speed, datatype changes are not for free, and in my case means that using image_to_tensor there are two unnecessary dtype conversions (unit8->float->uint8)

[2020-02-06 14:13] ducha-aiki commented on #440
Here are some tutorials and examples of usage:

https://github.com/kornia/kornia-examples/blob/master/local_feature_detection_example.ipynb
https://github.com/kornia/kornia-examples/blob/master/image-matching-example.ipynb

I would also recommend to use not extract_patches_simple, but extract_patches_from_pyramid. It gives much better results

[2020-02-09 23:34] Auth0rM0rgan opened #443 "Background subtraction"

[2020-02-10 07:32] humandotlearning commented on #434
@edgarriba I see Lab <-> RGB is pending for a while can I complete it?

[2020-02-10 07:57] edgarriba commented on #434
@humandotlearning yes, please go ahead

[2020-02-10 16:33] ceroytres commented on #434
@edgarriba I can work on zca whitening #435. I was hoping to push a RGB<->sRGB converter since it's used both by Luv and Lab in OpenCV [here](https://github.com/opencv/opencv/blob/b39cd06249213220e802bb64260727711d9fc98c/modules/imgproc/src/color.hpp#L84), [here1](https://github.com/opencv/opencv/blob/8c0b0714e76efef4a8ca2a7c410c60e55c5e9829/modules/imgproc/src/color.cpp#L271). Maybe @humandotlear

[2020-02-10 17:06] edgarriba commented on #434
@ceroytres go ahead with zca whitening. Make a bit of research about how it should be done, I remember to not go that deep with that ;)

[2020-02-10 17:47] ucalyptus commented on #434
@edgarriba can I take up histogram?

[2020-02-10 18:18] edgarriba commented on #434
@ucalyptus sure, go ahead.

[2020-02-12 10:15] pabloppp opened #444 "[Features Request] Elastic Transformation for data augmentation."
There seems to be an open PR for adding it to torchvision https://github.com/pytorch/vision/pull/1448 and I thought it would really good to have this as an augmentation transformation in kornea (maybe it can be already achieved combining existing kornea modules)

Not sure if possible but it would also be awesome if this could be added as a differentiable module.

[2020-02-12 20:56] edgarriba commented on #444
@pabloppp thanks for reporting. As you said, it can definitely be implemented. Adding it to the roadmap #434

[2020-02-14 08:16] jannctu opened #446 "[Feature Request] Canny Edge Detection Algorithm"
Hi,

do you think it is possible to implement NMS edge thinning as a CNN layer?
here is the NMS algorithm in python as a reference.

https://github.com/StefanPitur/Edge-detection---Canny-detector/blob/master/canny.py

[2020-02-14 11:29] edgarriba commented on #446
@jannctu yes, I think it's doable applying 'diff' kernels over angles feature map.

[2020-02-17 14:44] borgesa commented on #353
Hi,
Discovered Kornia because of the comment in the DSNTNN repository that I've used in a previous project (thanks, @anibali ). Kornia looks like a very promising repository, well done!

I have a couple comments/questions related to this issue and to the soft-argmax implementation in Kornia. As this became longer than I planned (sorry), I'll split the post by topic.

**1) Multiple function calls w

[2020-02-17 14:50] victoriansir opened #448 "Outdated example"
Outdated example on the geometry.transform.**crop_and_resize**() function

Following the clockwise order for the corners it should be:

`       >>> boxes = torch.tensor([[
                [1., 1.],
                [1., 2.],
                [2., 2.],
                [2., 1.],
            ]])  # 1x4x2`

Instead of the current:
`        >>> boxes = torch.tensor([[
                [1., 1.],

[2020-02-17 15:17] borgesa commented on #353
**2) Regarding the issue related to usage of 'kornia.geometry.dsnt.spatial_softmax_2d'**
I don't know exactly how @pablovela5620 applies the heatmaps to the 'spatial_softmax_2d'-function, so I might be way off in what follows:

A heatmap generated by the example function 'generate_heatmaps_from_uv' has a single max value of 1. This breaks the assumption that the DSNT input sums to one (assumption

[2020-02-17 15:19] borgesa commented on #353
**3) Docstring update **
Some documentation related to the dsnt/soft-argmax modules needs to be updated (they still point to 'kornia.contrib', which is a bit confusing).

**4) Implementation plan **
Do you have an estimate of when v0.2.1 will be released/this issue will be closed?

[2020-02-17 21:33] anibali commented on #353
What @borgesa said is spot on, and I suspect that they have also found the true cause of the problem @pablovela5620 is having.

The name clash is mainly my fault, since I was the one that brought the important parts of `dsntnn` into Kornia after some initial work had already been done. My thinking at the time was that I wanted to make it easier for people to transition to Kornia from `dsntnn`, but

[2020-02-20 08:12] Ir1d opened #451 "[Feature Request] multiscale ssim"
Currently SSIM is supported: https://kornia.readthedocs.io/en/latest/losses.html#kornia.losses.SSIM
Multiscale SSIM would also be nice.
example: https://github.com/jorge-pessoa/pytorch-msssim

[2020-02-20 10:08] edgarriba commented on #451
@Ir1d great suggestion. I invite you port it to kornia. Cound the existing ssim be reused for that ?

[2020-02-20 10:18] Ir1d commented on #451
@edgarriba I believe the existing ssim could be used.
However, when I use the linked ms-ssim as loss function, it is not very stable (sometimes nan).
I'll have to dig more into this.

[2020-02-20 10:26] lferraz opened #452 "[BUG] in the homography warper example."
in `kornia/examples/homography_regression/homography.ipynb` there is the next import:
`import torchgeometry as tgm`

I assume should be:
`import kornia`

[2020-02-20 10:48] edgarriba commented on #451
@Ir1d could you file a bug to report this stability  issue ? haven't played recently with this loss, but could you try to add an epsilon value in [here](https://github.com/kornia/kornia/blob/master/kornia/losses/ssim.py#L133-L134) ?

[2020-02-20 10:57] Ir1d commented on #451
@edgarriba , sorry about this. I meant that the linked `ms-ssim` implementation is not very stable (as I reported [here](https://github.com/jorge-pessoa/pytorch-msssim/issues/7#issuecomment-538862908)). I haven't tried implementing ms-ssim with kornia.losses.ssim yet

[2020-02-21 08:51] #443 closed

[2020-02-23 03:38] QifanZhang98 opened #457 "[Typo] Typo on document of angle_axis_to_quaternion"
Link: https://kornia.readthedocs.io/en/latest/geometry.conversions.html#kornia.geometry.conversions.angle_axis_to_quaternion

Input and output are described as:
Input: (∗,3) where * means, any number of dimensions
Output: (∗,4)

While the example shows:

`angle_axis = torch.rand(2, 4)  # Nx4
quaternion = kornia.angle_axis_to_quaternion(angle_axis)  # Nx3`

The example indicates that input shape is

[2020-02-23 18:42] edgarriba commented on #457
hi @QifanZhang98 thanks for the feedback. I invite you to send a quick PR with this docs update

[2020-02-24 12:28] QifanZhang98 commented on #457
Thank you very much for your fast reply and invitation!
However, I have never been invited to edit a document. So could you briefly explain which file I should edit and how to edit it?
Thanks for that!

[2020-02-24 20:19] connorlee77 opened #459 "Easy way to use Dense Sift"
Is there a simple way to generate lafs to feed into extract_patches_from_pyramid for the purposes of dense sift?

I was thinking about feeding a list of centers into laf_from_center_scale_ori, with each center having a couple scales and 8 orientations per scale.

Are there any easier ways I'm not thinking of?

[2020-02-24 20:46] ducha-aiki commented on #459
Probably not. But feel free to request DenseSIFT as separate module. It is not hard to implement and I can do it after ECCV deadline (after March 8)

[2020-02-24 23:29] andraugust opened #460 "[BUG] Inconsistent batch size output"
Thanks for the great package.  The output of `kornia.augmentation.RandomRotation` has an inconsistent batch size when the input batch size is 1:

[code]
Is this desired behavior?

[2020-02-24 23:49] connorlee77 commented on #459
For sure, thanks! I'll implement it on my own for now and create a PR so you dont have to create it from scratch.

The current implementation is pretty slow. I'm using 8 orientations and 10 scales per center. For an 300x300 image with N centers on the grid, I have a total of 80N unique dense keypoints. The dense LAFS are pre-generated in the constructor of my DenseSift class.

Do you expect it to

[2020-02-25 08:49] skmatz commented on #460
The same behavior occurs not only with `RandomRotation`, but also with `RandomHorizontalFlip`, but not with `RandomVerticalFlip`.

Given this, this behavior seems to be inconsistent.
In the case of `RandomRotation`, the shape of the tensor changes around here:

https://github.com/kornia/kornia/blob/cb9373bbe0b98103ad982b9a2317fe472dd2e631/kornia/augmentation/functional.py#L487-L488

If this is une

[2020-02-25 09:01] ducha-aiki commented on #459
No, I meant that I could implement DenseSIFT is a proper memory efficient way w/ o lafs

[2020-02-25 09:24] skmatz opened #461 "crop_and_resize does not return correct results"
`kornia.geometry.crop_and_resize` example may be not correct (or the implementation may be wrong).

When running the example code, it outputs

[code]

not

[code]

in example.
Also, even if changing the box as pointed out #448, it outputs

[code]

https://github.com/kornia/kornia/blob/cb9373bbe0b98103ad982b9a2317fe472dd2e631/kornia/geometry/transform/crop.py#L30-L45

[2020-02-25 21:26] connorlee77 opened #462 "[Feature] Implement DenseSift"
Could we get [DenseSift ](https://www.vlfeat.org/overview/dsift.html) implemented as part of the feature module?

[2020-02-26 10:14] edgarriba opened #463 "[Feature Request] Normalize projection matrix"
Would great to have the following normalization homography function

[code]

not sure about to `.detach()` the scale value.

[2020-02-27 02:25] pablovela5620 opened #464 "isinstance error when using kornia.image_to_tensor()"
I'm getting the following error when trying to convert to tensor
[code]

[2020-02-27 08:46] victoriansir commented on #461
I just checked and the results are correct if i use

`boxes = torch.tensor([[
                 [1., 1.],
                 [2., 1.],
                 [2., 2.],
                 [1., 2.],
             ]])`

The coordinate of the boxes must be given with x coordinate first and y coordinate second (x,y).

[2020-02-27 08:48] victoriansir commented on #448
Actually now the coordinate must be give in x,y order. So the correct update is
`boxes = torch.tensor([[
                 [1., 1.],
                 [2., 1.],
                 [2., 2.],
                 [1., 2.],
             ]])`

[2020-02-27 08:57] skmatz commented on #461
Exactly.
Was simply in the wrong order.

[2020-02-27 08:57] #461 closed

[2020-02-28 11:08] skmatz commented on #464
@pablovela5620

Please tell me the type and value of the argument `image_bgr`.

[2020-02-28 15:53] pablovela5620 commented on #464
Figured it out, it was a weird bug with typecasting. Thanks!

[2020-02-28 15:53] #464 closed

[2020-02-28 22:33] edgarriba commented on #464
Maybe an improvement in returning message would help. Feel free to send a PR with it

[2020-03-02 02:26] #448 closed

[2020-03-02 02:29] edgarriba commented on #457
@QifanZhang98 please take a read to the [CONTRIBUTING](https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst) document. This one should be relatively easy to fix - modify the related docs and make sure that the docs are well generated.

[2020-03-02 02:33] edgarriba commented on #462
@connorlee77 will add into the roadmap

[2020-03-02 02:34] edgarriba commented on #459
closing in favor of #462

[2020-03-02 02:34] #459 closed

[2020-03-02 21:16] ducha-aiki opened #466 "Spatial gradient speed test (to update the implementation)"
[code]

Without the backward pass: conv2d is better, but not dramatically:

with backward pass: conv2d is MUCH faster than conv3d:

pytorch 1.4.0, Ti 1080 12 Gb

P.S. Current implementation is conv3d_reshape

[2020-03-02 21:30] ducha-aiki commented on #466
Colab to reproduce:

https://colab.research.google.com/drive/1HL3VqE5AH_ZlHT2SQfIub2AVjwdTor5U

[2020-03-04 10:28] Auth0rM0rgan commented on #451
Hey @Ir1d, have a look at this file [ssim.and.ms-ssim.with.1D.kernel.txt] -- haven't tested with pytorch 1.4 (https://github.com/kornia/kornia/files/4286753/ssim.and.ms-ssim.with.1D.kernel.txt)

[2020-03-05 23:45] connorlee77 opened #467 "[Question] Which parameters in ScaleSpaceDetector to use to mimic OpenCV sift?"
Which parameters in ScaleSpaceDetector should I be using if I want to mimic OpenCV sift?

[2020-03-06 00:29] connorlee77 commented on #467
Does LAFOrienter perform the orientation assignment part specificed in the OpenCV [documentation](https://docs.opencv.org/master/da/df5/tutorial_py_sift_intro.html)?

[2020-03-06 20:07] connorlee77 opened #469 "[Bug] in LafOrienter"
[code]
returns this error message

RuntimeError                              Traceback (most recent call last)
<ipython-input-4-b79a13145069> in <module>
     23
     24 with torch.no_grad():
---> 25     lafs, resps = detector(timg_gray)
     26     patches =  kornia.feature.extract_patches_from_pyramid(timg_gray, lafs, PS)
     27     B, N, CH, H, W = patches.size()

~/anaconda3/envs/pt-gpu/lib/p

[2020-03-06 20:22] ducha-aiki commented on #467
None. We currently don't have Difference-of-Gaussian detector.

Yes, except that in OpenCV it may generate several orientations, which in kornia only one - to keep the batch aligned.

[2020-03-06 22:01] connorlee77 commented on #467
Does the choice in nms module particularly matter?

[2020-03-07 01:09] tshadley opened #470 "[DOCS] crop_and_resize interface changed"
crop_and_resize boxes format changed,  used to be (0.1.4):

"The tensor must have the shape of Bx4x2, where each box is defined in the following order: top-left, top-right, bottom-left and bottom-right. The coordinates order must be in y, x respectively"

Now (0.2.0):

"The tensor must have the shape of Bx4x2, where each box is defined in the following (clockwise) order: top-left, top-right, botto

[2020-03-08 23:05] IssamLaradji opened #472 "[Feature Request] Elastic Transform"
I think having an elastic transform function that is differentiable is very useful!

I have added a pull request here: https://github.com/kornia/kornia/pull/471. Your feedback will be helpful to get this pushed!

[2020-03-09 16:47] skmatz commented on #452
@lferraz

Can you tell me why?
`kornia` is not used in this notebook.

[2020-03-10 14:29] isabelleAI opened #473 "[Feat] Improve SSIM loss"
The SSIM loss function currently returns
`loss = torch.clamp(-ssim_map + 1., min=0, max=1) / 2.`

but unless I'm mistaken I think it should be
`loss = torch.clamp((-ssim_map + 1.)/2, min=0, max=1)`

[2020-03-10 23:44] edgarriba commented on #473
@isabelleAI thanks for the feedback. You are right, with the current implementation I guess we are missing some gradients by clipping before averaging.

Besides, now that I'm looking at the actual implementation, probably we should rename the function to `sssim_loss` since it's actually computing the Structural Dissimilarity. This will change the API though, but I think for good. Any other thought

[2020-03-10 23:47] edgarriba commented on #452
@lferraz probably you are looking at an old branch. I recently updated the examples in this branch for the WACV tutorial: https://github.com/kornia/kornia-examples/blob/wacv/homography.ipynb

[2020-03-11 00:04] edgarriba commented on #470
@tshadley thanks for reporting. WIll add myself to the release notes.

[2020-03-11 00:06] edgarriba commented on #469
/cc @ducha-aiki

[2020-03-11 00:09] edgarriba commented on #460
@skmatz @andraugust thanks for reporting. Could you try to send a PR fixing ?

[2020-03-11 01:41] isabelleAI commented on #473
I agree on the renaming.  I went to check the source code precisely because I wasn't getting the results I expected for the SSIM metric, and saw it was returning the dissimilarity instead.

[2020-03-11 14:19] ducha-aiki commented on #466
https://github.com/pytorch/pytorch/issues/34089?email_token=ABEUX3JSIQAACYNQMDDUE3TRGSHBDA5CNFSM4K75AEWKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEOFXY4A#issuecomment-596343920

Todo: use conv2d with interleaved kernel for gradients.

[2020-03-11 14:26] ducha-aiki commented on #469
@connorlee77 which version of kornia and pytorch do you use? I cannot reproduce your error and the notebook https://github.com/kornia/kornia-examples/blob/master/image-matching-example.ipynb works just fine for me.

[2020-03-11 23:59] connorlee77 commented on #469
I've been using the following:

kornia: 0.2.0
pytorch: 1.5.0.dev20200304 (the most recent nightly build)

[2020-03-13 16:35] bluesky314 opened #476 "[QUESTION] Image segmentation mask transform"
I am doing image segmentation and using random transforms. How do I get the image and mask to have the same transform done and the mask not have stuff like brightness happen to it? The tut applies then separately: https://kornia.readthedocs.io/en/latest/tutorials/data_augmentation.html#sphx-glr-tutorials-data-augmentation-py

[2020-03-13 19:03] ducha-aiki opened #477 "[Bug] jit.trace of RandomResizedCrop raises error"
Code to reproduce:

[code]

Error message:

[2020-03-13 19:10] edgarriba commented on #477
have you tried with `torch.script`?

[2020-03-13 19:18] ducha-aiki commented on #477
Yes. It gives another error

[2020-03-13 20:32] connorlee77 commented on #469
@ducha-aiki is this an easy fix? which versions are you using?

[2020-03-13 20:37] ducha-aiki commented on #469
I cannot reproduce your error, unfortunately :( are you running the notebook from kornia-examples and not your own images? One thing I could think of is that you could forget to make images grayscale

[2020-03-13 20:38] connorlee77 commented on #469
I'm running it right as is, right after I clone the repo. What versions of pytorch and kornia are you using?

[2020-03-13 21:00] connorlee77 commented on #469
Hey, so the issue seems to be the padding in the angular_smooth function of PatchDominantGradientOrientation. Instead of
`self.angular_smooth = nn.Conv1d(1, 1, kernel_size=3, padding=2, bias=False, padding_mode="circular")`

it should be

`self.angular_smooth = nn.Conv1d(1, 1, kernel_size=3, padding=1, bias=False, padding_mode="circular")`

[2020-03-13 21:08] ducha-aiki commented on #469
You are right. It is working in pytorch 1.4.0, but not in nightly, as I have checked right now.
Feel free to submit a PR with fix, or switch to 1.4.0

[2020-03-13 21:08] connorlee77 commented on #469
Will do!

[2020-03-13 21:48] connorlee77 commented on #469
PR here: https://github.com/kornia/kornia/pull/478

[2020-03-14 05:40] skmatz commented on #460
@edgarriba

Yup, but first let's discuss (tell me) input/output shape.

| # | input shape    | output shape                              |
|---|----------------|-------------------------------------------|
| 1 | (1, 3, 10, 10) | (1, 3, 10, 10) or (3, 10, 10)             |
| 2 | (2, 3, 10, 10) | (2, 3, 10, 10)                            |
| 3 | (1, 1, 10, 10) | (1, 1, 10, 10) or (1, 10, 10) or (10,

[2020-03-14 06:44] andraugust commented on #460
I agree. I think input and output shape should always be (B, C, H, W), even when B=1 and/or C=1.

[2020-03-15 14:21] ducha-aiki commented on #460
I think that keeping (B, C, H, W) even for B=1 and/or C=1 is good convention to enforce.

[2020-03-15 14:24] edgarriba commented on #460
@skmatz if you can proceed with some test and fixes for shape it's fine

[2020-03-15 15:52] edgarriba commented on #476
@bluesky314 I'll generate an example for such case

[2020-03-15 16:15] edgarriba commented on #451
@Ir1d @Auth0rM0rgan if any of you have time to test this function please don't hesitate to send a PR. Notice that there's an open discussion to rename the functionality #473

[2020-03-18 17:46] edgarriba opened #480 "[Feature Reques][SFM] Structure From Motion Module"
Discussion about the structure of the Structure from Motion module `kornia.sfm`

We should potentially list the functionalities we want to be in implementing projective and epipolar geometry:

- `symmetrical_epipolar_distance` @ducha-aiki https://github.com/kornia/kornia/pull/283
- `sampson_epipolar_distance` @ducha-aiki https://github.com/kornia/kornia/pull/283
- `find_homography` @edgarriba
- `f

[2020-03-18 17:47] edgarriba commented on #480
/cc @krrish94 please, give some feedback. Needed functionalities or general structure.

[2020-03-18 20:08] krrish94 commented on #480
Thanks for initiating this discussion @edgarriba. Looking at the type of functions proposed in, I'm assuming this is the basic functionality on which the actual `sfm` modules will be built. (Most modules listed here seem to be for two-view motion estimation).

Thinking of the basic components needed to implement an `sfm` pipeline, I see the following:
1. **Two-view structure and motion**: `find_fu

[2020-03-19 10:09] edgarriba commented on #480
@krrish94 great, I like your proposal. Do you have already any code for 2, 3, 4, 5 ?

As for your comment in 3, I would probably go for `kornia.sfm.optim` instead since all the optimization methods you mention are sfm specific I guess.

As for 5, probably we should revisit the conversions algorithms since there are still some open issues around it. See https://github.com/kornia/kornia/pull/391 htt

[2020-03-19 10:27] ducha-aiki commented on #480
One comment on the minimal solvers: we might want to look instead to the weighted least squares, as in Deep Fundamental Matrix, MAGSAC++ and so on. The reason is that it is differentiable as is, as opposed to various differentiable RANSAC variants.

[2020-03-19 10:29] edgarriba commented on #480
@krrish94 I propose to continue the conversation in [slack](https://join.slack.com/t/kornia/shared_invite/zt-csobk21g-CnydWe5fmvkcktIeRFGCEQ) in order to start organizing things. I created a #sfm channel for it.

[2020-03-19 10:29] krrish94 commented on #480
Moving there :)

[2020-03-19 10:30] edgarriba commented on #480
@ducha-aiki my versions for `find_fundamental` and `find_homography` are already using weighted least squares :)

[2020-03-19 18:03] bluesky314 commented on #476
OK

[2020-03-19 22:54] connorlee77 commented on #434
@ucalyptus Have you made any progress on histogram? I am wondering how you computed a 2d histogram in pytorch.

[2020-03-20 04:38] krrish94 opened #483 "[Feature Request][Lie] Support for SO(3) and SE(3) Lie groups"
Created this to discuss implementation of rigid-body motion parameterization on SO(3) and SE(3).

Currently, several optimization schemes for `sfm` and related problems parameterize rotations and rototranslations as Lie group elements. Implementing these utils is also part of the `kornia.sfm` roadmap (see https://github.com/kornia/kornia/issues/480).

I think it makes sense for these ops to be in

[2020-03-20 12:15] ducha-aiki opened #484 "[bug] Image warping in cpu mode"
[code]

![image](https://user-images.githubusercontent.com/4803565/77162319-fb857200-6aab-11ea-8366-528f63501c98.png)

I think that bug is in pytorch affine_grid, because if I add the line to print the grid in warp_affine, then the results are indeed different

[code]

Output:

I'll fill-in pytorch bug, leaving the issue here as a reminder

[2020-03-20 12:20] ducha-aiki commented on #484
Fixed with clean env (PIL, numpy etc) re-install.

[2020-03-20 12:20] #484 closed

[2020-03-20 17:00] shijianjian opened #485 "Blury on rotated image."
Here is a comparison between PIL rotation and kornia rotation. It is pretty clear that the image was blurred.

[code]

[code]
<img width="379" alt="Screenshot 2020-03-21 at 12 57 59 AM" src="https://user-images.githubusercontent.com/15955486/77187300-353b9480-6b0f-11ea-9d3a-32a04952f77a.png">

[2020-03-20 18:01] ducha-aiki commented on #485
I think that  pil in your example use nearest neighbour Iiterpolation and our one bilinear.

[2020-03-20 18:19] ducha-aiki commented on #485
here is with hardcoded
[code]

But your example shows that we should expose interpolation method, which is now not accessible via augmentation interface.

![image](https://user-images.githubusercontent.com/4803565/77194117-a2373600-6adf-11ea-9b1e-f553ad462bf7.png)

[2020-03-20 18:21] edgarriba commented on #485
Let's add that flag

[2020-03-20 18:25] ducha-aiki opened #486 "Expose align_corners and interpolation_flag to set of functions"
Right now we can specify interpolation mode in warp_affine and warp_perspective,
but not in the augmentation https://github.com/kornia/kornia/blob/master/kornia/augmentation/functional.py  and not in the https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/affwarp.py  (where all stuff like rotate etc is in)

[2020-03-20 18:26] ducha-aiki commented on #486
Related issues: https://github.com/kornia/kornia/issues/388  https://github.com/kornia/kornia/issues/485

[2020-03-20 18:28] ducha-aiki opened #487 "[Feat] Move all the image warping functionality implementation into single module"
Now we have:

affine transforms + image pyramid in https://github.com/kornia/kornia/tree/master/kornia/geometry/transform
and homography warping in the https://github.com/kornia/kornia/tree/master/kornia/geometry/warp

It confuses me all the time %)

[2020-03-20 18:29] edgarriba commented on #487
Agree. What do you suggest?

[2020-03-20 18:34] edgarriba commented on #413
Adding as reference this thread in torchvision https://github.com/pytorch/vision/issues/598

[2020-03-20 18:36] edgarriba commented on #434
@connorlee77 check https://github.com/kornia/kornia/issues/413 and move this discussion over there. Feel free to volunteer for any task

[2020-03-20 18:39] ducha-aiki commented on #487
geometry.warp for transforming image and geometry.transform for coordinates and points/cameras/matrices?

[2020-03-21 02:40] shijianjian opened #488 "Inconsistent of adjust_contrast and adjust_brightness with PIL lib"
The ```adjust_contrst``` implementation in Kornia is essentially the ```adjust_brightness``` in Torchvision.

In order to reproduce the results from Torchvision, I think we might need to rename the ```adjust_contrast``` to ```adjust_brightness```, and rewrite the ```adjust_contrast```. Our current implementation of ```adjust_contrast``` is not adjusting contrast at all.

To reproduce:
[code]

<img

[2020-03-21 02:47] shijianjian opened #489 "Inconsistent implementation on adjust_hue with PIL"
The function of ```adjust_hue``` can visually reproduce the similar results against Torchvision, although there may have two potential improvements to better align the Torchvision.
[code]

To reproduce:
[code]

<img width="402" alt="Screenshot 2020-03-21 at 10 46 33 AM" src="https://user-images.githubusercontent.com/15955486/77217935-47462300-6b61-11ea-8929-bed7ec34c7fe.png">

[2020-03-21 03:02] shijianjian commented on #476
Hi @bluesky314,

Currently, you may use the workaround like the following:
[code]

[2020-03-21 04:38] shijianjian opened #490 "Inconsistent precision format between Kornia and Torchvision"
Since the Torchvision is heavily using PIL which is uint8 formatted, the output can hardly be reproduced using our current precision. Also, we may not want to downgrade our precision levels. In this case, I suggest having a global variable like ```PIL_MODE``` or so to be able to control Kornia precisions.

I found we have to update many basic functions first before testing on Kornia augmentation a

[2020-03-21 09:17] edgarriba commented on #483
Yes, please proceed with it. In internal discussion we agreed to put geometry transforms under `kornia.geometry.linalg` so that we can clearly separate image stuff from pure maths transformations.

For the `nn.Module` what we have been trying to do all the time is for any feature to provide both module and free function. Modules are mainly designed to be a part of a `nn.Sequential` which is relati

[2020-03-21 11:42] krrish94 commented on #483
LGTM, I'd presonally shorten the module name to `kornia.geometry.linalg.lie`

[2020-03-21 12:04] edgarriba commented on #483
sure, go ahead. Just make sure that when you design the API, take into account namings so that functionalities could be exposed to top level.

[2020-03-21 12:10] edgarriba commented on #490
@shijianjian this was one of the principle designs; to support only floating precision. Couple of reasons: 1) library target was meant for training 2) referring to 1, most of the low level operators are only supported and optimized for floating point precision.

If it's jut the case for data augmentation and to match a third-party lib (in this case PIL), I would make a workaround in such functiona

[2020-03-21 12:15] edgarriba commented on #488
@shijianjian good finding; I remember that there was already a discussion about it since different libraries handle contrast/brightness in a different way. I''m okay for renaming to match PIL/torchvision in case it makes sense from theory point of view (which I thing was the reason @priba  took this decision). Let's double check it.

[2020-03-21 12:28] edgarriba commented on #489
@shijianjian how far are the results ? for the `pi` factor , as far as I remember with @priba we decided to go with it since `pi` is a more representative number that just a factor as they do in torchvision.

[2020-03-21 12:34] ducha-aiki commented on #490
As we rely on pytorch on all operations and it has only float and half floats, I see no reason to have uint8 operations here. Moreover, they are not differentiable.

[2020-03-21 13:09] shijianjian commented on #490
I understand that we are in a great advantage with the floating-point support. Also, I agree that uint8 is not differentiable. But if we wish to reproduce the exact same results with Torchvision, we definitely need to use many torch.round() to replicate what happened inside PIL.

[2020-03-21 13:17] shijianjian commented on #489
It is not about PI factor I suppose, using a simple normalization like factor * 2 / PI works and produced very similar images. ```adjust_hue``` behaves very similar to ```to_grayscale``` in the distances between points. Still, I think it is about the precision format issue as documented in #490.

If we wish to reproduce PIL, we need to give a uint8 in every intermedia steps.

[2020-03-21 13:26] edgarriba commented on #490
I guess then it's a matter of testing, not for the library core. We can just have utility functions or is there any other thing that could be affected by this issue?

[2020-03-21 13:27] edgarriba commented on #489
Then maybe we need some specific unit tests if we now the maths underlying under the function.

[2020-03-21 13:37] shijianjian commented on #490
Take the example of the to_grayscale function.

from (Kornia)
[code]
to (PIL)
[code]

If we are not touching our original implementation, we definitely cannot reproduce the same results. One thing I am thinking is to have a switching parameter like ```PIL_MODE``` to control the function output. Do you have any suggestions for this?

[2020-03-21 14:01] shijianjian commented on #489
Yes. In order to do so, we have to align all functions to PIL implementations. Starting from:
- to_grayscale
- rgb_to_hsv
- hsv_to_rgb
then:
- adjust_hue
- adjust_brightness
- ...
We are basically re-writing all intensity-based conversions.

[2020-03-22 09:26] edgarriba commented on #490
have you measured the actual difference, because if not that large, we could assume correctness in our implementation

[2020-03-22 09:38] shijianjian commented on #490
From what I have tested:
- adjust_hue
- adjust_contrast
- adjust_brightness
- adjust_saturation
- to_grayscale
- rgb_to_hsv
- hsv_to_rgb

Apart from the adjust_contrast and adjust_brightness, I am sure that we are doing correctly. But in terms of testing, I do not think it is doable in the current stage.

Also, we may be handling rgb_to_hsv and hsv_to_rgb differently comparing to PIL, but I think

[2020-03-23 10:10] priba commented on #488
Hi,

I reported it in https://github.com/kornia/kornia/issues/145#issuecomment-517918935. At the end I decided to follow it opencv-like, but I do not have any objection on changing it to follow PIL/torchvision library.

Now it is defined as, g(x)=αf(x)+β where the parameters α>0 and β are the contrast and brightness respectively.

[2020-03-23 12:10] shirgur opened #492 "Video processing"
I want to apply transformations on a sequence of video frames ```(BTCHW)```.
1) Looks like it is not possible for that form of tensor
2) If I apply RandomSOMETHING, on a single sequence ```(TCHW)```, each frame transforms differently

Is there a solution?
Thanks

[2020-03-23 17:00] edgarriba commented on #492
@shirgur thanks for pointing out this use case. At this moment I believe it's not possible with the high level API since we assume `BCHW` for every single operator in Kornia. However, we will think how to adapt the API for augmenting videos.

The only thing I can think about now is manually generating the parameters based on the batch size, replicate over channels size and finally use `*_apply_*`

[2020-03-23 23:17] xen0f0n opened #493 "Focal loss sigmoid instead of softmax"
As I was trying to figure out whether focal loss takes logits or sigmoid outputs as input, I saw that is passes the input through a softmax.
Shouldn't focal loss use sigmoid instead of softmax? Or at least provide an option to handle both binary and multi-class tasks?
This was also raised [here](https://github.com/kuangliu/pytorch-retinanet/issues/6).

[2020-03-24 07:41] vishal-wiai opened #494 "Motion blur doesn't take tuple range for params angle and direction"
It would be useful to have `MotionBlur` taking range of values (tuple) for parameters angle and direction when the object is initialised. Every time it is called, it samples a random value from the range to perform the filtering.

[2020-03-24 15:33] shijianjian commented on #492
Hi @shirgur,

1. For now, we only support BCHW.

2. The temp workaround can refer to https://github.com/kornia/kornia/issues/476#issuecomment-601984118.

Apology here since we got two different mechanisms of parameter generating while development. You may use:
[code]
or
[code]
Please refer to https://github.com/kornia/kornia/blob/master/kornia/augmentation/augmentation.py for details.

[2020-03-24 15:41] shijianjian commented on #488
Brilliant. I think we are now considering to converge to the torchvision. Do you mind to have a PR for a PIL version of adjust_contrast?

[2020-03-24 16:02] shijianjian opened #495 "Data Augmentation Interface Designing"
Since there are some use cases for the reproducible augmentations #476, #488.

I am wondering about how would the APIs look like. I think an easy approach is to have a flag to control if same augmentation would apply element-wise or batch-wise.

For normal use cases:
[code]
Or the same augmentation is needed, like in #488
[code]
Semantic Segmentation
[code]
Pseudo logic like below:
[code]
Is any b

[2020-03-24 17:48] edgarriba commented on #494
@vishal-wiai thanks for asking for this request. We can definitely add this feature to the `kornia.augmentation` API.

I suggest something like /cc @shijianjian
[code]

[2020-03-24 17:53] edgarriba commented on #493
@xen0f0n thanks for reporting. Sure, we can update with the implementation you suggest. Can you send a small PR updating ?

I leave here the link to the code: https://github.com/kuangliu/pytorch-retinanet/blob/master/loss.py#L16

[2020-03-24 17:54] edgarriba commented on #493
/cc @ducha-aiki you played around with this loss. Any insight for the suggested update ?

[2020-03-24 18:20] edgarriba commented on #495
@shijianjian a couple of comments:
1) for the input data shape we want to randomize I see the following combinations: **B**TCHW, B**T**CHW, BT**C**HW, **B**CHW, B**C**HW. which suggests where to apply the generated parameters over B, T or C - so why just not adding `dim` flag specifying to which axis we want to apply the random parameters ? This convention will also go with pytorch standard (or `a

[2020-03-25 09:57] shijianjian commented on #495
I agree that adding a parameter like ```apply_same_transform_on_dim``` looks good.

For semantic segmentation, it is actually a special case of BTCHW, which has a fixed T=2. User can input in (B, 2, C, H, W) with ```apply_same_transform_on_dim=1```.

In that logic, the ```nn.Module``` implementation shall be a wrapper to handle the dims, then for each transformation function, we gonna have a ```ap

[2020-03-25 10:40] shijianjian commented on #494
@vishal-wiai  It looks like not pretty hard to implement. Do you have any resource material or standard implementation for this?

OpenCV has a Motion Deblur implementation but not Motion Blur. From elsewhere, I have seen different implementations:
1. Horizontal, Vertical Motion Blur: [here](https://www.geeksforgeeks.org/opencv-motion-blur-in-python/)
2. Diagnal Motion Blur: [here](https://stackove

[2020-03-25 13:58] edgarriba commented on #495
I don't really get why do we need the for loop in `x_t_transformed`. If think that depending on the desired `dim` value, the generated parameters could be replicated so that the operator can be all cases applied in batch. BTW, I'd suggest to have by default `dim=0` being the transform applied to all the element in the batch.

[2020-03-25 14:31] xen0f0n commented on #493
@edgarriba, sure!
I'm working on it. When I have something that works as intended, I'll get back to you with a PR!

[2020-03-25 14:56] edgarriba commented on #476
@bluesky314 checkout this example I created: https://github.com/kornia/kornia-examples/blob/master/data_augmenation_segmentation.ipynb

notice that we are under refactoring to improve the API. Feel free to provide more use cases our any general feedback.

[2020-03-25 15:04] edgarriba commented on #493
@edgarriba sounds great. Looking for that PR :)

[2020-03-26 14:31] edgarriba commented on #488
@shijianjian I think that we more or less agreed that the better would be to update docs (probably in the augmentation API section?) and explain reproducibility in this case with torchvision/PIL. Could you do that ?

[2020-03-26 14:48] edgarriba commented on #494
@shijianjian I think the idea would provide the high level interface to known filters to apply motion blur using `kornia.filter2d`. Motion deblurring is an open area of research mostly covered now by learned filters and some optical flow. Probably the 3 types you mention are fine by now. I will add this feature request in the roadmap.

@vishal-wiai feel free to send a PR.

[2020-03-26 15:00] edgarriba commented on #441
solved here https://github.com/kornia/kornia/pull/497

[2020-03-26 15:00] #441 closed

[2020-03-27 02:08] shijianjian commented on #488
Yes. I will finish the tests for spatial augmentation in this weekend and update the docs accordingly.

[2020-03-27 18:03] Eizenborg opened #499 "[Bug] tiny bug on _kl_div_2d causes runtime error"
Hi all,
Not sure why this happens, but when using js_div_loss_2d (which is awesome, thanks!) I get this Runtime Error:
`
line 12, in _kl_div_2d
    q.view(batch * chans, height * width).log(),
RuntimeError: view size is not compatible with input tensor's size and stride (at least one dimension spans across two contiguous subspaces). Use .reshape(...) instead.
`

which is solved by changing
`q.view

[2020-03-28 11:13] connorlee77 commented on #413
@edgarriba @ducha-aiki

Is this feature complete yet? I've written code for a batch histogram1d, and histogram2d via kernel density estimation.

Since its an estimation, the histogram won't be exactly correct, but it should be close. Should I open a PR to include it in Kornia?

[2020-03-28 11:18] edgarriba commented on #413
@connorlee77 sure go ahead

[2020-04-01 07:19] zccyman opened #502 "How do I get L1 distance of two matrix using kornia?"
for example, matrix1 shape: [12, 27], matrix2 shape: [2048, 27], the L1 distance shape: [12, 2048].

[2020-04-01 08:58] edgarriba commented on #502
@zccyman this is a general Pytorch related question. I would suggest you use their forums next time
https://discuss.pytorch.org/

However, I believe that the response of your question can be done like this
[code]

[2020-04-01 08:58] #502 closed

[2020-04-01 09:56] edgarriba opened #503 "[Bug] Hardnet do not pass gradcheck"
Recently introduced hardnet descriptor (https://github.com/kornia/kornia/pull/498) is not able to pass `gradcheck` tests.

The test is disabled right now and might need some investigation.
Link to the failing tests: https://github.com/kornia/kornia/blob/ee668e38ee8bea32c092538a73add1b1d8f550e2/test/feature/test_hardnet.py#L26-L32

Raised error: https://pastebin.com/pKVezb1d

[2020-04-01 09:57] edgarriba commented on #503
/cc @DagnyT you might want to check this

[2020-04-01 11:57] SeokjuLee opened #505 "[QUESTION][geometry] Is there a differentiable function for inverse projective transformation?"
Thanks for releasing such a powerful library for 3D vision.
I am interested in estimating depth by differentiable rendering.
If a dense correspondence map (F_12) and relative camera pose (T_12) between two frames (I_1, I_2) are given, can I inversely compute a relative reference depth in a differentiable way?
Could you recommend some scripts to achieve this?

[2020-04-01 13:53] edgarriba commented on #499
@Eizenborg is it happening calling `.contiguous()` before kornia ?

[2020-04-01 17:17] DagnyT commented on #503
I've noticed several things:

1. doesn't work with dropout.
2. torch.backends.cudnn.deterministic = True is needed here
3. the problem stays with _normalize_input method, I assume it might violate this "If any checked tensor in input has overlapping memory, i.e., different indices pointing to the same memory address (e.g., from torch.expand()), this check will likely fail because the numerical gra

[2020-04-01 19:01] edgarriba commented on #503
@DagnyT thanks for checking. This are my findings:

![Screenshot from 2020-04-01 20-51-54](https://user-images.githubusercontent.com/5157099/78175840-d1dd2b00-745b-11ea-8a63-fb9ccbf6acc0.png)

Now the question is why detach was needed and how do we test this without dropout ?  /cc @ducha-aiki

[2020-04-01 19:30] DagnyT commented on #503
dropout - there might be a beautiful way, hacky way -
hardnet = HardNet()
hardnet.features[18].p=0

detach() is a problem; there was instability during training without it.

[2020-04-01 20:00] edgarriba commented on #503
Great! Dropout solved.

Have you guys checked this instability with new pytorch versions?

[2020-04-01 20:46] xen0f0n commented on #493
I've just sent a PR (https://github.com/kornia/kornia/pull/506). Although static check fail .... I'm looking into it...

I have some comments related to the focal loss as implemented here.
The original paper https://arxiv.org/abs/1708.02002 leaves room for different interpretations, both for the binary implementation (focal loss was originally proposed for a binary task) and for the multi-class on

[2020-04-02 05:30] zccyman commented on #502
@edgarriba thanks!

[2020-04-03 15:43] smounsav commented on #472
I think this can be linked to #444

[2020-04-05 10:56] edgarriba opened #507 "[Feature] Implement complex numbers functionalities"
I open this ticket to discuss the design of a module for complex images -> `kornia.geoemtry.linalg.complex`

The idea is to cover basic functionalities for real/imaginari parts. I list in below the potential functions to cover:
- `tensor_to_complex`
- `multiply_complex`
- `sun_complex`
- `subs_complex`
- `div_complex`
- `module_complex`

This is prototyped here:

https://colab.research.google.com/

[2020-04-05 17:07] ducha-aiki opened #508 "Implement hard nms2d/3d with conv2d instead of max pool"
Something like this, will submit PR later:

[code]

The reason: current implementation with maxpool output everything for the input torch.ones()

[2020-04-05 17:49] edgarriba commented on #508
we implemented with @lferraz this alternative at some point for 3d:
[code]

[2020-04-05 18:07] edgarriba commented on #508
UPDATED version for nms3d:
[code]

[2020-04-06 17:04] edgarriba commented on #505
hi @SeokjuLee. You might want to take a look at this example since I believe it does what you are asking for: https://github.com/kornia/kornia-examples/blob/master/depth_estimation.ipynb

[2020-04-06 17:05] edgarriba commented on #493
@xen0f0n will review over the week. I need to read in depth the paper and understand some of the maths :)

[2020-04-08 09:28] #495 closed

[2020-04-08 09:28] #489 closed

[2020-04-10 14:06] shijianjian commented on #488
Closed since we are going to keep those functions in OpenCV math than PIL.

[2020-04-10 14:06] #488 closed

[2020-04-11 08:13] edgarriba commented on #486
@shijianjian I agree that has to be done, but not quite sure about the need of having custom Resample type when this can be achieved by primitive type string. Two reasons, adding this kind of code dependencies can be a pain if someone else wants to take and migrate this part of the code; follow pytorch convention using strings for enum like parameters.

[2020-04-11 20:08] shamangary opened #519 "RandomHorizontalFlip unexpected squeeze"
input:(B=1,C,H,W)
RandomHorizontalFlip
output:(C,H,W)

I've tried RandomGrayscale,ColorJitter,RandomCrop,RandomAffine, and no one has the above issue. I believe this is a bug. However, I tracked the code and it seems non-trivial to me how to fix the bug. Please check this one.

Also please check the RandomCrop pull request I made.

[2020-04-11 20:33] edgarriba commented on #519
Hi @shamangary , thanks for the contributions :)
I can fix this, but be aware that there a refactor going on in here https://github.com/kornia/kornia/pull/514

We are doing a release next week to clean up stuff and align results with torchvision API. Please let's us any other things to consider.

[2020-04-12 07:41] edgarriba commented on #519
Check this too: https://github.com/kornia/kornia/issues/460

[2020-04-12 12:04] shijianjian commented on #519
Hi @shamangary,

Thanks for reporting this. It is from our legacy coding issues. Now it has been fixed in [here](https://github.com/kornia/kornia/pull/514/commits/efdde5a2d32968367210a52cae4486ac25b66f48). Will be merged when other stuff is ready.

Also, thanks for your PR.

Jian

[2020-04-12 12:07] shijianjian commented on #460
It should be all fixed in #514, all the input will be transformed into BCHW and output BCHW only:
[code]

[2020-04-12 12:13] shamangary commented on #519
Thank you both.

[2020-04-12 12:13] #519 closed

[2020-04-12 13:02] shijianjian opened #520 "Having a kornia.nn module to include all module-like APIs."
Currently, most APIs are scattered in different files. Also, we are mixing the functional APIs and module-like APIs. Should we have a ```kornia.nn``` to split the module-like APIs out of functional ones?

- For a simple starter, we may have only ```__init__.py``` inside the ```kornia.nn``` to create a shortcut for users. To have something like:
[code]
- Eventually, to have a file structure like be

[2020-04-12 13:09] edgarriba commented on #520
seems a good idea/approach. /cc @ducha-aiki @lferraz

[2020-04-14 15:19] DeepVoltaire commented on #476
Hi @edgarriba, if I am having integers as mask labels the bilinear resampling used by rotations will create in between values that are hard to map back. For example, a mask with labels 0 and 3 will have a lot of values between 0 and 3 after rotating and some on the border between the classes will round to 1 and 2. Is there a simple way to select "nearest" resampling when using apply_rotation()?

[2020-04-14 19:59] edgarriba commented on #476
@DeepVoltaire we are merging this feature in this PR https://github.com/kornia/kornia/pull/514/files
potentially the next coming days which willl be included in the v0.2.1 release. We are pruning minor issues

[2020-04-15 16:42] mowolf opened #522 "kornia.warp_affine - Autograd Issue"
I need the gradient of this warping operation. The results of the warp are correct, just the gradient seems to be wrong.

[code]

This operation returns a gradient, however it seems to be not correct. I used the warped_tensor and just the tensor for my loss and with the warped_tensor my network does not correctly optimise the weights.

Is this an autograd issue or is there some other issue I am no

[2020-04-15 17:19] edgarriba commented on #522
@mowolf thanks for the report. Do you have any code with your test so that we can take a look at it ?
we recently updated this function using native torch operators like `affine_grid`. What version of kornia do you use ?

code reference https://github.com/kornia/kornia/blob/20a9acca2636512522116601ae09c6be0408b486/kornia/geometry/transform/imgwarp.py#L180