[2021-01-20 07:09] MrRss commented on #859
Thanks for your fast answer. Let me check, if I understand it correctly:

In my code above, it would be sufficient to call for every augmentation for instance
`input = self.flip_hor(input)`

instead of
[code]
or
[code]

If I would do segmentation, it should look like this:
[code]

[2021-01-20 07:13] shijianjian commented on #859
It is recommended to do as:
[code]

[2021-01-20 07:29] MrRss commented on #859
Ok, then also this doc has to be updated I guess: https://kornia.readthedocs.io/en/latest/augmentation.html

[2021-01-20 10:08] magnux opened #862 "Warping even sized matrices in the nearest mode causes 0 to apear in the last row/column"
## 🐛 Bug

Warping even sized matrices in the nearest mode causes 0 to apear in the last row/column.
The odd sized matrices are handled correctly, so it seems some rounding or border case issue.

## To Reproduce
[code]
Results:

[code]

## Expected behavior

Results:

[code]

## Environment

kornia 0.4.0

[2021-01-20 10:48] edgarriba commented on #862
hi @magnux , thanks for reporting this issue.

I believe that this is related to https://github.com/kornia/kornia/issues/747 that refers to the `align_corners` flag for the `grid_sample` function. Check my comment here: https://github.com/kornia/kornia/issues/747#issuecomment-716763903

Ideally we should find a proper configuration for aligning corners. /cc @pmeier was trying to normalize this acr

[2021-01-20 11:25] magnux commented on #862
Calling HomographyWarper with align_corners=True indeed solves the issue.
It seems related with #747

[2021-01-20 12:46] francois-rozet opened #863 "[Feat] Refactoring type assertions"
## 🚀 Feature

Refactoring or removing type and shape assertions like in https://github.com/kornia/kornia/blob/65777029ff430f841f19aa5cd08ddb3c4ca36338/kornia/losses/ssim.py#L44-L65

### Motivation

These assertions are useful for quick prototyping and debugging. However, after that, they are just slowing down the components, especially if they are used repetitively.

Moreover, one of the goal of t

[2021-01-20 14:07] edgarriba commented on #863
hi @francois-rozet ! thanks for opening this ticket. Would be amazing that you could contribute with those functionalities.

Kornia is mainly used with Python and having the type and shape assertions as you pointed out facilitates a lot to debug the code. Raising meaningful messages when the functionality doesn't receive the expected input eases the quality testing too when you want to generalize

[2021-01-20 14:08] #862 closed

[2021-01-20 14:18] #444 closed

[2021-01-20 14:20] edgarriba commented on #428
@elistevens we included a morphology module. Please, check it out :)
https://kornia.readthedocs.io/en/latest/morphology.html

[2021-01-20 14:20] #428 closed

[2021-01-20 14:22] #422 closed

[2021-01-20 14:23] edgarriba commented on #860
@MichaelMedek you are right. This is related too https://github.com/kornia/kornia/issues/704

I need to find some time to update that figure.

[2021-01-20 14:31] edgarriba commented on #859
@shijianjian @MrRss maybe it's worth having a getter for params which can be more user-friendly

[2021-01-20 16:14] francois-rozet commented on #863
Hi @edgarriba,

I didn't knew the `assert` could be disabled, it is a great solution! I've used it to implement assertion in PIQA for `PSNR` and `SSIM` and benchmark (see [benchmark.py](https://github.com/francois-rozet/piqa/blob/master/tests/benchmark.py)) the difference.

Conclusions:
1. Adding assertions does **bottleneck** (by a factor `8x` the PSNR and `2x` the SSIM) the implementations.
2. U

[2021-01-20 16:31] edgarriba commented on #863
@francois-rozet this is a extremely good optimization :) - Could you join our slack to plan the refactoring ? https://join.slack.com/t/kornia/shared_invite/zt-csobk21g-CnydWe5fmvkcktIeRFGCEQ

[2021-01-20 17:43] elistevens commented on #428
Thanks!  Do you think that label and center of mass make sense?

[2021-01-20 18:04] edgarriba commented on #428
from what I read, `label` would be the classical connected components algorithm, right ? can this be differentiable ?

As for center of mass, I believe that we already have some sort of approximation that could be used as a base:
https://kornia.readthedocs.io/en/latest/geometry.subpix.html#kornia.geometry.subpix.spatial_expectation2d
or
https://kornia.readthedocs.io/en/latest/geometry.subpix.html#

[2021-01-20 18:43] edgarriba opened #866 "[Feat] Connected components labelling algorithm"
## 🚀 Feature

I propose to have the [Connected-component labelling](https://en.wikipedia.org/wiki/Connected-component_labeling) implemented in PyTorch so that can be used with the GPU and batched. Whether can be differentiable is open to discussion.

## Motivation

The connected components labeling is a well known technique that can be used across many computer vision applications.

Few existing i

[2021-01-21 10:13] #802 closed

[2021-01-27 18:36] zacharyjgs opened #868 "NaNs in Gradient of RGB to LAB Transformation"
## NaNs in Gradient of RGB to LAB Transformation

## To Reproduce

Steps to reproduce the behavior:

1. Apply `rgb_to_lab` transform to image.
2. Compute gradient of sum over new image pixels with respect to original input image.

[code]

## Expected behavior

There were no NaNs in the output image `x_new`, so if this transform is differentiable, there should be no NaNs in the gradient.

## Enviro

[2021-01-28 15:33] anthonytec2 opened #870 "get_affine_matrix2d angle arg"
## 📚 Documentation

I have been using get_affine_matrix2d for a few weeks now and realized in the source code there is an additional angle argument which is not shown in the docstring for the function signature. Is there a reason for this or is this an error in the documentation?

[2021-01-28 21:39] edgarriba commented on #870
@anthonytec2 thanks for reporting ! this is an error in the documentation. I see that the same happens for the 3d function. Should be easy to add - Could you send a quick PR adding those missing parameters. /cc @shijianjian can you verify ?

[2021-01-29 12:13] edgarriba commented on #868
@zacharyjgs thanks for pointing this out. /cc @cceyda Could you take a quick look at this ?

I was checking, and this [line](https://github.com/kornia/kornia/blob/master/kornia/color/lab.py#L56) in the case everything is zero might produce that. Not sure though - @zacharyjgs what is your input ?

[2021-01-29 17:31] cceyda commented on #868
@zacharyjgs could you check if your input for `rgb_to_lab` has values not in range [0,1]

[2021-01-30 22:09] catalys1 opened #872 "Thin Plate Spline Warping"
## 🚀 Feature
Image warping using thin plate splines. Functionalilty to solve for the transformation given two sets of points, then warp the image according to the transform parameters.

## Motivation

The thin plate spline (TPS) is a really useful non-linear warping technique that has been used a fair bit recently as an augmentation technique to aid in learning things like correspondence or disent

[2021-01-30 23:15] edgarriba commented on #872
@catalys1 this is absolutely a very good idea :)

I add this amazing tutorial with a detailed implementation.
https://khanhha.github.io/posts/Thin-Plate-Splines-Warping/

Whoever is taking this task should definitively try to replicate this blog post.

[2021-01-31 10:33] #798 closed

[2021-01-31 20:18] #288 closed

[2021-02-01 22:03] zacharyjgs commented on #868
Thanks so much! Yes, I definitely have zeros in my input so this is the issue!

[2021-02-01 22:21] zacharyjgs commented on #868
Also @cceyda, I was also wondering if the line `torch.pow(xyz_normalized, 1 / 3)` should be `torch.pow(xyz_normalized, 1 / 3.)`? Since, `1 / 3` will evaluate to `0`, right?

[2021-02-01 22:31] catalys1 commented on #872
I put some code together that does this in basic pytorch (see the [gist](https://gist.github.com/catalys1/3eef0b6ee5749b5d8851755a7ee0e6e1)). Could be a starting point. I'd be happy to work with someone on getting it integrated into Kornia, but I'd probably need some help---I haven't contributed before.

[2021-02-01 22:45] edgarriba commented on #872
@catalys1 this is amazing ! Could you join our Slack to discuss the integration details ? https://join.slack.com/t/kornia/shared_invite/zt-csobk21g-CnydWe5fmvkcktIeRFGCEQ

[2021-02-01 23:25] catalys1 commented on #872
@edgarriba Sure, what channel do you want me to bring it up in?

[2021-02-03 09:36] edgarriba commented on #868
@cceyda thanks for pointing this out. I mark this as a pending issue to solve in next releases.

[2021-02-04 11:31] #704 closed

[2021-02-04 11:31] #860 closed

[2021-02-05 08:07] shuaihuaiyi opened #875 "Bug about the weight factor alpha of focal loss"
## 🐛 Bug

https://github.com/kornia/kornia/blob/cf8e854546110e3dac1caa35449429fc7af328e5/kornia/losses/focal.py#L86

Hi, I find someting wrong about the multi-class focal loss computation.

It seems like we are multiplying the loss of different classes by a same alpha factor. I think this is equal to just reduce lr, and cannot address the class imbalance issue. In the original paper, alpha is defi

[2021-02-06 02:32] Zumbalamambo opened #877 "Image retrieval"
Thank you for the awesome local feature extractors. However which of them is most suitable for large scale image retrieval based tasks?

[2021-02-06 20:00] #877 closed

[2021-02-09 13:35] manipopopo commented on #868
Maybe we could change
https://github.com/kornia/kornia/blob/cf8e854546110e3dac1caa35449429fc7af328e5/kornia/color/lab.py#L58-L60
to
[code]

And maybe the relevant
https://github.com/kornia/kornia/blob/cf8e854546110e3dac1caa35449429fc7af328e5/kornia/color/lab.py#L130-L134
could be changed to
[code]

[2021-02-11 10:21] edgarriba opened #880 "[Feat] Image retrieval tasks"
## 🚀 Feature

Include some of the existing SOA methods for image retrieval tasks.

## Motivation

Some users reported the need of that https://github.com/kornia/kornia/discussions/878 in addition to that image retrieval is an essential task in modern computer vision.

## Pitch

Have an implementation under `kornia.feature` of the following methods:
- GeM: https://github.com/filipradenovic/cnnimage

[2021-02-25 14:56] vishwa91 opened #888 "normalize_homography returns nans on cuda on windows 10"
## 🐛 Bug

I am replicating `kornia.warp_affine` function to get just the coordinates. The function `kornia.geometry.warp.normalize_homography` returns `nan` in some of the entries in the homography matrix on a Windows 10 system, but not on Linux system. I think this is a CUDA synchronization issue, and I have stated my reason in the expected behavior subsection.

## To Reproduce

Steps to reproduc

[2021-02-25 16:19] edgarriba commented on #888
@vishwa91 thanks for reporting this. My guess would be that `torch.inverse` in https://github.com/kornia/kornia/blob/master/kornia/geometry/warp/homography_warper.py#L366 produce an unexpected behavior with Windows. At this moment I do not have a machine with windows to test. I would suggest to take the code from [`normalize_homography`](https://github.com/kornia/kornia/blob/master/kornia/geometry

[2021-02-25 19:18] vishwa91 commented on #888
@edgarriba thank you for the response. I think `torch.inverse` is the culprit. I was able to solve the problem by setting `CUDA_LAUNCH_BLOCKING` to 1, as suggested here https://github.com/pytorch/pytorch/issues/47272#issuecomment-7216123235

[2021-02-26 14:15] edgarriba commented on #483
@versatran01 Any progress on this ?

[2021-02-27 15:58] MayuOshima opened #890 "How can I use kornis with torch 1.1 ?"
For some reason, I can only use torch version 1.1. But the README of kornia says that it can only support torch version >=1.2.

So is there a method that I can use kornia with torch 1.1 ?

Thanks !

[2021-02-27 16:50] #890 closed

[2021-03-02 02:56] shijianjian commented on #859
Fixed by #885

[2021-03-02 02:56] #859 closed

[2021-03-02 02:57] shijianjian commented on #822
Closed due to no response.

[2021-03-02 02:57] #822 closed

[2021-03-05 11:24] #647 closed

[2021-03-06 06:28] shijianjian commented on #832
When I was comparing the current implementation and the one proposed in #873. I found that the previous implementation is cropping the wrong area and the gradients are covering the correct place.
<img width="727" alt="Screenshot 2021-03-06 at 2 02 34 PM" src="https://user-images.githubusercontent.com/15955486/110197157-9f665a00-7e84-11eb-8a5f-39bc667afd69.png">

Here appended is the code:
[code]
I

[2021-03-06 16:31] edgarriba opened #893 "convert_points_to_homogeneous gradcheck error for z == 0"
## 🐛 Bug

The function `convert_points_to_homogeneous` raises an error in gradcheck when the z value is absolute zero.

## To Reproduce

[code]

## Additional context

https://github.com/kornia/kornia/blob/0a60ac82f8afc6a95e42b1d831659db51b7509a3/test/geometry/test_conversions.py#L579-L591

[2021-03-06 16:37] edgarriba commented on #870
@shijianjian can you verify this when you check kornia.geometry. transforms ?

[2021-03-06 16:38] edgarriba commented on #868
@cceyda any final decision on this ?

[2021-03-07 16:44] #827 closed

[2021-03-08 03:37] cceyda commented on #868
I think using `clamp_min` like @manipopopo suggests is the way to go, since the values that cause the nans never satisfy the where condition anyway.
I will also factor out the linear RGB to sRGB stuff (L130-134 ) so that `rgb_to_luv` is also fixed.
Expect a PR within today~

[2021-03-08 12:58] arubior opened #901 "Background color selection in warp_perspective() function"
## 🚀 Feature

Possibility to select the color (RGB) for the background pixels in the `warp_perspective()` function (pixels whose color des not come from the original warped image).

## Motivation

OpenCV's [`warpPerspective()`](https://docs.opencv.org/master/da/d54/group__imgproc__transform.html#gaf73673a7e8e18ec6963e3774e6a94b87) function has a `borderValue` parameter allowing to select the color

[2021-03-08 19:23] edgarriba commented on #901
hi @arubior thanksl for reporting this. In fact, we should do support what you suggest through `border_mode` since it's internally mapped to `padding_mode` for `F.grid_sample`. Could you verify that ?

See also that's there's a small change in this coming PR:
https://github.com/kornia/kornia/pull/896/files#diff-393441a973b582a54d0dc25e96233c9d5bf2e8d07dc21597cd2de3c96f386484R106

[2021-03-08 19:40] ziatdinovmax opened #902 "Random affline's translation doesn't work with PyTorch-1.8"
For example, this code

[code]
will through the following error:

[code]

It works fine on PyTorch-1.7.

Thanks for your attention to this matter.

[2021-03-08 20:09] edgarriba commented on #902
@ziatdinovmax thanks to flag this. It's weird because the tests for PT all pass as expected.

See: https://github.com/kornia/kornia/pull/892 /cc @shijianjian

[2021-03-10 09:28] amonszpart commented on #209
Hi,

Great library!
I think I have a culprit, it's [`angle_axis_to_quaternion`](https://kornia.readthedocs.io/en/latest/_modules/kornia/geometry/conversions.html#angle_axis_to_quaternion) returning (w, x, y, z) instead of (x, y, z, w):

[code]

it should be
`return torch.cat([quaternion, w], dim=-1)` I think.

Cheers,
Aron

[2021-03-10 09:31] amonszpart opened #903 "angle_axis_to_quaternion returns (w, x, y, z) instead of (x, y, z, w)"
https://github.com/kornia/kornia/blob/b5418d8bac9e7bb01e66310d7d2b4227766c5a02/kornia/geometry/conversions.py#L682

[code]

proposal:
[code]

Similarly, in [quaternion_to_angle_axis](https://github.com/kornia/kornia/blob/b5418d8bac9e7bb01e66310d7d2b4227766c5a02/kornia/geometry/conversions.py#L529):
[code]

[2021-03-10 09:48] edgarriba commented on #903
@amonszpart could you send a PR with this proposal ?

[2021-03-10 10:02] amonszpart commented on #209
Also the other way seems to also use (w, x, y, z) as input:
https://github.com/kornia/kornia/blob/b5418d8bac9e7bb01e66310d7d2b4227766c5a02/kornia/geometry/conversions.py#L529

shouldn't it be
[code]

[2021-03-10 10:18] edgarriba commented on #209
@amonszpart agree - as you might noticed this module needs a bit of work yet

[2021-03-10 11:54] arubior commented on #901
Hi @edgarriba thanks for your answer.

Thanks for pointing that out, now I see that it's internally mapped to `padding_mode` of `F.grid_sample`, but as I see [in their documentation](https://pytorch.org/docs/stable/nn.functional.html), they only support `'zeros' | 'border' | 'reflection'`, am I right?

[2021-03-10 12:09] edgarriba commented on #901
true - there's a missing feature from pytorch side here in `grid_sample`. I think it's worth opening a feature request there. In meantime, I believe we could hack this around with masks and blending.

[2021-03-10 12:37] arubior commented on #901
Cool, I was thinking on handling it on my side with masks, but if you include it as a feature in kornia it'd be great.

[2021-03-10 14:20] edgarriba commented on #901
It's not a priority right now - but I'll mark it as future future.

[2021-03-10 14:24] sreenithy commented on #868
I added the `clamp`  function as suggested. Still get the Nan in gradients

[2021-03-10 16:49] #872 closed

[2021-03-10 18:43] #868 closed

[2021-03-10 20:38] sreenithy commented on #868
@cceyda It was the range issue. Sorted thank you.

[2021-03-11 03:58] shijianjian commented on #747
I agree with @pmeier that we might add it in the docs to let the users more aware of the differences of the parameter choice. This pic is a nice demonstration.

[2021-03-11 07:25] edgarriba commented on #747
Probably a separate page as a side note in the docs would fit and link functions to that. @ducha-aiki or @shijianjian could you go fo this?

[2021-03-11 13:14] shijianjian commented on #902
It has been fixed already. Please install from the master. We are releasing the next version soon.

[code]

[2021-03-11 13:14] #902 closed

[2021-03-11 13:46] shijianjian commented on #747
Probably adding to the homepage of the geometry module. https://kornia.readthedocs.io/en/latest/geometry.html#

[2021-03-13 13:39] shaofengzeng opened #909 "func warp_perspective outputs unexplained result"
## 🐛 Bug
I tried the following code, the output is very confusing.

img = torch.ones((1,1,12,16),dtype=torch.float32)
homo = torch.tensor([[[1,0.5,0],[0,1,0],[0,0,1]]])
w_img = kornia.warp_perspective(img, homo, tuple(img.shape[2:]))
print(w_img)
[[[[0.2500, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.5000, 0.2500],
          [0.0000, 1

[2021-03-13 14:38] edgarriba commented on #909
This is going to be fixed here today https://github.com/kornia/kornia/pull/896

[2021-03-13 17:02] #747 closed

[2021-03-13 17:02] #909 closed

[2021-03-14 00:18] #271 closed

[2021-03-14 10:04] jkamalu opened #912 "perspective camera, camera instrinsics matrix shape"
## 📚 Documentation

The perspective camera documentation states that the unproject_points function requires a 4x4 camera matrix, but in the code an error is raised if the function is not passed a 3x3 camera matrix.

See here https://kornia.readthedocs.io/en/latest/geometry.camera.perspective.html#perspective-camera

[2021-03-14 10:18] hiyyg commented on #912
I guess it is a documetation mistake.

[2021-03-14 10:23] jkamalu commented on #912
Nice, I'm new to camera geometry and was confused by the need for a 4x4 intrinsics matrix.

Also, if you don't mind me asking... why don't we need to include a skew parameter in the intrinsics camera matrix? only focal length and principal point parameters are used in the projection/unprojection code.

Thanks!

[2021-03-14 10:56] hiyyg commented on #912
Maybe this can help you: https://blog.immenselyhappy.com/post/camera-axis-skew/

[2021-03-14 10:57] jkamalu commented on #912
Much appreciated, thanks!

[2021-03-14 10:58] edgarriba commented on #912
@jakubLangr I'll fix this in the docs

[2021-03-14 18:39] edgarriba commented on #870
The parameter is already there:
https://kornia.readthedocs.io/en/latest/geometry.transform.html?highlight=affine_matrix#kornia.geometry.transform.get_affine_matrix2d

[2021-03-14 18:39] #870 closed

[2021-03-14 22:17] #811 closed

[2021-03-14 22:17] #912 closed

[2021-03-15 14:32] silviab92 opened #914 "RandomAffine raises error"
## 🐛 Bug

`kornia.augmentation.RandomAffine()` raises an error if `translate=(a, b)` with a < b. According to documentation, a and b should not be related, since they refer to maximum absolute fraction for horizontal and vertical translations, respectively.

It seems that kornia/augmentation/random_generator/random_generator.py at line 181 run `_joint_range_check(cast(torch.Tensor, translate), "tr

[2021-03-15 14:34] UnibsMatt commented on #914
It happens to me to. Look like that instead of _joint_singular_check it use the _joint_range_check..

[2021-03-16 02:40] shijianjian commented on #914
This error has already been fixed in the master branch.

Please try install:
[code]

[2021-03-16 14:52] silviab92 commented on #914
Still getting the same error even with

[code]

[2021-03-16 14:53] UnibsMatt commented on #914
<img width="900" alt="dd" src="https://user-images.githubusercontent.com/25898671/111329768-a9037500-866f-11eb-8a5d-c496064872a5.PNG">

Not really..

[2021-03-16 18:35] shijianjian commented on #914
Ahh. I see the problem. I will fix it tomorrow.

[2021-03-19 11:31] marlinsiebert opened #918 "NaN gradients on backward pass with focal loss"
## 🐛 Bug

When computing the binary focal loss I got `nan` gradients on backward pass when `torch.sig(prediction)` equals `1.` or `0.` and `0.<gamma<1.`.

This probably does also concern the focal loss implementation.

## To Reproduce

[code]

## Expected behavior

Return reasonable gradients.

## Environment

 - PyTorch Version: 1.8.0
 - OS: Win10
 - How you installed PyTorch: `conda`
 - Python v

[2021-03-20 12:48] edgarriba commented on #918
@marlinsiebert thanks for pointing this out. I created this small colab to verify with the autograd anomaly detection and I found the following:

[code]
`RuntimeError: Function 'PowBackward0' returned nan values in its 0th output.`

Colab: https://colab.research.google.com/drive/15FtME_528Sgqey-aSKua9JLB3b5UkJPd?usp=sharing

Definitely adding the epsilon values should fix the issue.

[2021-03-20 12:51] #914 closed

[2021-03-21 17:53] Hafikan opened #920 "Calculate Distanca Camera from the object"
Hello, firstly sorry for mu English. I Preparing for International Teknofest unmanned aerial vehicle competition. I have a big problem. I use OpenCv for image processing and i have one Camera. We can not find distance Camera to object on openCv. Can we calculate distance with only one camera on Kornia

[2021-03-23 11:43] mathfinder commented on #866
how is it going on？

[2021-03-30 12:14] YuhaoCheng opened #923 "Usage of 'Resize' in 'VideoSequential'"
I use the 'Resize' object in the 'VideoSequential' in order to transform the whole video clip, however, I encounter the error:
`torch.nn.modules.module.ModuleAttributeError: 'Resize' object has no attribute 'forward_parameters'`. So I want to know how to solve it.

Thanks.

[2021-03-30 14:02] shijianjian commented on #923
The VideoSequential is designed for ```kornia.augmentation``` only. Also, torch can natively resize the tensor. Just fix the temporal dimension as it is.

[2021-03-30 16:58] cceyda commented on #520
Sounds related: https://github.com/kornia/kornia/issues/804

[2021-03-31 04:27] adi1999 commented on #918
@edgarriba Adding the eps value is fixing the issue, can I make a PR for the same.

[2021-03-31 06:24] edgarriba commented on #918
@adi1999 yes please, go ahead

[2021-03-31 09:53] schuhschuh commented on #903
Hi, also just wanted to report this. However, my conclusion is different in that I think the docstring should simply be fixed, not the code because the proposed code change would break existing code that relied on the implementation rather than the documentation. Also note that Ceres uses the convention ``(w, x, y, z)`` as well as noted in the docstring (see [here](https://github.com/ceres-solver/

[2021-03-31 16:55] amonszpart commented on #903
Proposed fix: https://github.com/kornia/kornia/pull/926

Re "fix the documentation": other quaternion functions follow the `(x, y, z, w)` convention (rotation_matrix_to_quaternion, quaternion_to_rotation_matrix, quaternion_log_to_exp, quaternion_exp_to_log), so those would need changing then.

[2021-03-31 19:02] schuhschuh commented on #903
I didn't realize the convention was inconsistent with other quaternary related functions in kornia itself. In this case this should be flagged as bug maybe rather than enhancement?

[2021-04-01 01:05] YuhaoCheng commented on #923
Thanks for your help. I got it.  But if I want to resize the spatial dimension of the video, what should I use? For example, I get an original video with the size of 1080x1920, however, the input of the network should be 384x288.

Thanks again.

[2021-04-01 14:19] deepneuralnetworks opened #927 "RandomResizedCrop - Kornia vs. Torchvision"
Thanks for the code.

I'm using kornia 0.4.0 and found major difference between torchvision and kornia while using _randomresizedcrop_ in _augmentation_.

In case of torchvision the window to crop is **computed with a input size** of the image but in case of kornia is a  **output size** of the image.

Just wanted to report because I have no idea whether it is intended to do so or not.

[2021-04-02 03:27] shijianjian commented on #923
This shall do:
[code]

[2021-04-02 03:27] #923 closed

[2021-04-02 05:52] shijianjian commented on #927
Thank you for reporting. We were expecting the similar outcome as TV, but we might not test enough on the random generators. We might need to come up a proper method to test the distribution from any random gens, @edgarriba, @anguelos.

@deepneuralnetworks, Are you willing to send a PR to fix this issue?

Best,
Jian

[2021-04-03 14:44] edgarriba opened #929 "[Feat] Add DeltaE - Ciede2000"
## 🚀 Feature

Add DeltaE - Ciede2000 to measure L2 in Lab space, maybe added as color loss function.

[2021-04-03 14:50] edgarriba opened #930 "[ROADMAP] Kornia v0.6"
This is the roadmap for **Kornia v0.6** that mainly will focus in the following highlight features:
- Add more functionalities for `kornia.augmentations` and refactor the backend pipeline to support Torchscript.
- Improve the `kornia.color` module  adding more functionality with losses.
- Include `kornia.nn` module to wrap functionals as torch modules.

Feel free to volunteer yourself if you are i

[2021-04-03 15:00] edgarriba opened #931 "[Feat] Add rgb to grayscale interface with custom weights"
## 🚀 Feature

Add rgb to grayscale interface with custom weights or string to indicate other modes

[2021-04-03 15:02] edgarriba opened #932 "[Feat] Improve stability for HSV during backprop"
## 🚀 Feature
Be aware of the backprop using HSV since it's circular and might be issues around 0 or 1.

[2021-04-03 15:02] edgarriba opened #933 "[Feat] Add support to ICTP color space"
## 🚀 Feature
Add ICTP (new promising color space)

[2021-04-03 15:03] edgarriba opened #934 "[Feat] Add support to other color representations YUV"
## 🚀 Feature
 Add support to other color representations YUV 420, 444

[2021-04-03 15:04] edgarriba opened #935 "[Feat] Kornia color modules"
## 🚀 Feature

List of potential features for the `kornia.color` module:

- [ ] Implement DeltaE - Ciede2000 to measure L2 in Lab space #929 @cceyda
- [ ] Add rgb to grayscale interface with custom weights https://github.com/kornia/kornia/issues/931
- [ ] Improve stability for HSV during backprop https://github.com/kornia/kornia/issues/932
- [ ] Add support to ICTP color space https://github.com/ko

[2021-04-03 15:17] edgarriba opened #936 "[Feat] Add more draw utilities"
## 🚀 Feature
Implement more drawing functions in `kornia.utils`:
- [ ] `draw_point`
- [ ] `draw_line`
- [ ] `draw_polyline` https://github.com/kornia/kornia/issues/278

Some resources:
- https://stackoverflow.com/questions/31638651/how-can-i-draw-lines-into-numpy-arrays

[2021-04-03 15:26] edgarriba commented on #607
closing and continue here https://github.com/kornia/kornia/issues/936

[2021-04-03 15:26] #607 closed

[2021-04-03 15:38] edgarriba opened #937 "[Feat] Add Sharpening to image tensors"
## 🚀 Feature
Implement some functionalities for sharpening

https://visp-doc.inria.fr/doxygen/visp-daily/group__group__imgproc__sharpening.html#ga2a67826689095b0d872ba469ebfc1242

[2021-04-03 15:47] edgarriba opened #938 "[Feat] Implement customized kernels for the different morphological operators"
## 🚀 Feature
Implement customized kernels for the different morphological operators

[2021-04-03 15:50] edgarriba commented on #938
@t-vi could you elaborate a bit more this proposal so that others can give a hand ?

[2021-04-03 15:54] edgarriba opened #939 "[Feat] Find contours algorithm"
## 🚀 Feature
Implement in pytorch the find contours algorithm similar from OpenCV

Resources:
- https://docs.opencv.org/master/d3/dc0/group__imgproc__shape.html#gadf1ad6a0b82947fa1fe3c3d497f260e0

[2021-04-03 15:57] edgarriba opened #940 "[Feat] Add LambdaModule"
## 🚀 Feature
Add in Kornia a `Lambda(nn.Module)` similar as in torchvision so that we can easily wrap kornia functions

Resources:
- https://pytorch.org/vision/stable/transforms.html#torchvision.transforms.Lambda

[2021-04-03 16:43] edgarriba opened #941 "[Feat] Kornia Augmentations tracker"
## More Than Augmentation
In a longer vision, our augmentation module will be more focused on differentiability, with an aim of assisting both training and deployment. We can see there are more researches and applications in this area, with or without Kornia. This module will be the lead. In our next version, we gonna heavily improve:
- the API design and better readability.
- Advanced features li

[2021-04-03 18:49] #927 closed

[2021-04-04 02:58] shijianjian commented on #940
What is the logic here? How would we guarantee the differntiability? We would check if small the function calls are from torch?

[2021-04-04 06:49] edgarriba commented on #700
Closing in favour of https://github.com/kornia/kornia/issues/930

[2021-04-04 06:49] #700 closed

[2021-04-04 06:51] #225 closed

[2021-04-05 12:12] edgarriba commented on #940
I would make something simple just in case a user wants to implement a custom operator and make usable within a sequential

[code]

[2021-04-05 12:18] edgarriba commented on #903
@amonszpart @schuhschuh let's follow ceres convention [w, x, y, z] - we should also explain somewhere in the docs quaternion definition. There was even a proposal from  @versatran01 to have a separated module similar to [pyquaternion](http://kieranwynn.github.io/pyquaternion/).

[2021-04-05 12:31] #192 closed

[2021-04-05 12:32] edgarriba commented on #199
continue here https://github.com/kornia/kornia/pull/774

[2021-04-05 12:32] #199 closed

[2021-04-05 12:33] edgarriba commented on #239
merged in https://github.com/kornia/kornia/pull/784

[2021-04-05 12:33] #239 closed

[2021-04-05 12:35] edgarriba commented on #278
continue discussion here https://github.com/kornia/kornia/issues/936

[2021-04-05 12:35] #278 closed

[2021-04-05 12:40] #467 closed

[2021-04-05 12:42] edgarriba commented on #477
continue in https://github.com/kornia/kornia/issues/941

[2021-04-05 12:42] #477 closed

[2021-04-05 12:44] #487 closed

[2021-04-05 12:47] edgarriba commented on #652
@cceyda is this what you did with `rgb_to_linear` ?

[2021-04-05 12:48] edgarriba commented on #658
Please, @twmht reopen in case this is still valid or have any interest

[2021-04-05 12:48] #658 closed

[2021-04-05 12:50] #701 closed

[2021-04-05 12:51] edgarriba commented on #685
@shijianjian is this still relevant ?

[2021-04-05 12:52] edgarriba commented on #666
@pmeier @shijianjian I guess this can be considered in https://github.com/kornia/kornia/pull/774 ?

[2021-04-05 12:54] edgarriba commented on #705
we could consider this in  https://github.com/kornia/kornia/issues/941

[2021-04-05 12:54] #705 closed

[2021-04-05 12:55] edgarriba commented on #709
@ducha-aiki @shijianjian  is this still a bug ?

[2021-04-05 12:55] edgarriba commented on #711
@shijianjian @ducha-aiki is this still relevant ?

[2021-04-05 12:56] edgarriba commented on #715
fixed in https://github.com/kornia/kornia/commit/cb3fc49b42323992cb41157859631d0785eb900e

[2021-04-05 12:56] #715 closed

[2021-04-05 12:59] MrParosk commented on #939
How is this algorithm intended to be implemented? After reading a description of it (e.g. https://theailearner.com/tag/suzuki-contour-algorithm-opencv/) the algorithm is fairly iterative and therefore might be slow in Python? Or shall it be written in C++ and included as a torchscript op? Or something else?

[2021-04-05 12:59] edgarriba commented on #738
continue in https://github.com/kornia/kornia/issues/941

[2021-04-05 12:59] #738 closed

[2021-04-05 13:58] edgarriba commented on #742
@ivanzvonkov can we close this or do you need us to help with anything else ?

[2021-04-05 13:59] #746 closed

[2021-04-05 14:01] edgarriba commented on #750
@shijianjian @Borda do you think we can adopt this ? and what benefits can give to use ?

[2021-04-05 14:02] edgarriba commented on #751
discussed in https://github.com/kornia/kornia/issues/941

[2021-04-05 14:02] #751 closed

[2021-04-05 14:03] edgarriba commented on #765
@shijianjian I think this outdated according to the current design. Close if no need more discussion.

[2021-04-05 14:03] #771 closed

[2021-04-05 14:03] #772 closed

[2021-04-05 14:07] edgarriba commented on #777
@pmeier can you check https://github.com/kornia/kornia/issues/941 ? to see the next steps for augmentations and see hwo we could proceed with this ? /cc @shijianjian

[2021-04-05 14:11] edgarriba commented on #791
continue discussion in #774

[2021-04-05 14:11] #791 closed

[2021-04-05 14:14] edgarriba commented on #797
@shijianjian I would discard this option

[2021-04-05 14:15] edgarriba commented on #804
@cceyda @shijianjian @anguelos @ducha-aiki @anguelos @pmeier @Borda I would resume this conversation and see how what conclusions we get from that. Can we write down some opinions for this ?

[2021-04-05 14:16] edgarriba commented on #819
@cceyda can we verify somehow this ?

[2021-04-05 14:18] edgarriba commented on #832
@shijianjian what's the status of  this ?

[2021-04-05 14:19] edgarriba commented on #833
@TarunSharmaNT are being moved in https://github.com/kornia/tutorials

[2021-04-05 14:20] AnimeshMaheshwari22 commented on #931
Hello. I would like to work on this. It would be great to receive some elucidation on the required functionality. Thank you!

[2021-04-05 14:20] #851 closed

[2021-04-05 14:21] edgarriba commented on #863
@francois-rozet are you still interested in working on that ?

[2021-04-05 14:23] edgarriba commented on #888
@vishwa91 can we close this since seems to be a pytorch side bug ?

[2021-04-05 14:24] edgarriba commented on #893
@ducha-aiki any idea how this could be fixed ?

[2021-04-05 14:27] francois-rozet commented on #863
I am, but I will be very busy until the end of July (finishing my thesis). After that, I should come back to you to know how I can help. You can close the issue until then 😉

[2021-04-05 14:32] Borda commented on #750
yes, you can the advantage is that whenever you build docs on a new env (like ReadTheDocs) no dependencies are needed to be installed...

[2021-04-05 14:40] edgarriba commented on #939
@MrParosk you are right - this is an open question how to handle algorithms with dedicated c++/cuda kernels that might require compiling/serving to specific torch/cuda versions. /cc @t-vi any thoughts on that ?

However, this might require a bit of more maturity from infra side, I would suggest to first try a naive python implementation to have as a baseline. There's a pending research work in ord

[2021-04-05 14:54] vishwa91 commented on #888
@edgarriba, yes we should close this issue. Thanks for the reminder!

[2021-04-05 15:02] #888 closed

[2021-04-05 15:55] #918 closed

[2021-04-05 23:36] ivanzvonkov commented on #742
Sure this can be closed.

[2021-04-05 23:36] #742 closed

[2021-04-06 00:46] shijianjian commented on #685
Probably shall be closed now.

[2021-04-06 00:46] #685 closed

[2021-04-06 00:47] #765 closed

[2021-04-06 00:49] shijianjian commented on #797
We have to have another sort of implementation if we wish to align the outputs between TV and Kornia.

[2021-04-06 02:11] cceyda commented on #652
@edgarriba  No, rgb_to_linear reverses the gamma correction on an sRGB image.
Unfortunately I'm not familiar with Bayer Patterns, which looks to be a low level processing thing done by digital cameras 🤷
I'm curious about your use case though @ycjing

[2021-04-06 03:30] LifeBeyondExpectations opened #950 "angle_axis_to_quaternion"
https://github.com/kornia/kornia/blob/e36ca3d15883a1dbbb0e7413719c0965a4b63cee/kornia/geometry/conversions.py#L682

In the official document, the quaternion is represented as [x, y, z, w].
However, in the code implementation, the quaternion is [w, x, y, z].

I conduct a toy example that compare the results from matlab and results from kornia.
[code]

[code]

As you notice, the results are inconsis

[2021-04-06 03:34] LifeBeyondExpectations commented on #950
#903 Oh, I found the related issue.

[2021-04-06 03:34] #950 closed

[2021-04-06 08:33] cceyda commented on #819
Here is a simple notebook looking at input output ranges of HSV for opencv, kornia& scikit-image :
https://gist.github.com/cceyda/b66996de7bc80811aa6135f81d84309d

Kornia HSV conversion does indeed seem (comparatively) odd with ranges between:
[code]
But the conversion looks to be consistent as hsv2rgb gets back values in correct rgb [0,1] range.

@aardvarkkrill in my experience scikit-image & eve

[2021-04-06 13:01] AnimeshMaheshwari22 commented on #937
Hello! I would like to work on this

[2021-04-06 13:45] lferraz commented on #937
Hi @AnimeshMaheshwari22

thank you so much for your interest. The most basic algorithm is [this one](https://en.wikipedia.org/wiki/Unsharp_masking#:~:text=Unsharp%20masking%20(USM)%20is%20an,mask%20of%20the%20original%20image.). Of course it needs to be optimised for GPU.

In the bibliography there are other methods based on the basic one, feel free to propose the one you want to contribute.

In f

[2021-04-07 07:06] edgarriba commented on #819
@cceyda I’ve seen torchvision has a non exposed function for that: https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional_tensor.py#L313

[2021-04-07 07:39] aardvarkkrill commented on #819
@edgarriba

It looks like 2pi to me,  which would make sense if hue is an angle.  I should have guessed that earlier!

[2021-04-07 08:28] edgarriba commented on #819
@aardvarkkrill if you feel so, please send a PR with the fixes :)

[2021-04-07 12:49] aardvarkkrill commented on #819
@edgarriba ok, I had a go at submitting a PR, I hope I did it right :-) thanks for your help.

[2021-04-07 12:50] aardvarkkrill commented on #819
I should say that I didn't run any tests, but I did read the source code for those functions :-)

[2021-04-07 14:29] AnimeshMaheshwari22 commented on #937
Hello @lferraz. I read about both, Bilateral filter and unsharp masking and have a query.  Wouldn't Bilateral filter suffice? Would like to have your guidance on this.

[2021-04-07 14:30] AnimeshMaheshwari22 commented on #937
Hello @lferraz. I read about both, Bilateral filter and unsharp masking and have a query. Wouldn't Bilateral filter suffice? Would like to have your guidance on this.

[2021-04-07 19:05] lferraz commented on #937
hi @AnimeshMaheshwari22 ,
I think we can start with the unsharp mask, looks like it is only a convolution with a specific filter.
 0 -1  0
-1  5 -1
 0 -1  0

And afterwards we can continue with the Bilateral one. 😃

[2021-04-07 20:26] edgarriba commented on #937
@AnimeshMaheshwari22 I suggest you to look at filters module and expand the Kernels API with that one too

[2021-04-08 08:31] AnimeshMaheshwari22 commented on #937
Hello. Definitely. I would like to work on a PR for this. Also, I have a doubt. The approach for unsharp mask is orignal_image+(orignal_image-blur)*weight and here Gaussian blur can be used right? Also Gaussian blur is already implemented in kornia filters right?

[2021-04-08 11:23] delkov opened #954 "RandomCrop issue"
RandomCrop works fine with padding_mode = 'consant'.
But with 'reflect' I got error:
[code]

[code]
torch_arr.shape is [1, 720, 1280]

Is there mirror-like pad function? So I want to pad it first ant then crop

[2021-04-08 17:08] edgarriba commented on #954
@shijianjian is it a known issue ?

[2021-04-08 17:09] edgarriba commented on #954
if think @anguelos implemented a pad_if_needed in torchvision

[2021-04-09 06:11] GuillaumeLeclerc opened #956 "RandomResizedCrop behavior"
## 🐛 Bug

Kornia's `RandomResizedCrop` fails on image smaller than the target. It doesn't with `torchvision` implementation. This essentially makes it impossible to train Imagenet.

## To Reproduce

Steps to reproduce the behavior:

1. Generate a small tensor
1. Apply RandomResizedCrop with larger size than input
1. Fail with `ValueError: input_size (147, 190) cannot be smaller than crop size tens

[2021-04-09 06:35] edgarriba commented on #956
@GuillaumeLeclerc we are aware of issues with this funcion. There's gonna be a refactor on that soon.

[2021-04-10 01:08] #956 closed

[2021-04-10 01:26] shijianjian commented on #954
It is a partial bug here that the input shall be transformed into BCHW. It is not about the padding mode. Will fix that soon.

[2021-04-11 12:47] #954 closed

[2021-04-12 01:58] carr123 opened #961 "use scenarios"
hello,  deep learning using pytorch, for example, cnn, can automatic extract features from an image, and perform classification task.
kornia seems to extract features from an image manually like opencv.
so, i wonder, what is the situation best for using kornia.  could you give me some use cases ？
thanks.

[2021-04-12 09:45] cceyda commented on #819
Kornia implementation is different from [torchvision](https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional_tensor.py#L313), which has ranges in [0,1] same as scikit-image.
Shouldn't we also follow that? @edgarriba

[2021-04-12 09:54] edgarriba commented on #819
@cceyda yes, then we should specify well in the docs.

[2021-04-12 10:06] #852 closed

[2021-04-16 12:28] FrancescoSaverioZuppichini opened #966 "Slower than new PyTorch GPU transformations"
## ❓ Questions and Help
Kornia's augmentations seem to be slower than PyTorch's one. The dataset I am using is CelebA.

I have:

OS: Ubuntu 20.04
GPU: 1080ti
PyTorch: 1.8.0
torchvision: 0.9.0

[code]
PyTorch's augmentations takes 15s while Kornia takes 29s.

Best regards,

[2021-04-16 12:37] shijianjian commented on #966
Hi @FrancescoSaverioZuppichini,

Thank you for reporting. Torchvision implemented the RandomCrop and related in a non-differentiable way, while Kornia is not.

We are aware of the timing issue that brought by the differentiable cropping implementation, and we are planning on incorporating the non-differentiable implementation for those common usages.

Best,
Jian

[2021-04-16 13:02] edgarriba commented on #966
besides what @shijianjian pointed about  differentiability, kornia is meant to work better in batch on device which means adding kornia.augmentation as a layer before your model instead of inside the dataloader.

[2021-04-16 14:51] FrancescoSaverioZuppichini commented on #966
Hi @shijianjian, thank you for the quick reply.

That's the same thing, It won't change performances. I am running them on the batched data on the GPU.

I am felling pretty dumb today, but correct me if I am wrong. The following snippet:

[code]

Shouldn't work since `torchvision.augmentation` is not differentiable, but it works. I think I am missing something. Nevertheless, thank you!

[2021-04-16 15:44] shijianjian commented on #966
Non-differentiable does not necessarily mean to break the computational graph. As a differentiable operation, apart from retaining the computational graph, it will also provide meaningful gradients. e.g. the crop function in kornia is based on perspective transform which provides the gradients w.r.t. the grid.

In your example, the gradients will be retained since the graph is still intact. Under

[2021-04-16 16:25] cceyda commented on #804
I'll get the ball rolling on the discussions~

**kornia.nn** -> for classes that implement nn.Module (all of them)

- Make class names more consistent any class that takes a `p=probability` parameter for example classes in kornia.augmentation should start with `Random` right now some of them don't for example `GaussianBlur`. That way they are easier to distinct from classes in kornia.enhance.

**k

[2021-04-16 18:43] FrancescoSaverioZuppichini commented on #966
Thank you for the clarifications

[2021-04-20 07:24] edgarriba commented on #804
I agree for kornia.augmentation having Random* naming.
For the Param in apply, I believe @shijianjian was planning to deprécate the exposition of that in the top level.
As for merging augmentation and enhance, do not agree since the nature of both modules are different. Augmentation as you pointed, implements random sampling over others methos across the library, while enhance is specific to image

[2021-04-20 08:24] Zju-George commented on #611
@cbames
https://github.com/kornia/kornia/blob/009a3929a894757363218558d09ed7bfc41c9c3d/kornia/geometry/conversions.py#L242
change to 'theta = torch.sqrt(theta2 + eps)'?

[2021-04-21 00:06] edgarriba commented on #611
@Zju-George worth checking/suggesting in https://github.com/kornia/kornia/pull/926

[2021-04-22 07:21] cceyda commented on #804
That is true for the nn.modular stuff, but the functionals(the apply_* functions) in `.augmentation` are not random & are just wrappers around enhance. For example; `augmentation.apply_adjust_saturation==enhance.adjust_saturation`. As it should be,since functionals shouldn't be random.
Don't see why not image illumination stuff can't be augmentations?

I like Kornia's current implementation logic

[2021-04-22 11:33] pmeier commented on #804
IMO this is just a definition issue and one that urgently needs to be addressed before we go ahead with the restructuring. Both definitions look reasonable:

and

IMO we should have such a definition for every module to improve the UX for users. Plus, it would probably a good idea to add something like this the docs to give a better overview.

[2021-04-22 19:09] edgarriba commented on #804
See `kornia.augmentations` as a small separated library on top of other kornia-core (we even had the discussion to create a separated repo for that). `augmentation.apply_adjust_saturation` and similar should be deprecated /cc @shijianjian I think already did some work on that. In this specific case we have been trying to promote something like this:
[code]
I agree the we need better documentation

[2021-04-23 13:45] tlsshh opened #973 "Add more border_type options for filter2D"
## 🚀 Feature
1. For filter2D, add border_type options that are provided by **filter2** from **Matlab**.
    For example, 'valid' option:
[code]
2. If possible, add a border_type option for some loss functions (e.g. ssim_loss). This option is used to control the behavior of filter2D in ssim_loss.

## Motivation
In my field, some metrics were written by Matlab, and I have to migrate these codes into

[2021-04-23 18:24] morawi commented on #966
I could be wrong, but, can the same be achieved using `retain_grad()`  for `torchvision` transformations?
Which means, for the above example, `out` learns to approach `y`. No?

[2021-04-24 08:59] shijianjian commented on #966
It is a different concept. retain_grad aims on retaining the gradients that has been passed through the computational graph. While, what we mean a differentiable operation means to trace an operation.

You may refer to the logic that why STN is invented.

If 'tr' is an optimizable operation, then you are right about "changes accordingly".

[2021-04-24 13:33] bes-dev opened #974 "[augmentation] apply transforms to pyramid of images"
There are some issues related to 'augmentation' module in case when we apply the same transformations to pyramid of images:
* RandomErasing generates parameters of transform related to the width/height of the image in pixels. We cannot apply these parameters to an image with another size and get the same result. It will be more clear to generate parameters in rectangle sized [1, 1].
* 'generate_pa

[2021-04-25 10:55] shijianjian commented on #974
It is an interesting use case that to apply augmentations to an image pyramid. Can you elaborate more on the concrete project or use case here?

For your questions:
- I can hardly decide it here. The main concern is the reproducibility, like the crop precision might differ under different precision (e.g. float16, float32). But you have raised an interesting idea that to apply similar geometric tra

[2021-04-25 11:18] shijianjian commented on #973
If I understand it right, 'valid' should not be a ```border_type``` here but a padding strategy similar to tensorflow's ```valid padding``` and ```same padding```. Meanwhile, what has been implemented in kornia is the ```same padding```? If everything above is correct, I think the ```valid padding``` could be a good feature to add.

[2021-04-25 11:23] shijianjian commented on #961
Have you checked those [tutorials](https://kornia.readthedocs.io/en/latest/tutorials/index.html)? I think you might find some use cases there. Meanwhile, you may also tell us that what you are actually looking for.

[2021-04-25 11:23] #961 closed

[2021-04-25 11:50] edgarriba commented on #974
@bes-dev I fully agree that we should support scenarios like that. Could you provide a small snippet with what you have in mind ?

[2021-04-25 11:51] edgarriba commented on #973
@tlsshh @shijianjian go for it, please provide a concise api for that

[2021-04-25 19:54] #966 closed

[2021-04-25 20:22] NickleDave opened #982 "variable name typo in `dice_loss` error message"
## 🐛 Bug

Hi, thank you for developing `kornia`.
This is not a bug per se, more like a typo.

Just noticed one of the variable names is wrong in an error message in the `dice_loss` function
https://github.com/kornia/kornia/blob/5392651d0bc268da577fa0a49aa50f957289c7dd/kornia/losses/dice.py#L61

[code]

I think last line should instead be
[code]

Happy to submit a PR if you want or just let you all

[2021-04-26 00:22] shijianjian commented on #982
Great. Please go for a PR.

[2021-04-27 10:35] bes-dev commented on #974
@shijianjian There are some problems like image synthesis, superresolution etc. where we would like to control generation at different scales. In this way, our generator provides a multiscale image pyramid as output, and we would like to push it into a discriminator simultaneous. So, in this case, kornia should provide API that gets the image pyramid as input and returns the image pyramid (simulta

[2021-04-27 14:30] shijianjian commented on #974
Thanks for the clarification. I like the idea of being shape-agnostic, and to decouple the parameters and input tensors.

Do you mind working on this feature? Presumably, you may modify the param_generator and apply_transform functions.

[2021-04-27 18:11] JoanFM opened #988 "Offer all nn.Module subclasses in common package to import"
## 🚀 Feature
It would be cool to have every `class` that inherits from `nn.Module` in `kornia` to be accessible via `kornia` parent `import` (or through some common package)

What I mean would be:

enable
[code]
instead of

[code]

## Motivation

I would like to `wrap` a class around `kornia` transformations allowing the user to describe `arbitrary` sequence of transformations.

It would look like

[2021-04-27 20:31] edgarriba commented on #988
@JoanFM thanks for asking about this. We had a discussion already with @shijianjian and @cceyda  about this topic.
IMO, exposing everything at level could go against the internal package organization and lead to confusion since we have already large set of functionalities. Is there any workaround that could be done through filtering python globals ? let's keep this discussion to fit in v0.6

[2021-04-27 20:40] edgarriba commented on #974
@bes-dev thanks the feedback. This is definitely a powerful feature. Let's iterate on that.
As @shijianjian suggest, if you provide a  POC we can help with the integration.

Regarding flag in `RandomHorizontalFlip`, is not `p` ? you can switch on//off by passing 0/1

[2021-04-27 21:02] bes-dev commented on #974
@shijianjian yeah, I'll take a look at what I can do on my side.

[2021-04-28 01:51] shijianjian commented on #974
Forgot to mention that the probability parameter is already there. It is generated automatically and you might access it by the ._param attribute.

[2021-04-28 01:57] shijianjian commented on #988
It is discussed in #520. The basic idea is to have a Kornia.nn module to contain all those nn.module implementations. To separate the functional and modulized implementations.

I like the idea of having a wrapper to compose a transformation sequence out of a JSON. Probably expose all the modules in the Kornia.nn level? @edgarriba

[2021-04-28 07:53] JoanFM commented on #520
I think just having the module do all the `imports` would be enough.

 Maybe u can have some magic to do all the imports by doing inspection of the classes, so that it is easier to mantain.

[2021-04-28 11:43] ducha-aiki opened #990 "Implement anti-aliasing for affine and perspactive warps"
## 🚀 Feature

Anti-alias flag for all geometrical transforms, involving rescaling.

## Motivation

Currently, anti-aliasing is implemented only for resize/rescale functions https://github.com/kornia/kornia/pull/989

However, it is even more important for affine warps. Given that Gaussian filtering should be performed depending on the rescale_factor in each direction, one should first extract such

[2021-04-28 17:48] mlizhardy opened #991 "import kornia 0.2 ImportError: cannot import name 'BorderType'"
I need to use version >= 0.2.0 and <= 0.2.2 to match other dependencies.  I specifically need to use kornia.geometry for warping.

When I import kornia I get the following error message:

[code]

code to reproduce:

`import kornia`

torch==1.2.0, python==3.6

How can I solve this?

[2021-04-29 06:44] shijianjian commented on #973
@tlsshh Are you interested in sending a PR regarding the ```valid``` padding?

[2021-04-29 06:45] shijianjian commented on #982
Closed by #983.

[2021-04-29 06:45] #982 closed

[2021-04-29 07:20] edgarriba commented on #988
Let’s do that. It’s pretty much how is pytorch organised, so makes sense. But for sure augmentations have to be kept as separated modules as we discussed for the nature of the ops since include random sampling.

[2021-04-29 07:21] edgarriba commented on #988
@JoanFM to make it smooth, could you list some ops that you will like to have at first ?

[2021-04-29 07:24] JoanFM commented on #988
Hey @edgarriba ,

The most interesting ones are definitely `Normalize` and some `cropping`, and some common preparing transformations for inference purposes?

Also `resize` would be interesting but I guess with `resize` operations there may be a problem with handling resize operations with batches of more than one image

[2021-04-29 07:50] tlsshh commented on #973
I would like to ... but I am not clear about what I should do, and I never programed anything like that before ...

[2021-04-29 08:09] edgarriba commented on #973
@tlsshh join our slack - we'll guide you

[2021-04-29 08:14] tlsshh commented on #973
Ok. I joined the slack. What should I do next?

[2021-04-29 08:39] edgarriba commented on #973
join #mentoring channel and let's discuss there

[2021-04-29 14:40] fschiffers commented on #507
Just wanted to bump this since the newer versions of PyTorch will have significantly improved complex number support. Would be great if Kornia could handle these data types as well!

[2021-04-29 14:48] edgarriba commented on #507
@fschiffers feel free to send a PR. You can also join our slack to discuss the api.

[2021-04-30 14:15] ChristophReich1996 opened #994 "Elastic transform offset generation maybe inefficient"
## ❓ Questions and Help

I'm very happy to see the elastic transform augmentation added to Kornia 🚀, however, the current implementation might be somewhat inefficient for large images. In the current implementation, a noise map both for the x and y deformations is smoothed by a gaussian filter and then applied to the image to be augmented (correct me if I'm wrong). For large images and large value

[2021-05-01 08:27] edgarriba commented on #991
With which version of Kornia you get this import error ?

[2021-05-01 09:39] shijianjian commented on #994
@ChristophReich1996 Thank you for reporting. I am wondering if it possible for you to make a benchmark between these two implementations.

If the performance boost is significant, we are happy to improve it.

[2021-05-01 13:12] ChristophReich1996 commented on #994
Hey @shijianjian, I implemented a quick and dirty script to benchmark both implementations. The current Kornia implementation took **~590ms** and the PyTorch reference implementation based on the [elasticdeform package](https://github.com/gvtulder/elasticdeform) took **~1ms**, for augmentation. The augmentation was applied to a grayscale image with a resolution of  **2048 X 2048**, additional para

[2021-05-01 17:25] edgarriba commented on #994
I would say that given those numbers - let's go for this update. The only concern here is that we'll break backward compatibility in terms of api which I believe it was originally designed to optimize the sigma of the gaussian /cc @IssamLaradji

[2021-05-01 17:35] shijianjian commented on #994
Is it possible to keep both implementations? Just to have another parameter to state the method name. Also, include a user warning that we gonna take the faster version as the default in the future.

[2021-05-01 18:53] ChristophReich1996 commented on #994
I could open a pull request, if desired, with a clean implementation.

[2021-05-02 06:48] edgarriba commented on #994
that would be great

[2021-05-02 06:50] edgarriba commented on #994
I was planning to add it too as an augmentation layer but I'll wait until we refactor

[2021-05-03 08:29] s-rog commented on #938
Could look into: https://github.com/Manza12/nnMorpho

[2021-05-03 08:39] jatentaki opened #996 "projections_from_fundamental doesn't support batching properly"
## 🐛 Bug

The [docs](https://kornia.readthedocs.io/en/v0.5.0/geometry.epipolar.html#kornia.geometry.epipolar.projections_from_fundamental) state that the shape of input `F` is `(*, 3, 3)`, but in practice only `(b, 3, 3)` seems to be supported with both `(3, 3)` and `(a, b, 3, 3)` failing.

## To Reproduce
[code]

## Environment
Kornia 0.5.0

PyTorch version: 1.8.1
Is debug build: False
CUDA used

[2021-05-03 08:54] jatentaki opened #997 "projections_from_fundamental output shape is different than advertised"
## 🐛 Bug

The [docs](https://kornia.readthedocs.io/en/v0.5.0/geometry.epipolar.html#kornia.geometry.epipolar.projections_from_fundamental) state that the output shape is `(*, 4, 4, 2)` where in reality it's `(*, 3, 4, 2)` (which is reasonable, given that most other APIs assume projection matrices are 3x4, but still). In other words, I consider it a doc bug rather than code bug.

Additionally, I fi

[2021-05-03 16:32] edgarriba commented on #938
@s-rog would be great to see how feasible that be

[2021-05-03 16:40] edgarriba commented on #996
it's a typo in the docs. As you can see in tests, other than b,3,3 isn't tested
https://github.com/kornia/kornia/blob/master/test/geometry/epipolar/test_projection.py#L159

Could you send a quick fix in the docs ?

[2021-05-03 16:46] edgarriba commented on #997
@jatentaki you are right we should return 3x4 , about the batch as I remember I did for convenience - but we can adjust to better needs. Feel free to propose a PR on that.

[2021-05-03 20:59] t-vi commented on #938
One thing I'd say here is that while the implementation may be reasonable (you'd need to benchmark against the current) for the forward kernels from a brief glance at it, the first backward I looked at had atomicAdd which I'd probably recommend to avoid.

[2021-05-05 16:42] vadimkantorov commented on #476
Is it possible to recover the "occupancy" mask after an affine transform? Right now I could imagine using some special padding value and then excluding from further processing / loss computation the pixels that belong to padding

Thanks!

[2021-05-06 00:49] shijianjian commented on #476
Do you mean to reverse the applied transformation? If so, you may apply the inversed transformation matrices.

[2021-05-06 00:54] vadimkantorov commented on #476
E.g. if one wants to apply equivariance loss on the rotated image (as in https://github.com/kornia/kornia-examples/blob/master/data_augmenation_segmentation.ipynb), the loss should not be computed for the padded black regions

[2021-05-06 01:35] shijianjian commented on #476
It could be one enhancement. Well, how about the situation that the rotated image has some areas cropped out? Will it be considered as equivalent?

[2021-05-06 08:27] shijianjian commented on #994
Hi @ChristophReich1996, how's the refactor going?

[2021-05-06 10:09] vadimkantorov opened #1000 "Occupancy masks for geometric transforms"
Consideer an equivariance loss scenario: we have a source image `src`, we get `view1 = k1(src); view2 = k2(src)`. Now we'd like to put on some loss on corresponding locations in `view1` and `view2`.

For most of geometric augmentations, not all pixel locations in `view1` would have correspondences in `view2`, and loss must be computed only for valid locations, i.e. we should not compute loss for b

[2021-05-06 10:23] edgarriba commented on #1000
@vadimkantorov doesn't work the `return_transform` flag for you ?

[2021-05-06 10:37] vadimkantorov commented on #1000
It works, but it breaks the API elegance, I end up mixing  `k1(img, k2._params)` and `K.warp_affine(img, t2.inverse(), img.shape[-2:])`

[2021-05-06 10:46] edgarriba commented on #1000
absolutely - adding a `return_inverse` flag could be definitely quite neat. /cc @ducha-aiki @shijianjian @lferraz thoughts ?

[2021-05-06 10:49] vadimkantorov commented on #1000
Other solution is to give up on `_params` and compose final transforms manually with matrix products and doing a single final `K.warp_affine` - maybe still a good thing to do from perf standpoint.

But the scenario of equivariance losses is definitely important for self-supervised tasks

[2021-05-06 10:54] vadimkantorov commented on #1000
Compare:
[code]

[2021-05-06 11:14] ducha-aiki commented on #1000
I believe, that flag return_inverse is the best option.

[2021-05-06 11:18] vadimkantorov commented on #1000
Whatever the decision, I propose to have some recommended way in the docs (be it wrap_affine-only style, or some mixed style).

Some examples of recent pipelines are: https://github.com/snap-research/articulated-animation/blob/66979bea61ddd8166c13008d5b603740ea105cd5/modules/model.py#L82, https://github.com/facebookresearch/dino/blob/main/main_dino.py#L415

[2021-05-06 11:27] shijianjian commented on #1000
From an API level, it may make sense to have an additional 'apply_inverse' for each augmentation. Then, we can avoid access the '_params':

'''python
aug = RandomRotation(360.)
img_rot = aug(img)
mask_rot = aug(mask, aug._params)

inversed_img = aug.apply_inverse(some_img)
'''

[2021-05-06 11:54] vadimkantorov commented on #1000
Well, I don't mind explicitly typing `aug._params` to highlight that saved params are used. `apply_inverse` is more hideous in this respect

[2021-05-07 12:02] ChristophReich1996 commented on #994
Hey @shijianjian, I still need to adapt the [tests](https://github.com/kornia/kornia/blob/3606cf9c3d1eb3aabd65ca36a0e7cb98944c01ba/test/geometry/transform/test_elastic_transform.py). Should be finished tomorrow I guess :)

[2021-05-09 03:58] shijianjian commented on #1000
HI @vadimkantorov, are you willing to send a PR for your proposal?

[2021-05-10 02:44] cceyda commented on #932
It looks like we can get rid of epsilon [here](https://github.com/kornia/kornia/blob/d474c27328f2c7cfec12aa41c1a9ff3718b24797/kornia/color/hsv.py#L41) because according to [this](https://github.com/pytorch/vision/blob/5339e63148304ce32fd1cbd1e8bb74ea79458691/torchvision/transforms/functional_tensor.py#L335) we can do
` s: torch.Tensor = deltac / torch.where( deltac == 0, torch.ones_like(deltac, de

[2021-05-10 10:16] vadimkantorov commented on #1000
realistically - not likely :(

[2021-05-11 08:34] #903 closed

[2021-05-12 13:45] arubior opened #1003 "Option to avoid squeezing tensors with batch size = 1 when converting to arrays with tensor_to_image()"
## 🚀 Feature
Adding a boolean input argument `keepdim` to the `tensor_to_image()` function to avoid squeezing tensors with batch size 1.

## Motivation
While the `image_to_tensor()` function has a `keepdim` argument that avoids turning (H, W, C ) images into (1, C, H, W) tensors, there is nothing similar in `tensor_to_image()` to avoid turning tensors (1, C, H, W) into arrays (H, W, C). Currently,

[2021-05-12 14:04] shijianjian commented on #1003
Are you willing to send a PR for this feature?

[2021-05-12 15:31] arubior commented on #1003
Sure, I can do it. I'll set the default value of `keepdim` to `False` to maintain the current behaviour if the arg is not specified.

[2021-05-13 11:19] dkoguciuk commented on #795
Hi @ducha-aiki ,

I can try to help with this, can you point me how to reproduce the bug?

Daniel

[2021-05-13 19:46] edgarriba commented on #638
fixed in #926

[2021-05-13 19:46] #638 closed

[2021-05-13 19:46] edgarriba commented on #723
fixed in #926

[2021-05-13 19:46] #723 closed

[2021-05-13 19:46] edgarriba commented on #457
fixed in #926

[2021-05-13 19:46] edgarriba commented on #581
fixed in #926

[2021-05-13 19:47] edgarriba commented on #931
merge in https://github.com/kornia/kornia/pull/944

[2021-05-13 19:47] #931 closed

[2021-05-14 19:46] ducha-aiki opened #1010 "Possible bug in match_snn after 0.5.0 -> 0.5.1"
## 🐛 Bug

User contacted me and reported that in match_snn part

[code]
leads to a different results after upgrade.

## To Reproduce

No idea yet, will investigate

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist b

[2021-05-14 20:17] ducha-aiki commented on #1010
Bug reproduced - by just running matching example https://github.com/kornia/kornia-examples/commit/aaff787d288b3f5602992bd7d6629e66943aae48

The problem is that before our rgb_to_gray worked with uint8 tensors, because coefs were hardcoded. Now after adding custom weights to rgb_to_gray, the coefficients were converted to the input tensor type (which can be non-float), which lead to zeroing-out an

[2021-05-14 20:17] #1010 closed

[2021-05-14 20:21] ducha-aiki opened #1011 "Do not convert constant tensors to the input tensor dtype without check"
## 🚀 Feature
When we apply some float-point operation by a constant tensor, we may need to check if the input tensor is also float.

## Motivation

To avoid bugs, as described here, which appeared after merging https://github.com/kornia/kornia/pull/944
https://github.com/kornia/kornia/issues/1010#issuecomment-841479260

## Pitch

## Alternatives

## Additional context

[2021-05-15 07:48] shijianjian commented on #1011
Probably this is better: https://pytorch.org/docs/stable/generated/torch.is_floating_point.html

[2021-05-16 16:32] Hzzone opened #1016 "Uniform is not defined when low>= high"
## 🐛 Bug

The uniform randomness reported 'Uniform is not defined when low>= high'

## To Reproduce

Steps to reproduce the behavior:

[code]

Error
[code]

## Expected behavior

No changes applied to images.

## Environment

PyTorch 1.8.0, this error comes from https://pytorch.org/docs/stable/_modules/torch/distributions/uniform.html#Uniform.

Using `torch.rand` may solve this problem.

[2021-05-16 17:17] shijianjian commented on #1016
Which version are you in? This should have been fixed already with:
https://github.com/kornia/kornia/blob/753d3fd6110ea406eb786ec277ae401b0afcaace/kornia/augmentation/utils/helpers.py#L250

[2021-05-17 03:25] Hzzone commented on #1016
I am sorry for this mistake. The version of kornia is
[code]

[2021-05-17 03:33] shijianjian commented on #1016
Upgrade to the latest version would fix it.

[2021-05-17 03:34] #1016 closed

[2021-05-18 02:33] diadochos opened #1019 "Removing lena.jpg"
Hi, thank you for providing the very convenient library!

## 📚 Documentation

### Issue: The [Gaussian Blur example](https://kornia.readthedocs.io/en/latest/tutorials/gaussian_blur.html) uses the "Lena" image as an example.

Recently, I learned that there is a movement to remove the image from the community: [LOSING LENA](https://www.losinglena.com/) which I believe the great developers of this li

[2021-05-18 09:59] edgarriba commented on #1019
@diadochos thanks for reporting this. We definitely join this movement.

In fact, we are on the process to move all the tutorials to a separate repo/page in notebook/colab format
https://github.com/kornia/tutorials / https://kornia-tutorials.readthedocs.io/

Maybe you could help on that and send a PR there ? I can remove myself later from main repo the existing tutorial.

Do you have in mind what

[2021-05-18 11:28] diadochos commented on #1019
Hi @edgarriba, thanks for the prompt answer! I'm glad to hear that.

I know of this cute cat :cat: picture that is in the public domain:
https://publicdomainq.net/kitten-cat-animal-0022136/
Otherwise, I think the `bennett_aden.png` that is already in the data folder could be a substitution.

Certainly. Will it do if I pick up the notebook from the existing tutorial, modify it, and send a PR to thi

[2021-05-18 12:58] edgarriba commented on #1019
sure we can use Benett's - unless @bigcmos has any objection.
Bennet was such an inspiration in early `torchgeometry` days :)

Yeap, slightly modify the existing one adding a bit of polishing. Take as a reference the other notebooks in the new repo.

[2021-05-18 13:58] diadochos commented on #1019
Hi @edgarriba, I've filed a PR above as I could find some time today. Please kindly take a look at your convenience.

[2021-05-18 17:10] dkoguciuk commented on #795
Hi @edgarriba , @ducha-aiki ,

## The conclusion

Following pytorch documentation on SVD [HERE](https://pytorch.org/docs/stable/generated/torch.svd.html): `Gradients computed using U and V may be unstable if the input is not full rank or has non-unique singular values.` And I believe this could be the problem here: **for some inputs gradients are unstable**.

## My methodology

I've fixed the torc

[2021-05-18 20:43] ducha-aiki commented on #795
Wow, that is an impressive investigation! Your solution looks good for me as well.
@edgarriba you opinion?

Also, it would be great, if pytorch incorporated robust SVD implementation from this Fua paper
https://arxiv.org/pdf/2104.03821

Do we have any influence over that?

[2021-05-19 02:08] shijianjian commented on #795
BTW, @dkoguciuk non-full rank matrix error is also happening with torch.inverse as well. There might also need a fix as well. For now, I used torch.pinverse. Do you have any insights for this?

[2021-05-19 08:54] dkoguciuk commented on #795
Hi @ducha-aiki , Hi @shijianjian ,

I certainly don't :smile: But as you can see [HERE](https://github.com/pytorch/pytorch/issues/49886#issuecomment-819644142) it was already mentioned there, so maybe someday it will be incorporated into PyTorch.

It is hard for me to say because I am no linear algebra expert by any means, but I can give you some intuitions. I assume there could be applications wh

[2021-05-19 18:30] edgarriba commented on #795
If `torch.pinverse` solves the issue then I'd go for it

[2021-05-19 19:54] dkoguciuk commented on #795
@edgarriba that is not the case here -- I suspect `find_homography_dlt` sometimes fails, because of `torch.svd` (as described above) and we don't have `torch.psvd` just yet. What do you think about the workaround I've proposed above? Can I code it and propose a PR?

[2021-05-20 03:07] CASIAyujie opened #1021 "The description of warp_perspective in kornia documentation is wrong"
## 📚 Documentation
The output result of kornia.geometry.transform.warp_perspective is different from the given formula. According to my experimental results, the actual matrix in the given formula is the inverse of M.

[2021-05-20 06:57] edgarriba commented on #795
Yes, hi ahead

[2021-05-20 09:42] edgarriba commented on #1021
@CASIAyujie agree - please go ahead with a PR to update the docs

[2021-05-20 23:15] edgarriba commented on #994
@ChristophReich1996 any progress on that ? do you think you could make by the end of next week for our bi-weekly release ?

[2021-05-21 14:12] #1021 closed

[2021-05-22 09:44] shijianjian commented on #991
I think we are not supporting pytorch versions prior to 1.6.0. You might try:
[code]
to avoid lib overriding. However, I cannot guarantee if it is feasible for your use case.

[2021-05-22 09:44] #991 closed

[2021-05-23 11:05] nzjrs opened #1027 "you basically stole your logo from gtk.org"
https://gtk.org/

[2021-05-23 17:30] ethanrublee opened #1028 "gray_to_(rgb,bgr)"
## 🚀 Feature
I have a grayscale image, and I'd like to use it with the augmentation functions which only support 3 channel images.

I'm looking for the equivalent of ``cv2.cvtColor(cv2.COLOR_GRAY2BGR, gray)``.

[2021-05-24 01:17] shijianjian commented on #1028
Kornia.color.gray_to_rgb.

[2021-05-24 01:20] ethanrublee commented on #1028
This doesn't exist as far as I can tell, am I missing something?

[2021-05-24 01:24] shijianjian commented on #1028
You are right. Sorry I did not aware that we don't have it. XD. Are you interested in sending a PR?

[2021-05-24 09:04] pmeier opened #1029 "Be an early adopter of `torch.testing.assert_close`"
## 🚀 Feature

Be an early adopter of `torch.testing.assert_close`.

## Motivation

We (PyTorch) recently added [`torch.testing.assert_close`](https://pytorch.org/docs/1.9.0/testing.html) that will ship with the upcoming `torch==1.9.0` release in a prototype state. We are looking for early adopters to get feedback for missing features or UI / UX improvements.

## Pitch

`kornia` uses the undocument

[2021-05-24 10:30] Manza12 opened #1030 "Morphological erosion (and probably the other operations) does not work as expected"
## 🐛 Bug

The morphological erosion operation from the package kornia.morphology does not work as expected.

I compare the result of erosion with the scipy one and I get that they are not the same.

Here is a simple script that shows that

[code]

[2021-05-24 10:40] edgarriba commented on #1030
@Manza12 what's your proposed solution ?

[2021-05-24 12:36] Manza12 commented on #1030
I would use the [unfold](https://pytorch.org/docs/master/generated/torch.Tensor.unfold.html) method from PyTorch Tensor to manage the neighbourhood and perform the operation using the formula you can find [here](https://en.wikipedia.org/wiki/Mathematical_morphology#Grayscale_morphology).

The function will look like this:

[code]
Do you want me to make a PR? I may also check other operations...

[2021-05-24 14:58] shijianjian commented on #1030
Yes, please go for it if it is our current best solution.

[2021-05-26 12:40] dkoguciuk commented on #795
Fixed by #1022 and #1032 .

[2021-05-26 17:00] #795 closed

[2021-05-26 18:21] ducha-aiki commented on #1027
Hi,

Thank you for bringing our attention to the issue of logo similarity, which we were not aware of (although we would appreciate a more polite tone).

Our logo is color-modified version of Arraiy logo (check here https://www.linkedin.com/company/arraiy/about/), founded in 2016 where kornia was initially born under the name torchgeometry (https://pypi.org/project/torchgeometry/#history) as a sid

[2021-05-26 18:21] #1027 closed

[2021-05-31 06:28] 24hours opened #1045 "wrong result for morphology opening"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

this bug present on master branch, `opening` is not yet in any release version

[2021-05-31 07:01] edgarriba commented on #1045
@24hours thanks for reporting. I would compare with a non zeros input. /cc @manyids

[2021-05-31 21:17] edgarriba opened #1053 "Use f-strings in classes __repr__ method"
## 🐛 Bug

After applying black formatter the `__repr__` methods for some classes have been totally destroyed because of not using  f-strings.

As discussed in [here](https://github.com/kornia/kornia/pull/1052/files/e7ce42f9a6fc0587f1666ec86d2a53fbc7cc382a#r642674150) - the proposal is to implement in those methods the following strategy:

[code]

[2021-05-31 21:28] edgarriba commented on #937
merged in https://github.com/kornia/kornia/pull/1004

[2021-05-31 21:28] #937 closed

[2021-05-31 21:29] edgarriba commented on #1000
merged in #1013

[2021-05-31 21:29] #1000 closed

[2021-05-31 21:31] edgarriba commented on #649
half precision is already supported in > `0.5.1`

[2021-05-31 21:31] #649 closed

[2021-06-01 08:12] Manza12 commented on #1045
This bug is produced by the padding of the border. I will implement a custom border value for all the morphological operations as it is done in [nnMorpho](https://github.com/Manza12/nnMorpho). This way you would be able to fully control the border value.

[2021-06-02 14:42] AnimeshMaheshwari22 commented on #702
Hello! I would like to work in the Bilateral filter functionality.

[2021-06-02 15:47] lferraz commented on #702
Hi @AnimeshMaheshwari22

perfect!!!! Let's see how much work requires this Feature and then we can determine how to proceed. :)

Luis

[2021-06-02 19:26] alexsax opened #1055 "RandomCrop inverse ignores `params`"
## 🐛 Bug

RandomCrop inverse ignores `params` and seems to use the cached transform from `self._transform` instead. Minimal example shown below:

## To Reproduce

Steps to reproduce the behavior:
[code]
Produces the output:
[code]
Which puts the incorrect values (from inv1) into the last cropped location (top-left).

## Expected behavior

The expected output is:
[code]

## Environment

Collecting

[2021-06-02 23:43] qiangwang57 opened #1056 "apply derived homography matrix by kornia to cv2 perspective warp"
Hi there,

I followed the example of homography regression by kornia and obtained a homography matrix. I wanted to apply the matrix for further post-processing with cv2. Unfortunately, cv2 did not give the correct answer with the matrix. I was just wondering if you could shed some light on it?

Cheers, Chiang

[2021-06-03 06:27] shijianjian commented on #1055
I will fix it soon.

[2021-06-03 06:27] shijianjian commented on #1056
Hi, can you share a minimum example to reproduce?

[2021-06-03 11:25] qiangwang57 commented on #1056
Hi,

A homography matrix is generated from https://github.com/kornia/kornia/blob/master/examples/homography_regression/main.py:
[code]

And the cv2 code is as below:
[code]

Any tips would be appreciated!

Cheers, Chiang

[2021-06-03 11:41] edgarriba commented on #1056
@qiangwang57 is `kornia.geometry.warp_perspective` giving you the correct result ? what's the visual output you get ?

[2021-06-03 13:21] qiangwang57 commented on #1056
I used HomographyWarper for the regression, and the result looks great. One thing here is that with the same matrix, warp_perspective did not give the same result. Not sure what is the trick in it... But seems cv2 and warp_perspective give closer result?
![Figure_1](https://user-images.githubusercontent.com/49925149/120651606-e1e50600-c476-11eb-9643-3d218b4cefd4.png)

[2021-06-03 16:25] ducha-aiki commented on #1011
@cceyda suggested that we replace warning I added in #1012 with an error, or do auto-cast to float.
What do you think?
@shijianjian @edgarriba

[2021-06-03 16:28] edgarriba commented on #1011
probably error is better. I think we need to find a generic way to perform those checks. This is related to what I suggested after @justanhduc decorator PR

[2021-06-03 16:31] ducha-aiki commented on #1011
Well, in theory people could provide uint weights as well. But then the conversion is not needed. I will do an error then

[2021-06-03 16:46] ducha-aiki commented on #1011
https://github.com/kornia/kornia/pull/1057

[2021-06-03 17:53] edgarriba commented on #1056
What's the call you do for kornia warp_perspective ?

[2021-06-04 06:17] edgarriba commented on #1056
Oh I see it now. That’s the thing, you refine the transformation with `HomographyWarper` which for numerical stability we internally use a normalised homography. However, opencv and kornia `warp_perspective` assume homographies in pixel space. In order to achieve same results you need to normalise first the homography - we have a utility function for that. See here: https://github.com/kornia/korni

[2021-06-04 06:21] edgarriba commented on #702
Agree, let’s continue this discussion in slack

[2021-06-04 11:14] qiangwang57 commented on #1056
@edgarriba Thanks for the explanation and sorry that I am a bit new to the area. I just wonder if you could shed more light on how to do the trick. You mentioned the homo matrix needs to be normalised for `warp_perspective`, but the utility function is to normalise the pixel space, I assume? I inserted `homo_matrix_tensor = normalize_homography(homo_matrix_tensor, (256, 256), (256, 256))` to korni

[2021-06-04 14:36] ducha-aiki commented on #1056
There are 2 ways, I can recommend you for now (until we provide smth out of the box).
First, is to simply use ` kornia.geometry.homography_warp` for warping instead of OpenCV.
`warped2 = kornia.geometry.homography_warp(img_src, homo_matrix, img_src.shape[-2:])`

Second, use the following function (we will add it to kornia in a couple of days)

[code]
Than
`homo_matrix_tensor = denormalize_homograp

[2021-06-04 15:08] ducha-aiki opened #1060 "Merge homography_warp with warp_perspective"
## 🚀 Feature
Now we have 2 functions, `homography_warp`, `warp_perspective`, which have similar functionality, but differ in the format of the input: `warp_perspective` expects a pixel homography, whereas `homography_warp` wants normalized homography.
This can be merged into a single function with an input flag like `normalized_homography`.

## Motivation

This discrepancy confuses people now:
Rel

[2021-06-04 15:33] sbelharbi opened #1062 "morphology.dilation: inconsistency between versions."
## 🐛 Bug

hi,
'kornia.morphology.dilation' seems to have changed between versions `0.5.3+3a7a77a` (git+https://github.com/kornia/kornia@3a7a77a42b1137068bc7945a6745ab59438e94e2) and `0.4.2+ac6a04b` (git+https://github.com/kornia/kornia@ac6a04b002103ced2fa2983930b47f87eaded15d
).

over "binary" tensors (float tensors filled with 0/1), the version `0.4.2+ac6a04b` seems to give the right output (corr

[2021-06-04 15:41] AhmadM-DL commented on #702
Any updates on this?

[2021-06-04 15:44] marcomameli1992 opened #1063 "HSV_To_RGB help needed"
Dear, I'm using your package to convert an image from RGB to HSV color space to use it has input. When I try to make the inverse convertion and save it with torchvision save image utils I obtain an image that is not equal to the real.
I use scikit-image to open the original image, after that I convert the opened image to tensor and apply the function rgb_to_hsv on it, in the saving stage I use hsv

[2021-06-04 15:48] qiangwang57 commented on #1056
Thanks @ducha-aiki ! The first recommendation just works perfectly! However, the second one seems not, very close though.
The code is as below:

[code]

Here is the result.
![Figure_1](https://user-images.githubusercontent.com/49925149/120828225-2db9ad00-c554-11eb-979a-2605d1754f18.png)

Did I miss something in the code?

Cheers, Chiang

[2021-06-04 15:51] ducha-aiki commented on #1056
You also may need to invert your matrix, I may have missed that part.

[2021-06-04 17:38] alexsax commented on #1055
Also, thanks @shijianjian for adding this feature! Should be quite useful

[2021-06-05 09:23] justanhduc commented on #1063
Hi @marcomameli1992. I didn't try yet but just to make sure, did you scale the input to between [0, 1]? Did you use `==` or `torch.isclose`? Since everything is floating point the former may result in "not equal" as you observed.

[2021-06-05 09:47] edgarriba commented on #1063
Was checking the tests and this is something that we should have to make the api consistent. I believe @cceyda tried that at some point

[2021-06-05 10:01] edgarriba commented on #1062
@sbelharbi thanks for reporting that - the morphology api it’s under refactoring conducted by @Manza12 . If you feel so, feel free to send a PR with the updated docs.

[2021-06-05 10:05] edgarriba commented on #702
@AnimeshMaheshwari22 is going to give a try on that, @AhmadM-DL feel free to join our slack in case you want to be involved too in that feature.

[2021-06-05 10:05] #1056 closed

[2021-06-05 11:45] cceyda commented on #1063
@marcomameli1992 I understand you are doing rgb_to_hsv ->hsv_to_rgb and finding rgb!=rgb.

This can sometimes be because not all color conversions are exact inversible, cause some times we add epsilon values to avoid non differentiability issues. Nevertheless inversing conversions should still result in the same values (max differences within 1e-4)

Please look at the Kornia section of following n

[2021-06-05 12:10] Manza12 commented on #1062
Hi @sbelharbi,
I am in the process of refactoring this specific fact; I will create a framework where both approaches (binary and greyscale) will be possible by means of the use of structural element and footprint as in [Scipy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.grey_dilation.html#scipy.ndimage.grey_dilation).
I am sorry to not have prevented of the changement of be

[2021-06-06 09:07] #1019 closed

[2021-06-07 03:58] justanhduc opened #1068 "Make functions work with arbitrary-dimensional images and videos"
## 🚀 Feature
To make most functionals work with images and videos of any dimensions.

## Motivation

Most functions require input to be of specific shapes. This is quite restricted and deep learning-centric. I would like to reduce this restriction and make them work with inputs of any dimensions. This will agree with `torchvision`, `kornia.color` module and [this PR](https://github.com/kornia/korn

[2021-06-08 11:07] edgarriba commented on #1068
@justanhduc what do you suggest for this ? A decorator might work so that we can enforce all the image based operators to work with `(..., H, W)`. Or at least, return the same the shape as in the input.

[2021-06-08 11:30] lferraz commented on #1068
Hi @justanhduc  @edgarriba

Please, correct me if I am wrong. I feel the only real problem is that videos require a format that breaks the compatibility with the images.

In my opinion there are 2 approaches to solve this issue. The most efficient is changing the video format to be compatible with the image one. The other approach requires adding logic everywhere. That logic can be added using dec

[2021-06-09 02:49] justanhduc commented on #1068
Hi @edgarriba @lferraz

Yeah as mentioned in "Additional context", I think there are two ways. Either adding decorator like what has been done with [`kornia.geometry.transform.affwarp.resize`](https://github.com/kornia/kornia/pull/1047), or in easier cases, we can use `...` to index into tensors.

I think so too. The extra time dimension changes everything. However I think you might misunderstood

[2021-06-09 07:08] edgarriba commented on #1068
@justanhduc sounds like a good plan. From where would you start - I would suggest to make iterative by submodules.

[2021-06-09 12:03] justanhduc commented on #1068
@edgarriba Ok then I will start with the submodules in `kornia.enhance.adjust` first. Also I will make a WIP PR so we can discuss there.

[2021-06-09 14:35] #1055 closed

[2021-06-10 06:05] zsef123 opened #1090 "[Feat] Support cpp"
## 🚀 Feature

- Support cpp codes

## Motivation

Most computationally codes based on cpp and interface extended on python like pytorch, tensorflow, opencv ...

And if the kornia supports cpp then getting more flexible, extendable.

## Pitch

Add `Cmakelistst.txt`
- using in pytorch, torchvision
- easily handling cross compile
- have good reference
  - https://github.com/pytorch/vision/blob/master

[2021-06-11 04:20] lg93lggt opened #1093 "Bug in Examples DepthWarperApp"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. in function load_data , create_pinhole is not defined, so I change it to dgm.geometry.PinholeCamera
    intrinsics44 = np.eye(4)
    intrinsics44[:3, :3] = intrinsics
    extrinsics44 = np.eye(4)
    extrinsics44[:3] = extrinsics
    camera = dgm.geometry.PinholeCamera(intrinsics, extrinsics, height, width)
    //#CHANGE
    //# camer

[2021-06-11 15:34] shijianjian commented on #1090
Hi @zsef123,

Thanks for the suggestion. We have had some sort of discussion previous regarding to include more CUDA code into the codebase. We agree that it is definitely the direction that we should go but it will bring extra effort to maintain different CUDA versions. /cc @Manza12 @edgarriba @ducha-aiki

Personally, I would prefer to start with another repo for the optimized code and to avoid m

[2021-06-12 07:54] edgarriba commented on #1090
@zsef123 thanks for raising this conversation, as discussed offline, definitely we want to integrate that. As @shijianjian suggested we would like to make the integration of cpp backends as much smooth as possible by potentially externalising fist from the core of the library basically for bandwidth and infrastructure reasons at the time make each releases (two weeks cycle). I'd suggest if you cou

[2021-06-12 10:14] edgarriba opened #1101 "`_params` not accesible in VideoSequential"
## 🐛 Bug

In kornia `0.5.4` the member `_params` is not accessible anymore from `K.augmentation.VideoSequential`.

See: https://github.com/PyTorchLightning/lightning-flash/pull/405/checks?check_run_id=2808981288

[code]

[2021-06-12 10:14] edgarriba commented on #1101
/cc @shijianjian @ethanwharris

[2021-06-12 14:54] #863 closed

[2021-06-13 11:06] Juclique commented on #1062
Hi there!

@Manza12 , in case of refactoring maybe I can help you with some code that I make when I created the morphology module.

My first approach was .unfold (as NVIDIA forum says, is the best way to implement new stuff).

For example, dilation:
`class Dilate_unfold(torch.nn.Module):

    def __init__(self,kernel):
        super().__init__()
        self.kernel = kernel
        self.se_h, self

[2021-06-15 08:14] edgarriba commented on #1062
@sbelharbi the refactor is merge in master and available `0.5.4` - let us know if that works for you.

[2021-06-15 08:14] #1062 closed

[2021-06-15 08:16] edgarriba commented on #1093
@lg93lggt what the error you get ?

[2021-06-16 09:40] justanhduc opened #1109 "Unifying kernel_size argument in `kornia.filters`"
## 🚀 Feature
Currently some functions in the `filters` module take a tuple as `kernel_size` argument, but some accept only `int`. I would like to unify all these functions to `Union[Tuple[int, int], int]`.

## Motivation

This would make the API more uniform and inline with Pytorch.

## Pitch

[code]

[2021-06-18 09:16] shaunster0 commented on #1030
I think I know what the issue is here. If u change line
https://github.com/kornia/kornia/blob/master/kornia/morphology/morphology.py#L142

to set the border to zero (ie. border_value = 0), output agrees with scipy erosion. The difference with scipy only existed at the edges (interestingly dilation didnt have this issue, output agrees with scipy).

[2021-06-21 12:51] qiangwang57 opened #1114 "Low resolution after homography transformation"
I found that if I use HomographyWarper for the transformation for a large image, the resolution after registration drops significantly, but with cv2, the resolution retains well.

![image](https://user-images.githubusercontent.com/49925149/122764632-94023780-d297-11eb-883a-fa99413e16de.png)

The code is as below:

[code]

Any tips?

Cheers, Chiang

[2021-06-21 15:18] eugene87222 opened #1115 "Add RandomGaussianBlur into __init__.py under kornia/augmentation"
## 🐛 Bug

Whenever I import `kornia`, it sends me this message:
[code]
And if I use `kornia.augmentation.GaussianBlur` instead of `kornia.augmentation.RandomGaussianBlur`, an `AttributeError` occurs.
[code]

Maybe change `GaussianBlur`([here](https://github.com/kornia/kornia/blob/master/kornia/augmentation/__init__.py#L5)) to `RandomGaussianBlur`.

[2021-06-21 15:49] edgarriba commented on #1114
@qiangwang57 thanks for reporting this issue. Have you tried with different interpolation modes ? e.g `mode='nearest'`

[2021-06-21 17:57] qiangwang57 commented on #1114
@edgarriba Yes, I tried both, i.e. "nearest" and "biliniear", but no luck.

[2021-06-21 19:06] edgarriba commented on #1114
What's the original and output image sizes ? /cc @ducha-aiki

[2021-06-22 01:59] shijianjian commented on #1114
Hi, can you share a minimal Colab to reproduce?

[2021-06-22 02:01] shijianjian commented on #1115
Hi @eugene87222, do you mind submitting a PR to fix it?

[2021-06-22 02:09] shijianjian commented on #1101
The API inheritance changed so that the model saved previously can not be loaded into the newer version. This should not be a bug in our side.

Meanwhile, I would say to use state_dict instead. It might be more persistent among versions. Could you try state_dict?

[2021-06-22 12:44] qiangwang57 commented on #1114
They both are 6000*5800.

[2021-06-22 13:05] qiangwang57 commented on #1114
@shijianjian

Here is the code: https://colab.research.google.com/drive/1YNAcYQZ2UWRAuVCZgjj-iHi4dvIyQJgo#scrollTo=gmLGyG0F0aHL
Not sure if viewable as brandnew to colab.

Cheers, Chiang

[2021-06-22 15:27] ducha-aiki commented on #1114
Thank you! Could you please give me an access? (I have clicked on "request access" button",as it is restricted now)

[2021-06-22 16:31] qiangwang57 commented on #1114
Sorry that just saw the request. @ducha-aiki @shijianjian you should be able to access it now.

[2021-06-22 16:57] ducha-aiki commented on #1114
The problem is not in kornia, but in auxilary function, which you defined, which does resize to 256x256:

[code]

Instead just use kornia.image_to_tensor in the following way instead of your function:

[code]

![image](https://user-images.githubusercontent.com/4803565/122968306-b07f9c00-d38b-11eb-9834-e93b1f892743.png)

[2021-06-22 18:33] qiangwang57 commented on #1114
My bad! I did not realise there is a call to the third function. I remember I did use the inherent functions from Kornia, but I adjusted slightly to suit some purposes.

Anyway, thanks for figuring it out.

Cheers, Chiang.

[2021-06-22 18:33] #1114 closed

[2021-06-23 21:59] copaah opened #1122 "[Feature request] Add `depth_to_disparity` and `disparity_to_depth` methods in `StereoCamera` class"
## 🚀 Feature

Two methods to convert between disparity and depth maps. This should be batched and be general, i.e. the normal conversion
`depth = (baseline * focal length) / disparity)` doesn't work for different focal lengths.

## Motivation

Some downstream tasks in 3D vision uses depth maps rather than point clouds or disparity maps.

## Pitch

Add two new methods:
* `disparity_to_depth`
* `dep

[2021-06-23 22:10] copaah opened #1123 "[Feature request] Common stereo metrics."
## 🚀 Feature
To make kornia attractive to stereo researcher, we should consider adding a set of commonly used stereo metrics as is seen in the [KITTI](http://www.cvlibs.net/datasets/kitti/eval_scene_flow.php?benchmark=stereo) or [Middlebury](https://vision.middlebury.edu/stereo/eval3/) benchmarks.

Metrics to consider to add:
* RootMeanSquaredError
* MeanAbsoluteError
* MeanBad{n}Error

We should

[2021-06-24 01:51] shijianjian commented on #1123
Hi @copaah,

Thanks for the proposal. Those losses are common and not only for stereo images. Since we are a computer vision library, I personally think we should include losses that are more "CV" centric like SSIM, PSNR, etc. In that case, we may also differentiate from other libraries, convincing other packages to use us since there is no competition. Is there any stereo-specific losses/metrics

[2021-06-24 09:54] edgarriba commented on #1123
fully agree with @shijianjian - we should try to cover try cover "only" vision metrics/losses that interests our community.

Are the metrics you mention contained in `torchmetrics` ? Ideally we should find a tradeoff between libraries/implementations. /cc @Borda Any objection here ?

[2021-06-24 09:55] #1115 closed

[2021-06-24 23:29] copaah commented on #1123
@edgarriba @shijianjian

Thank you both for your inputs. I understand your objections.

The metrics I mentioned are not in `torchmetrics`. They would inherit from the `Metric` class like this:

[code]

And would be compatible with all `pytorch-lightning` functionality.

The metrics I mentioned are also part of `opencv-contrib`:
* [MeanBad{n}Error](https://docs.opencv.org/master/da/d17/group__ximgp

[2021-06-25 06:33] shijianjian commented on #1123
Hi @copaah,

Is the MeanBad{n}Error more close to be stereo-only? I think probably we can include some functions around computing disparity maps? @edgarriba what do you think?

Best,
Jian

[2021-06-25 10:04] edgarriba commented on #1123
I think it's not a bad idea - torchmetrics has only pytorch dependency and `Metric` seems a quite generic thing. We should re-think also about losses which is very close to metrics so that we can reuse the same functionality to backpropagate gradients.

Could we do somehow optional the `torchmetrics` import part ?

[2021-06-25 10:56] edgarriba commented on #1030
@Manza12 @shaunster0 could any of you send a quick PR with this ?

[2021-06-25 11:00] edgarriba commented on #1109
@justanhduc I only see one blocker here. Torchscript doesn't support properly `Union` types yet. So I would add this feature request in the backlog until this feature is added in pytorch. See: https://github.com/pytorch/pytorch/pull/53180 and https://github.com/pytorch/pytorch/issues/41412

[2021-06-25 17:18] ducha-aiki opened #1124 "Add SOLD2 line detector/descriptor/matcher to kornia"
## 🚀 Feature
It is sota and implemented in pytorch under MIT license
https://github.com/cvg/SOLD2

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-06-25 17:36] ducha-aiki commented on #1124
cc author: @rpautrat

[2021-06-25 17:41] rpautrat commented on #1124
Great idea! I can start working on it starting in August, let's discuss it at that time.

[2021-06-25 20:06] copaah commented on #1123
I would say `MeanBad{n}Error` is closer to stereo-only, yes.

I think a lot of this discussion stems from uncertainty about overall roadmap from `stereo` module in `kornia`. My initial hope was that `kornia` could be the go-to library for (deep learning based) stereo researcher and it would include all "helper" functionality such as metrics, the `StereoCamera` class and data loaders for common ste

[2021-06-26 02:54] shijianjian commented on #1123
I would avoid using names like ```metrics``` and ```losses``` since they look like more DL related., probably go for ```kornia.measure.stereo```. BTW, what is the plan on the stereo? To have a ```kornia.stereo``` module? or only to include those metrics?

I like this decoupling that we do not import ```torchmetrics``` as all.

[2021-06-26 10:01] edgarriba commented on #1123
This sounds attractive - however I would like to be a bit conservative at the time to add stuff like datasets since we have been avoiding this from the beginning and just focus on curated methods. For datasets we could have an external/optional module. It's not the case here, but basically we would like to have quite a robust kornia core and not fall in the trap to have in the short term deprecate

[2021-06-26 13:59] copaah commented on #1123
@shijianjian : What is the motivation behind avoiding DL nomenclature?

@edgarriba : Sounds good. I won't add any datasets - if I really want to, I could maybe do in a tutorial :)

How to proceed with this feature request? Should we just put in the backlog and wait for the `stereo` roadmap to be bit more mature? I don't see this as a high priority right now and would like to finish the `StereoCame

[2021-06-26 18:00] edgarriba commented on #1123
yes - let's continue this discussion once we have more things in the stereo module

[2021-06-26 18:28] Borda commented on #1123
btw, we have started adding image metrics to TrochMetrics :]
https://github.com/PyTorchLightning/metrics

[2021-06-26 18:52] copaah commented on #1123
Do you think these metrics would be a welcome contribution in `torchmetrics`?

[2021-06-27 12:03] shijianjian commented on #1123
Not a strong objection. The term of "loss" in DL is more or less ready to be called with ```loss.backward()```. If we are going for losses, we'd better have some support/tutorials/examples for that. Also, I think naming like ```kornia.measures``` would attract some DL libraries like ```torchmetrics``` to use us with less burden (that we are aiming on different directions).

[2021-06-27 12:48] #1029 closed

[2021-06-27 18:53] #836 closed

[2021-06-28 05:16] pmeier opened #1134 "New default tolerances makes some tests fail"
In #1031 several tests were identified that rely on a higher than default tolerance starting from `torch==1.9.0`:

[code]

We should investigate for each, if everything is working as expected or if the higher tolerance constitutes for a bug. In the former case, we could simply crank up the tolerances.

To see the tests fail, remove

https://github.com/kornia/kornia/blob/e586148e88ceb7fd2e9b422806b

[2021-06-30 15:03] dkoguciuk commented on #688
Done in #1103 .

[2021-06-30 15:03] #688 closed

[2021-07-02 00:39] hminle opened #1140 "Why input of rgb_to_lab and output of lab_to_rgb are not the same?"
Hi Kornia team,

I test `rbg_to_lab` and `lab_to_rgb` with these lines of code:
![image](https://user-images.githubusercontent.com/16201681/124204068-31d1df80-daac-11eb-8a27-a45df132d842.png)

The `input` and `output_rgb` are supposed to be the same, but it is not the case.
I checked the document but did not see any special preprocessing method for input/output of those conversion functions.

So w

[2021-07-02 05:48] shijianjian commented on #1140
After a quick glancing, I suspect it is related to those ```clamp``` functions.

@cceyda, can you take a look?

[2021-07-02 06:35] cceyda commented on #1140
Yes @shijianjian it is because of clipping done during `lab_to_rgb`. This is according to conversion standarts [[ref](https://www.w3.org/Graphics/Color/srgb)]
![image](https://user-images.githubusercontent.com/15624271/124231313-110c9700-db4b-11eb-9f83-ec09bde6d28a.png)

@hminle you can check our test for this exact thing [here](https://github.com/kornia/kornia/blob/25cb90b1775fa2244790cd8f46c6120

[2021-07-02 07:55] dkoguciuk opened #1142 "A couple of questions about bbox module functions"
Hi guys,

during the `bbox` module refactoring, I have encountered a couple of weird things and I wanted to make sure that everything is how it suppose to be:

1. bbox width and height arithmetic seem to be inclusive (adding +1 to the difference of coordinates): https://github.com/kornia/kornia/blob/1e0ccad60611f5e47d4eddbf950f120c30020dd9/kornia/geometry/bbox.py#L105-L107 So when we have this exa

[2021-07-02 09:39] shijianjian commented on #1142
Hi @dkoguciuk,

1. I did not do much background research on how other libs did during the time of development. While, as we are dealing with corners than ```(x, y, h, w)```, ```(x, y, x, y)```, I think this inclusion can be more intuitive as we actually expect the point to be included while write it. Since our bbox format is a bit irregular due to the need by ```grid_sample```, I think what we nee

[2021-07-02 09:50] shijianjian opened #1143 "More ImageCorruption augmentations"
## 🚀 Feature
I have encountered (this repo](https://github.com/bethgelab/imagecorruptions), and I am thinking if we can implement some of those functions and have a general API for ```kornia.augmentation.ImageCorruption``` as the similar logic as ```ColorJitter```. The idea is to include more augmentations with less coding.

[2021-07-02 10:07] edgarriba commented on #1140
@cceyda @shijianjian should we have `clip==False` in `lab_to_rgb` ?

[2021-07-02 10:14] edgarriba commented on #1142
@shijianjian @dkoguciuk I would also try to do a poll or ask to our community what would be the best representation and approaches.

[2021-07-02 10:20] edgarriba commented on #1143
We can have `ImageCorruption` as high level interface but same as in color jitter we should provide the interface to the internal transformations. I like some transforms here like the `plasma_fractal` which already was in our plans but to take from @anguelos - `tormentor`.

Please, update the augmentations issue tracker with this list here and add more notes there.

[2021-07-02 12:16] cceyda commented on #1140
@edgarriba This might lead to some problems if someone tries to save an image or pass it onto another (kornia) function that expects things in 0,1 range. Imo `clip=True` is a safer default.

[2021-07-02 14:09] dkoguciuk commented on #1142
@edgarriba , I don't know if a poll is a way to go, I think better would be to find repositories for 2d/3d object detection and analyze how they are defining bounding boxes now, so we could hope the following works could just use kornia instead of coding everything from scratch.

Some of the popular object detection repos I know:
1) Mask_RCNN (20k2 stars) -- https://github.com/matterport/Mask_RCNN

[2021-07-02 14:31] hminle commented on #1140
Hi @cceyda ,
I think this test could not solve my issue.
In the test, it converts `data` which is in `Lab` space to `RGB` space first, then does the conversion from `RGB` back to `Lab` again.

But if you do like this: first, initiate `data` in `RGB` space, convert it to `Lab`, then convert back to `RGB`, you will see the problem. (You can see my screenshot as an example)

For the function `kornia.

[2021-07-02 14:46] hminle commented on #1140
Hi @cceyda ,

I found another test that solve the issue:
https://github.com/kornia/kornia/blob/25cb90b1775fa2244790cd8f46c6120f68106c6e/test/color/test_lab.py#L230

When I print them out, I see they are the same, but the `torch.allclose` cannot make it `True`
![image](https://user-images.githubusercontent.com/16201681/124291674-cecf5f80-db22-11eb-993c-a90aa1a1f48a.png)

[2021-07-02 14:49] #1140 closed

[2021-07-02 15:32] shijianjian commented on #1142
I agree that we have a bad support for floating points bounding boxes, which makes sense for removing the +1 operation. Please note that this will affect many functions and will break the backward compatibility. If we are doing this, it can be a big BREAKING CHANGE. Similar to detectron, our current implementation is totally based on integer indices and I am reluctant to change it. I would suggest

[2021-07-03 09:22] shijianjian commented on #974
@dkoguciuk This shall be relevant to the proposal of bounding box refactoring with floating point support #1142

[2021-07-04 06:09] shaunster0 commented on #1030
so I tried making a PR here, but with border_value = 0 it broke 12 tests in morphology package ... seems the tests have been created to use border_value = max_val
Upon further consideration, I guess this is a subjective issue ... scipy erosion uses default border_value = 0 but kornia erosion currently uses border_value = max_val which isnt necessarily wrong. So I'm not clear enough here to proceed

[2021-07-04 08:05] Manza12 commented on #1030
If I am not wrong, scipy does not use 'constant' as default border handler, it uses 'reflect'. This is taken from usual convolution standards. However, in the case of mathematical morphology, the usual border handler is 'geodesic', which ensures that the outside values are not taken into account for the computation of the minimum/maximum. This is kind of the analog to 'constant' = 0 in usual convo

[2021-07-05 07:35] dkoguciuk commented on #974
@shijianjian , yes, thank you for letting me know :+1:

[2021-07-05 08:36] dkoguciuk commented on #1142
Hi @shijianjian ,

I am not sure how should we keep both representations at the same time -- it would be confusing for the user and the API is hard to design. But let's try, do you have any suggestions? One way would be to add `int` or `float` into the method name, i.e.:
1. `validate_int_bbox` and `validate_float_bbox`
2. `int_bbox_to_mask` and `float_bbox_to_mask`

Another option would be to add

[2021-07-05 09:50] edgarriba commented on #1142
@dkoguciuk we could have a high level interface as we have now and pass a `dtype` or `mode` that will branch to different implementations of the algorithm.

[2021-07-05 10:27] dkoguciuk commented on #1142
@edgarriba , there should be at least 3 versions of all algorithms in `bbox` module then:
1. integer bboxes (current implementation)
2. unnormalized float bboxes
3. normalized float bboxes

Is it the way we want to proceed?

[2021-07-06 01:25] shijianjian commented on #1142
@dkoguciuk, what's the implementation differences between 2 and 3? Does unnormalized mean to shrink to [-1, 1] or [0, 1]? Then if unnormalized, it sounds like we still need to add +1 to make the lib consistent, right? In that case, 1 and 2 are more or less duplicated.

I like your 2nd proposal without any renaming. I was thinking to have another suite of floating point API, and an additional param

[2021-07-06 09:47] dkoguciuk commented on #1142
### normed vs unnormed

2. unnormalized float bboxes -- bounding boxes parametrized by floating-point numbers in the coordinate system of a specific image (i.e. for center notation: x =340., y=220., w=50., h=100.) -- this is the most common notation across modern detection repos
3. normalized float bboxes -- bounding boxes parametrized by floating-point numbers in the normalized coordinate system

[2021-07-06 12:49] shijianjian commented on #1142
I thought the differences between unnormalized and integer version are very little apart from ```float``` and ```integer``` type. Thus,  say bboxes like ```[340, 220, 50, 100]``` and ```[340.0, 220.0, 50.0, 100.0]```,  I was thinking we shall output same numbers in our functions. That why I proposed to have the +1 notation for unnormalized bboxes, since the logics are identical between integer and

[2021-07-07 08:25] edgarriba commented on #1142
I would stick for unnormalized with float 0 index rule and for normalized with [-1,1] that directly maps to grid_sample convention

[2021-07-09 06:36] shijianjian opened #1151 "[feat] Add augmentation presets"
## 🚀 Feature

To many end-users, defining augmentation pipeline is headache. Thus, I would propose to have ```kornia.augmentation.preset``` module to include some default augmentation settings. Thus, we might have predefined augmentation presets, in parallel with model definitions like ```torchvision.models```, ```timm```, ```Detectron2``` and ```mmlab```. Ultimately, we might pair up augmentation

[2021-07-09 19:57] stasbel opened #1152 "Kornia Warnings Suppression won't work"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

GaussianBlue warning would be suppressed.

## Environment

 - PyTorch Version: `1.7.1`
 - OS: `Linux`
 - How you installed PyTorch: `pip`
 - Python version: `3.8.10`

## Additional context

...

[2021-07-09 20:28] sbelharbi commented on #1062
hi all,
thanks. i tested the new version `0.5.5+9a70e35`, and it gives the correct output without rectification.

[code]

thanks

[2021-07-10 02:49] shijianjian commented on #1152
Can you try:
[code]

[2021-07-10 08:01] edgarriba commented on #1151
Sounds good to me. To avoid to deeper modules we could just have `kornia.augmentation.preset`

[2021-07-10 08:32] shijianjian opened #1153 "[feat] better ONNX support"
## 🚀 Feature
Whilst testing on exporting kornia modules into ONNX, there are several operators that are currently not supported by pytorch.onnx. Specifically:
- ```torch.linalg.solve```
- ```torch.inverse```

For a better support of ONNX/TensorRT export, we might need to fix this.

[2021-07-10 08:52] edgarriba commented on #1153
Maybe similar to JIT, and module, we should test export to onnx

[2021-07-10 09:12] shijianjian commented on #1153
Indeed. I have talked with mmlab, they seem to be interested in exporting image processing ops as ONNX, TensorRT, etc. We need to somehow take the image proc export seriously. I will start from providing [kornia docker](https://github.com/shijianjian/Kornia-ONNX-docker). In some point, I think we gonna push one or two Docker containers to DockerHub to help people easy export.

[2021-07-10 11:59] stasbel commented on #1152
Exactly the same result. I have already tried bunch of stuff, none of warnings filtering strategy seems to work.

[2021-07-11 15:19] shijianjian commented on #1152
This warning should be wrapped into ```__init__``` and indeed remember that I have fixed it already. Not sure why it is here.

A possible reason is that they logged in different loggers, so that we cannot catch it properly. Still, I haven't find a good solution for that. Will fix it in the code instead.

[2021-07-11 17:12] shijianjian commented on #1152
The deprecation warning has been moved inside the function in #1139 already. Please check out the master. I will close this issue for now.

[2021-07-11 17:12] #1152 closed

[2021-07-11 17:14] shijianjian commented on #446
Closed by #1020.

[2021-07-11 17:14] #446 closed

[2021-07-12 08:29] dkoguciuk commented on #1142
Hi @shijianjian , @edgarriba ,

1. I am not sure if we are on the same page. @edgarriba  are you suggesting removing the +1 operation for unnormalized bboxes?
2. @shijianjian , are you suggesting not to implement `xywh` notation and only keeping `xyxy`?

[2021-07-14 21:22] wendy-xiaozong opened #1158 "[Feature request] Add 3D-SSIM"
## 🚀 Feature
3D-SSIM

## Motivation
SSIM and SSIMLoss are currently only supported in 2D in kornia. While it is common in medical imaging to compute SSIM on 3D volumes. In addition, 3D-SSIM is useful for video.

## Pitch
Adding 3D-SSIM

## Alternatives
N/A

## Additional context
N/A

[2021-07-15 04:54] shijianjian commented on #1142
Hi @dkoguciuk,

For your previous proposal, you named:
[code]

While what I was suggesting is to remove the notation of unnormalized float bboxes, to keep only integer and normalized ones. Also, for integer bboxes, it is not reasonable to remove +1 operation since it is a bit anti-intuitive and would break the backward compatibility.

[code]

No. it is always good to support more format.

[2021-07-15 08:21] dkoguciuk commented on #1142
Hi @shijianjian , the problem is that unnormalized float bboxes is the most common format in the community at the moment. Do we really want to intentionally exclude the support for it?

[2021-07-15 08:26] edgarriba commented on #1158
@wendy-xiaozong that would be a nice feature. Do you have any implementation reference ?

[2021-07-15 09:35] shijianjian commented on #1142
@dkoguciuk, in terms of the implementation, apart from the value range, there is no differences between normalized and unnormalized bboxes, right?

For now, if the integer bbox can smoothly worked, I do not want to change the whole concept of it. So, I would like to support usages like #974 firstly without breaking the backward compatibility. We will decide if to remove the integer bbox later afte

[2021-07-15 10:07] wendy-xiaozong commented on #1158
Hey @edgarriba,

I did find a paper on 3D-SSIM ([3D-SSIM FOR VIDEO QUALITY ASSESSMENT](https://ieeexplore.ieee.org/document/6466936)) from the same author of the SSIM paper. To compute it, it appears that they are simply converting the 2D blocks to 3D.

I would be very happy to implement it because I need to use it anyway.

[2021-07-15 10:23] shijianjian commented on #1158
I found there are already some implementations on that topic, like [this](https://github.com/jinh0park/pytorch-ssim-3D). Probably, we can test against [scipy](https://stackoverflow.com/questions/53933528/ssim-for-3d-image-volume).

I do not have the access to the full paper now, but @wendy-xiaozong can you evaluate those implementations? It looks like the paper you mentioned has some more advanced

[2021-07-15 11:06] wendy-xiaozong commented on #1158
Hey @shijianjian, Thanks for finding those references! I will evaluate the 3D SSIM code with scipy.

For the paper I mentioned, I find [a pdf version](https://www.researchgate.net/profile/Kai-Zeng-9/publication/261386970_3D-SSIM_for_video_quality_assessment/links/5c9cebfd45851506d730632f/3D-SSIM-for-video-quality-assessment.pdf) online. So, they also use a width-adapted exponential weighting funct

[2021-07-15 12:30] shijianjian commented on #1158
Thanks for the paper. While I think we should have a proper design generic API that allows different weighting method. Please go for a PR if you are willing to do so!

[2021-07-17 08:46] PeterL1n commented on #720
For the box blur filters, it can further be optimized as O(N) linear runtime for the arbitrary kernel size, where as the current implementation uses squared kernels with O(NK^2) time.

I found a nice implementation here: https://github.com/wuhuikai/DeepGuidedFilter/blob/master/GuidedFilteringLayer/GuidedFilter_PyTorch/guided_filter_pytorch/box_filter.py

Of course, my test is that it is faster tha

[2021-07-17 19:12] chris-tkinter opened #1159 "OneOf transformation?"
## ❓ Questions and Help
Hi, I didn't see it in the documentation, but I am wondering is there a `OneOf` transformation in the kornia?

For example, in AugLy has
[code]
which means it would apply only one of the `OverlayOntoScreenshot`, `OverlayEmoji` or `OverlayText`. I think albumentations also has a similar one.

It's relatively easy to implement, but I am just want to check if there actually is

[2021-07-18 03:30] shijianjian commented on #1159
Hi @chris-tkinter, you may use "random_apply" parameter in kornia containers to reach similar results. https://kornia.readthedocs.io/en/latest/augmentation.container.html

[2021-07-18 16:59] edgarriba commented on #720
@PeterL1n that sounds great. Are you open to give it a try ?

[2021-07-18 17:02] edgarriba commented on #1159
@shijianjian are you sure it’s the same ? With random_apply if I understand well eventually you could have applied the three ops while with OneOf it just samples one of the provide ops

[2021-07-19 02:02] shijianjian commented on #1159
You might pass integer values or a tuple in as well, it is not restricted to Boolean values.

[2021-07-19 05:05] PeterL1n commented on #720
@edgarriba Currently don't have time to commit. Just pointing it out in case someone wants to do it.

[2021-07-19 07:24] edgarriba commented on #1159
@shijianjian can we have an example/tutorial of the use of that dual functionality ?

[2021-07-19 16:51] dhernandez0 opened #1160 "Wrong tensor shape condition in depth.py"
## 🐛 Bug

kornia.geometry.depth.depth_to_3d doesn't check for shapes correctly.

## To Reproduce

Steps to reproduce the behavior:
1. Run code provided

`import torch`
`from kornia.geometry.depth import depth_to_3d`
`depth=torch.zeros(1, 3, 10, 10)`
`camera_matrix=torch.ones(1, 4, 4)`
`depth_to_3d(depth, camera_matrix)`

## Expected behavior

depth_to_3d function should raise a ValueError exceptio

[2021-07-20 14:12] hal-314 commented on #1142
Sorry to jump now. I just discover that kornia supports bbox :) .

I would like to point out that +1 convention isn't being use anymore. Both [Detectron2 ](https://detectron2.readthedocs.io/en/latest/notes/compatibility.html#compatibility-with-detectron-and-maskrcnn-benchmark)(the successor of Detectron with 17.3k stars) and [mmDetection2 ](https://mmdetection.readthedocs.io/en/latest/compatibilit

[2021-07-21 03:19] shijianjian commented on #1142
HI @hal-314, thanks for sharing. I think it is a good naming strategy from the link you shared [here](https://detectron2.readthedocs.io/en/latest/modules/structures.html#detectron2.structures.BoxMode).

We may use similar naming strategy of the bbox formats as:
[code]

I understand the needs of dropping +1 convention, but it will be a process to deprecate it properly. As a lib, we should not direc

[2021-07-21 09:48] dkoguciuk commented on #1142
Thanks @hal-314 for letting us know about the Detectron2 convention, we will probably adapt it to Kornia. I think I can now start working on the first work in progress version for the updated bbox module. I will keep you posted @shijianjian :rocket:

[2021-07-21 09:57] edgarriba commented on #1160
@dhernandez0 could you send a quick PR to fix the mentioned issues ?

[2021-07-21 14:41] ferric123 opened #1163 "Doesn't kornia.augmentation produce output tensor in range (0,1)?"
[code]

I took these for data augmentation, but I got this following error message:
xxx/kornia/augmentation/augmentation.py", line 1793, in apply_transform
return equalize(input),
 xxxxx/kornia/enhance/adjust.py", line 675, in _scale_channel raise ValueError(f"Values in the input tensor must greater or equal to 0.0. Found {min_.item()}.")
ValueError: Values in the input tensor must greater or equa

[2021-07-21 16:32] shijianjian commented on #1163
Can you check if your input is in [0, 1]? I cannot reproduce with the input of

[code]

[2021-07-21 17:36] dhernandez0 commented on #1160
@edgarriba Yes, I can do that.

[2021-07-22 06:49] #1028 closed

[2021-07-22 09:26] hal-314 opened #1165 "Random horizontal and vertical flips doesn't work with bbox"
## 🐛 Bug

Random{Horizontal/Vertical}Flip for Transform2D and Transform3D doesn't work. See image attached.

EDIT: RandomRotation always shows the same behavior. RandomCrop, CenterCrop, RandomResizedCrop, RandomErasing and RandomPerspective are fine (checked 2D version).

## To Reproduce

!wget https://tinypng.com/images/social/website.jpg -O panda.jpg
[code]
Original image:
![image](https://user-

[2021-07-22 13:58] dkoguciuk commented on #1142
I've tied to start with fixing points 2 and 3 from the first post here, but **I am so much confused now**.

The convention of coordinates used in the bbox module assumes the order x, y, z, but the return values in infer_bbox_shape are reversed: height, width in 2D, and depth, height, width in 3D:

https://github.com/kornia/kornia/blob/8c1f973a3d3fad4b04741de152818ccf78e77a1b/kornia/geometry/bbox.p

[2021-07-22 15:54] vadimkantorov opened #1167 "[docs] Missing range of Lab image in rgb_to_lab conversion"
`rgb_to_hsv` specified output range, but `rgb_to_lab` does not

[2021-07-22 16:00] hal-314 commented on #1142
In my opinion, the first task should be agreeing in the core kornia format to deal with bbox. This is the format that user should always use when working with kornia low level api (kornia.geometry.bbox). If every function has to convert to the right format, it's easy for bugs to sneak in :( . kornia containers should be responsible to convert to the right format the bbox passed by the user.

@shij

[2021-07-22 16:58] edgarriba commented on #1142
I agree with @hal-314 and I would go for `kornia.geometric.bbox_v2`. One more thing to consider is to create a `BoundingBox` class API similar to the camera stuff where we could handle non-homogeneous batches of bboxes which will consume the low level API too.

[2021-07-22 16:59] edgarriba commented on #1167
@vadimkantorov we are aware of it - @cceyda is working on that part I believe.

[2021-07-22 17:00] shijianjian commented on #1167
Hi, thanks for reporting. Are you willing to go for a PR to improve the docs?

[2021-07-22 17:02] edgarriba commented on #1165
@hal-314 please, make sure to add some tests in PR that fixes the issue

[2021-07-22 17:36] shijianjian commented on #1142
@dkoguciuk Our API was intentionally designed to align with torch tensor format as BCHW, and BCDHW, while we did not consider much of bbox conventions as long as the lib does not self-conflict.

This might be a typo since the order of w, h does not matter much, I hence might be lazy on checking the proper naming back to then. XD. Sorry for the confusion.

I also agree with the workflow proposed by

[2021-07-22 18:43] edgarriba commented on #1142
@shijianjian awesome. I would like kornia-core to lead this primitives with Tensor Oriented Object

[2021-07-23 07:38] hal-314 commented on #1142
@shijianjian I'm willing to work this next week as I know I'll have some spare time. Later, I go on vacations and I'll be disconnected. If you are fine, I'll want to make a PoC for 2D case (I'm more familiar with it). I can't promise to make a complete PR with tests (I'll try) and docs.

@edgarriba With "Tensor Oriented Object" are you referring to [this type of class](https://github.com/facebookr

[2021-07-23 07:57] dkoguciuk commented on #1142
@hal-314 , that's great! I can help you, so if you need anything just let us know :rocket:

[2021-07-23 08:31] edgarriba commented on #1142
Yes, same one. TBD, but we could even compose with Point class

[2021-07-23 09:20] hal-314 commented on #1142
@edgarriba It's a great idea. Kornia could have kornia.structures or kornia.geometry.structures package as detectron2.structures. It would contain any Tensor Oriented Object like boxes, boxes3D, points, points3D, ¿polygons?, etc used by kornia. I think that we could create a different issue to tackle them. If I understand correctly, this tensor oriented objects would define a canonical representat

[2021-07-23 09:29] dkoguciuk commented on #1142
So let's split the work as you suggest @hal-314  : you take the porting part, I take Tensor Oriented Objects implementation. Are you ok with it?

[2021-07-23 09:59] edgarriba commented on #1142
Awesome plan I agree to have separated issues for trackin this tensor classes api and possibly under something like `kornia.core ?

[2021-07-23 11:43] shijianjian commented on #1142
@edgarriba how do we define Kornia.core? What functionalities shall be included?

Under the circumstances proposed by @hal-314, i think it makes sense to have a Kornia.geometry.structures.

[2021-07-23 13:56] hal-314 commented on #1142
@dkoguciuk perfect!

[2021-07-23 16:33] edgarriba commented on #1142
I was thinking in just primitive tensor data structures at first. Maybe we can start like @hal-314 and eventually centralise once the apis are more mature

[2021-07-24 08:03] hal-314 commented on #1142
For me, boxes structure should have these apis at the end to be user friendly:
- `Boxes(bbox_in_kornia_format)`. It would perform any checking.
- `Boxes.tensor`: attribute to retrieve stored boxes in kornia format.
- `Boxes.create_from(bbox, mode='xyxy')`: static method to create boxes in kornia format. Based on `kornia.geometry.bbox_v2.bbox_generator` but allows for more formats.
- `Boxes.create_

[2021-07-24 08:06] hal-314 commented on #1142
Regarding the kornia format and seeing that other transforms allow passing batched or not batched inputs, I think I'll make bbox_v2 to support both cases. So, the format will be (N, 4, 2) or (N,8,3) for non batched input in 2D & 3D cases and (B, N, 4, 2) or (B, N,8,3) when batching.

[2021-07-24 08:55] shijianjian commented on #1142
@hal-314, looking good to me. Only one comment. Why remove ```kornia.geometry.bbox_v2.bbox_generator, kornia.geometry.bbox_v2.infer_box_shape and kornia.geometry.bbox_v2.validate_bbox```? Can't Boxes class call those functions? Functional  functions might be useful.

[2021-07-24 13:54] hal-314 commented on #1142
@shijianjian I thought they were redundant and though that users will use kornia Boxes class. I agree that may be useful for those users that want to use kornia functional functions.

[2021-07-25 05:54] edgarriba commented on #1142
Agree with @shijianjian , one of our design principles is functional programming. We should build modules/classes on top of the functional API

[2021-07-25 15:50] shijianjian commented on #1160
Fixed by #1164.

[2021-07-25 15:50] #1160 closed

[2021-07-25 18:20] thatbrguy opened #1170 "Mistakes in the docstrings of cam2pixel and pixel2cam"
Hey everyone. I was going through the codebase and I noticed a few mistakes in the docstrings of the functions `cam2pixel` and `pixel2cam` which are available in `kornia/geometry/camera/pinhole.py`.

The function `cam2pixel` mentions the following about the return value in its docstring:
https://github.com/kornia/kornia/blob/9d594687db704845c3668d76b6e481666277e375/kornia/geometry/camera/pinhole.p

[2021-07-25 19:09] bsuleymanov commented on #790
I've implemented differentiable image histogram using triangular kernel density estimation using bandwidth = (max - min) / n_bins. This histogram is approximate. How would you suggest to do test_uniform_dist or other tests for approximation?

[2021-07-26 01:25] shijianjian commented on #790
Is it an implementation from a standard library? We may test the results against other libraries if appropriate.

Or, you may simply test using a manual seed. Using Monte Carlo is even better but I have no idea how to do that. XD.

[2021-07-26 04:38] justanhduc opened #1171 "Different behaviors of random generator in local Python and Colab"
## 🐛 Bug

When running the tests in Colab, there are two failed tests related to random generators in `test_random_generator.py`, while on a local PC, all the tests succeed. This happens for all 0.5.x versions. For e.g., this is the output of the test in the 0.5.1 version

[code]

## To Reproduce

In Colab

[code]

## Expected behavior

The tests can run successfully locally.

[2021-07-26 08:46] ferric123 commented on #1163
My input is in [0, 1], but now I get where the issue comes from: it's caused by kornia.augmentation.RandomEqualize(p=0.2, return_transform=False). Everything went fine after removing this augmentation...

[2021-07-26 11:56] bsuleymanov commented on #790
No, it's not based on standard library.

I found that test_uniform_dist works for my implementation without changes :)

[2021-07-26 14:47] bsuleymanov commented on #790
@shijianjian Could you give me an advice, what should I do to add differentiable image histogram (for (B, C, H, W)-shaped tensors) to Kornia?

I thought equalize was not implemented yet, but now I have found it is. It works for (C, H, W) tensors now. Locally I get histograms for whole batch of images in vectorized way and then just iterate over batch and channels to equalize each the images. Is it

[2021-07-26 14:54] shijianjian commented on #790
Can you provide a code snippet? If you have something already worked, you may go for a PR directly. We can iterate and optimize from there.

[2021-07-26 14:58] bsuleymanov commented on #790
`def image_hist2d(image: torch.Tensor, min: float = 0., max: float = 255.,
                 n_bins: int = 256, bandwidth: float = -1.,
                 centers: torch.Tensor = torch.tensor([]), return_pdf: bool = False):
    """Function that estimates the histogram of the input image(s).

    The calculation uses triangular kernel density estimation.

    Args:
        x: Input tensor to compute t

[2021-07-26 15:03] shijianjian commented on #1163
Operators like ```RandomEqualize``` can only accept input ranges [0, 1], so you have to make sure ```Normalize``` operation happens lastly.

[2021-07-26 15:16] shijianjian commented on #790
Thanks for the code. Some minor comments for the code here:
1. Probably we should have a generalised API and add a "kernel" parameter, which gonna be set to "triangular" at this stage. Also, if None, it gonna use ```torch.histc``` instead. We might implement more different estimators in the future.
2. Have you tested on CUDA? By reading the code, I think "centers" are not converted into CUDA devic

[2021-07-26 16:13] bsuleymanov commented on #790
Thanks for the comments!

1. I agree with that. In this case I used triangular kde, because found this approach in [Learning Deep Embeddings with Histogram Loss](https://arxiv.org/abs/1611.00822) work.
2. Yes. When creating centers, we specify device `torch.arange(n_bins, device=device)`. I think we should test parametrize decorator to the perform tests on different devices.

[2021-07-26 18:46] bsuleymanov commented on #790
I've add some changes (not in PR) to equalize and _scale_channel_functions to work with image_hist2d and different kernels, but do not know, what approximation error to accept in test. Do you have any ideas? Maybe MSE, MAE or MAPE w.r.t. equalized image using torch.histc.

[2021-07-28 10:26] shijianjian commented on #1165
Closed by #1166

[2021-07-28 13:53] Daiver opened #1179 "Got kernel_size error when i resize my images with antialias=True"
## 🐛 Bug

Hi! When i tried to run `kornia.resize` with antialias=True i faced with following error

[code]

It seems to me that something wrong with kernel size selection heuristic `ks = int(2.0 * 2 * sigmas[0] + 1), int(2.0 * 2 * sigmas[1] + 1)` (kornia/geometry/transform/affwrap.py line 588). My input image size is `(512, 1536)` and i want to resize it to `(384, 1152)`, downsampling factor (line

[2021-07-29 06:25] hal-314 commented on #1165
@shijianjian Could you reopen the issue or create a separated issue for RandomRotation bug. #1166 fixed random flip cases, not rotation.

[2021-07-30 12:15] antonfrancois opened #1181 "[Feature] 3d implementation of the sobel filter"
## 🚀 Feature
Hello, I'm using kornia to work with MRI images for the auto-differentiation feature but out of the deep-learning context. It came super usefull to not re-implement every thing.

So I found that the sobel filter had not been implemented for the 3d images case. As I need it I propose here an implementation, more for the users that like me may need it, waiting for the devs to publish on

[2021-07-30 12:50] shijianjian commented on #1181
Isn't this work?
https://github.com/kornia/kornia/blob/43a9469b93f61aa91e0a779d3abfe2eb68a9eb22/kornia/filters/sobel.py#L59

[2021-07-30 12:51] shijianjian commented on #1181
@antonfrancois We are also looking for good examples that using kornia out of deep learning context. Let us know if you are interested in making some tutorials/examples together!

[2021-07-30 12:54] shijianjian commented on #1179
@ducha-aiki Can you take a look?

[2021-07-30 12:54] ducha-aiki commented on #1179
Hi,

Sure, will check today.

[2021-07-30 13:21] antonfrancois commented on #1181
As you can see here https://github.com/kornia/kornia/blob/43a9469b93f61aa91e0a779d3abfe2eb68a9eb22/kornia/filters/kernels.py#L308 at line 326, the filter is not implemented.

For examples you can check my repository : https://github.com/antonfrancois/Demeter_metamorphosis
There are some example in jupyter notebooks, where I use kornia for basic operations. However it is a bit hidden.
What kind of

[2021-07-31 03:04] shijianjian commented on #1181
@antonfrancois Please go ahead for the PR!

Nice repo you got! I particularly like the visualization of the gradient arrows you did. We were actually thinking of making tutorials to demonstrate the differentiability of the low-level computer vision operations. So I think it could be a  great match to your examples!

\cc @edgarriba @ducha-aiki Take a look at [this](https://github.com/antonfrancois/

[2021-07-31 07:15] zjhthu opened #1182 "kernel size in resize is not odd"
## 🐛 Bug

The [kernel size in the resize function](https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/affwarp.py#L588) can be not odd, and thus result in an error in the following  gaussian_blur2d.

A quick fix can be `ks = int(2 * sigmas[0]) * 2 + 1 , int( 2 * sigmas[1]) * 2 + 1`

[2021-07-31 07:26] shijianjian commented on #1182
Probably related to #1179.

/cc @ducha-aiki

[2021-07-31 10:19] ducha-aiki commented on #1181
@antonfrancois sounds great! Just make sure that the API is compatible with existing, specifically w.r.t  `normalized: bool = True, eps: float = 1e-6`

[2021-07-31 10:20] ducha-aiki commented on #1179
@Daiver thanks for the catch!

[2021-07-31 10:31] #1179 closed

[2021-07-31 10:31] #1182 closed

[2021-07-31 10:31] ducha-aiki commented on #1182
Fixed with #1183

[2021-08-01 09:31] hal-314 commented on #1142
From this comment in bbox_v2 PR (#1177)

TL;TR: make kornia work with polygons instead of bbox.

After thinking for a while, the core issue to have invertible bbox transforms is that bbox format (xyxy, xywh or how we defined kornia bbox (BxNx4x2) with coordinates in an specific order) doesn't support it. After applying a transform matrix, you may need to reorder the coordinates. This could be seen

[2021-08-02 01:24] shijianjian commented on #1142
@hal-314 Thanks for the proposal. I agree that the support of polygons can be a powerful feature to have. It is highly useful to perform things like polygon to mask conversions.

If you haven't done them all, I think it is better to break it into multiple PRs. Like we firstly implement the BBox-v2 stuff, then extend the API towards polygon support.

[2021-08-02 07:54] Daiver commented on #1179
@ducha-aiki thank you for quick fix!

[2021-08-02 09:34] hal-314 commented on #1142
@shijianjian The road block I face with the current [Bbbox-v2 PR](https://github.com/kornia/kornia/pull/1177/) is how to handle `transform_bbox` to be invertible. Currently, I can do it. So, I need  to move to the polygon approach or extend bbox kornia format.

I think that the right direction is go to the polygon approach. In this case, I can salvage almost all the work done. It's mainly function

[2021-08-02 10:15] shijianjian commented on #1142
Can you show us a bit of what do you have in mind to tackle the bbox invert issue? I think we might need to define what shall be included in the polygon module.

@hal-314 Can't BBox module and Polygon module be co-existed? I was assuming that we will have the new BBox module on top of the polygon module. In a way, the polygon module offers more flexible shape settings while the bbox module can be

[2021-08-02 11:57] hal-314 commented on #1142
I was thinking on only having `kornia.geometry.polygon`. Now I understand for proposition of firstly complete bbox-v2 and, later, add a polygon api. It makes sense to take your approach :)

What I have in mind is to work bbox as polygons. So, I propose to redefine kornia bbox format to: `Kornia bounding boxes format is defined as a a floating data type tensor of shape Nx4x2 or BxNx4x2 where **each

[2021-08-02 12:55] edgarriba commented on #1181
@antonfrancois this sounds great. Please, go ahead with the implementation. Do not hesiatate to join our slack (`#mentoring`) so that our mentors can assist you with any issue. Once we merge, I see more potential things that could be added from your repo as transversal api.

[2021-08-02 12:56] edgarriba commented on #1045
@Manza12 is this still relevant ?

[2021-08-02 13:07] Manza12 commented on #1045
I think it is solved. But I don’t remeber well what was this about. I am going to check it and I Will answer properly.

De: Edgar ***@***.***>
Enviado: lunes, 2 de agosto de 2021 14:56
Para: ***@***.***>
CC: ***@***.***>; ***@***.***>
Asunto: Re: [kornia/kornia] wrong result for morphology opening (#1045)

@Manza12<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMan

[2021-08-02 13:30] edgarriba commented on #1045
@Manza12 awesome - feel free to close

[2021-08-02 13:39] edgarriba commented on #1163
@ferric123 is it solved ?

[2021-08-02 13:47] edgarriba commented on #1170
@thatbrguy thanks for pointing this out. You are right, seems an issue with the docs. Feel free to send a fix - besides I'm seeing that we don't have any test for those two functions. Would be nice if you could add  it to verify.

[2021-08-02 13:57] edgarriba commented on #1153
@shijianjian we could create a docker hub account and maintain images there. @Borda any idea here ?

[2021-08-02 17:38] thatbrguy commented on #1170
Great! I'll send in a PR to correct the docstrings.

I'm not sure what specific tests could be added to verify the output of those functions though since their outputs can be unbounded. Perhaps some generic tests could be added (like gradcheck or some shape check). Also perhaps a test where we could pass the output of `pixel2cam` to `cam2pixel` to see if the output of `cam2pixel` is consistent wit

[2021-08-03 03:27] shijianjian commented on #1142
@hal-314 Great! I like the proposal. Please go ahead for the PR.

In general, our polygon module shall be generic and the bbox module is a special case of polygon. May be not for now, functions like ```validate_bbox```, ```bbox_to_mask``` and ```infer_bbox_shape``` cannot handle rotated bbox coordinates which we should give a better support of. Not sure if we gonna name our bbox as  ```kornia_bbox

[2021-08-03 03:43] shijianjian commented on #1153
Having a docker hub account is probably the best approach to go since we might have many cpp code to support the conversion if it is needed and we cannot find workarounds from PyTorch team. There are several operations that are not supported like ```affine_grid_generator```.

[2021-08-03 07:00] kingsj0405 opened #1186 "Too much distorted output of `RandomThinPlateSpline`"
## 🐛 Bug

Our expected behavior of `RandomThinPlateSpline` is data augmentation.
This means augmented images should contain the same content as the original image.
But current implementation generates too much distorted image as follows.

## To Reproduce

Steps to reproduce the behavior:

1. Prepare image
2. Use `kornia.augmentation.RandomThinPlateSpline` for input image

[Error case code of colab

[2021-08-03 07:56] edgarriba commented on #1170
Absolutely, this simple test could work. Go ahead with the PR. Feel free to join our slack so that we can give you support.

[2021-08-03 10:37] #1186 closed

[2021-08-03 13:11] Manza12 commented on #1045
This issue is solved. Try:
[code]

Default mode for the border in Scipy is 'reflect'. You can change the border mode in kornia with the parameter `border_type` and, if 'constant', you can ajust the value with `border_value`. In addition, default mode for border in kornia.morphology is 'geodesic', which means that it only takes into account the pixels of the image for comouting the maximum/minimum.

[2021-08-03 13:12] Manza12 commented on #1045
@edgarriba, I don't know if I can close this issue.

[2021-08-03 16:24] thatbrguy commented on #1170
Sure, will do!

[2021-08-03 18:13] #1045 closed

[2021-08-06 20:54] erburl opened #1192 "Exposing `padding_mode` in elastic transforms."
## 🚀 Feature

Exposing `padding_mode` in `RandomElasticTransform` and `elastic_transform2d`.
## Motivation

 In `F.grid_sample` as used in kornia's elastic transforms, the default setting `padding_mode = 'zeros'` leaves unnatural black artifacts in the newly created borders of transformed images.
## Pitch

Exposure of `padding_mode` in elastic transform functions/classes (as it seems has been done

[2021-08-06 22:49] erburl commented on #476
Related to this, it would be great to be able to apply the same elastic/affine transformation grid but using `bilinear` and `nearest` interpolation modes on the input image and mask, respectively. This could give smoother output images while preserving the values in the mask. I was taking a look at the `AugmentationSequential` class was unable to come up with such a solution.

[2021-08-08 10:57] shijianjian commented on #476
@erburl Agreed. I think one possible solution is to deep copy the params and update the interpolation flag in ```apply_to_masks```, ```apply_to_keypoints``` and ```apply_to_bboxes```. Then probably should delete the copied params afterwards.

https://github.com/kornia/kornia/blob/8b619aea49a6b93b703e84586ed535f58e3685e9/kornia/augmentation/container/augment.py#L115-L119

BTW, are you willing to go

[2021-08-08 14:42] shijianjian commented on #1192
Can you send a PR to expose this? Let us know if any difficulties.

[2021-08-11 08:23] tobiasfshr opened #1194 "transform_bbox throws exception when used without batch dimension"
## 🐛 Bug
transform_bbox throws exception when used without batch dimension:
ValueError: Input batch size must be the same for both tensors or 1

## To Reproduce
[code]

## Environment
kornia 0.5.8

[2021-08-11 14:23] Zhylkaaa commented on #875
Up! I also think that this implementation is not correct original implementation in fvcore uses binary cross entropy and multiplies class 0 by alpha and class 1 by 1-alpha, so alpha is equivalent to weight parameter in CrossEntropy and I believe should also be normalized. (btw. in binary cross entropy you actually have this implemented right)

[2021-08-12 12:30] tobiasfshr commented on #1194
another problem with the transform_bbox function is that it does not change the order of the points. E.g. when applying a horizontal flip, the first point, which usually describes the left top corner of the box will be at the right. Hence, when applying:
[code]
After that in the transform_bbox function, the width will be negative.

[2021-08-13 03:07] shijianjian commented on #1194
The batchsize part is on purpose I believe, since we are encourage users to perform all operations on batched tensors for efficiency.

This part is interesting. Any ideas on how to fix it elegantly?

[2021-08-13 03:29] shijianjian commented on #875
Yes. Alpha is a term that used as the weight in crossentropy and our implementation is probably wrong. @Zhylkaaa Are you willing to assist benchmarking against standard libraries like [this](https://github.com/qubvel/segmentation_models.pytorch/blob/a542c55575980aa19076bc53595c86df2b4103e3/segmentation_models_pytorch/losses/_functional.py#L36) then to throw a PR for a fix?

[2021-08-13 08:01] Zhylkaaa commented on #875
hey @shijianjian, my implementation is more about multi-class situation, so I don't know if there is a direct comparison. But I can try to help (but I am afraid it can take some time, it is a very busy month 😁).

Generally my implementation should be equivalent to qubvel, but you should expend single dimensional output to 2 dimensional vector (just [output, 1-output] for each prediction) , and set

[2021-08-13 10:00] shijianjian commented on #875
Great. Thanks for your help.

Personally, I set the alpha value as per the class ratio of examples in a dataset. Basically, lower the number of examples, higher the weight as in ```nn.CrossEntropy(weight)```. Thus, I believe it might make sense to expose the ```alpha``` as both a tensor and a float. In such case, a float alpha would mean to handle binary classification while a tensor can be for bo

[2021-08-13 16:14] Zhylkaaa commented on #875
Actually my implementation is exactly what you said. If you pass float to alpha it will be used as what I called one-vs-other mode (alpha is the weight for class 0, while 1-alpha is weight for the rest of classes) and if you pass a list (Iterable) than it will be used as normal weights (like in `nn.CrossEntropyLoss`)
This is implemented hear https://github.com/Zhylkaaa/simpletransformers/blob/add_

[2021-08-14 10:13] cceyda commented on #1063
forgot about this 😅 Although there isn't a bug, there is some improvement to be made as I said before.
will add it to my list

[2021-08-14 10:53] edgarriba commented on #1194
@tobiasfshr the batch constraint was initially introduced in purpose. The function internally calls `transform_points` which in any case as @shijianjian mentioned converts to batch and compute the transformation. To handle your case, we might adjust both inputs: points and transformation matrix to have a compatible shape. Feel free to send a draft PR with the fix.

[2021-08-14 20:54] PeterL1n commented on #720
@ducha-aiki

In addition to the performance thoughts. If we simply implement separable filters by two consecutive `F.conv2d` calls, it would be the simplest to implement but actually not the most efficient. Because the CUDA kernel needs to launch twice and read/write to off-chip memory twice. A more efficient way is to implement a custom CUDA kernel that does the separable convolution together.  B

[2021-08-17 00:42] wendy-xiaozong opened #1204 "[Feature] Add padding equal to None option for SSIM to match the original MATLAB implementation"
## 🚀 Feature
Add padding equal to None option for SSIM  to match the original MATLAB implementation

## Motivation
I am comparing `kornia` and `skimage` for computing SSIM. I find that there is always a slight difference between the two results. I read the code and found that the differences come from `kornia` using the reflect padding in the gaussian weighting function to keep the size of the ima

[2021-08-17 15:45] edgarriba commented on #1204
@wendy-xiaozong thanks for reporting this. I believe we need to modify this part of the code in `filter2d`
https://github.com/kornia/kornia/blob/f56eec6a8f2dddfbb9a918f979a9f7e83b289ec1/kornia/filters/filter.py#L96-L98

Any thoughts here @ducha-aiki ? possibly we need to a `apply_padding` param

[2021-08-19 18:28] ducha-aiki commented on #1204
I believe, that can be done a bit simpler - pass padding type to the SSIM and then crop out the part of "valid" convolution.

[2021-08-21 12:00] #1093 closed

[2021-08-22 07:40] lollows opened #1212 "[Feat]Please add support to random rotation which can accept a `list degrees`"
## 🚀 Feature

Nice project.  Please add support to random rotation which can accept a `list degrees`-(0, 90, 180, 270, 360...) not only the `range degrees`, like range(-90, 90). If I miss something, please tell me. Thanks.

## Motivation

For my image restoration task, I want to augment my data by randomly rotating both the image and masking n 90 degrees (e.g. n=0 for no rotation, n=1 for 90 rotat

[2021-08-22 07:54] lollows commented on #1212
I believe we need to modify this part of the code in _joint_range_check
https://github.com/kornia/kornia/blob/c44c1692b493c8934d7087bd7a982b9356a0e98a/kornia/augmentation/random_generator/random_generator.py#L274-L308
https://github.com/kornia/kornia/blob/c44c1692b493c8934d7087bd7a982b9356a0e98a/kornia/augmentation/utils/param_validation.py#L50-L63

[2021-08-22 17:18] edgarriba commented on #1212
I believe range should be a tensor including discrete sampling of shape N. /cc @shijianjian

[2021-08-23 10:12] shijianjian commented on #1212
Any ideas on how to discriminate [0., 90.]? Should we expect it as a range, or a discrete angle list?

[2021-08-23 12:07] ducha-aiki commented on #866
Done in https://github.com/kornia/kornia/pull/1184

[2021-08-23 12:07] #866 closed

[2021-08-23 12:13] ducha-aiki opened #1216 "Implement rtvec_to_pose in pinhole camera"
## 🐛 Bug

Function  get_optical_pose_base https://github.com/kornia/kornia/blob/586b4dea61ff69b7fdbf5872fbf96c93ffc1e161/kornia/geometry/camera/pinhole.py#L489 relies on this not implemented function.

We had rtvec_to_pose in torchgeometry https://github.com/whh14/torchgeometry/blob/master/torchgeometry/conversions.py#L240

But it relies on angle_axis_to_rotation_matrix which, since then,  was cha

[2021-08-23 12:31] sbelharbi opened #1217 "hwo to properly use kornia.enhance.histogram?"
## 🐛 Bug

hi,
1. i am comparing `kornia.enhance.histogram` to `numpy.histogram` and `torch.histc`.
the last 2 give the same result, but kornia's histogram is different and unexpected...

2. also, in the [documentation](https://kornia.readthedocs.io/en/latest/enhance.html#kornia.enhance.histogram), it is not clear what is the impact of the `bandwidth` on the histogram? could you please make it clea

[2021-08-23 13:11] edgarriba commented on #1212
I would make it so that the user can pass a sequence of angles as list, tuple, etc or 1d tensor

[2021-08-23 14:08] edgarriba commented on #1217
@sbelharbi thanks for reporting that - I think you are right, I'm playing with your example and something is wrong here -> https://colab.research.google.com/drive/1hGNcsWfCKA1T3ZnvVElDNcHZPnkRlQEP?usp=sharing

@bsuleymanov recently included a version for 2d images, maybe he can give some bits on it. Besides, I'm seeing that `kornia.enhance.histogram` doesn't have a proper regression test. We shoul

[2021-08-24 08:26] doube1008 commented on #832
ModuleNotFoundError: No module named 'kornia.augmentation.functional'
hello ,how can i fix this problem  i had install kornia

[2021-08-24 08:28] doube1008 commented on #485
ModuleNotFoundError: No module named 'kornia.augmentation.functional'

hello ,how can i fix this problem  i had install kornia

[2021-08-24 10:07] edgarriba commented on #485
@doube1008 to rotate image use [`kornia.geometry.transform.rotate`](https://kornia.readthedocs.io/en/latest/geometry.transform.html?highlight=rotate#kornia.geometry.transform.rotate)

[2021-08-24 10:09] edgarriba commented on #832
@doube1008 cropping API has been moved here: https://kornia.readthedocs.io/en/latest/geometry.transform.html#crop-operators

[2021-08-24 12:48] bsuleymanov commented on #1217
@edgarriba I had the same question during testing the implementation :) https://github.com/kornia/kornia/issues/790#issuecomment-886244845

@sbelharbi
kornia.enhance.histogram method returns probabilities, not counts, thus we have 0.039, ..., values that sum to 1. image_histogram2d returns both histogram and probabilities. Also I found unwanted behavior of image_histogram2d in some cases: counts d

[2021-08-24 14:07] polvoazul opened #1223 "Usage of torch.solve is deprecated"
## 🐛 Bug (waiting to happen)

Kornia is using a deprecated function from torch, triggering this UserWarning below:

[code]

We could substitute the line at `utils/helpers.py:96` from:
[code]
Unfortunatly the docs aren't explaining and I couldn't discover a way to get to out2, but then again, i have no experience with pytorch.

## Environment

PyTorch version: 1.9.0+cpu
Is debug build: False
CUDA u

[2021-08-24 15:22] thatbrguy commented on #1170
Closing since issue was handled in #1211.

[2021-08-24 15:22] #1170 closed

[2021-08-24 16:07] edgarriba commented on #1223
@polvoazul thanks for reporting. Please, feel free to send a fixing PR - consider that we support PT 1.6 and `torch.linalg` I believe was introduced later than that.

[2021-08-24 16:12] ducha-aiki commented on #1212
Given that 90 degrees do not require resampling and we already have , could we just add Random90XRotation?

[2021-08-24 16:18] ducha-aiki opened #1224 "Tests of implementation"
## 🚀 Feature
Some of our tests check the output shapes, gradcheck and jit, but not if the implemented function does what it should.
For example, this is the case for HardNet, DeFMO, etc.

https://github.com/kornia/kornia/blob/master/test/feature/test_hardnet.py#L40

It would be nice to have a list of such missing tests to fix that in the next releases and also as good first PRs
Then we can create

[2021-08-24 17:10] cclauss opened #1225 "Pytest raises 600+ warnings"
## 🐛 Bug

$ pytest
[code]

Often these are about the depreciation of capabilities that may soon be modified or deleted.  Researching and proposing fixes for the can be a **useful activity for new contributors**.

[2021-08-24 18:24] thatbrguy commented on #1216
Hi @ducha-aiki, do you think the following logic would suffice?

Let's assume `rtvecs` is a tensor of shape `(B, 6)`. Then one could extract `rvecs` and `tvecs` from `rtvecs` (both `rvecs` and `tvecs` will have shape `(B,3)` now). Then one can create a `(B, 4, 4)` tensor with `kornia.eye_like` (lets call this tensor `A`). Then, we could use the existing `kornia.angle_axis_to_rotation_matrix` to co

[2021-08-24 19:24] edgarriba commented on #1216
@thatbrguy at first glance your logic is correct. I'd just replace eye_like for an empty tensor to allocate a Bx3x4. Not sure about naming and were should properly move this function. Any ideas here ?

[2021-08-25 03:21] thatbrguy commented on #1216
@edgarriba Ah okay, so the output should be a tensor with shape `(B, 3, 4)` then. Hmm I think we could place the function in `kornia.geometry.conversions` and just name it `rtvec_to_pose`. Also, we could create a function `pose_to_rtvec` which converts pose matrices to rtvecs.

[2021-08-25 06:27] edgarriba commented on #1216
@thatbrguy Sounds like a good plan.

[2021-08-25 07:49] ankitajais20 commented on #1122
@copaah is this feature request to add depth_to_disparity and disparity_to_depth methods in StereoCamera class #1122 already implemented? I would like to work on implementing this, if not.

[2021-08-25 07:57] ankitajais20 commented on #1003
@arubior @shijianjian I would like to work on implementing this.

[2021-08-25 08:09] edgarriba commented on #1003
@ankitajais20 go ahead with a PR. Please, check out contributions guidelines https://github.com/kornia/kornia/blob/master/CONTRIBUTING.rst

[2021-08-25 08:11] edgarriba commented on #1122
@ankitajais20 I don't think it's implemented yet - feel free to go for it. Join our slack in case you need any help or guidance from our mentors.

[2021-08-25 13:37] edgarriba opened #1227 "Code health tracker"
## 🚀 Feature

List including the pending things to do to improve the package health

- [x] Add codespell in pre-commit
- [x] Add pyupgrade in pre-commit
- [x] Add dependabot -> already enabled!
- [x] Deepsource: https://deepsource.io/gh/kornia/kornia (need to find a proper way to automate)
- [x] docformatter: https://github.com/myint/docformatter
- [x] yesqa: https://github.com/asottile/yesqa
- [

[2021-08-25 13:41] edgarriba commented on #1227
@cclauss I was following the dependabot tutorial and it's already enabled. By doing I found the code scanning alerts. Is it worth or do you have any suggestion about what API should we choose from the marketplace ?

[2021-08-25 13:49] edgarriba commented on #1217
@bsuleymanov thanks for the clarification. /cc @connorlee77 now I recall that you proposed the original implementation - could you give some tips here and how eventually we match (if possible) numpy/torch implementations ? /cc @ducha-aiki @lferraz any opinions here ?

[2021-08-25 14:58] edgarriba commented on #1227
In our case we do not have dependencies at all for the library - it's only pytorch. Or do you count also the development libraries ?

[2021-08-25 15:17] cclauss commented on #1227
You might point dependabot at PyPI projects like https://github.com/kornia/kornia/blob/master/requirements-dev.txt

[2021-08-25 16:40] thatbrguy commented on #1216
@edgarriba Great! Will send a PR sometime in the near future then.

[2021-08-29 07:30] narain1 commented on #703
[pytorch`s jpeg decoder](https://github.com/pytorch/vision/blob/main/torchvision/csrc/io/image/cuda/decode_jpeg_cuda.cpp)

would it be of interest to add it here

or do you have any other additional functionalities in you can think which would be of better use?

[2021-08-29 07:37] edgarriba commented on #703
@narain1 how do you propose to add ?

[2021-08-29 07:51] narain1 commented on #703
I don't have much of an Idea

pytorch`s  code looks much efficient as It has its own dispatch for both cpu and gpu.

So at this point you can guide better than me on how to proceed.

[2021-08-29 08:11] edgarriba commented on #703
As a quick idea since tv API is still quite limited - we could externalize and combine also with opencv until we can host ourselves the implementation.

[2021-08-29 09:52] lferraz commented on #703
Looks like TV is using nvjpeg. Shouldn't be so difficult to write the high-level api for a guy with experience using nvidia c++ libs. If we want to do it in tpus then probably we need to write all the code from scratch.

[2021-08-29 10:03] cceyda commented on #703
as a side note torchvision nvjpeg support is still in beta.
I don't think I have ever seen TPU jpeg decoding, so that would be nice to have.

[2021-08-29 10:10] edgarriba commented on #703
Ideally we might have to define a high-level API so that we can pass any device/backend and be agnostic  to the underlying library
[code]

[2021-08-29 11:18] lferraz commented on #703
for video this [lib](https://github.com/NVIDIA/VideoProcessingFramework) is brutal from a pytorch perspective. There are things that need to be improved but in terms of functionality it works very well.

[2021-08-29 11:23] lferraz commented on #703
I think TPU jpeg decoding could be doable if we put a bit of effort. But I do not know if it is something really useful (e.g. enough requests). On the other hand, we need TPUs to do it and they are not for free... so maybe we could talk with Google to get 100% free machines with TPUs.

[2021-08-31 12:34] lollows commented on #1212
@shijianjian sorry for late reply. I think it's ok. In the [Albumentation](https://albumentations.ai/docs/api_reference/augmentations/geometric/rotate/#albumentations.augmentations.geometric.rotate.RandomRotate90), there is a function which can randomly rotate the input by 90 degrees zero or more times. Here is [the link](https://github.com/albumentations-team/albumentations/blob/422b14ee577a51591

[2021-08-31 12:44] lollows commented on #476
@shijianjian In the albumentaion, they use a basic class([DualTransform](https://github.com/albumentations-team/albumentations/blob/422b14ee577a51591d394ac824383ced8cf25e78/albumentations/core/transforms_interface.py#L211-L240)) to do this. I think it's a good idea to augment data for low level task.

[2021-09-01 08:21] edgarriba commented on #1223
solved in #1235

[2021-09-01 08:21] #1223 closed

[2021-09-01 10:16] edgarriba opened #1244 "Review Docstring Conventions"
## 📚 Documentation

According to the discussion in [here](https://github.com/kornia/kornia/pull/1242#discussion_r700066032) we should review the convention used in out docstring, starting by changing the Verbs in _active_ voice across the functionality.

More info: https://www.python.org/dev/peps/pep-0257/

### Example:

before:
[code]

after:
[code]

[2021-09-01 10:49] edgarriba opened #1245 "Bandit - security linter issues tracker"
## 🚀 Feature

We recently introduced Bandit - A security linter from PyCQA as part oof the CI/CD
https://github.com/PyCQA/bandit

See: https://github.com/kornia/kornia/blob/master/.pre-commit-config.yaml#L50-L58

## Motivation

We want kornia code to be clean of security issues. Ideally we want the following tests to pass:

- [x] B110 https://github.com/kornia/kornia/pull/1243
- [x] B101 https://g

[2021-09-01 11:13] cclauss commented on #1245
I recommend that we modify the command above to drop `./kornia` because we should be concerned about any security flaw that bandit identifies in any code in this repo.

[2021-09-01 12:25] edgarriba commented on #1245
@cclauss sure - but it's weird that in local it takes forever with your suggestion.

[2021-09-01 13:31] smivv commented on #1223
Still getting error:

[code]

torch==1.7.1+cpu
kornia==0.5.10

[2021-09-01 14:25] cclauss commented on #1245
Try `--skip=./.*` to keep bandit from looking thru .git, .venv, etc.

[2021-09-01 15:12] edgarriba commented on #1245
possibly we want to skip tests too ? e.g `B101:assert_used` and our testing is based in assertions

[2021-09-01 15:36] edgarriba commented on #1223
@smivv I just installed 1.7.1 and I'm not getting that error. Also check that we test against versions and all seems fine https://github.com/kornia/kornia/actions/runs/1189373964

could you report what your get from: `wget https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py`

Is it a fresh environment ?

[2021-09-01 15:41] smivv commented on #1223
Actually I am getting this from Github Actions while my local env works fine.

[code]

[code]

[2021-09-01 15:54] edgarriba commented on #1223
I parse an error from pip resolver in your log - is it possible to try with conda ?

[2021-09-01 15:55] edgarriba commented on #1223
Is it a requirement for you 1.7.1 ? Seems due to torchvision version too

[2021-09-01 16:33] cclauss commented on #1245
`bandit --recursive --skip B101 .`

[2021-09-01 16:37] edgarriba commented on #1245
My point is that in some places like test we don’t want B101 but we do in the main directory of Kornia

[2021-09-01 18:05] smivv commented on #1223
I've changed github.actions requirements to torch==1.8.0 and now it works.
The only problem is that it should work with 1.7.1, but it does not 😃

[2021-09-02 08:38] edgarriba commented on #1223
Happy to hear that. That's weird that only happens in GH actions. Maybe the version cashing is not well resolved.

[2021-09-02 09:33] seungjooshin opened #1249 "Getting 4D homography matrix and warping 3D object."
## 🐛 Bug

Hi, I am using kornia for getting 4D homography matrix from 8 source points to 8 destination points and warping 3D object through it. To do these works, I tried to use `get_perspective_transform3d()` and `warp_perspective3d()` functions, but they did not work well.

1. `get_perspective_transform3d()` returns wrong homography matrix in special cases.
2. `warp_perspective3d()` with 4x4 ide

[2021-09-02 11:46] edgarriba commented on #1249
@seungjooshin thanks for reporting! I see that you are already proposing a fix. Make sure you add some tests

[2021-09-03 06:49] shijianjian commented on #476
@lollows I think the API shall be proper aligned with the ```data_keys```, but I have no  idea regarding the best approach. What do you have in mind?

[2021-09-03 07:57] edgarriba commented on #1225
@shijianjian can we start removing some of the known warnings ?

[2021-09-03 13:21] copaah commented on #1122
@ankitajais20 I started working on it, but got a little sidetracked. Feel free to take over!

[2021-09-04 07:24] thatbrguy opened #1255 "Deprecation warning for torch.qr"
### Describe the bug

When the command `pytest -sv test/geometry/epipolar/test_projection.py --device all --dtype float32` or `pytest -sv test/geometry/epipolar/test_projection.py --device all --dtype float64` was run for PR #1241, the following deprecation error was obtained:

[code]

In the discussion in #1241, @edgarriba mentioned that:

Possible solutions to this issue can be discussed here.

[2021-09-04 09:37] hal-314 commented on #1142
After PR #1177 discussion, it's clear to me that the preferred V2 version must have a bbox class. I would want to know if the effort to create a bbox class and convert the PR to use it is similar to refrofit the PR into "v1" code keeping backwards compatibility, throwing deprecation warnings, updating docs, etc.

What do you think of the following proposal:
- Do a proof of concept implementing the

[2021-09-04 18:28] dribnet commented on #901
Being able to specify a padding mode with the same semantics as "zeros" but instead allowing a custom RGB triple would be incredibly useful for me. If someone wants to point me to where this would live in the code base I'd be happy to take a crack at it.

[2021-09-04 21:44] edgarriba commented on #901
@dribnet I believe this should happen right after this call
https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/imgwarp.py#L117

Ideally this feature should be coming from pytorch `grid_sample` /cc @fmassa

In the meantime as @arubior suggested we could implement somehow with masks. What API do you find more suitable for this feature - If ```mode == "constant"``` we require to p

[2021-09-05 11:28] edgarriba commented on #1142
@edgarriba I like the specs -

[2021-09-06 02:47] shijianjian commented on #1142
One comment here that inherit from nn.Module is scriptable with ```torch.jit.trace``` as I have tested in https://github.com/kornia/kornia/pull/1254.

I would vote for a class method. Maybe adding an ```inverse``` as well to inverse the transformation.

Not sure. This might return valid boxes. Maybe mark it as ```NotImplemented``` for now.

Lastly, I think we are ultimately making the API easy to

[2021-09-06 08:14] edgarriba commented on #1142
@shijianjian this is really interesting - we are also prototyping an object detection class that possibly could consume `BBox` this data structure. Same for the visualization

[2021-09-06 18:31] hal-314 commented on #1142
Interesting. I didn't know. I tested with torch.jit.script and it doesn't work. So, I would go with a class that inherits from object.

I'm not sure about a classmethod as you need to pass a Bboxes as argument. So, it would behave as a regular "self" for a method. Regarding inverse method, it's a good idea.

100% agree. Proposed Bboxes api seems easy to use. Also, I think that for this first itera

[2021-09-07 01:26] shijianjian commented on #1142
@hal-314 Of course. just to give an idea about the future shape of the API.

[2021-09-07 06:34] hal-314 commented on #1142
@shijianjian  I was thinking your proposal of having an easy to use API for any object detection tasks. I don't know if it would fit there, mainly due to how we store boxes. I would stick in using Bboxes class during preprocessing.

For geometrical transforms, we need to save 4x2 coordinates for every bbox. So, we can apply several transforms with the minimal accuracy loss. Only at the end, we rec

[2021-09-07 06:40] hal-314 commented on #1142
What do you think if we rename the class to `Boxes`? For me, a bbox has a box and a label/labels.

Another option is to allow to pass a label tensor to Bboxes class. So, users only need to keep 1 reference (Bboxes) to handle any bboxes they have.

[2021-09-07 07:09] edgarriba commented on #1142
Boxes is more simple, I like. For the high level API we are internally implementing would be really useful that the `ObjectDetector` class could return the result in such data structure

[2021-09-07 10:14] cclauss commented on #1227
Dependabot can be checked above.

Also, Add #1260?

[2021-09-07 13:53] ducha-aiki opened #1261 "Physics-based CMOS/CCD image noise for the Data Augmentation"
## 🚀 Feature

To add realistic camera pixels noise models, e.g. from [Physics-based Noise Modeling for Extreme Low-light Photography](https://arxiv.org/pdf/2108.02158.pdf)

![image](https://user-images.githubusercontent.com/4803565/132355474-f7cad1f8-2120-4655-9c1c-9188d91f7006.png)

## Pitch

The low-light photographies are challenging to process and are very noisy. One way of dealing with them b

[2021-09-10 09:14] #1249 closed

[2021-09-10 11:38] mdjong1 opened #1264 "Importing solve function from PyTorch fails for edge case version"
### Describe the bug

Hi there,

We're running the PyTorch version labeled `1.7.1+cu110`, but it is giving us issues when importing Kornia because of the following check in `_compat.py`:

[code]

This check appears to believe that our version is > 1.7.1 and therefore attempts to import the wrong `solve` function.

### Reproduction steps

[code]

### Expected behavior

Importing Kornia with this ve

[2021-09-10 11:46] edgarriba commented on #1264
definitely, we didn't consider that. /cc @pmeier

[2021-09-10 12:45] ducha-aiki opened #1265 "Add warp_keypoints function from LoFTR to kornia.geometry"
## 🚀 Feature
Add warp_keypoints function from LoFTR to kornia.geometry

https://github.com/kornia/kornia/blob/85ef736097e5d245af4e7e0bf71e53142c53df65/kornia/feature/loftr/utils/geometry.py#L5

## Motivation

Useful functions

## Pitch

## Alternatives

## Additional context

______________________________________________________________________

#### Consider also to contribute to Kornia universe

[2021-09-10 13:16] edgarriba commented on #1265
What about here ? https://kornia.readthedocs.io/en/latest/geometry.linalg.html
and probably `project_points` is a more suitable name, kinda similar to opencv
https://docs.opencv.org/3.4/d9/d0c/group__calib3d.html#ga1019495a2c8d1743ed5cc23fa0daff8c

[2021-09-10 19:05] sh8 opened #1267 "Gradient computation of rotation_matrix_to_angle_axis may have something wrong"
### Describe the bug

I was trying to perform gradient optimization using SMPLify through `rotation_matrix_to_angle_axis`. However, it stopped working after I started using `rotation_matrix_to_angle_axis` in Kornia instead of one in Pytorch Geometry. After careful investigation, I found the gradient of the function seems wrong and it resulted in a failure of converging SMPL body and pose parameter

[2021-09-10 20:00] edgarriba commented on #1267
@sh8 thanks for reporting that ! are you open to upgrade the current function with yours in a PR ? /cc @amonszpart did some fixes early this year on that

[2021-09-10 20:05] sh8 commented on #1267
thank you for the quick reply! yes, sure!

[2021-09-10 21:19] sh8 commented on #1267
I made a PR! Could you please check it when you have time?
https://github.com/kornia/kornia/pull/1270

[2021-09-11 07:52] edgarriba commented on #1264
A quick solution is to split version by + and take first element before parsing to compare. If that works, could you send a quick or to fix ?

[2021-09-13 06:24] pmeier commented on #1264
@edgarriba Yes that should work.

I'm just wondering how you are able to use the `packaging` package in the first place? `kornia` does not depend on it so if you can import it is comes as dependency from another package. In my env it is required by `pytest`, but I wouldn't expect a regular user to have that installed.

[2021-09-13 07:23] mdjong1 commented on #1264
I'm honestly a bit lost what you mean with the `packaging` part; I don't think that's relevant/mentioned anywhere? Please correct me if I'm wrong.

[2021-09-13 07:31] pmeier commented on #1264
@mdjong1 The version comparison is performed by the [`packaging`](https://pypi.org/project/packaging/) package:

https://github.com/kornia/kornia/blob/b2bba7950d748ba0b8ce0cc68035a248799a1044/kornia/utils/_compat.py#L3-L5

Since `kornia` does not depend on it, `pip install kornia` will not install it. In case the user does not have it installed, `kornia` will now fail as soon as this module is imp

[2021-09-13 07:35] pmeier commented on #1264
Reproduction:

[code]

[2021-09-13 08:32] mdjong1 commented on #1264
We have pytest as one of our dev dependencies, so that might be why it didn't fail there

[2021-09-13 09:06] edgarriba opened #1276 "[Code health] Remove Re-definition found for builtin function"
## 🚀 Feature

As reported by deepsource in [here](https://deepsource.io/gh/kornia/kornia/issue/PYL-W0622/occurrences?page=1) we abuse from using built-in `input` function in our functionality.

## Motivation

We target to have a clean and healthy source code free of risk.

## Pitch

Replace variable names whether it makes sense e.g. for image based functionality `input` -> `image` ; in losses `inp

[2021-09-13 09:12] edgarriba commented on #1264
@pmeier you are right, my fault to include in main dependencies list. Problem of always going under development setup :)
@mdjong1 this is the right place to include https://github.com/kornia/kornia/blob/master/setup.py#L115

[2021-09-13 20:09] calebrob6 opened #1283 "Augmentation that pads inputs to a fixed size"
## 🚀 Feature

A `kornia.augmentation.PadTo` module that pads inputs to a fixed size.

## Motivation

Many datasets (e.g. ImageNet) are made up of images of different sizes. One way to standardize these for model training purposes is to resize / crop, however in some domains (e.g. remote sensing) resizing imagery is not desirable as it will change the spatial resolution of the image. In these cases

[2021-09-13 20:26] edgarriba commented on #1283
@calebrob6 thanks for opening this tiquet. I'll give a shot to that tomorrow :)

[2021-09-13 20:37] calebrob6 commented on #1283
Thanks!

This is what we came up with if it helps -- https://github.com/microsoft/torchgeo/blob/feature/padto_transform/torchgeo/transforms/transforms.py#L103. I'm happy to take a stab at this too if you run out of time!

[2021-09-13 20:44] edgarriba commented on #1283
I see - in principle you could implement similar to this one /cc @shijianjian https://github.com/kornia/kornia/blob/master/kornia/augmentation/augmentation.py#L47

[2021-09-14 01:21] shijianjian commented on #1283
@calebrob6 If you are using Kornia augmentations, I would suggest using [Augmentation Sequential](https://kornia.readthedocs.io/en/latest/applications/image_augmentations.html#best-practices-1-image-augmentation) that internally handles the mask property without any efforts.

[2021-09-14 01:23] shijianjian commented on #1276
why not? I think it is a standard in PyTorch. Also, I do not think that we will use any ```input``` anyway in our functions. So the overriding should be okay.

[2021-09-14 01:25] shijianjian commented on #1225
Working on it now. #1281

We gonna remove all the deprecation warnings and deprecated functions. For the JIT warnings, we will keep it as it is.

[2021-09-14 04:40] edgarriba commented on #1276
/cc @cclauss  any opinions?

[2021-09-14 08:29] shijianjian opened #1285 "Improve MixAugmentation with DataKeys and Better Loss Computation Support."
Classification labels as a type of [DataKeys](https://github.com/kornia/kornia/blob/33cffcd33ee73e4a3006469d24518ca0c75c3a02/kornia/constants.py#L56) is currently out of the loop of other data keys like masks, bboxes, etc.

1. Having DataKeys.CLASS_LABEL
2. Integrate the DataKeys into mix augmentations.
3. Add loss compute functions into mix augmentations for newbies.

[code]

This will also help

[2021-09-14 08:31] cclauss commented on #1276
I do agree with the tool… It is not considered Pythonic to shadow a builtin.  It does not matter if the current code does not use `input()` because a future contributor might add it and then be highly confused by the results.

[2021-09-14 10:24] #1264 closed

[2021-09-14 11:05] MehdiShekarnabi opened #1289 "ImportError: cannot import name 'ImageRegistrator' from 'kornia.geometry'"
### Describe the bug

Hello,
After installing with "pip install kornia" I got the version 0.5.10
Trying the simple "from kornia.geometry import ImageRegistrator" I get the following error:
ImportError: cannot import name 'ImageRegistrator' from 'kornia.geometry'
Can you advise please?

### Reproduction steps

[code]

### Expected behavior

expected not to get an ImportError

### Environment

[code

[2021-09-14 11:10] edgarriba commented on #1289
@MehdiShekarnabi `ImageRegistrator` it's still not in the pypi release -- only in main branch for now and under testing before our next release. To try, install kornia from source as suggested [here](https://github.com/kornia/kornia#from-source-using-pip)
`pip install git+https://github.com/kornia/kornia`

[2021-09-14 12:27] #1289 closed

[2021-09-14 13:23] hal-314 commented on #1142
@edgarriba @shijianjian After several trials, I have a working implementation of `Boxes`. However, due to some torchscript class limitations, I needed to change the API a little:
- `transform _bbox` and `from_tensor` are functions instead of `Boxes` methods. Torchscript classes don't support `classmethods` (preventing `from_tensor`) or calling external functions if there aren't torch functions (pr

[2021-09-15 08:49] shijianjian commented on #1225
Closed by #1281. Only 100 warnings left, mostly raised by JIT.

[2021-09-15 08:49] #1225 closed

[2021-09-15 16:21] cclauss commented on #1225
Nice! Thx.

[2021-09-16 06:52] shijianjian opened #1293 "Decouple inversible interface out of augmentation interface"
We recently implemented several augmentations, that returns incorrect identity matrices:
- RandomThinPlateSpline
- RandomFisheye
- RandomElasticTransform

in which are not one-step matrix multiplication, and at least not easy to invert the transformations. Thus, for a better API design, I propose to decouple the inversion interface out. For those augmentations who can not be inversed,  it will be

[2021-09-16 07:17] edgarriba commented on #1283
@calebrob6 check this out https://github.com/kornia/kornia/pull/1286

We are going to merge during the weekend to be included next weeks in the release.

[2021-09-16 09:01] lyhyl opened #1294 "image_histogram2d throw size mismatch exception with BxCxHxW input and return_pdf=True"
### Describe the bug

[code]

### Reproduction steps

[code]

### Expected behavior

return correct pdf without exception

### Environment

[code]
- PyTorch Version: 1.9.0
- OS: Windows 10 x64
- How you installed PyTorch: conda install -c conda-forge kornia
- Build command you used (if compiling from source): N/A
- Python version: 3.8
- CUDA/cuDNN version: -
- GPU models and configuration: 3080
-

[2021-09-16 12:08] edgarriba commented on #1294
@lyhyl thanks for reporting the issue. Could you go a PR fixing ?

[2021-09-16 15:50] calebrob6 commented on #1283
Awesome!!! thanks a lot!

[2021-09-17 04:13] lyhyl commented on #1294
I have made a PR https://github.com/kornia/kornia/pull/1295

[2021-09-18 02:05] isaaccorley opened #1297 "Inverse of Extract Tensor Patches"
## 🚀 Feature

A `kornia.contrib.CombineTensorPatches` module which performs the inverse of `kornia.contrib.ExtractTensorPatches`

## Motivation

In remote sensing it's common to work with imagery which can be relatively large in shape (e.g. 3000x3000+). Therefore during training/inference images are broken into patches. After feeding to the model, it's necessary to combine the patches back to a si

[2021-09-18 03:26] shijianjian commented on #1297
I have a naive implementation in:
https://github.com/kornia/kornia/blob/9f4b0bf7ff87ab424569049a1d9635784aa957d5/kornia/augmentation/container/patch.py#L193-L220

[2021-09-18 05:32] edgarriba commented on #1297
@shijianjian possibly it's worth to expose. Like better the name in torchgeo

[2021-09-18 14:58] lyhyl commented on #1217
@bsuleymanov @edgarriba I think it is not possible to make gaussian-function-based histogram can match numpy implement. Because sigma can only affect the width of gaussian distribution. Since the gaussian cannot "fill" a bin perfectly, it is not possible to match `np.hist`.

<img src="https://user-images.githubusercontent.com/3370369/133892881-dcb49899-ab81-47eb-84d9-31b57db5ae9c.png" alt="drawing

[2021-09-18 18:46] isaaccorley commented on #1297
@shijianjian This is great! Seems like it could easily be in its own Module if it forced `grid_size` to not be optional and removed this:

[code]

[2021-09-18 19:42] isaaccorley opened #1300 "ExtractTensorPatches for Masks in AugmentationSequential"
## 🚀 Feature

Modify `kornia.contrib.ExtractTensorPatches` to apply the same operation to masks in `AugmentationSequential`.

## Motivation

In remote sensing it's common to work with imagery which can be relatively large in shape (e.g. 3000x3000+). Therefore during training images are broken into patches. For segmentation tasks it's needed to apply the same patch extract operation to both images

[2021-09-19 08:36] bsuleymanov commented on #1217
@lyhyl that's interesting, thanks! In the histogram loss paper author's use something like a triangular kernel to approximate histogram, I need to compare them to better understand.

To use sigmoid kernel in image_histogram2d, we just need to add
`
elif kernel == "sigmoid":
        kernel_values = 1 / (torch.exp(u) + torch.exp(-u))
`.

[2021-09-19 11:57] #1283 closed

[2021-09-19 12:04] #1294 closed

[2021-09-19 13:33] edgarriba commented on #1300
@isaaccorley for the error I believe it should be something related to `AugmentationSequential`. In principle, `ExtractTensorPatches` should be agnostic to the number of the channels in the image.

[2021-09-19 13:56] edgarriba commented on #1297
@isaaccorley feel free to give it a shoot with a PR

[2021-09-19 13:58] edgarriba commented on #1217
@lyhyl nice finding ! Worth to send a PR !

[2021-09-20 04:07] shijianjian commented on #1300
By default, all non-kornia-augmentations will only apply to input data. So, I am thinking probably to have a lambda class to support custom like:
[code]

[2021-09-20 05:21] lyhyl commented on #1217
Do we need to discuss it more deeply? In addition, I don't quite understand why we need `histogram` and `image_histogram2d` at the same time. Maybe we just need to flatten images before feed it into `histogram` and we will get a result consistent with `image_histogram2d`. Currently, `histogram` and `image_histogram2d` have different function signature, support different kernels, and `histogram` al

[2021-09-20 05:58] edgarriba commented on #1300
@shijianjian can we just wrap Extractpatches ?

[2021-09-22 04:39] shijianjian commented on #1300
For many common ops, or maybe referred to preprocessings, the augmentation base API is a bit too heavy to them. Thus, I think we can probably have two suite of APIs to provide some level of customization
[code]
[code]

Also, there can be a high-level freedom as a lambda augmentation:
[code]

[2021-09-22 16:07] jatentaki opened #1308 "losses.binary_focal_loss_with_logits is computed elementwise"
### Describe the bug

Due to an apparent bug involving `unsqueeze`, batched `binary_focal_loss_with_logits` is computed pairwise along the batch dimension.

### Reproduction steps

[code]

### Expected behavior

Loss for inputs of shape `(B, 1, ...)` should be of shape `(B, 1, ...)` or `(B, ...)` but not `(B, B, 1, ...)`.

### Environment

[code]

### Additional context

_No response_

[2021-09-22 19:58] edgarriba commented on #1308
@jatentaki mind sending a PR with the fix. Besides, I''ll try to test tomorrow with a full end to end example for segmentation with the new training api :)

See: https://github.com/kornia/kornia/pull/1307

[2021-09-22 20:40] AK391 opened #1311 "draw_LAF_matches save image"
## 📚 Documentation

looking at draw_LAF_matches is there a way to save the image after it is drawn? seeing the example from here https://kornia-tutorials.readthedocs.io/en/latest/image_matching.html

[code]

[2021-09-22 21:12] #1311 closed

[2021-09-23 08:16] #1308 closed

[2021-09-23 08:46] edgarriba commented on #1300
maybe let's shoot lambda - any thoughts @isaaccorley  (and team) ?

[2021-09-23 08:47] edgarriba commented on #1217
I agree that both are very similar - I would unify. @connorlee77 was the first to introduce histrogram I believe. Any thoughts ?

[2021-09-23 09:24] bsuleymanov commented on #1217
We can use `image_histogram2d` instead of `torch.histc` for histogram equalization, for example. To use `torch.histc` we don't need to flatten input images.

About uniform bins: `image_histogram2d` accepts centers parameter, not only bins count.

[2021-09-23 10:21] edgarriba commented on #1217
@bsuleymanov let's do that - feel free to propose a PR

[2021-09-23 15:59] jatentaki opened #1315 "Importing kornia causes `logging` to print to stderr?"
### Describe the bug

I pip-installed the master version of kornia to access my latest PR and now my training scripts started to print all kinds of debug info. Could it be because importing kornia imports in turn `kornia.x.trainer` which has [this](https://github.com/kornia/kornia/blob/ed4eb7ab77218b021914f77cad426528a59bd780/kornia/x/trainer.py#L18) line? If so, how can I disable `x` when install

[2021-09-23 16:02] edgarriba commented on #1315
@jatentaki I assume that it's because of this line ?
https://github.com/kornia/kornia/blob/master/kornia/x/trainer.py#L18

[2021-09-23 16:05] jatentaki commented on #1315
Yup, I think so too, I linked that line in my report :)

[2021-09-23 19:30] #1315 closed

[2021-09-24 00:14] isaaccorley commented on #1300
I think lambda makes sense here and helps support chaining other general ops in a AugmentationSequential container.

[2021-09-24 01:13] isaaccorley opened #1317 "spatial_soft_argmax imports cause mypy error"
### Describe the bug

Imports in `kornia.geometry.subpix.spatial_soft_argmax` raise error when running mypy.

This is fixed by simply changing the import from:

[code]

to:

[code]

### Reproduction steps

When adding kornia imports to a script and running mypy checks with the below settings:

[code]

the following error is encountered:

[code]

### Expected behavior

No mypy error raised

### Env

[2021-09-24 14:12] #1317 closed

[2021-09-27 16:03] simetin opened #1327 "color.rgb_to_hsv can't be converted to simplified onnx model"
### Describe the bug

I've created a simple NN that simply convert RGB to HSV using the color.rgb_to_hsv() function. When I try to convert the model to Onnx and then simplify it (or convert it to blob format using this converter: [http://blobconverter.luxonis.com](http://blobconverter.luxonis.com)) I get this error message: This is an invalid model. Type Error: Type 'tensor(bool)' of input paramet

[2021-09-27 16:10] edgarriba commented on #1327
@simetin thanks for reporting. Ping to @Luxonis-Brandon - Not sure if it's a kornia or directly pytorch limitation ?

[2021-09-27 16:13] Luxonis-Brandon commented on #1327
Great question @edgarriba .  This is where I start to lose know-how.  I think either @tersekmatija and/or @PINTO0309 might know here.  I think I recall this before though with PyTorch.  Don't recall what the workaround is though (and/or if I'm recalling this correctly).

[2021-09-27 16:16] simetin commented on #1327
With the default function rgb_to_hsv function I get this error when I try to convert to Onnx model:
[code]

If I take the source code and remove this if statement I don't get any error when I convert to Onnx only when I try to simplify it or convert it to blob format.

[2021-09-27 16:32] cceyda commented on #1327
I'm not familiar with onnx but it might be `image.shape[-3]`  do negative indexes cause problems?

[2021-09-27 21:03] tersekmatija commented on #1327
Hey, so looking at OpenVINO documentation, CumSum operator only supports tensors of numeric inputs: https://docs.openvinotoolkit.org/latest/openvino_docs_ops_arithmetic_CumSum_3.html

Looking at this two lines [here](https://github.com/kornia/kornia/blob/c04b5890f4fa95d29d2213f07eef3cfc58a7d191/kornia/color/hsv.py#L39-L40):
[code]
you can see that CumSum is executed on a tensor of booleans. I am a

[2021-09-28 02:25] PINTO0309 commented on #1327
My workaround for now. There are causes for errors in both kornia and onnx-simplifier. Thus, it removes the error sources for both kornia and onnx-simplifier.

- kornia
  - myriad_compilier fails due to the fact that CumSum is set to a negative axis. Exporting to ONNX and converting to OpenVINO IR can be done without problems. Therefore, I have created an approximation logic that does not make hea

[2021-09-28 09:54] edgarriba commented on #1327
@simetin thanks so much for the detailed answer. Kornia is a re-implementation of opencv using native torch tensors meant for training deep nets.

Please, check https://github.com/kornia/kornia/pull/1329 - I adapted your rgb2hsv functionality with few tweaks to fit our conventions (batched and assuming 0..2pi inputs, etc). Maybe we could switch the conversation there (there's one failing test)

Be

[2021-09-28 10:58] PINTO0309 commented on #1327
@edgarriba

It is a tool called Netron.
https://netron.app/

[2021-09-28 16:29] simetin commented on #1327
The answer of @PINTO0309 is working great ! A big thank you for your time. I believe this issue can be close.

[2021-09-28 16:41] edgarriba commented on #1327
@simetin let's keep it open until we merge #1329. We need to create a proper mechanism to test from kornia side that after we export to onnx, later is will be usable. Because in this case, the exporter was was working and later you found that error.

[2021-09-28 16:55] simetin commented on #1327
@PINTO0309 the Hue is way bigger than it's supposed to be (e.g. 437.84 instead of 0.3962). Any possible typo ?

[2021-09-29 00:09] PINTO0309 commented on #1327
@simetin Test according to the final implementation #1329 of the maintainer.
[code]
[code]

[2021-09-29 08:56] edgarriba commented on #1327
@PINTO0309 I think that there are still some inconsistencies with opencv - which is what we take as reference for now.

[2021-09-30 06:31] nbardy opened #1333 "CUDA: device error"
### Describe the bug

[code]

### Reproduction steps

[code]

### Expected behavior

Throw an error. Not fail the device which makes me reboot the instance

### Environment

[code]

### Additional context

_No response_

[2021-09-30 06:49] edgarriba commented on #1333
@nbardy for what you describe seems more an error from pytorch side.
https://discuss.pytorch.org/t/how-to-fix-this-nan-bug/90291/2

Another reason would be your color jitter parameters setup that’s not appropriate.
Something limiting us is that we cannot check if in a whole back there’s a Nan value basically for performance reasons to avoid everything linear search.

[2021-09-30 07:11] anibali commented on #747
I don't see how this issue has been resolved---doesn't the change of defaults to `align_corners=True` just hide the fact that there's a problem in `warp_perspective` with `align_corners=False`?

Consider the original scenario of warping with the identity matrix and `align_corners=False`. This works as intended for `warp_affine` (returning the input unchanged) but not for `warp_perspective`. Diggin

[2021-09-30 21:43] Byungki-Kwon opened #1337 "kornia.geometry.transform.get_affine_matrix2d does not work when the two zoom coefficients are different"
### Describe the bug

The translation coefficients of kornia.geometry.transform.get_affine_matrix2d are dependent to zoom, rotation, affine center coefficients. However, when the two zoom coefficients are different the warped image from K.geometry.transform.warp_perspective does not locate to the affine center.

I found that the two translation coefficients [x and y] of the affine matrix are only

[2021-10-01 09:16] ducha-aiki opened #1339 "Precommit, which adds period after sentence breaks URLS"
### Describe the bug

In the title

### Reproduction steps

Example here: https://github.com/kornia/kornia/pull/1335/commits/f0b90ee1813a5051c870322a6a07a5bcd071ef85

<img width="678" alt="image" src="https://user-images.githubusercontent.com/4803565/135597468-d4ffca14-17bc-4752-83b3-c6733cafa518.png">

### Expected behavior

123

### Environment

[code]
- PyTorch Version (e.g., 1.0):
- OS (e.g.,

[2021-10-01 12:15] edgarriba commented on #1337
@Byungki-Kwon check this https://colab.research.google.com/drive/1GNJjnzdzG7NGlu1sfup0gyObljc5zYEZ?usp=sharing

[2021-10-01 13:33] #1337 closed

[2021-10-01 13:34] edgarriba commented on #747
@anibali possibly yes - what would you suggest here ?

[2021-10-01 14:28] SravanChittupalli commented on #1167
@edgarriba @shijianjian  Can you assign this to me? I will go for the PR to improve the docs.

[2021-10-01 16:36] edgarriba commented on #1167
@SravanChittupalli done - thanks !

[2021-10-02 05:46] Kaushalya opened #1341 "Using a sequence of 3D augmentations in AugmentationSequential"
### Describe the bug

I'm using Kornia 3D augmentations in a 3D image segmentation project. I found out that AugmentatonSequence doesn't work for 3D transforms.

Input: A 5D torch tensor made of a batch of 3D volumes in the shape of [B X  C X D X H X W]

Example code to reproduce the bug:
[code]
## Error
1. Fails with the following error. `RuntimeError: input shape expected to be in (2, 4) while g

[2021-10-02 10:02] edgarriba commented on #1165
@shijianjian

[2021-10-02 10:06] edgarriba commented on #1341
@Kaushalya I think at this moment `AugmentationSequential` is meant for 2d images. However, you can easily create your costumised version following this
https://kornia.readthedocs.io/en/latest/applications/image_augmentations.html#customization

[code]

[2021-10-02 12:57] SravanChittupalli commented on #507
Hey! @edgarriba @shijianjian I would like to implement complex number functionalities. Please assign this to me.

[2021-10-02 13:00] edgarriba commented on #507
@SravanChittupalli we have to do a bit of discussion here because pytorch added support for that already after I added this ticket. Do you have a special need / motivation on this end ?

[2021-10-02 13:01] #1327 closed

[2021-10-02 16:19] shijianjian commented on #1341
For your questions:

Currently, you may have to use the similar logic as @edgarriba suggested.

Yes, adding the support of 3D augmentations require lots of refactoring in 3D augmentation module. You may give it a shot. Eventually, I think we might have ```AugmentationSequential3D``` to do such things.

[2021-10-02 22:47] Kaushalya commented on #1341
@edgarriba Thanks for the suggestion. I'll proceed with a custom augmentation pipeline.

@shijianjian Thanks for the explanations. I can give it a try at refactoring the 3D augmentation module.
Shall I go ahead with a PR when I have a working implementation of `AugmentationSequential3D` and refactored 3D augmentations?

[2021-10-03 00:26] fschiffers commented on #507
@edgarriba : It would be great if Kornia could directly handle these complex datatypes. I understand that this might be complicated for some specific functions, but there's definitely a bunch of functions that could be easily implemented for complex support and I think several scientific communities could greatly benefit from this.

[2021-10-03 10:01] edgarriba commented on #1297
@shijianjian can we close this?

[2021-10-03 10:03] #1167 closed

[2021-10-03 10:28] #1244 closed

[2021-10-03 13:34] edgarriba commented on #1339
Solution should be not adding end point

[2021-10-03 13:34] #1339 closed

[2021-10-03 17:17] SravanChittupalli commented on #940
` class Lambda(nn.Module):
    '''
    Applies user-defined lambda as a transform.

    Args:
        func: Callable function

    Returns:
        A torch.Tensor which is the output of the user-defined lambda
    '''

    def __init__(self, func: Callable) -> None:
        super().__init__()
        if not callable(func):
            raise TypeError("Argument lambd should be callable, got {}".for

[2021-10-03 17:58] shijianjian commented on #1341
Probably separate it into two PRs? The first one will do the refactoring, then the next one can implement the ```AugmentationSequential3D ```.

[2021-10-03 17:58] #1297 closed

[2021-10-03 18:06] edgarriba commented on #940
Looks good - add it under a `kornia.contrib` for now

[2021-10-03 18:07] #1341 closed

[2021-10-04 06:26] Multihuntr commented on #747
I was investigating how the different libraries handle the sampling issues of interpolating, and I wrote a test script that compared PyTorch, OpenCV and Kornia on a few different settings. There seems to be a few inconsistencies between Kornia and the others. I apologise but I don't have the solution to it. It may be an issue in the PyTorch functions you call?

  - With identity matrix:
    - sour

[2021-10-04 07:44] edgarriba commented on #507
I agree that is simple as I show in the colab but we shouldn’t overlap functionality respect pytorch mainstream
See: https://pytorch.org/docs/stable/complex_numbers.html

[2021-10-04 07:53] edgarriba commented on #747
Our initial intention here was to mimic opencv behaviour. In the early stages, pytorch had default `align_corners==True` which as showed here is what we mostly support and assume by default. Was later that `align_córners` was introduced to generate the grid and overcomplicated our logic. Possibly the question is that I from Kornia should be really expose `align_corners` at all and if it makes sens

[2021-10-04 10:10] Multihuntr commented on #747
Because I can't help myself I dug into the code and figured out what was going on. The issue is that your code incorrectly uses `F.grid_sample(..., align_corners=False)`. More specifically, your meshgrid coordinates are always in [-1, 1], but saying `align_corners=False` tells `F.grid_sample` that your indices into the original image are in the range [-(n-1)/n, (n-1)/n], which it never is. e.g.

[

[2021-10-04 16:41] SravanChittupalli commented on #940
Hey guys!
I was trying to get my head around the possible tests that I can write using the template given in CONTRIBUTING.rst

This is what I came up with.

`

class TestLambdaModule:

    # custom layer that adds 2 to all elements in tensor
    def add_2_layer(tensor):
        return tensor + 2

    @pytest.mark.parametrize("func", add_2_layer)
    def test_smoke(self, func):
        if not calla