[2020-04-15 17:38] Kshitij09 opened #523 "[BUG] Raise Exception when Int Tensor"
I was trying to use `ColorJitter` augmentation and mistakenly passing `torch.uint8` Tensor as input. This didn't raise any warning/error but instead crashed the session abruptly. I realized the cause after 2-3 attempts. So assuming that majority of augmentations work on Float types, it would be great to introduce a type-check at the beginning of forward pass to avoid unnecessary crashes.

[2020-04-15 19:06] edgarriba commented on #523
@Kshitij09 thanks for reporting this bug. We should start normalizing type checks to avoid this problems. I add this as a TODO for next releases. Any contribution is welcomed.

[2020-04-15 19:08] Kshitij09 commented on #523
I'd love to contribute, but need your guidance on the same. Might use this issue for asking relavent doubts

[2020-04-16 06:55] mowolf commented on #522
@edgarriba Thanks for your fast answer! I now think that the gradient is correct but just loosing too much precision due to the transformation. Do you know which parameters must be in which range to prevent that?

---

I closed this issue, as this is just the problem of the operation in general not of `kornia`.

[2020-04-16 06:55] #522 closed

[2020-04-17 23:50] DeepVoltaire commented on #476
@edgarriba Thank you very much for this library, affine transformations as data augmentation on GPU are such a time saver! What is missing for the best results are border_modes like [cv2.warpaffine](https://docs.opencv.org/2.4/modules/imgproc/doc/geometric_transformations.html#warpaffine) has. How could this be implemented?

[2020-04-18 02:46] shijianjian commented on #485
Resolved in #514 and #486

[2020-04-18 02:46] #485 closed

[2020-04-18 02:47] #490 closed

[2020-04-18 08:17] #460 closed

[2020-04-18 08:33] edgarriba commented on #476
@DeepVoltaire thanks to point this out. We are going to refactor the warping API pretty soon in order to support 3D volumetric warpings. @lferraz can you consider this during the refactor ?

[2020-04-18 10:32] ducha-aiki commented on #476
We are going to expose padding_mode (aka border_mode) in near future, yes

[2020-04-21 14:08] v-prgmr commented on #473
Hi all,
I have stumbled upon another issue while using SSIM, using PyTorch's anomaly detection has pointed out that NAN is generated due to the division operation in line nr: 134 of [ssim.py](https://github.com/kornia/kornia/blob/master/kornia/losses/ssim.py)

`ssim_map = ((2. * mu1_mu2 + self.C1) * (2. * sigma12 + self.C2)) / \
            ((mu1_sq + mu2_sq + self.C1) * (sigma1_sq + sigma2_sq + s

[2020-04-21 14:34] v-prgmr commented on #451
I have stumbled on a stability issue which points me exactly to this division. I will add an epsilon for now, run some tests and get back to you

[2020-04-21 17:18] Udit1999 opened #532 "[QUESTION] How can we use differential sift descriptors to prevent Adversarial Attacks?"
In a [live stream](https://www.youtube.com/watch?v=zltoYKu4ct0) done by Edgar Riba, he presented this. So, my question is, how can we use differential sift descriptors to modify images so that SIFT algorithm or any other feature matching algorithm will work better..?
![image](https://user-images.githubusercontent.com/42462392/79893223-60244b80-8421-11ea-902d-3c013d0e920b.png)

[2020-04-22 09:57] edgarriba commented on #451
@v-prgmr thanks so much for the contribution. Notice that;s there's a pending issue to rename this functionality. Consider taking it: https://github.com/kornia/kornia/issues/473

[2020-04-24 18:14] v-prgmr commented on #451
@edgarriba , Hi again, I would like to mention that the error that I faced with the division is in fact not anywhere from the implementation of SSIM in Kornia. However, renaming the functionality would still be a good choice as **structural dissimilarity** is the output.

[2020-04-25 12:26] edgarriba opened #535 "[Bug] spatial_softargmax2d tests broken"
In the current version the tests for spatial_softargmax2d tests are broken.

After checking the code I believe that there's a mismatch in the normalization parameter.
https://github.com/kornia/kornia/blob/master/test/geometry/test_spatial_softargmax.py#L77

[2020-04-25 12:26] edgarriba commented on #535
/cc @anibali

[2020-04-25 12:28] edgarriba opened #536 "[Feature Request] Color conversion RGB to Ycbcr"
Feature request from @shijianjian for medical imaging usage
https://en.wikipedia.org/wiki/YCbCr

*UPDATE*: apparently we have this:
https://github.com/kornia/kornia/blob/master/kornia/color/ycbcr.py

need to be updated in docs

[2020-04-25 12:30] edgarriba commented on #413
@albertaparicio this feature is merged in #530. Let us know it helps with your usage.
Feel free to propose other feature requests

[2020-04-25 12:30] #413 closed

[2020-04-25 13:04] edgarriba commented on #532
@Udit1999 thanks for your interested in this. Please, check this example to accomplish this https://github.com/kornia/kornia-examples/blob/master/local-feature-adversarial-attack.ipynb

[2020-04-25 13:04] #532 closed

[2020-04-25 13:06] edgarriba commented on #451
@v-prgmr great to know. Would be great if you could send a small PR with this fix naming.

[2020-04-26 09:46] #536 closed

[2020-04-27 12:07] edgarriba commented on #192
@ducha-aiki notice that in last pytorch version 1.5 JIT seems more stable.

I quickly tested on last [release](https://github.com/kornia/kornia/blob/master/test/color/test_gray.py#L61-L66), and to me seems fine to start adding this quick tests case by case. I propose this test pattern,
[code]
/cc @shijianjian

[2020-04-27 12:14] edgarriba commented on #422
/cc @shijianjian @lferraz let's discuss very briefly a minimum template to follow.

First, I think we should enable `pytest-doctstyle` to have uniform documentation format.
https://pypi.org/project/pytest-docstyle/

@shijianjian proposed to include embedded minimum colabs to show functionals.

[2020-04-27 12:16] edgarriba commented on #190
@ducha-aiki @lferraz we should revisit this to see the behaviour with last versions of pytorch. In, addition, I suggest to update mypy to be used within pytest using the plugin [pytest-mypy/](https://pypi.org/project/pytest-mypy/)

/cc @shijianjian

[2020-04-27 21:46] v-prgmr commented on #451
@edgarriba , will submit a request asap (y)

[2020-04-28 00:04] anibali commented on #535
The tests themselves are indeed quite broken, but the code being tested is correct as far as I can see.

The main problem is that the author of these tests confused the similarly named `spatial_softargmax_2d` and `spatial_soft_argmax2d` functions (see https://github.com/kornia/kornia/issues/353#issuecomment-587165931). To recap the difference, `spatial_soft_argmax2d` applies spatial softmax before

[2020-04-28 07:38] edgarriba commented on #535
indeed, probably it's worth renaming. In order to make it consistent with [convolutional](https://kornia.readthedocs.io/en/latest/geometry.html?highlight=conv_softargmax#kornia.geometry.conv_soft_argmax2d) versions, what about `spatial_soft_argmax2d` and `spatial_argmax2d` ?

Besides, what about grouping under a same submodule `kornia.geometry.coord` ? (or other related  name) /cc @ducha-aiki

[2020-04-28 08:08] anibali commented on #535
The name `spatial_argmax2d` is not good since argmax is the non-differentiable operation that takes the location of the highest-value pixel (ie the "arguments" x, y that give the maximum value). That's how I would expect a function called `spatial_argmax2d` to behave. The operation that we are doing is more like an expectation or weighted mean. How about `spatial_expectation2d`?

[2020-04-29 15:47] #214 closed

[2020-04-29 16:21] #535 closed

[2020-04-29 16:28] edgarriba commented on #535
definitely this is confusing, I would go for one single functionality. Why did you split both ? just curious.
For consistency I would have:
- `spatial_softmax2d`
--> does only softmax over 2d, actually this could be a generic thing by specifying a tuple of consecutive axis, right ?
- `spatial_soft_argmax2d`
- `conv_soft_argmax2d`

[2020-04-29 22:57] anibali commented on #535
Let's draw a comparison to a similar situation in PyTorch itself. In PyTorch they have both [`nll_loss`](https://pytorch.org/docs/stable/nn.functional.html#nll-loss) and [`cross_entropy`](https://pytorch.org/docs/stable/nn.functional.html#cross-entropy). The first is a meaningful individual operation which expects a log probability input, the second is a convenience which combines [`log_softmax`](

[2020-04-30 06:08] edgarriba commented on #535
Perfect, I buy your history and go ahead with the renaming. What about also the module thing?

[2020-04-30 07:51] ducha-aiki commented on #508
Done in #545

[2020-04-30 07:51] #508 closed

[2020-04-30 07:51] ducha-aiki commented on #486
Done in #546

[2020-04-30 07:51] #486 closed

[2020-04-30 07:52] #469 closed

[2020-04-30 07:55] ducha-aiki opened #547 "Implement two versions of meshgrid: align_corners and not align"
See https://github.com/kornia/kornia/issues/388#issuecomment-575851186 for

[2020-04-30 08:15] edgarriba commented on #388
@poxyu maybe time for this refactoring ?

[2020-04-30 08:30] poxyu commented on #388
@edgarriba  I just don't have time right now to write tests. But the main part is ready and used since that time...
[code]

[2020-04-30 08:36] edgarriba commented on #388
@poxyu awesome, maybe with just the tests we already have should be enough. @ducha-aiki what do you think ?

[2020-04-30 11:04] wantsjean opened #548 "Multi transforms with points matrix can lead a numerical overflow"
transform = []

transform.append(RandomRotate(**args, return_transform=return_matrix))
transform.append(some transform)
transform.append(some transform)
transform = nn.Sequential(*transform)

output, **matrix** = transform(input) # overflow?
new_points = K.transform_points(matrix, points) # overflow?

[2020-04-30 11:09] #548 closed

[2020-04-30 17:08] miriaford commented on #434
Hi, thanks for making this wonderful library! Do you have any new progress or ETA for the list of `kornia.augmentation` above?
The main downside that keeps me away from `Albumentation` is the lack of GPU support and the fact that I have to convert tensor back to PIL before the operations. I'd love to see Kornia supporting most of `albumentation` op in GPU batch mode. ;)

[2020-04-30 17:35] edgarriba commented on #434
@miriaford next milestone for `kornia.augmentation` is towards this direction. We'll go case by case - any specific priority requirement that could help to define the next roadmap ? /cc @shijianjian

[2020-04-30 18:32] miriaford commented on #434
Thanks for your timely reply! I'm looking specifically to reproduce the pipeline in the [AutoAugment paper](https://arxiv.org/abs/1805.09501), screenshot below.

It'd be great if these functions could be implemented first: `Solarize`, `Equalize`, `Posterize`, `Sharpness`.

![image](https://user-images.githubusercontent.com/29965840/80745994-033a2c80-8ad6-11ea-8fb4-5d8a80e7382a.png)

[2020-04-30 18:51] edgarriba commented on #434
sounds like a plan

[2020-04-30 20:08] edgarriba opened #549 "[Feature Request] AutoAugment transforms"
Recent feature request in https://github.com/kornia/kornia/issues/434#issuecomment-622026915 to provide transforms to reproduce AutoAugment paper.

Lnk to the paper: https://arxiv.org/pdf/1805.09501.pdf
link to tf autoaugment: https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/autoaugment.py
link to albumentation functionals: https://github.com/albumentations-team/albumenta

[2020-04-30 20:08] edgarriba commented on #549
/cc @miriaford

[2020-05-01 13:06] hal-314 opened #551 "Assign different alphas to every class in Focal Loss"
Hi

First of all, great work with kornia! Currently, focal loss (FL) is implemented for multiclass tasks. However, its alpha parameter is shared between all classes when the original paper defines FL for binary tasks as: FL(pt)=−αt(1−pt)γlog(pt). See https://arxiv.org/abs/1708.02002 and #493 .

I modified the current FL code to support different alphas for every class (see below). The only relevan

[2020-05-01 13:14] ducha-aiki commented on #480
Some addressed here
https://github.com/kornia/kornia/pull/552

[2020-05-03 05:38] anibali opened #555 "Patchy gradcheck for ConvQuadInterp3d on GPU"
## 🐛 Bug

Whilst working on a PR I found that the `TestConvQuadInterp3d.test_gradcheck` test case would often fail on the GPU device, especially when run multiple times.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The check should always succeed.

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 20.04 LTS
G

[2020-05-04 10:40] ducha-aiki commented on #555
Thank you, I will check

[2020-05-07 13:58] lferraz-kognia opened #558 "incorrect documentation for transform_boxes()"
## 📚 Documentation

According to the documentation the function `transform_boxes()` accepts non-batched homographies (3x3) and boxes (Nx4). However, the function crashes in those cases. B must be provided.

Copy of the current documentation:
    r""" Function that applies a transformation matrix to a box or batch of boxes. Boxes must
    be a tensor of the shape (N, 4) or a batch of boxes (B, N, 4

[2020-05-07 14:05] edgarriba commented on #558
to make it simple we should probably just support only batched inputs.

[2020-05-08 07:53] tvercaut opened #559 "[Feat] Discrete Gaussian kernel (gaussian) should be adapted for discrete filtering"
## 🐛 Bug
The [current Gaussian kernel](https://github.com/kornia/kornia/blob/9a49b3c473fbbef6df1e0f245f8e99e36f6fec6a/kornia/filters/kernels.py#L19) simply samples the continuous Gaussian function:
[code]

## Expected behavior
Discrete Gaussian filtering should be compatible with scale-space theory and rely on modified Bessel function for its kernel weights. See e.g.:
https://en.wikipedia.org/wiki

[2020-05-08 09:23] edgarriba commented on #559
@tvercaut thanks for pointing this out. I wasn't aware of this problem. How will this affect to the actual implementation ? From what I understand while reading in wikipedia seems that methods using discrete kernel can be more robust during differentiation. If that's true, why not supporting it.

To implement this is in pytorch we need to double check that we can reproduce [`scipy.iv`](https://git

[2020-05-08 09:29] ducha-aiki commented on #559
I will check the actual difference. In case of we are doing the change, we also would need to modify our spatial_gradient kernels.
And it should help with local features localization precision as well.

[2020-05-08 09:53] tvercaut commented on #559
As shown in the wikipedia image, the difference is subtle but noticeable especially for small sigmas.

Thinking a bit further, I realise some use cases might need to get the  gradient with respect to sigma. In that scenario, I assume a full pytorch implementation (not relying on scipy) is important. Also, it would be important to check the number stability of such gradient as the involved operatio

[2020-05-08 09:55] ducha-aiki commented on #559
Regardless of the gradients, we cannot rely on scipy anyway - our policy is to be PyTorch our only dependency.

[2020-05-08 10:01] tvercaut commented on #559
Great, then porting a set of modified Bessel functions would be the way to go. The code in ITK for these is self contained and could thus be a good start:
https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Core/Common/include/itkGaussianOperator.hxx

[2020-05-08 10:08] edgarriba commented on #559
@tvercaut great ! how does compare scipy vs itk implementation ? I would target scipy behavior since seems to be a more popular package.

[2020-05-08 10:13] wyli commented on #559
`scipy.special.iv` is also interesting https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.iv.html
https://github.com/scipy/scipy/issues/1030

[2020-05-09 04:32] indigoviolet commented on #430
Yeah, I agree with this.

Further, the `intersection` is `torch.sum(input_soft * target_one_hot, dims)`, which works out to `sum(prob_of_correct_class, dims)` (because all the other products are zero).

As described above, `cardinality` will always be `2 * H * W`

`dice_loss` then becomes, for a single image: `1 - 2 * sum(prob_of_correct_class)/2 * H * W`, which is minimized when the prob of corre

[2020-05-10 14:02] mibaumgartner opened #563 "Volumetric (3D + channels) Affine warping"
## 🚀 Feature Request
Add support for volumetric data (C, (D,) H, W) and affine transformations

## Motivation
Volumetric transformations can be used for any kind of volumetric data (e.g. medical -> CT, MRI) and affine transformations are very common for augmentation transformations (e.g. in [rising](https://github.com/PhoenixDL/rising)).

## Pitch
Introduce a new base class `GenericWarper` from wh

[2020-05-11 13:28] edgarriba commented on #563
my idea was to refactor `kornia.geometry.warp` with something like this.
/cc @ducha-aiki @lferraz had some initial thoughts as well since he refactored few weeks ago to handle cases where you want to reuse the grid to speed up processes.

[code]
Then any type of transformation can be specialized from this by just adjusting the way it produces the grid depending on the desired behavior.
[code]
[cod

[2020-05-11 16:13] rdevon opened #565 "[Feat] Differences between torchvision and kornia color jitter"
The APIs for torchvision and kornia color jitter appear to be nearly identical, but the behavior is different.

How I tested this: I created kornia color jitter object and replicated the torchvision internals, allowing for one to pass in parameters and order to the PIL operations. Then I created a set of jitter parameters using kornia, then passed in these parameters (including the order) to the P

[2020-05-11 16:26] shijianjian commented on #565
Hi @rdevon,

Since Kornia transformations aligned to OpenCV than PIL, we hereby chose to use OpenCV-like transformations. For details, you may check the doc:
https://kornia.readthedocs.io/en/latest/augmentation.html

We have also created a Colab that stratified the Torchvision and Kornia differences:
https://colab.research.google.com/drive/1T20UNAG4SdlE2n2wstuhiewve5Q81VpS

We also were considerin

[2020-05-11 17:06] rdevon commented on #565
What other ops behave differently besides brightness? I'm fine with having whatever working backend, and I intend to fork to make sure things closer to torchvision. I do have a few critiques on picking openCV over PIL:

The vast number of pytorch CV people use torchvision, so their code is already acclimated to PIL-like ops. It might be better to align with the majority first to make adoption less

[2020-05-12 13:29] shijianjian commented on #565
Only AdjustContrast and AdjustBrightness. It is already documented but I will update the docs to emphasize the differences later.

For aligning with PIL, @edgarriba what do you think about having another suite of code for reproducing the PIL contrast & brightness adjustment?

[2020-05-12 14:46] edgarriba commented on #565
The reason to have this implementation is not only to follow OpenCV conventions. During the early days of implementing such image processing algorithms we were following Richard Szeliski's book `Computer Vision: Algorithms and Applications` where definition says **brightness is additive and contrast multiplicative** (see attached figure).

When we decided to match the augmentations interface with

[2020-05-12 16:20] rdevon commented on #565
So there might be great benefits to using OpenCV, but for models to work as intended it's important to maintain conventions, or at least design the API in a way that makes it easy to use kornia's color jitter without breaking how a model works.

For PIL-style color jitter, at least in the range of brightness factors from 0-1 (half the possible sampling space from the torchvision API), there is alm

[2020-05-14 08:36] theRealSuperMario opened #572 "Unkown type name 'torch.device'"
## 🐛 Bug

I ran the one-liner to see if the library works
`python -c "import kornia; print(kornia.__version__)"`

But I got an error

[code]

## Environment

 - PyTorch Version:
torch==1.5.0
torchvision==0.5.0
torchviz==0.0.1
 - OS:
Linux
 - How you installed PyTorch:
pip
 - Python version:
python 3.7
 - CUDA/cuDNN version:
none (CPU)

I guess I am missing something trivial. It would be great if s

[2020-05-14 09:58] theRealSuperMario commented on #572
It looks like I was able to fix it by:

1. uninstall torch and torchvision.
2. run
[code]
This should install torch==1.5.0 and torchvision=0.6.0
3. clone kornia code and run `python setup.py install`

I suppose that the `cpuonly` package was missing in my case.

[2020-05-14 09:58] #572 closed

[2020-05-14 10:33] edgarriba commented on #572
Right, kornia=0.3.0 is aligned with torch==1.5.0 and torchvision==0.6.0

[2020-05-14 14:35] theRealSuperMario commented on #572
I guess it would be greate to note this somewhere on the readme, or did I just not find this piece of information because I was unable to search properly?

[2020-05-14 15:20] edgarriba commented on #572
@theRealSuperMario I will add it somewhere to the readme. This is actually a problem since pip doesn't solve well dependencies. The package was explicitly built with torch 1.5.0 as install dependency but apparently pip doesn't throw any error in case you have a different version during installation. It only uses version in case you don't have any torch in your system, then will download by default

[2020-05-15 09:10] ducha-aiki opened #573 "OpenCV local feature orientation is oppositte"
Now to extract the same patches as OpenCV one needs to convert by multiplication by -1:

[code]

ToDo: make the same direction, as in OpenCV.

[2020-05-17 18:03] rdevon commented on #572
I'm getting this as well in a docker image built off of nvcr.io/nvidia/pytorch:20.02-py3

[2020-05-17 18:31] edgarriba commented on #572
@rdevon what's your output here ?
`wget https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py`

[2020-05-17 18:40] rdevon commented on #572
[code]
Tried downgrading torchvision to 0.5, but same error. Torchvideo is a custom lib with just some pytorch methods (No C or CUDA compilation).

[2020-05-17 18:43] rdevon commented on #572
The container info is here: https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_20-02.html#rel_20-02
I just noticed that there's another version available now, so trying that.

[2020-05-18 07:52] kuynzereb commented on #563
Recently I was trying to torchscript `warp_perspective()` function and it turned out to be a non-trivial without significant refactoring which I have done in #574. The main problem is that all the implementation was done it `nn.Module` and functional api just creates an instance of this module and calls its methods, whereas torchscript doesn't support the dynamic creation of `nn.Module` (at least

[2020-05-18 07:57] lferraz commented on #563
Good to know!!! Thank you so much for your contributions. I will review the code tonight :)

Luis

[2020-05-18 15:35] rdevon commented on #572
No dice. I should note that I'm installing a fork of Kornia, cloning and `pip install -e .`
https://github.com/rdevon/kornia

[2020-05-18 16:18] rdevon commented on #572
OK, I was able to get it working by doing this:
install kornia from PyPI
edit out the `install_requires` line in `setup.py`
install local using pip.

If I don't edit out the `install_requires` line, I get this strange error:
`ERROR: Could not find a version that satisfies the requirement torch==1.5.0a0+8f84ded (from kornia==0.3.2+df93618)`

[2020-05-19 06:22] edgarriba commented on #572
When you install from pip, there's no predefined pytorch version, so pip will take an existing installed version or will download latest available release. Each time we release, we set PYTORCH_VERSION with the minimum required version. But even with this, pip doesn't solve at all depencies, for my experience it just uses the requirement in case there no torch version at all.

[2020-05-19 06:32] edgarriba commented on #572
My suggestion is that you pin pytorch==1.5 torchvision==0.6 through conda and kornia==0.3.1 using conda pip. Otherwise you are using non tested versions yet. We just give compatibility to pytorch released versions.

[2020-05-23 23:01] elijose55 commented on #558
Can I work on this issue?

[2020-05-24 09:22] edgarriba commented on #558
@elijose55 yes, please go ahead with it.

[2020-05-24 14:14] edgarriba commented on #563
@kuynzereb I'm not quite sure about how torchscript handles classes since for the examples in jit seems that is doable. However, I'm in favor of splitting to simple functional since in the end everything will be more flexible.

Based on that, we could have a set of functionals that just compute the flow grids,
`create_affine_grid` `create_homography_grid` `create_perspective_grid` and future `crea

[2020-05-24 14:20] edgarriba commented on #563
@mibaumgartner I have internally implemented already the `warp_projective` functionality plus few utlils like `get_projection_matrix` which is an extension of `get_rotation_matrix2d` that basically does the logics to compute the transformation matrix given an angle vector in angle-axis format and the 3d coordinate to the origin from where you want to apply the transformation. Besides, I needed to

[2020-05-24 16:16] elijose55 commented on #558
Should I change the documentation to this:

r""" Function that applies a transformation matrix to a batch of boxes. Batch of boxes must
be a tensor of the shape (B, N, 4) and batch of transformation matrices must be (B, 3, 3)

[2020-05-24 16:23] elijose55 commented on #457
What is the sequence of angle axis in input  and unit of input angles?

[2020-05-25 08:22] edgarriba commented on #457
The original implementation for this function is here: https://github.com/kashif/ceres-solver/blob/master/include/ceres/rotation.h#L149

in Ceres angle axis its described by a 3 length vector, whereas  in other frameworks (see [tf.graphics](https://www.tensorflow.org/graphics/api_docs/python/tfg/geometry/transformation/axis_angle/rotate) it's represented by a 4 length to avoid confusions I guess w

[2020-05-25 08:42] edgarriba commented on #558
I would specify shape in the arguments, something like this;
[code]

In addition, I would add some shape checking in the boxes and matrices.

Besides, this functionality it's meant for 2d boxes (N, 2, 2) but in fact, with proper design it could be easily extended to 3D boxes since it relies on `transform_points` which basically its agnostic to the points dimensions as soon as the transformation ma

[2020-05-25 08:43] edgarriba commented on #558
@lferraz you had some more suggestions around bounding boxes functionalities, right ?

[2020-05-25 10:16] MohitLamba94 commented on #451
The following repository I found to be best among existing MSSIM repos.
https://github.com/VainF/pytorch-msssim

[2020-05-25 10:41] wyli commented on #558
yes @edgarriba  it'll be useful, there's a very preliminary poc https://github.com/Project-MONAI/MONAI/pull/324

[2020-05-25 11:39] edgarriba commented on #558
@wyli great. I believe this can be achieved already with existing kornia functions

[2020-05-25 11:41] edgarriba commented on #451
@MohitLamba94 single scale version seems quite similar. Feel free to adapt multiscale version

[2020-05-26 03:16] MohitLamba94 commented on #451
Correct they simply use the same SSIM loss with same window size but downsample the image size by two and do this five times. Finally a weighted average is taken for all 5 losses !!

[2020-05-28 06:57] connorlee77 opened #577 "[Bug] kornia.constants pi"
## 🐛 Bug
It appears from my debugging that `pi * indices.to(patch.dtype)` in orientation.py causes some sort of error.

## To Reproduce

Steps to reproduce the behavior:

1. Switch GPU to torch.device('cuda:1')
2. Use laforienter in some way.
3. Run code using CUDA_LAUNCH_BLOCK=1 python xx.py

File "/home/x/anaconda3/envs/pt-gpu/lib/python3.7/site-packages/torch/nn/modules/module.py", line 550, in

[2020-05-28 17:32] chiragraman commented on #457
Hi, came here to post a similar question pertaining the format of the axis-angle representation, and instead of creating a new issue, seems prudent to extend this one.

@edgarriba, I don't think the axis-angle representation can be interpreted as [r_x, r_y, r_z]. I found this interpretation in the [`rtvec_to_pose` function from the old torchgeometry source](https://kornia.readthedocs.io/en/v0.1.2/

[2020-06-01 17:16] simionAndrei commented on #434
@edgarriba At the moment, is there any implementation for torchvision.transform.RandomApply? Or any workaround to implement RandomApply with the existing API?

[2020-06-04 15:13] iimog opened #578 "Backslash not showing in equation for Tversky Loss"
## 📚 Documentation

The backslashs in the denominator of the Tversky loss equation is not rendered correctly with MathJax. As shown in this screenshot it only inserts a little space between P and G and thus does not correctly render the equation.

![tversky_doc](https://user-images.githubusercontent.com/7403236/83774582-28e2c480-a686-11ea-8fd3-dbc509719885.png)

[2020-06-04 15:21] iimog commented on #551
I think this is an important issue as the current implementation of alpha has no effect (if it is not set to 0) as far as I can tell. A possible extension of this suggestion could be to use alpha, if only a single number is passed, as weighting factor for class 0 (which is often the background class) and weigh all other classes equally `(1-alpha)/num_classes`

[2020-06-09 10:28] bluesky314 commented on #565
Even when I use ColorJitter with all 0's it changes the color of my images and totally fades them ! This is really unexpected behavior.
I used : K.augmentation.ColorJitter(0., 0., 0., 0.)

Can anyone fix this?

[2020-06-11 09:57] kaufManu opened #581 "rotation_matrix_to_angle_axis takes potentially misleading detour via quaternions"
The function `rotation_matrix_to_angle_axis` at first sight gives the impression that it uses the Rodrigues formula to convert rotation matrices to angle axis representation. However, this is not what happens, which can be misleading. For example, when computing angular differences betwen two rotations, the function behaves unintuitively.

Consider the following code snippet where I compute the di

[2020-06-11 15:12] shijianjian commented on #565
@bluesky314 Which version are you in? I do not have this issue on 0.3.2

[2020-06-12 08:25] edgarriba commented on #581
@kaufManu thanks for reporting it - this is a known issue we have. @krrish94 is going to work on a refactor for this part. Once we have a solid base, we can definitely interface opencv rodrigues functionality.

[2020-06-15 14:47] shijianjian commented on #434
Hi @miriaford, those functionalities have been implemented and probably be included in the next release. You may try it out now. Sorry for taking too much time on it.

If possible, we are very happy to see an Autoaugmentation example of using Kornia. :)

[2020-06-21 18:08] hal-314 opened #584 "Allow pytorch 1.5.1 in requirements"
## 🐛 Bug

Kornia force pytorch 1.5.0 version

## To Reproduce

Install kornia ;)

## Expected behavior

Allow to use pytorch 1.5.1 or >= 1.5

## Additional context

You could do it by changing this line in requirements.txt
`pytorch==1.5.0 `
to
`pytorch==1.5.*` or `pytorch>=1.5` (to allow any future pytorch versions
**Note**: I didn't tested the change.

[2020-06-23 07:35] shijianjian opened #585 "3D Data Augmentation APIs"
## 🚀 Feature
I am going to give some basic 3D data augmentation methods recently.

The first thing is shall we rename all the current APIs into 2D?
[code]
or we shall name it as:
[code]

Also, the functionalities like ```kornia.geometry.VFlip``` accepts only BCHW and I do not think it is appropriate to make it accepts BCDHW. Thus, It seems to be redundant but should we have a 3D version like ```ko

[2020-06-23 10:04] theRealSuperMario commented on #584
I agree that just `pip install kornia` is not working as inteded. I don't want my pytorch version to change when installing the library. So maybe just release a table which gives installation instructions for the last 3 pytorch versions?

[2020-06-24 04:36] shijianjian commented on #584
It makes sense, @edgarriba Can we maintain different PyTorch versions using some like ```torch.__version__```? We can have a minimum required version, say started from 1.2.0 or so.

[2020-06-25 06:45] edgarriba commented on #584
as a policy we update pytorch version each major or minor release and not patch release, since our development resources is not as big as other teams.

@shijianjian if we figure out a proper mechanism to track versioning down, I would be fine with it. In theory each kornia release is aligned with the corresponding last pytorch minor release.

@theRealSuperMario take into account the pip it's not t

[2020-06-25 07:00] edgarriba commented on #585
@shijianjian in the case of flip you might end up calling `torch.flip` where you specify de flipping axis and I don't think there's a problem for keeping same signature.
`K.VerticalHorizontalFlip() -> x.flip(-1)`
`K.RandomHorizontalFlip() -> x.flip(-2)`
`K.RandomDepthFlip() -> x.flip(-3)`

this particular one should work either for `BCHW` `BTCHW` `BCDHW`

[2020-06-25 07:02] edgarriba commented on #585
besides, will push warp_projective during the next couple of days so that you can use it to double check that the returned 3d transforms are consistent to go forth and back transformations.

[2020-06-26 06:46] edgarriba commented on #551
I think there already a couple of opened issues around this loss. If any of you can come with the "correct" implementation, feel free to open a PR to improve it. /cc @ducha-aiki did some tweaks at some point, maybe he has some intuitions as well

[2020-06-26 06:51] edgarriba commented on #457
@chiragraman you are right. This could be a good starting point for the mentioned porting of pyquaternion. Feel free to elaborate more proposals and go ahead with some basic implementation if you feel like you can do it.

[2020-06-27 09:54] daifeng2016 opened #588 "import error"
## 🐛 Bug

Hi, I have installed kornia successfully under torch==1.0.0. However, import kornia failed with errors:
   import kornia
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 656, in _load_unlocked
  File "<frozen importlib._bootstrap>", line 626, in _lo

[2020-06-27 10:16] ducha-aiki commented on #588
It looks like you python version<3.6 and does not support typing. What python version do you use?

[2020-06-27 10:22] daifeng2016 commented on #588
My python version is 3.6.3. (Python 3.6.3 |Anaconda custom (64-bit))

[2020-06-27 12:23] ducha-aiki commented on #588
That is weird. I have got such error a lot and it was always problem with python version. Although - to be honest, I never worked with python on Windows.

[2020-06-27 15:25] edgarriba commented on #588
This seems due to some jit error. What kornia version do you have ?

[2020-07-01 15:00] shijianjian commented on #585
It is not only about the transform itself but we also included a shape standardization in the beginning. In 2D cases, all HW, CHW, and BCHW will be reshaped into BCHW. Then go for the corresponding transformation. While in 3D, we gonna reshape DHW, CDHW, and BCDHW into BCDHW. Thus, we cannot mix them up since the 2D transformation outputs BCHW and 3D transformation shall output BCDHW.

For the nam

[2020-07-04 10:12] develooper1994 opened #589 "Resize dataset"
## ❓ I want to resize dataset while

### Please note that this issue tracker is not a help form and this issue will be closed.
I keep taking error that "RuntimeError: "upsample_bilinear2d" not implemented for 'Byte'"
and that "NotImplementedError: Got 3D input, but bilinear mode needs 4D input".
I can't solve what is it and how to make my dataset class. Can any one help me?

class ImageDataset_sup

[2020-07-04 21:00] daifeng2016 commented on #588
My kornia version is 0.3.2. It proves to be the jit problem, and the import kornia is OK when commenting "from kornia import jit"

[2020-07-07 21:05] connorlee77 commented on #573
is this function already in Kornia?

[2020-07-08 17:39] develooper1994 commented on #53
I think there is some parts are missing but kornia based on a great idea. I made a tutorial in Turkish language.
https://www.youtube.com/playlist?list=PLrPKUEV0N1BR9mdolMmE5k_YqYoT6lXLq

[2020-07-09 08:20] connorlee77 commented on #573
@ducha-aiki Question: If I convert a set of detected OpenCV keypoints into lafs, would resulting patches retrieved from **extract_patches_from_pyramid** be the same as the patches extracted from the OpenCV gaussian pyramid? I ask because I noticed differences in the implementation of the scale pyramid and OpenCV's gaussian pyramid.

[2020-07-09 10:23] ducha-aiki commented on #573
No, and will not be, because it depends on OpenCV. Although it would be good to put this code snippet into the documentation.
Regarding patches and pyramid - OpenCV do not have "extract_patches" function. The implementation is almost identical to extract_patches
https://github.com/ducha-aiki/extract_patches/blob/master/nbs/core.ipynb

[2020-07-09 14:54] edgarriba commented on #53
@develooper1994 this is great ! can you contact me throw mail or in slack so that we can do better promotion of it ?

[2020-07-09 15:07] develooper1994 commented on #53
That is my personal e-mail.
selcukcaglar08@gmail.com

Edgar Riba <notifications@github.com>, 9 Tem 2020 Per, 17:54 tarihinde şunu
yazdı:

[2020-07-09 23:28] AnkaChan opened #590 "A bug in core/conversions which makes the module fail in higher version of PyTorch"
## 🐛 Bug

There is a function called "rotation_matrix_to_quaternion",
in line 302 ~ line 304, there is code like following:
[code]

The "1 - boolean tensor " operation will cause PyTorch to raise an error:
_Subtraction, the `-` operator, with a bool tensor is not supported. If you are trying to invert a mask, use the `~` or `logical_not()` operator instead._

from my understanding, the "1 -  boole

[2020-07-11 08:41] edgarriba commented on #588
and what about torch version ?

[2020-07-11 08:42] edgarriba commented on #590
@AnkaChan could you send a PR with this fix ? Besides, take into account that we have known issues for this set of conversion functions

[2020-07-11 08:44] edgarriba commented on #589
@develooper1994 you need to cast to any floating point precision. Pytorch bilinear sample doesn't support uint8 type =s yet

[2020-07-11 08:46] edgarriba commented on #585
I like this proposal. Minor naming thing - `RandomDepthFlip3D` should be simple enough

[2020-07-12 10:10] daifeng2016 commented on #588
The torch version is 1.0.0

[2020-07-12 17:34] edgarriba commented on #588
Ok, this is the issue then. Kornia 0.3.2 is aligned with torch 1.5

[2020-07-14 03:22] shijianjian commented on #585
#592

[2020-07-17 20:25] gohar-malik commented on #584
@edgarriba For now you can set it up in a way, that it also changes the torchvision version to the one compatible with torch 1.5.0. Because when someone installs kornia it forces torch=1.5.0, which makes the already installed torchvision incompatible, specially when someone's also using cuda.

[2020-07-18 10:08] ChetanPatil28 opened #593 "Adding function to decompose Projection Matrix to K, R and T."
## 🚀 Feature

Decomposition of Projection Matrix into Intrinsic and Extrinsic matrix

## Motivation

I was exploring the functionalities of Kornia and was glad to look at so many implementations related to 3d Geometry. :-)
However, I couldn't find any implementation of the Projection Matrix Decomposition.

## Pitch
Having said that, I would like to contribute to Kornia by adding the Decomposition

[2020-07-20 08:22] edgarriba commented on #593
@ChetanPatil28 this would be great to have. Just go ahead with it and don't hesitate to follow the contributions guidelines.

[2020-07-26 11:03] Cknex commented on #588
I have the same problem, I use torch 1.1.0 and kornia 0.2.2,   did you solve it?

[2020-07-26 21:43] Cknex commented on #588
I update torch to 1.4.0 and solved the problem

[2020-07-29 12:22] edgarriba commented on #584
probably the best way is to update this [line](https://github.com/kornia/kornia/blob/master/setup.py#L79) by
`pytorch_dep += "=" + os.getenv('PYTORCH_VERSION')`

and each time we release specify just MAJOR and MINOR versions.

e.g. PYTORCH_VERSION=1.6 with single equal operator, pip should be able to handle future PATCH releases *but not recommended since for now we are not going to test/support P

[2020-07-30 04:58] AntixK opened #599 "is the Filter2d really faster now?"
## 🐛 Bug

PR  #433 mentions that the Filter2d function has been adapted to be faster for larger kernel sizes. Is it really faster though?
I can't seem to reproduce the benchmark results reported in that PR.

## Benchmark Code (Adapted from #433)
[code]

## Benchmark Results

![cuda_result](https://user-images.githubusercontent.com/14088134/88882160-4b4f2380-d26c-11ea-8c83-0d0904c2452f.png)

From t

[2020-07-30 08:02] #578 closed

[2020-07-30 08:45] ducha-aiki commented on #599
@AntixK I have re-run the previous benchmark on the CUDA 10.2 and pytorch 1.5.0 and it seems that you are right.
Thank you!

Would you mind to create PR, which goes back to group-conv only?

[2020-07-30 08:51] edgarriba commented on #599
@ducha-aiki is there any way to automate (or semi) this ?

[2020-07-30 11:58] theRealSuperMario commented on #584
That's a great idea. For now, I just removed the dependency and wrote down how to set it up

[code]

https://github.com/theRealSuperMario/kornia/tree/fix/fixed_requirement

[2020-07-30 17:40] ducha-aiki commented on #599
@edgarriba I think, now there is no need to. Our solution was needed because only small kernel group conv was optimized. Now it looks like fixed, so we can just rely on pytorch defaults.

[2020-07-30 18:38] #599 closed

[2020-07-30 21:40] pablovela5620 opened #601 "Perspective point projection camera matrix confusion"
I'm not sure if this is a documentation error or an error in the implementation. The project points function in the perspective camera asks for a camera matrix of size (Bx4x4) I'm assuming this is for the extrinsic+intrisinc homogenous camera matrix batches.
![image](https://user-images.githubusercontent.com/25287427/88977209-7bf28580-d28b-11ea-962f-6904c9bd03a0.png)

But Looking at the source cod

[2020-07-31 06:46] edgarriba commented on #601
It's an error in the documentation. The expected shape for camera matrix is (*,3,3).

I guess what you were expecting with extrinsic+intrinsics could be another functionality.

[2020-07-31 16:33] pablovela5620 commented on #601
I think I see the problem I'm facing. I have a dataset of 3d and 2d keypoints, including the camera intrinsic parameters. It looks like this functions works given a batch size of 1. But it seems that it doesn't work given larger batches with different camera parameters. Just as an example with a batch size of 1
[code]
results in (as expected)
[code]

but if I change the batchsize to 2. (Different

[2020-07-31 18:55] edgarriba commented on #601
@pablovela5620 could you plot the exact shape for each of the input tensors ? Could you also take a look at this test case and take it as a reference ? https://github.com/kornia/kornia/blob/master/test/geometry/test_perspective.py#L18

[2020-07-31 20:59] pablovela5620 commented on #601
That link helped clear things up! Actually it was specifically the [multi_batch](https://github.com/kornia/kornia/blob/e301c3c0afdcecb3d9ddb6ecca9aa16bd4186248/test/geometry/test_perspective.py#L24) test. I had a batch of (b, 21, 3) 3d keypoints and (b, 3, 3) camera parameters. Turns out that the camera parameters have to be of shape (b, # keypoints, 3, 3), this is also not in the documentation fo

[2020-07-31 20:59] #601 closed

[2020-08-03 13:33] theRealSuperMario opened #607 "[Feat] torch implementation of opencv drawing functions"
## 🚀 Feature

I would like to have an equivalent of the opencv drawing functions implemented in torch. The reason for that is simply that I do not want to detach all tensors and iterate over the batch to apply some visualisation.

## Motivation

I want to the able to just apply the same opencv functionality to torch tensors as I normally do to 2d images.

## Pitch

Just sit down and implement thos

[2020-08-03 13:41] ducha-aiki commented on #607
Sure, go ahead!

[2020-08-03 13:45] theRealSuperMario commented on #607
Well I would rather wait for some approval - maybe this feature is not really wanted after all.

[2020-08-03 13:58] ducha-aiki commented on #607
I am one of maintainers and I approve it.
 But if you want @edgarriba himself, here you go https://github.com/kornia/kornia/issues/278#issuecomment-549024212
https://github.com/kornia/kornia/issues/434

[2020-08-03 16:48] edgarriba commented on #607
@theRealSuperMario sure go ahead. Just
a couple of considerations, please first make a good API propal and take into account that everything have to be implemented using pytorch operators since we don't wrap any external library.

[2020-08-03 16:50] edgarriba commented on #607
vote for `kornia.drawing` or `kornia.render` naming module instead

[2020-08-03 17:33] theRealSuperMario commented on #607
sounds like agreeable terms.

[2020-08-06 02:01] tuanhui-li opened #611 "[Bug] angle_axis_to_rotation_matrix can not be backward"
## ❓ Questions and Help
I want to use the angle_axis_to_rotation_matrix as a function in the pytorch pipline, the demo code is as follows:
[code]
then the result is as follows:
[code]

[2020-08-06 09:06] edgarriba commented on #611
@tuanhui-li from your example I can see that your are using `torchgeometry` which is a very old version of what kornia is right now.

Could you try with recent versions ?

[2020-08-06 09:46] tuanhui-li commented on #611
@edgarriba I tried kornia , and I got the same result

[2020-08-06 15:44] ORippler opened #613 "Homogenize interpolation Attribute across Augmentations"
## 🚀 Feature

Currently, there exist two attributes amongst augmentations that are both responsible for the same thing, denoting the interpolation type that whould be applied:

1. `interpolation`, used by e.g. [RandomRotation](https://github.com/kornia/kornia/blob/master/kornia/augmentation/augmentation.py#L541)
2. `resample` used by e.g. [RandomAffine](https://github.com/kornia/kornia/blob/master

[2020-08-06 16:02] edgarriba commented on #613
@ORippler you are right. This might be a bit confusing as user. I'd vote for `interpolation` since it's what in the end grid_sample takes in the signature. @shijianjian what do you think ?

We are about to release 0.4, so I guess this request can be done by next 0.5 release.

[2020-08-06 16:14] shijianjian commented on #613
TorchVision used ```resample``` for ```RandomAffine``` and ```RandomRotation``` while they used ```interpolation``` for others like ```RandomPerspective```, ```RandomResize```, etc.

If we are still aiming at inheriting TorchVision APIs, I think we shall rename them to ```resample```. If not, I am okay with both names.

[2020-08-06 16:17] shijianjian commented on #549
Added in #571

[2020-08-06 16:17] #549 closed

[2020-08-07 20:27] LSOFT123 opened #615 "[Feat] RandomAffine scale width or height only"
Hi,

Kornia is really great, one question, is it possible to scale on one dimension only (width or height) with RandomAffine?
Aspect ratio not kept. It looks not available in options, what is the best way to achieve it?

Thanks.

[2020-08-10 21:09] versatran01 opened #617 "Expose RandomCrop interpolation API"
## 🐛 Bug

I noticed that random crop interpolation mode is fixed to bilinear, when I try to crop a depth map with zeros, it generates nonzero values which are undesired. Happens to center crop as well.

Also I don't understand why this simple crop operation requies interpolation (when size is just an int)?

[2020-08-11 07:20] edgarriba commented on #617
@versatran01 thanks for asking. Let me answer both questions:

1) We use bilinear interpolation since torch grid_sample has this parameter set by default. I think we can expose other interpolation methods to this operator. /cc @shijianjian

2) RandomCrop does not generate simple random integers to define the cropping boxes. We also want to make full use of differentiability and grid_sample doesn't

[2020-08-11 09:21] shijianjian commented on #617
[```torch.grid_sample()```](https://pytorch.org/docs/stable/nn.functional.html#torch.nn.functional.grid_sample) supports only nearest and bilinear. They are all supported in the current version.

@versatran01 Since our current implementation is based on perspective transforms, the issue you described indeed exists. As @edgarriba said, our implementation was trying to keep the differentiability. We

[2020-08-11 09:28] shijianjian commented on #617
For a temperate solution, you may use ```align_corners=True```. It will occasionally occur non-zero values (mostly smaller than 1e-5). Hope it may be sufficient for your projects.

[2020-08-11 10:28] edgarriba commented on #615
@LSOFT123 the feature you mention indeed is not available in `kornia.augmentation`, however, the proper way to achieve that is using the following [`kornia.get_affine_matrix2d`](https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/imgwarp.py#L459), which btw are missing in the docs.

[2020-08-11 11:34] edgarriba commented on #588
Closing, since this should be fixed with new version.

[2020-08-11 11:34] #588 closed

[2020-08-11 11:35] edgarriba commented on #584
closing, this should be in fixed in the lateast release

[2020-08-11 11:35] #584 closed

[2020-08-11 14:04] versatran01 commented on #617
My solution currently is to use generate_param and then change interpolation to 0 manually.

[2020-08-12 12:52] rschwarz15 opened #620 "RandomAffine won't accept parameters for shearing in X/Y axis"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior (on command line):

1. import torch
1. import kornia as K
1. a = torch.tensor([[1,2,3],[4,5,6],[7,8,9]])
1. K.random_affine(a, degrees=10, shear=[-0.1, 0.1, -0.1, 0.1])

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "...Anaconda3\lib\site-packages\kornia\augmentation\functional.py", line 141, in random_aff

[2020-08-12 13:09] shijianjian commented on #620
Yes. This is a bug. I will fix it in the next version.

[2020-08-13 15:09] mshalvagal opened #622 "[Bug] Solarize transform breaks with cuda input tensors"
## 🐛 Bug

Solarize doesn't seem to perform a check for being on the same device as the input tensor, and always keeps the addition and threshold parameters on the cpu.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Error message (last call only):

[code]

## Environment

PyTorch version: 1.6.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 18.04.

[2020-08-13 16:31] edgarriba commented on #622
@mshalvagal thanks for the report. My guess is that this
https://github.com/kornia/kornia/blob/master/kornia/enhance/adjust.py#L281
https://github.com/kornia/kornia/blob/master/kornia/enhance/adjust.py#L289

must be properly initialized with device and dtype from the input tensor:
`additions = torch.tensor(additions, device=input.device, dtype=input.dtype)`

feel free to open a PR with the fix. /c

[2020-08-13 17:29] mshalvagal commented on #622
Thanks!

I made a pull request. Please take a look if it's good. I manually tested it, and it works now

[2020-08-14 08:55] pmeier opened #625 "Make contrib.extract_tensor_patches better"
## 🚀 Feature

Make `contrib.extract_tensor_patches` "better" (see the conclusion at the bottom for what this means in detail) by replacing the [convolution](https://github.com/kornia/kornia/blob/86185fbcec030565c742c325b64dcb94700b0834/kornia/contrib/extract_patches.py#L109) with [`torch.Tensor.unfold`](https://pytorch.org/docs/stable/tensors.html?highlight=unfold#torch.Tensor.unfold).

## Pitch

[2020-08-14 09:10] edgarriba commented on #625
@pmeier looks good to me. Go ahead with a PR

[2020-08-14 10:32] pmeier opened #627 "Make the resize anchor variable if size is int"
## 🚀 Feature

Make the resize anchor variable if size is `int`.

## Motivation

Right now `kornia.resize` assumes that the shorter edge of the image should be resized to `size` if its an `int`. That can be cumbersome if the user wants for example an image that is not larger than x or wants a specific edge to be this size.

## Pitch

I propose we add an `edge` kwargs which can be one of `"short"` (

[2020-08-14 20:18] pmeier opened #629 "[Bug] _compute_shear_matrix and get_affine_matrix2d yield different results"
## 🐛 Bug

`_compute_shear_matrix` and `get_affine_matrix2d` yield different results.

## To Reproduce

[code]

[code]

## Expected behavior

Maybe I'm missing something obvious, but I imagined both functions should yield the same results if fed with the same shear parameters.

## Environment

[code]

[code]

[2020-08-15 01:07] shijianjian commented on #629
This is expected. The previous math was wrong. You may refer to https://github.com/kornia/kornia/pull/474/files#r466169643

[2020-08-16 07:16] edgarriba commented on #629
Shouldn't be updating and use get_affine_matrix2d ?

[2020-08-16 07:26] shijianjian commented on #629
Sorry. I double checked. ```_compute_shear_matrix``` is for 3d shearing, not 2d. It is a naming issue.

[2020-08-16 12:30] pmeier commented on #629
`_compute_shear_matrix` is internally used by `kornia.shear`, which is documented as 2D function.

[2020-08-16 13:04] shijianjian commented on #629
Alright. I misunderstood that with the 3d one.

```_compute_shear_matrix ``` computed the matrix to do the shearing on both axes at the same time, which is the pure shearing matrix mathematically.

```get_affine_matrix2d ``` is ordered shearing that would first shear x-axis then y-axis, which is used to reproduce the TorchVision affine transformations.

[2020-08-17 13:26] lukasfolle opened #634 "[Docs] Allow faster overview of available classes and functions"
## 📚 Documentation

To be able to get a quick overview of the available classes and functions for the kornia packages I´d suggest adding a list of all classes and functions to the navigation bar on the left side of the documentation.

<img width="1046" alt="Bildschirmfoto 2020-08-17 um 15 21 00" src="https://user-images.githubusercontent.com/26490449/90400907-825f6a80-e09d-11ea-965f-bacc59a7595f.p

[2020-08-17 18:49] edgarriba commented on #634
Agree, let's draft a list for subgroups here

[2020-08-18 01:09] qxcv opened #635 "padding_mode/borderMode for RandomAffine"
## 🚀 Feature

It would be helpful to expose `padding_mode` (OpenCV's `borderMode`) in the `RandomAffine` augmentation.

## Motivation

Controlling padding mode in augmentations may or may not make it easier to train networks. In any case, this is a useful hyperparameter to expose. A feature along these lines was mentioned in https://github.com/kornia/kornia/issues/476#issuecomment-615838590, but h

[2020-08-18 04:31] shijianjian commented on #635
Great. That is one thing we missed previously!

In TorchVision, they used [fillcolor](https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.RandomAffine) than padding_mode. If we are going to have the padding_mode stuff, I think we may have both padding_mode and fillcolor.

What do you think @edgarriba?

[2020-08-18 05:59] pmeier commented on #629
I'm under the impression that the order should have no effect on the outcome given the shear happens around a common center. Do you have a source for the different implementations?

[2020-08-18 07:40] shijianjian commented on #629
Yes. The order does not matter since they are diagonal matrices but it is not equivalent to the x-and-y shearing. They are different mathematically:

![image](https://user-images.githubusercontent.com/15955486/90484181-6ecd0600-e168-11ea-9b68-bd818214a934.png)

Not sure about the source implementations. @ducha-aiki may know where to find it.

[2020-08-18 12:07] lukasfolle commented on #634
How about creating a list of the available classes in the Module section and a list of the functions in the Functional section automatically?

[2020-08-19 19:38] vribeiro1 opened #637 "[Feat] Enable equalization of volumes (sequences of images)"
## 🚀 Feature

Implements equalize function for a sequence of images using PyTorch ops. Considers the histogram of the volume on the equalization calculations.

## Motivation

For medical applications, we often handle volumes, i.e., sequences of images. I am always frustrated that there is no easy way to implement volume transformations. For MRI data, histogram equalization is a mandatory pre-proce

[2020-08-19 21:00] d-walsh opened #638 "[Bug] rotation_matrix_to_angle_axis produces wrong result"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

If I run the code:
**rotation_matrix** is different to **new_rotation_matrix**

[code]

## Expected behavior

I expect `rotation_matrix_to_angle_axis` to return a correct result.

## Environment

I am using Korina **0.4.0** installed via pip

 - PyTorch Version (e.g., 1.0): 1.6.0
 - OS (e.g., Linux): Ubnutu
 - How you installed PyTorch (

[2020-08-20 11:49] shijianjian commented on #637
Sounds good. Please go ahead for the PR.

You may use kornia.augmentation.utils._transform_input3d for the input standardisation. Note that we normally use BCDHW instead of the l dimension.

[2020-08-24 10:56] edgarriba commented on #638
/cc @krrish94 could you take a look at it ?

[2020-08-26 08:22] jatentaki opened #642 "warp_frame_depth fails with different aspect ratios between src and dst"
## 🐛 Bug

As in the title: I am trying to get `kornia.geometry.warp_frame_depth` to work for my project and a seemingly intermittent bug appears to boil down to that - `warp_frame_depth` works when the aspect ratios of `src` and `dst` match but fails otherwise.

## To Reproduce
I made a small repro repository with sample images, depths and camera parameters [here](https://github.com/jatentaki/warp

[2020-08-26 09:39] #627 closed

[2020-08-26 09:51] edgarriba commented on #642
@jatentaki not suprised since we didn't design the functionality to support this use case. Just to verify, does it work if you resize the depth maps to the image resolution ? by doing that you might have to scale the camera intrinsics too https://kornia.readthedocs.io/en/latest/geometry.epipolar.html#kornia.geometry.epipolar.scale_intrinsics

[2020-08-26 10:00] jatentaki commented on #642
@edgarriba I'm not sure if I follow: if I rescale an image to match the size of another with a different aspect ratio, I will apply different scaling to x and y axes. This means that `kornia.geometry.epipolar.scale_intrinsics` will not work since it applies uniform scaling. Am I misunderstanding something?

My actual use case is to warp between images of equal *tensor* shape (so that they can be b

[2020-08-26 10:27] jatentaki commented on #642
I made a [branch](https://github.com/jatentaki/warp-bug/blob/equal_shape/warp.py) where I implement my actual use case: I first scale the images while preserving aspect ratio and then pad the shorter side to arrive at uniform (1024, 1024) shape. I adjust K with `scale_intrinsics`. As far as I understand, that's what you had in mind when asking me to resize depth maps to image resolution. The issue

[2020-08-26 15:38] FGeri opened #643 "[BUG] Flipping augmentations return wrong transformation matrices"
## 🐛 Bug

RandomHorizontalFlip  and RandomVerticalFlip return wrong transformation matrices in case of flipping. Transforming a [x,y,1] vector with the returned transformation matrix results in values with +1 off in the x and respectively in the y dimensions.

## To Reproduce

Steps to reproduce the behavior:
[code]
## Expected behavior

Returned transformation matrix should be for RandomHorizonta

[2020-08-27 06:36] #620 closed

[2020-08-27 06:38] shijianjian commented on #613
Fixed in #633. We gonna move to ```resample```.

[2020-08-27 06:38] #613 closed

[2020-08-27 06:38] shijianjian commented on #617
Added in #633.

[2020-08-27 06:38] #617 closed

[2020-08-27 07:21] #622 closed

[2020-08-27 07:32] FGeri opened #644 "[BUG] Pipelining multiple augmentations return wrong transformation matrix"
## 🐛 Bug

Transformation matrices get calculated wrongly when fed though more than one augmentation.

## To Reproduce

[code]
## Expected behavior

A pipeline of multiple the augmentation moduls should return the correct transformation matrix.

## Environment

PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.2

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3

[2020-08-27 07:45] #635 closed

[2020-08-27 07:49] shijianjian commented on #644
If I remember right, shouldn't be ```T_true = T_rot @ T_hflip```?

[2020-08-27 08:12] FGeri commented on #644
For applying a transformation given by a matrix we have to multiply with it from the left. So since we first rotate an v=[x,y,1] point v_rotated =  T_rot @ v, then v_final = T_hflip @ v_rotated. Fixing this in the ``AugmentationBase`` doesn't break any tests, so ops might not have been mixed resulting in equal transformation matrices hence order of the matrices did't matter.

[2020-08-27 08:32] shijianjian commented on #644
Can you give a PR to fix this?

[2020-08-27 08:36] FGeri commented on #644
Sure, I'll write some tests and open a PR.

[2020-08-28 00:10] yutayamazaki commented on #520
@edgarriba Can I work on this issue?

[2020-08-28 08:07] pmeier opened #647 "Make kornia.augmentation.random_crop_generator safer"
## 🚀 Feature

Make `kornia.augmentation.random_crop_generator` safer.

## Motivation

Within `kornia.augmentation.random_crop_generator` `_adapted_uniform` is used to generate random starting points for the crop. Since it returns a `torch.float`, the upper delimiter (`high`) is increased by one (`high = x_diff + 1`) and cast to `torch.long`, which is basically a floor division. While this generate

[2020-08-28 09:14] shijianjian commented on #647
If I understand it right, you mean the current implementation would perform a uniform sample from [low, high]?

According to the doc of [Uniform](https://pytorch.org/docs/stable/distributions.html#torch.distributions.uniform.Uniform), it shall be already [low, high).

[2020-08-28 09:40] #625 closed

[2020-08-28 09:41] pmeier commented on #647
Yeah my bad, I should have checked this. In that case it is safe as is. We still could implement `_adapted_uniform_int` without the constant to make this more convenient.

[2020-08-28 10:03] shijianjian commented on #647
Without which constant for ```_adapted_uniform_int```?

How about adding a new param ```dtype```? Something like:
[code]

[2020-08-28 12:00] pmeier commented on #647
About the small numerical constant `1e-6` and the safety of `Uniform`. I don't think its as easy as we thought. Consider the following edge scenario:

[code]

[code]

Since `.int()` is basically a floor division, `rsample` indeed returns exactly `high`. Without further investigation I think this is due to numerical issues: any number that is drawn that is larger than `1.0 - torch.finfo(torch.float

[2020-08-29 09:03] edgarriba commented on #520
@yutayamazaki yes, please go ahead. Just we need to take care about potential cycle dependencies. /cc @shijianjian

[2020-08-29 09:14] edgarriba commented on #642
I'll investigate further. If you find the actual issue, please propose a fix for this

[2020-08-29 09:16] edgarriba commented on #634
@lukasfolle this is related I guess https://github.com/kornia/kornia/issues/520

[2020-08-29 09:16] edgarriba commented on #629
is this fixed ?

[2020-08-29 09:17] edgarriba commented on #611
@tuanhui-li rotations API needs to be revisited since we have been seeing a lot of issues recently.

[2020-08-29 09:19] edgarriba commented on #577
@connorlee77 is this fixed ? /cc  @ducha-aiki

[2020-08-29 09:20] edgarriba commented on #573
@ducha-aiki what should we do here ?

[2020-08-29 09:21] edgarriba commented on #563
closing this since this feature has been merged in v0.4. @mibaumgartner please provide usage feedback on that

[2020-08-29 09:21] #563 closed

[2020-08-29 09:23] edgarriba commented on #559
@wyli @tvercaut do you think you might have some time to implement this feature. We can give support for integration

[2020-08-29 09:24] edgarriba commented on #523
@Kshitij09 @shijianjian this fixed ?

[2020-08-29 09:27] edgarriba commented on #487
@ducha-aiki we might end up removing `kornia.warp` from top level API and split `HomographyWarper` to `kornia.geometry.homography` and `DepthWarper` to `kornia.geoemtry.depth`. What do you think ?

[2020-08-29 09:39] edgarriba commented on #470
updated

[2020-08-29 09:39] #470 closed

[2020-08-29 09:56] ducha-aiki commented on #573
@edgarriba I will do PR soon

[2020-08-29 09:57] ducha-aiki commented on #487
@edgarriba sounds good if we would not have any other kind of warping

[2020-08-29 10:15] #644 closed

[2020-08-29 10:24] edgarriba commented on #487
the warping happens only with affine and homography 2d/3d which I think that can be all placed in `kornia.geometry.transform` as high level interface, and then the depth warper which this ones makes sense to me to be included in `kornia.geometry.depth`

[2020-08-29 11:05] jatentaki commented on #642
@edgarriba thanks. I made yet another [branch](https://github.com/jatentaki/warp-bug/tree/centered) where I symmetrically pad the images on both sides (so it's like `0 0 [..image..] 0 0` instead of `[..image..] 0 0 0 0`) and set `cx, cy` to the center of the padded image (since in my data the focal point is always the center anyway). This doesn't work either, but to my surprise it gives different

[2020-08-29 15:18] FGeri opened #649 "[Bug][Feat] Failing tests for Half precision due to operations not implemented in Half"
## 🐛 Bug

Some tests fail due to some operations not being implemented for half precision, eg.:
FAILED test/geometry/epipolar/test_essential.py::TestEssentialFromFundamental::test_from_to_fundamental[cuda-float16] - RuntimeError: "inverse_cuda" not implemented for 'Half'
FAILED test/geometry/epipolar/test_essential.py::TestEssentialFromFundamental::test_from_fundamental[cuda-float16] - RuntimeErro

[2020-08-29 16:01] shijianjian commented on #647
I think it should be a bug for PyTorch team than ours. But before they fix this, I think we could have this functionality for ```_adapted_uniform``` for safer cropping. Do you mind going for a PR?

[2020-08-29 16:10] shijianjian commented on #629
@edgarriba It is an intended behaviour than a bug. I do not think it needs to be fixed.

[2020-08-29 17:23] pmeier commented on #647
IMO this is not a bug but a limitation of the floating point format. Values between `1.0 - torch.finfo(torch.float).eps` and `1.0` simply cannot be represented by a `torch.float32`. That means, if we draw a value from this range the distribution might not return `1.0` but a value that cannot represented by anything else. By including the small constant such as `1e-6` we can simply circumvent this

[2020-08-30 10:41] edgarriba commented on #647
we can this to the documentation as a side note, otherwise this limitation will dead here in this issue and not to the final user.

[2020-08-30 11:01] edgarriba opened #651 "[Docs] Missing `crop_by_boxes` docs"
## 📚 Documentation

Non existing documentation for [`kornia.crop_by_boxes`](https://github.com/kornia/kornia/blob/f4f70fefb63287f72bc80cd96df9c061b1cb60dd/kornia/geometry/transform/crop.py#L159)

Needs also improvement in typing and parameters definition.

[2020-08-30 11:20] edgarriba commented on #629
ok, then we should specify somewhere in docs or in the code itself.

[2020-08-30 11:44] edgarriba commented on #649
@FGeri we don't properly test torch.float16 yet in the CI. So expect some adventures. Is this something that you need ?

[2020-08-30 12:01] pmeier commented on #647
@edgarriba If we include the `dtype` in `_adapted_uniform` we don't need to change the documentation at all.

[2020-08-30 12:39] FGeri commented on #649
Not at the moment, just bumped into it when running the test suit for a PR. Probably those ops were deliberately not implemented due to the possible loss of precision, so maybe the functions depending on such ops should cast the input args to at least float32 or double for the sake of accuracy anyway.

[2020-08-31 03:08] ycjing opened #652 "Raw to RGB"
## 🚀 Feature

Hi. Thank you for the great work! Is there any plan or possible solution for raw-to-RGB (Bayer Pattern to RGB) transformation? The corresponding OpenCV function is as follows:
`img_bgr = cv2.cvtColor(img_bayer_bg.astype(np.uint8), cv2.COLOR_BAYER_BG2BGR)`
Thank you!

## Motivation

OpenCV raw-to-RGB function in a differentiable way.

## Pitch

A way to transform raw image to RGB imag

[2020-08-31 06:47] FGeri commented on #643
Fixed with #648

[2020-08-31 06:47] #643 closed

[2020-08-31 09:09] edgarriba commented on #649
I'd launch an assertion instead and not support them until pytorch does, otherwise they mostlikely will end up with fake dtype forever in kornia.

[2020-08-31 09:53] shijianjian commented on #647
If our final fix is to use something like:
[code]
Then I think we should better include it in the doc than apply that fix. If I am a user that I want to generate from [1, 2], I may do:
[code]
If we did a brutal deduction here, the user will sample a ```3``` as well which he is not intended to.

[2020-08-31 16:34] Kshitij09 commented on #523
Sorry but I wasn't working on this. Also, I just skimmed through the commit that was referring to this issue and thought it'll be fixed by that. So I'm not sure about the progress.

[2020-08-31 17:18] ClementPinard commented on #642
Just had a quick glance on the problem and while the [depth warper](https://github.com/kornia/kornia/blob/master/kornia/geometry/warp/depth_warper.py) can deal with different cameras from source do destination, it's not the case for the function [warp_frame_depth](https://github.com/kornia/kornia/blob/8991e4d5f7a0fa1f04029311821a50d9fcf5e93f/kornia/geometry/depth.py#L107)

You should try to use th

[2020-08-31 19:07] pmeier commented on #647
@shijianjian Neither `_adapted_uniform` nor `kornia.augmentation.random_crop_generator` is documented at all. Even if it where, I don't see where you getting at with your approach: why don't you want to fix this bug and only document its existence? I don't think fixing it is BC breaking for anyone. If you do, could you give an example?

Assuming you are talking about sampling `int`s here. If you d

[2020-09-01 02:19] shijianjian commented on #647
I meant with a brutal deduction (even it is a 1e-6) is a bit inappropriate to me. I did some investigation here, the ```torch.float32``` is not enough when we have values like ```1 - torch.finfo(torch.float).eps / 4.0``` as the input.
[code]
So, if we use ```torch.float64```:
[code]
Thus, within your example, we only need to cast everything into ```torch.float64``` will solve the problem.
[code]

[2020-09-01 02:53] shijianjian commented on #523
Yes. I have added a type check. ```_validate_input_dtype(input, accepted_dtypes=[torch.float16, torch.float32, torch.float64])```. Only float numbers are accepted now.

[2020-09-01 02:53] #523 closed

[2020-09-01 06:51] shijianjian commented on #615
Closed by #646

[2020-09-01 06:51] #615 closed

[2020-09-01 07:10] edgarriba commented on #652
@ycjing this functionality it's definitely inside the scope of the library. We can add it to the roadmap for the upcoming releases

[2020-09-01 07:25] lukasfolle commented on #634
I guess I would suggest using the list from [the documentation outline](https://github.com/kornia/kornia/blob/master/docs/source/augmentation.rst).
It should be possible to get all classes and functions from the site scanning for just `.. autoclass::` and `.. automodule::` right?

[2020-09-01 07:38] edgarriba commented on #634
@lukasfolle didn't know about this property. Could you give it a shot and share a screenshot? /cc @shijianjian

[2020-09-01 07:38] lukasfolle commented on #634
To make those show up in the doc we would need to change [the index file](https://github.com/kornia/kornia/blob/master/docs/source/index.rst), right?

[2020-09-01 07:39] edgarriba commented on #634
@lukasfolle yes, and all the subsequent *rst files

[2020-09-01 07:45] edgarriba commented on #642
@ClementPinard thanks for your suggestion - you are definitely right. In case @jatentaki's issue is solved using `depth_warper`, we must definitely merge both functionalities.

[2020-09-01 09:06] lukasfolle commented on #634
You are right. I imagined it like this:
![Bildschirmfoto 2020-09-01 um 11 04 48](https://user-images.githubusercontent.com/26490449/91830490-22db9000-ec43-11ea-9fa6-fd3640a277ea.png)

[2020-09-01 09:14] lukasfolle commented on #634
But as it would extend quite large probably other sites such as kornia.color wont be reachable without a lot of scrolling.
Such that I would favor the way pytorch does this with a index on the right side.

[2020-09-01 09:17] jatentaki commented on #642
@ClementPinard thanks a lot for investigating, I'll use `depth_warp` soon and let you know if my problem is solved.

[2020-09-01 09:59] shijianjian commented on #629
One inconsistency here is, by ```kornia.geometry.transform.affwarp._compute_shear_matrix```, we used ```sx, sy``` directly. Like:
[code]

while in ```kornia.geometry.transform.imgwarp.get_shear_matrix2d```, we used ```tan(sx), tan(sy)``` instead.
[code]

I think I am more or less expecting:
[code]

I believe we used the tangent one to align TorchVision, while I am not sure if to update the ```_com

[2020-09-01 13:41] jatentaki commented on #642
@ClementPinard could you share your code using `depth_warp`? I [tried](https://github.com/jatentaki/warp-bug/tree/pinhole_equal) but I can't get it right. Interestingly, now the previously problematic case (unequal aspect ratio) is close to being correct while the equal aspect ratio pair is completely distorted. I am a bit confused about the API, in particular

1. What is the use of `height, width

[2020-09-01 14:30] edgarriba commented on #634
@lukasfolle absolutely, this would another way to do that. Can we do it with the default sphinx theme ?

[2020-09-01 14:37] lukasfolle commented on #634
I guess not, but I am also quite new to read_the_docs. This is what I found at the pytorch sphinx theme:
![grafik](https://user-images.githubusercontent.com/26490449/91865218-71a01e80-ec71-11ea-9e5b-aa7e62e7c0bd.png)

[2020-09-01 15:11] pmeier commented on #647
This will make the problem more unlikely, but does not fix it:

[code]

[code]

As long as we use a floating point representation with a fixed number of bits (which is always as long we build upon PyTorch) this will always be possible.

Could you explain why? As stated above, the interval is negligibly smaller and this should have no measurable effect on the user. If we allow the full interval a u

[2020-09-01 20:35] yichao-l opened #655 "angle_axis_to_rotation_matrix() unable to backpropgate"
Hi,

I'm new to kornia and I'm experiencing a bug with the angle_axis_to_rotation_matrix() function when doing backward(). I've attached the error messages and my function below. Could you please give any help?

I used `torch.autograd.set_detect_anamoly` to debug the issues and it reported:
[code]

my `standardize_primitives()` function is defined as:
[code]

Best,
Yichao

[2020-09-02 09:49] #655 closed

[2020-09-02 14:25] shijianjian commented on #647
The brutal deduction will clearly be failed when they want something like ```_adapted_uniform(1 - 1e-6, 1 + 1e-6)```, which this should output a 50/50 chance to be under or over 1. Thus, the deduction with 1e-6 will not affect user only if we assume they always input ```high - low >> 1e-6```.  At least, this ```_adapted_uniform``` function is not designed as so.

In the context of this issue, ```t

[2020-09-02 15:33] pmeier commented on #647
As stated above the subtraction of the small constant should only apply if the input is **not** a floating point `dtype`:

[code]

Thus, a problem as you are describing will not happen.

Again, this is not a bug, but a limitation of the floating point `dtype`s with a constant number of bits. Thus, it **can't** be fixed, only circumvented. Since we have a concrete case where this could fail, we sho

[2020-09-02 16:57] ClementPinard commented on #642
I completely agree with you that the depth_warp API is far from flexible enough. Height and width should be deducted from depth shape, and Intrinsics the here needs to be 4x4 should only need to be 3x3 and the conversion should be done within the class.

Other than that I couldn't get right results for the moment. I can share you the code, but it does not work and I don't know exactly why. I'll ge

[2020-09-02 17:26] edgarriba commented on #634
@lukasfolle I started at some point the migration to the pytorch theme.
https://github.com/kornia/kornia/pull/517

I stopped it since e.g. the embed tutorials were not rendering well and notice other small differences. But if you want to give it a shot and resume this task, you will be more than welcome.

[2020-09-02 17:34] ClementPinard commented on #642
After some more investigation, there IS a bug in kornia. in `test/geometry/warp/test_depth_warper.py` , the case with different intrinsics from src to dst is never tested, and when we change that, the test fails.

This does not say that my implementation is correct, but at least we know that something in Kornia either regarding depth warper or depth warper's tests needs to be changed.

[2020-09-02 17:35] ClementPinard commented on #642
We might need to change the test script so that it now addresses the different intrinsics case and solve the now failing test and then we will be able to look at this problem. And obviously, there is also the problem of the `warp_depth_frame` function API that needs to change as well to accept the second intrinsics parameter.

[2020-09-02 18:08] lukasfolle commented on #634
@edgarriba Thank you for giving it a try. I am not familiar with the creation of docs using sphinx so I am closing this. If anyone else feels comfortable tackling this feel free to do so 😄

[2020-09-02 18:08] #634 closed

[2020-09-03 02:28] shijianjian commented on #647
In this context, the ```dtype``` param controls the output type, not the input type. Users can still do something like ```_adapted_uniform(1 - 1e-6, 1 + 1e-6, dtype=torch.long)``` in your example.

Also, why insist on modifying the user's inputs?

[2020-09-03 02:47] shijianjian commented on #651
Added in #609

[2020-09-03 02:47] #651 closed

[2020-09-03 09:44] shijianjian opened #656 "Probability for applying an augmentation"
## 🚀 Feature
@edgarriba @pmeier
As discussed in Slack, we are thinking of enabling the ```p``` for all augmentation methods. I have drafted a sample code for discussion here. The code maintains the reproducibility and would simplify the ```apply_transform``` logic. Specifically, I have added ```forward_parameters``` to add the boolean mask and ```forward_transform``` to apply the transformation.

[2020-09-03 10:09] ycjing commented on #652
Hi @edgarriba

Thank you for the response! I appreciate it.

Best,
Yongcheng

[2020-09-03 11:43] twmht opened #657 "5 points in get_perspective_transform"
Hi,

I am not familiar with the formula, but  this API `get_perspective_transform`  (https://kornia.readthedocs.io/en/latest/_modules/kornia/geometry/transform/imgwarp.html#get_perspective_transform) has limitations on the inputs, only 4 points are allowed.

But in my applications, I have 5 points  to align, is there any way to modify the code to support 5 points?

thank you

[2020-09-03 11:45] ducha-aiki commented on #657
You could use https://kornia.readthedocs.io/en/latest/_modules/kornia/geometry/homography.html#find_homography_dlt or https://kornia.readthedocs.io/en/latest/geometry.homography.html#kornia.geometry.homography.find_homography_dlt_iterated

Homography is the perspective transform

[2020-09-03 13:23] twmht commented on #657
I've seen that before. But how could I pass `weights` to the API?

[2020-09-03 14:21] jatentaki commented on #642
I think I found it. [This](https://github.com/kornia/kornia/blob/master/kornia/geometry/warp/depth_warper.py#L83) line effectively computes

[code]

whereas it should be

[code]

instead. I'll make a PR.

[2020-09-03 14:27] twmht opened #658 "[Queston] finding homography matrix (dlt) is much slower than numpy version (least square)"
I am trying to benchmark these.

Here are the code coming from scikit-image (https://scikit-image.org/docs/dev/api/skimage.transform.html#skimage.transform.SimilarityTransform)

[code]

and the benchmark code is

[code]

the mean average running time is 0.03 ms per iteration.

However, when using `find_homography_dlt`,  the mean average running time is 6ms, which is 200 times slower than `scikit-i

[2020-09-03 14:33] ducha-aiki commented on #658
That is expected, because there is no batch parallelism in your code, bs=1 and the operations are very light - so running it on GPU makes only sense when your input  and output has to be on GPU anyway and you have reasonable batches.

Have you tried to run kornia code on CPU?

[2020-09-03 18:33] pmeier commented on #647
Correct, that was a mistake. It should have been

"the subtraction of the small constant should only apply if the ~in~**out**put is not a floating point dtype"

This whole thread started with me noting that `_adapted_uniform` is unsafe when it is used as is (for example in `random_crop_generator`) to generate a uniform distribution of `int`s. You suggested we use a new parameter `dtype` to solve t

[2020-09-04 09:13] edgarriba opened #660 "[Bug] save pointcloud not updates num_points when inf"
## 🐛 Bug

The function `K.utils.save_pointcloud_ply` doesn't update the final number of points to be serialized when one of the values contain an infinite value.

How to  fix:

update this line https://github.com/kornia/kornia/blob/master/kornia/utils/pointcloud_io.py#L34

[code]
by

[code]

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please c

[2020-09-04 20:04] FGeri opened #661 "[Bug] RandomPerspective returns wrong transformation matrix"
## 🐛 Bug

RandomPerspective returns wrong transformation matrix.

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

The modul should return the correct transformation matrix.

## Environment

PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.2

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Cou

[2020-09-04 20:22] FGeri opened #662 "Possible bug in the interpolation in some augmentations"
## 🐛 Bug

When transforming a simple image like a blue square on a black background, some of the augmentations (RandomPerspective,RandomRotation,RandomCrop,RandomResizedCrop,CenterCrop) produces an image with tiny black pixel noises in the blue square suggesting that something in the interpollation is not quite right.

## To Reproduce

[code]

## Environment

PyTorch version: 1.6.0
Is debug build:

[2020-09-04 20:30] FGeri commented on #662
Looks like it was only a bug in my test code, so I close this.

[2020-09-04 20:30] #662 closed

[2020-09-05 05:34] shijianjian commented on #647
It does not matter how sensible it is. We should disallow the usage of ```_adapted_uniform(1 - 1e-6, 1 + 1e-6, dtype=torch.long)``` if we know it will give unexpected values.

I think the following shall be simple and intuitive enough to address the floating overflow issue with integers.

[code]

[2020-09-06 07:59] pmeier commented on #647
Given that `_adapted_uniform` is an internal function and not documented anywhere I don't think it is that important to make this completely foolproof. That being said, I don't mind going for `_adapted_uniform_int` as it is what I proposed in the first place.

It is, but it significantly affects the performance:

[code]

[code]

While your suggestion increases the runtime by ~57%, my approach only

[2020-09-06 16:49] FGeri opened #663 "[Bug] 3D flipping augmentations return wrong transformation matrices"
## 🐛 Bug

The 3D augmentation modules return wrong augmentation matrices. Same issue as with #643 just with the 3D case.

[2020-09-07 09:18] edgarriba commented on #642
@ClementPinard @jatentaki thanks for taking a look at it. Please, propose any change you think that might be more suitable to stabilize the API.

[2020-09-07 09:21] edgarriba commented on #642
@jatentaki for the intrinsice, indeed it's a mistake since it should be a Bx3x3 matrix.

[2020-09-07 09:59] edgarriba commented on #657
@twmht for the case of 5 points just call `find_homography_dlt_iterated(pts1, pts2, weights=torch.ones(B, 5))` where `pts1` and `pts2` has shape of `Bx5x2`. Is that what you are asking ?

[2020-09-07 10:22] edgarriba commented on #661
@FGeri in `out_coord = T[0,...] @ corners` you need to divide by the last component once you transform the points.

[2020-09-07 10:40] ducha-aiki commented on #657
@twmht weights mean your confidence in the resp. point pair, as the 5 is more than the minimum necessary number of points = 4 to estimate the perspective transform. Thus, if points disagree, weights are here to help.
As @edgarriba said, just send torch.ones(B,5) if you think that all 5 are correct

[2020-09-07 10:54] twmht commented on #657
thank you guys:)

[2020-09-07 10:54] #657 closed

[2020-09-07 14:39] pmeier opened #666 "[Feat] Improve device switching for transforms"
## 🚀 Feature

Improve device switching for transforms

## Motivation

Currently tensors are stored as is within transforms (I'm using `kornia.Rotate` as example here, but this same is valid for many other transforms). This, makes the switching between devices inconvenient, since `torch.nn.Module.to()` does not affect them:

[code]

[code]

## Pitch

[Register all tensors as buffers](https://pytorc

[2020-09-07 14:41] FGeri commented on #661
@edgarriba Ah right, but then looks like in case it doesn't transform the the image, it still returns a perspective transform matrix not the identity. I updated the example code.

[2020-09-07 15:01] FGeri commented on #661
@edgarriba Ah right, but if it doesn't transform the image, it still returns a perspective transform matrix instead of the identity. I updated the example code.

[2020-09-07 15:51] FGeri commented on #661
The issue seems to be in ```functional.py``` that ```compute_perspective_transformation``` doesn't take into account if a transformation has been done or not.

[2020-09-08 08:13] #663 closed

[2020-09-09 04:57] shijianjian opened #670 "[Feat] Refactor the testing code for the augmentation"
## 🚀 Feature
I found the testing codes inside the augmentation are really messy now. I think we may generalize some common tests here. Commonly, for each transformation, we have:
- test_smoke
- test_random_p_0 (p set to 0)
- test_random_p_0_return_transform (p set to 0)
- test_random_p_1 (p set to 1)
- test_random_p_1_return_transform (p set to 1)
- test_random_p_half (manual force [True, False] f

[2020-09-09 06:12] #661 closed

[2020-09-09 14:32] shijianjian commented on #666
One comment here, if we want it to be trainable, we might need to use ```nn.Parameter```:
[code]

[2020-09-09 14:39] pmeier commented on #666
@shijianjian

True, but that already needs to be implemented to work at all. Thus, I think we don't need to worry about this while fixing this.

On a side node: I'm not sure if assigning an `nn.Parameter` is enough, but I think we should use [`nn.Module.register_parameter`](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.register_parameter) instead if it comes up.

[2020-09-09 15:02] shijianjian commented on #666
It shall be enough.

[code]

[code]

[2020-09-09 15:07] pmeier commented on #666
Yeah `register_parameter` does a more input checking, but at its core it does nothing else.

[2020-09-09 15:07] shijianjian commented on #492
Close via #482 with ```same_on_batch``` functionality.

[2020-09-09 15:07] #492 closed

[2020-09-10 09:32] FGeri commented on #670
@shijianjian I'd also suggest:
- shape consistency checks to ensure that all the augmentations return the same shape given the same input
- coordinate checks, to ensure that the img transformation is consistence with the returned transformation. (something like: some shape on a black background as input, than the the non black pixels on the transformed image shouldn't end up out of the img or on b

[2020-09-10 16:24] edgarriba opened #671 "[Bug] relative_transformation returns wrong transformation"
## 🐛 Bug

The function [`relative_transformation`](https://kornia.readthedocs.io/en/latest/geometry.linalg.html#kornia.geometry.linalg.relative_transformation) is not returning the correct relative transform given two random input transforms. We might have to take a look at [`compose_transformations`](https://kornia.readthedocs.io/en/latest/geometry.linalg.html#kornia.geometry.linalg.compose_trans

[2020-09-10 20:28] likitha-l opened #673 "[Bug] Computed gradients on Kornia Augmentation is None"
I would like to compute gradients either 1) on the input params 2) or on the internal params of Kornia Transformations. For reference the following snippet generates 'None' gradients on the parameters_aug that is passed to ColorJitter transformation of Kornia.  I am interested in knowing which transformations support computing gradients on its parameters? It looks like HomographyWarper does suppor

[2020-09-10 20:36] iacopomasi commented on #673
Dear Korina Team,
as @likitha-l  said,  we would like to know if there is a way to receive gradients either:

1. on the input to the transformation or
2. on some internals parameters that the transformation has such as `aug.jit['_params']` See below.

Thank you so much for your feedback.

[code]

[2020-09-11 01:41] iacopomasi commented on #673
I have created a [Colab to check the issue here](https://colab.research.google.com/drive/1MfW2zwRfRR5_Rarex9ZhXONEt2U23QYI?usp=sharing)

[2020-09-11 03:35] shijianjian commented on #673
Thanks for the issue. The current release does not support it. Please install master by:

```! pip install git+https://github.com/kornia/kornia.git```

I am still fine-tuning the functions. But here I can show you one example:

[code]

[code]

Note:
One thing I am not that confident is that the randomness generated from ```torch.distributions.Uniform``` will somehow break the gradcheck. Still look

[2020-09-11 03:52] shijianjian commented on #670
@FGeri Thanks for the suggestion here. I have added them in.

What do you think about the best testing style for the augmentation module here? I think it is visually more clear while we are thinking if it is suitable to use ```parameterize``` like this.

[2020-09-11 05:36] shijianjian commented on #520
@yutayamazaki are you still working on this? How's it going?

[2020-09-11 07:01] FGeri opened #674 "[Bug] RandomAffine3D throws an exception when used with scales"
## 🐛 Bug

RandomAffine3D throws an exception when used with scales

        if scale is not None:
            assert scale.shape == torch.Size([3, 2]), f"'scale' must be the shape of (3, 2). Got {scale.shape}."
            scale = torch.cat([
                _adapted_uniform((batch_size,), scale[0, 0], scale[0, 1], same_on_batch),
                _adapted_uniform((batch_size,), scale[1, 0], scale[

[2020-09-11 07:28] shijianjian commented on #674
You may update it from ```torch.cat``` to ```torch.stack```. Will fix it in the master soon.

[2020-09-11 13:44] pmeier opened #676 "_adapted_uniform is broken for tensors > 1 dimension and same_on_batch=True"
## 🐛 Bug

`kornia.augmentation.utils.helpers._adapted_uniform` is broken for `len(shape) > 1` and `same_on_batch=True`

## To Reproduce

[code]

[code]

[2020-09-11 14:08] pmeier opened #678 "Enable typing support"
## 🚀 Feature

Enable typing support for `kornia` so other packages can benefit from the type hints.

## Motivation

Currently `kornia` only uses the type hints to check for internal consistency. For other packages you get the following error message when running `mypy`:

[code]

[code]

## Pitch

To enable typing for other packages that depend on `kornia` we just need to put an empty file called `

[2020-09-11 15:32] Steve-Tod opened #680 "RandomResizedCrop gives same relative scale across batch samples"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

output:
[code]

## Expected behavior

Since I set `same_on_batch=False`, it should give different relative scales for different samples. However, in the corresponding items in the returned transformation matrix((0, 0), (1, 1)), we can see the numbers are the same, which is not expected.

## Environment

 - PyTorch Version (e.g.,

[2020-09-11 16:44] iacopomasi commented on #673
Thank you @shijianjian.

 I updated the [colab](https://colab.research.google.com/drive/1MfW2zwRfRR5_Rarex9ZhXONEt2U23QYI?usp=sharing) and indeed now the gradients take values. In my case though I get gradients either `NaN` or `zeros`. Sometimes I get lucky and with different initial input params, I am able to get good gradients but is rare.

From the test, I did yesterday even with the stable ver

[2020-09-12 09:36] #642 closed

[2020-09-12 11:50] #674 closed

[2020-09-12 15:29] #678 closed

[2020-09-13 08:05] shijianjian commented on #673
@iacopomasi The previous version might re-initialize the trained parameters. A bit dangerous I would say.

In my understanding, it should be straightforward if we use the provided reparametrized sampling `rsample` function like stated in [here](https://pytorch.org/docs/stable/distributions.html#pathwise-derivative). While it not pretty working regarding the proper tracable backpropergation there.

[2020-09-13 10:19] edgarriba commented on #680
/cc @shijianjian

[2020-09-13 10:37] shijianjian commented on #680
@Steve-Tod They are not same in your example.

[2020-09-13 11:13] FGeri commented on #670
Unfortunatly I still don't have access to the slack channel. But I think parametrise is fine to use here and the common features should be tested like that to ensure consistency within the augmentations modul. The same could be implememted for the 3d versions as well.

[2020-09-13 11:17] edgarriba commented on #670
@FGeri https://join.slack.com/t/kornia/shared_invite/zt-csobk21g-CnydWe5fmvkcktIeRFGCEQ
channel #testing

[2020-09-13 11:19] #676 closed

[2020-09-14 05:24] pmeier commented on #647
@shijianjian How do you want to proceed?

[2020-09-14 17:08] shijianjian commented on #647
I personally will not include a potential buggy function. Your implementation shall add a type check first to ensure ```low is int, high is int``` to guarentee the correct output. I am alright with either:

[code]
or
[code]

Both methods have some drawbacks here, the first one will only accept integers while the second one is a little slower.

[2020-09-15 07:19] NivNayman opened #682 "Backpropagation through Translation"
Hi,
Thank you for the wonderful package !
I have been trying to learn translation (x, y) parameters in the following manner:

`class DTranslation(nn.Module):
    def __init__(self, x_translation, y_translation):
        super(DTranslation, self).__init__()
        self.translations = torch.stack([x_translation, y_translation], 1)
        self.angle = torch.tensor([0])

    def forward(self, input)

[2020-09-15 08:32] edgarriba commented on #682
@NivNayman thanks for reporting this error. Could you try to run the code as said in the error message `with torch.autograd.set_detect_anomaly(True)` to see which operator raises this error? Besides, if you could also share a colab with this minimal example we can take it a look at it.

[2020-09-15 08:49] NivNayman commented on #682
Thank you for your replay.

Here is a link for the colab: https://colab.research.google.com/drive/1i9f82qltMn7gHqAfSyyt4qjvCHSc06Mz?usp=sharing
Please note that while rotation angle is learnt properly, translation raised this kind of errors.

The same error is raised when using `with torch.autograd.set_detect_anomaly(True)`:

`RuntimeError: Trying to backward through the graph a second time, but t

[2020-09-15 12:39] kshitij12345 commented on #682
Looking at the colab code, my suspicion is at
[code]

As you update the values here in-place.

[2020-09-15 12:41] NivNayman commented on #682
Thank you for the suggestion.
I also comment out those lines but still same error.

[2020-09-15 13:40] edgarriba commented on #682
@kshitij12345 @NivNayman maybe same applied here `M[..., 2] += translations  # tx/ty`  ?

[2020-09-15 13:57] NivNayman commented on #682
So, as I mentioned in the original post, for avoiding the inplace operation, I also tried replacing
`M[..., 2] += translations # tx/ty`
with:
shape = list(M.shape)
shape[-1] -= 1
M = M + torch.cat([torch.zeros(shape), translations.unsqueeze(-1)], 2)

[2020-09-16 16:08] shijianjian opened #685 "[Bug] Tests failed occasionally in Python 3.6"
## 🐛 Bug

It seems like ```test_essential.TestEssentialFromFundamental.test_from_to_fundamental``` will not always output similar outputs in different seeds.

I run the tests twice and this function failed twice with different outputs (the last time diff is 0.001 and this time is 0.004). Is it expected or we should somehow fix it?

## Expected behavior

## Environment

Please copy and paste the ou

[2020-09-17 08:19] #680 closed

[2020-09-17 14:16] shijianjian commented on #656
closed by #664

[2020-09-17 14:16] #656 closed

[2020-09-21 09:28] shijianjian commented on #682
@NivNayman This error is actually introduced by your initialization ```self.translations = torch.stack([x_translation, y_translation], 1)```. I think this line makes the learnable ```x_translation```, ```y_translation``` params invisible.

The below code worked for me.

[code]

[2020-09-21 14:55] NivNayman commented on #682
Wonderful ! It works now:
![learn_x_translation_0 30000001192092896_y_translation_-0 20000000298023224_entropy_0 01_step_](https://user-images.githubusercontent.com/29902065/93782432-3cb13700-fc33-11ea-91b8-073a224eeb0c.gif)

Indeed the **only** problem was  placing `        translations = torch.stack([self.x_translation, self.y_translation], 1)
` at the __init__() rather than in the forward().

F

[2020-09-21 14:56] #682 closed

[2020-09-22 02:09] shijianjian commented on #682
Hi @NivNayman, impressive gif you have made!

We are currently actively looking for tutorials/examples using Kornia, especially on those demonstrated differentiabilities in a world use cases. I think your example can be a very impressive one. Let me know if you are okay with making a jupyter notebook!

[2020-09-22 08:39] edgarriba opened #688 "[Feat] Bounding boxes geometry sub-module"
## 🚀 Feature

I open this feature request ticket to kickoff a dedicated sub-module to deal with different functionalities to work with bounding boxes. We already have some functionalities across the library that could be grouped in the same place under `kornia.geometry.transform.boxes`.

Different existing operations:

Found in: https://github.com/kornia/kornia/blob/master/kornia/geometry/transfor

[2020-09-23 17:19] NivNayman commented on #682
I suppose I can do that.

[2020-09-23 17:43] edgarriba commented on #682
@NivNayman please, join our slack community in case you want to discuss more on this

[2020-09-24 09:29] edgarriba commented on #559
/cc @ducha-aiki check: https://github.com/Project-MONAI/MONAI/pull/1020

[2020-09-24 16:18] dkoguciuk opened #690 "find_homography_dlt - possible improvement and usage"
## ❓ Usage

Hi, Kornia community. Did anyone use `find_homography_dlt` as a part of an end-to-end network? I am working on end-to-end image registration project and tried to incorporate it into the network architecture, without any success so far. I've set a small learning rate (i.e. 1e-6/8/10/12) and after a couple of iterations weights of my network explode - what's interesting, gradients do not

[2020-09-24 16:48] ducha-aiki commented on #690
Hi,

Welcome here and thanks for the reporting!

That is interesting problem. I understand that you probably could not share code, but may be you could create some minimal exploding example on tiny dataset - then I can look into and try to understand what's going on.

No particular reason, feel free to propose PR

[2020-09-25 08:28] edgarriba commented on #690
@dkoguciuk does it make any speed performance improvement ? we recently started to ask to provide small colabs to justify potential changes to improve current functionalities. You can check an example here: https://colab.research.google.com/drive/1dVHXicxHVPfUdyuYNdd4jOzx7JKtwqxb?usp=sharing

[2020-09-25 10:48] dkoguciuk commented on #690
Hi @ducha-aiki , Hi @edgarriba ,

thanks for the replies.

## find_homography_dlt usage

I was wrong. It looks like using `find_homography_dlt` always gives 0 gradients. Maybe I've messed something up, or maybe `find_homography_dlt` does not produce valid gradients. Did you check it?

I've prepared a minimal example to reproduce the error I got:  [HERE](https://github.com/dkoguciuk/kornia-homograp

[2020-09-25 12:19] ducha-aiki commented on #690
Hi,

Thanks! First, I have modified a bit your example here:

https://github.com/ducha-aiki/kornia-homography-backprop/blob/master/kornia_homography_backprop_single_example.ipynb

Specifically, overfit the single example

`for step in range(50):

    # Prepare ground truth
    #image_warped_np, corners_np, delta_gt_np, hom_gt_np = prepare_train_sample()
    image_warped_np, corners_np, delta_gt_np

[2020-09-25 14:43] edgarriba commented on #690
might be the case that the input matrix in svd is ill conditioned similar to what we found [here](https://github.com/kornia/kornia/blob/master/kornia/geometry/subpix/spatial_soft_argmax.py#L604) ?

[2020-09-25 14:53] dkoguciuk commented on #690
Hi @ducha-aiki ,

nice insights. I wasn't aware of that: `BN+ReLU for the output layer cannot in principle produce correct optical flow`, but if I think about it, you're right, it does make sense. Is it some urban knowledge? This is only toy model I've build to keep it simple, but thanks anyway.

I believe my biggest mistake was putting calculation of norm of gradients before loss.backward(), whic

[2020-09-25 15:15] edgarriba commented on #690
@dkoguciuk in fact. this should be the proper solution: https://www.reddit.com/r/compsci/comments/3chxty/what_should_i_do_with_an_illconditioned_matrix/

A for colab, we can use this one to find what values makes svd to crash
https://colab.research.google.com/drive/11np62TTbNnvFRJKvJUB5zTTyoaN8FfMu?usp=sharing

I don't know why random noise in that case solves the problem. /cc @ducha-aiki

[2020-09-25 15:20] ducha-aiki commented on #690
@dkoguciuk no, just from the fact that displacements == optical flow in your example was a)negative -> do not survive ReLU and big, e.g. 8,therefore would be scaled down by batchnorm. I am glad, that I helped :)

@edgarriba
Because for that particular case, it not that matrix was somehow singular, it was, in fact all zeros or all ones. That is why noise helped. Not sure for the general case...

[2020-09-27 23:04] ashwinipokle opened #691 "[Question] Significant difference in performance between Kornia and Torchvision image augmentations"
I have trained two models that use the same sequence of image augmentations but in Torchvision and Kornia and I’m observing a significant difference in the performance of these models. I understand that despite fixing random seeds, these augmentations might still be different which might cause some difference in the test accuracies, but on average, I assume that both of these models should end wit

[2020-09-28 01:35] shijianjian commented on #691
One difference between kornia and torchvision is the implementation of ColorJitter. You may refer to #565.

Not pretty confident but may need a different suite of parameters.

[2020-09-28 13:56] dkoguciuk commented on #690
@ducha-aiki , @edgarriba

I've edited the [collab](https://colab.research.google.com/drive/11np62TTbNnvFRJKvJUB5zTTyoaN8FfMu) that @edgarriba shared. There are two versions of the DLT function:

1) _vectorized - with the `A` and `w` creation I've mentioned in the first post.
2) _optional - with weights being an optional argument

Do you find those changes useful?

[2020-10-01 14:00] cbames commented on #611
In  **_compute_rotation_matrix(angle_axis, theta2, eps=1e-6):**
`
    k_one = 1.0  `
`    theta = torch.sqrt(theta2)  `
`    wxyz = angle_axis / (theta + eps)  `

if theta2 is zero, then on a backwards call, the gradient will become infinite. A simple fix is to add the already previously defined eps to theta2 instead of to theta. Although that could result in theta being very small compared to eps

[2020-10-02 10:36] edgarriba commented on #611
@cbames thanks ! could you send a small PR fixing this ? can we have a minimal test to verifying this ?

[2020-10-02 10:57] cbames commented on #611
Sure thing, I'll toss it on the todo list.

[2020-10-03 21:26] KushajveerSingh opened #692 "Broken link "InvDepthSmoothnessLoss""
## 📚 Documentation

In the documentation of this function https://kornia.readthedocs.io/en/latest/losses.html#kornia.losses.inverse_depth_smoothness_loss, the link is broken.

```See InvDepthSmoothnessLoss for details.```

The error is due to an incorrect name. The correct name should be `InverseDepthSmoothnessLoss`.

[2020-10-05 08:55] edgarriba commented on #690
@dkoguciuk please go ahead with a PR. As discussed in slack, consider this piece of code:
[code]

[2020-10-05 08:58] edgarriba commented on #692
@KushajveerSingh could you send a quick PR fixing the typo ?

[2020-10-05 16:18] apiszcz commented on #252
Was this fixed, ?, I am testing Konria 0.4.0 and still see the error.

AttributeError: module 'kornia.utils' has no attribute 'create_pinhole'

[2020-10-06 06:00] ceroytres commented on #493
Hi!

I was gonna suggest looking at the following implementation of the [binary focal loss from facebook](https://github.com/facebookresearch/fvcore/blob/master/fvcore/nn/focal_loss.py) (also currently used in the [detectron2](https://github.com/facebookresearch/detectron2/blob/8999946492ae6930a4b312dbbea952e326a9f1df/detectron2/modeling/meta_arch/retinanet.py)).

It's usage of ```F.binary_cross_e

[2020-10-06 08:11] shijianjian commented on #673
@iacopomasi To add, I think the ```Nan``` and ```0.``` comes from the param settings. If you use ```0.1``` for brightness adjustment, it will give you a very black image. I have tested several runs with below code (just higher brightness, contrast and saturations), it shall be fine:
[code]

[2020-10-06 09:40] dkoguciuk commented on #690
Merged in #693

[2020-10-06 09:40] #690 closed

[2020-10-07 21:58] edgarriba commented on #493
@ceroytres check: https://github.com/kornia/kornia/pull/506

[2020-10-07 23:40] ceroytres commented on #493
@edgarriba Sorry, I wasn't sure whether to post the suggestion on here or the pull request.

[2020-10-08 06:49] edgarriba commented on #493
@xen0f0n do you need help with this? @ceroytres that PR needs a rebase

[2020-10-08 08:23] #692 closed

[2020-10-08 11:43] xen0f0n commented on #493
@edgarriba I've just made another PR #699.
My apologies for the delay and for any confusion caused!
I WILL make another PR for a MulticlassFocalLoss (or SoftmaxFocalLoss) where I'll give the various alpha factors as a Tensor.

[2020-10-08 13:59] edgarriba opened #700 "[ROADMAP] Kornia v0.5.0"
This is the roadmap for **kornia v0.5** that will focus on the package stability.

Expected date release: _mid-November according to PyTorch v1.7._

Check the [PROJECT](https://github.com/kornia/kornia/projects/6) tab and feel free to volunteer yourself if you are interested in trying out some items.
Please, take a read on the [CONTRIBUTING](https://github.com/kornia/kornia/blob/master/CONTRIBUTIN

[2020-10-08 14:42] bluesky314 commented on #565
This is an interesting discussion, if more things could be pointed out

[2020-10-09 07:30] Zumbalamambo opened #701 "[Docs] Retrieve the depth image from Pointcloud"
I have got the Pointcloud, Camera Intrinsic, and Camera Extrinsic Parameters. Is it possible for Kornia to retrieve the depth image using these data?

[2020-10-09 09:26] edgarriba commented on #701
@Zumbalamambo You can achieve it using [`project_points`](https://kornia.readthedocs.io/en/latest/geometry.camera.perspective.html#kornia.geometry.camera.perspective.project_points) + [`remap`](https://kornia.readthedocs.io/en/latest/geometry.transform.html?highlight=remap#kornia.geometry.transform.remap). I'm working on a similar example, I hope after publishing I can provide an example :)

[2020-10-09 10:09] Zumbalamambo commented on #701
@edgarriba thank you! could you please share with me a minimal example? :)

[2020-10-09 13:24] edgarriba opened #702 "[Feat] Bilateral filter"
## 🚀 Feature

Would be great to have a differentiable version of Bilater Filtering `kornia.filter.bilateral_blur`

We can follow opencv signature:
https://docs.opencv.org/3.4/d4/d86/group__imgproc__filter.html#ga9d7064d478c95d60003cf839430737ed

Resource: http://jamesgregson.ca/bilateral-filtering-in-python.html

[2020-10-09 16:58] narain1 opened #703 "[Feat] jpeg decompression using pytorch"
## 🚀 Feature

## Motivation

### as many operations on the TPU use cases are IO bound an alternative would be to decompress JPEG on the TPU so the overhead on the CPU can be reduced

## Pitch

[2020-10-09 17:28] swiss-knight opened #704 "[Question] Why a left-handed camera reference frame?"
https://github.com/kornia/kornia/blob/master/docs/source/data/pinhole_model.png

Why the choice of a left-handed coordinate system was done for the camera reference frame?

Most of the frameworks make use of a right-handed coordinate system.

[2020-10-09 21:55] allanbatista opened #705 "[Feat] Input value range converting from (0, 255) to (0, 1)"
## 🐛 Bug

When try to use **ColorJitter** all images become BLACK.

## To Reproduce

https://colab.research.google.com/drive/1xtuFk-jcrJON47ZHxw28Ig9BKPamR85n?usp=sharing

## Environment

Colab

[2020-10-10 16:23] FGeri commented on #705
@allanbatista Kornia augmentations expects the images to be scaled to [0,1], so if you divide the input by 255 before the augmentation then multiply it by 255 for display it should be fine.
@shijianjian @edgarriba I don't seem to find this in the docs now. Also some runtime validation would be nice to avoid such situations.

[2020-10-11 03:33] shijianjian commented on #705
We current only checked if the dtype is float or not. Will add this test soon.

[2020-10-11 12:55] edgarriba commented on #705
All the library assumes inputs to be normalised between 0/1. We can improve documentation on this.

I don't think it's a good Idea checking ranges here, since it might hurt to the performance at running times. Besides, since we assume batched inputs might be a bit tricky.

[2020-10-11 13:06] edgarriba commented on #607
@theRealSuperMario still any interest on this? I think we can start with easy functionalities like drawing lines or rectangles as utility functions in `kornia.utils.image`

I can implement myself for drawing rectangle. /cc @anguelos

[2020-10-11 13:09] edgarriba commented on #76
Closing as we discussed since our depencies graphs is relatively small and pip can resolve that even inside conda.

[2020-10-11 13:09] #76 closed

[2020-10-11 16:19] allanbatista commented on #705
Thanks @FGeri , this works well now. But is some weird, some augmentation works well with "255" pixels and others not.
So, I agree with @edgarriba this not a good idea to try to "understand" what kind a data are in the input. Is better to make this explicit on doc. :)

[2020-10-12 04:20] shijianjian commented on #705
Yes. We will make this more specific in the docs.

Most geometric transformations may work because they may not need to modify the inner pixels.

Also, I am thinking of having something like ```K.StandardizeInput2D``` and ```K.StandardizeInput3D``` to help standardize the input sequence as:
[code]

But not sure if it is necessary since it will be useless if the user is familiar with the lib. The o

[2020-10-12 06:15] shijianjian commented on #700
BTW, I will be working on #520 shortly.

---

We should also put "supporting all torch versions" into the list as well. It will be a must I suppose, especially when we get more users. I do not want to alter my torch version when installing kornia. The easiest approach I can think of is to use:
[code]

Probably a global switch like ```K.augmentation.backend='opencv'``` and ```K.augmentation.backend

[2020-10-12 06:58] skyoung opened #707 "[Feat] Add the `same_on_batch` for random motion blur"
https://github.com/kornia/kornia/blob/6292943088cbb32adf323ebdb497d3e5f290f19e/kornia/augmentation/augmentation.py#L803-L804

Current implementation of `RandomMotionBlur` misses the flag of `same_on_batch` to set batch mode. Please add this in a later release. Thanks.

[2020-10-12 12:25] edgarriba commented on #705
@shijianjian isn't standarise already `Normalize` ops ?

[2020-10-12 16:08] shijianjian commented on #705
@edgarriba Not meant ```Normalize``` here. Something similar as ```ToTensor()``` in Torchvision.

[2020-10-12 19:20] wyli commented on #559
Hi @edgarriba I'm pushing a refined gaussian1d to monai,
but this implementation is not differentiable https://github.com/Project-MONAI/MONAI/pull/1097

[2020-10-13 00:58] keep-beyond opened #709 "compute_padding asymetric index loop"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
`Out[2]: [2, 2, 2, 3]`

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version

[2020-10-13 09:08] shijianjian commented on #707
Makes sense. It should be relatively easy to do.

https://github.com/kornia/kornia/blob/6292943088cbb32adf323ebdb497d3e5f290f19e/kornia/filters/filter.py#L99

I think the easiest approach is to edit the kernel in ```filter2D``` and ```filter3D```. It is currently repeated by ```c``` times. \cc @edgarriba

[2020-10-13 10:10] ducha-aiki commented on #559
@wyli I don't see why the implementation is not differentiable. I mean, kernel generation does not to be differentiable, we just need weight to do convolution then.

[2020-10-13 10:14] wyli commented on #559
Yes, it is differentiable :) there were some errors in the recursion, the latest commit fixes it and seems to work fine. I'm adding some unit tests about the gradient to confirm it.

[2020-10-13 12:15] edgarriba commented on #559
@wyli @tvercaut do you already have any working real use cases showing the difference for using continuous and discrete kernels ?

[2020-10-13 13:04] tvercaut commented on #559
@edgarriba If you only care about smoothing an image somewhat, any bell shaped kernel will do the trick. For many (most?) use cases, I assume this won't make any noticeable difference.

If you need more fine-grained scale-space analysis, the difference between the sampled Gaussian and the discrete Gaussian however can start to matter. For example applying N times a Gaussian with standard deviation

[2020-10-13 14:26] shijianjian opened #711 "[Feat] Align pyramid module with torch 1.6.0"
There is an update warning introduced by torch 1.6.0 that needs to be solved for the pyramid module.

[code]

[2020-10-14 07:52] shijianjian opened #715 "[Feat] Update the default values for align_corners and interpolation"
## 🚀 Feature

Proposal:
- ```align_corners = True``` for all augmentations (potentially some functional as well)
- ```interpolation = 'nearest', align_corners = True``` for all cropping augmentations and functional.

Relevant issues:
#485
#546
#617

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-10-14 08:57] edgarriba commented on #559
@tvercaut I'll checkout thanks :)
@wyli we can try to generalize the functionalities and have `kornia.filter.gaussian` and `kornia.filter.gaussian_discrete` ? We are releasing in a month or v0.5. We could introduce this as part of kornia by that time in case you consider that can be useful.

[2020-10-14 09:29] justanhduc commented on #565
One more thing I would like to point out is that the in the pip version, `ColorJitter` produces a tensor rank 4 for input shape rank 3. Not sure if this is fixed in master yet.

[2020-10-15 02:33] shijianjian commented on #565
@justanhduc Not fixed yet. It was an intended behaviour in previous versions, that all input will be transformed into BCHW format for 2D augmentations. It can be fixed but not sure if it is in need or not.

Can you open a new issue for this?

[2020-10-15 09:01] #494 closed

[2020-10-15 09:01] #503 closed

[2020-10-15 09:02] #476 closed

[2020-10-15 09:02] #505 closed

[2020-10-15 09:02] #190 closed

[2020-10-15 09:02] #547 closed

[2020-10-15 09:02] #388 closed

[2020-10-15 09:02] #555 closed

[2020-10-15 09:02] #558 closed

[2020-10-15 09:02] #581 closed

[2020-10-15 09:02] #551 closed

[2020-10-15 09:02] #457 closed

[2020-10-15 09:02] #589 closed

[2020-10-15 09:02] #590 closed

[2020-10-15 09:02] #593 closed

[2020-10-15 09:02] #585 closed

[2020-10-15 10:23] #209 closed

[2020-10-15 10:23] #165 closed

[2020-10-15 10:23] #159 closed

[2020-10-15 10:23] #143 closed

[2020-10-15 10:23] #60 closed

[2020-10-15 10:23] #181 closed

[2020-10-15 10:23] #194 closed

[2020-10-15 10:23] #270 closed

[2020-10-15 10:23] #300 closed

[2020-10-15 10:23] #175 closed

[2020-10-15 10:23] #274 closed

[2020-10-15 10:23] #223 closed

[2020-10-15 10:23] #346 closed

[2020-10-15 10:23] #317 closed

[2020-10-15 10:23] #368 closed

[2020-10-15 10:24] #380 closed

[2020-10-15 10:24] #386 closed

[2020-10-15 10:24] #387 closed

[2020-10-15 10:24] #390 closed

[2020-10-15 10:24] #400 closed

[2020-10-15 10:24] #426 closed

[2020-10-15 10:24] #435 closed

[2020-10-15 11:38] #138 closed

[2020-10-15 11:38] #353 closed

[2020-10-15 11:38] #463 closed

[2020-10-15 11:38] #452 closed

[2020-10-15 11:38] #466 closed

[2020-10-15 14:17] sizhky opened #719 "[Question] ValueError: 255 is not a valid SamplePadding"
## 🐛 Bug

Unable to use custom integer for padding pixels in RandomAffine and RandomPerspective

## To Reproduce

Steps to reproduce the behavior:
[code]
[code]
## Expected behavior

Expect to pad the pixels with white color

[2020-10-16 05:16] shijianjian commented on #719
PaddingMode can only be:
[code]

It cannot be pointed to a random number since it is not supported by [grid_sample](https://pytorch.org/docs/stable/nn.functional.html#torch.nn.functional.grid_sample).

[2020-10-16 19:58] wyli commented on #559
sure, I can try to create a PR as a non-breaking new feature to kornia, or help review a PR if someone is already working on this ticket

[2020-10-17 10:17] #434 closed

[2020-10-17 19:38] mmathew23 commented on #607
@edgarriba, I'm certainly interested in helping and have capacity as well. Have you started on rectangle yet? I'm happy to use that as a reference and work on the remaining functions.

[2020-10-18 06:05] RoyiAvital opened #720 "Add Support for Separable Filters / Kernels"
## 🚀 Feature
Add support for Separable 2D Filters / Kernels in Kornia in a manner which takes advantage of their separability property to gain  computational efficiency.

## Motivation

The current [Filter Module](https://kornia.readthedocs.io/en/latest/filters.html) supports arbitrary 2D filter. Yet it doesn't support a [Separable 2D Filter](https://en.wikipedia.org/wiki/Separable_filter) (Also s

[2020-10-18 12:28] edgarriba commented on #720
@RoyiAvital thanks for suggesting this ticket. We actually discussed that at some point with @wyli too.

One possible way could be to have something similar to OpenCV `cv2.sepFilter2D` -> `kornia.Filter2D_separable` ? /cc @ducha-aiki
https://docs.opencv.org/master/d4/d86/group__imgproc__filter.html#ga910e29ff7d7b105057d1625a4bf6318d

What do you think guys ?

[2020-10-18 12:30] edgarriba commented on #607
@mmathew23 haven't started yet. Feel free to go ahead. One possible API would be `kornia.utils.rectangle(image: torch.Tensor, boxes: torch.Tensor) -> torch.Tensor` where image `BxCxHxW` and boxes `BxNx4`.

[2020-10-18 18:38] edgarriba commented on #559
@wyli that sounds good we could try to target to include this feature for v0.5

[2020-10-18 18:41] #719 closed

[2020-10-18 18:42] edgarriba commented on #466
@ducha-aiki is this relevant anymore ?

[2020-10-18 18:44] edgarriba commented on #467
@ducha-aiki can you leave here or maybe do a quick note update what should be the config to replicate SIFT you used in your benchmark ?

[2020-10-18 18:52] edgarriba commented on #463
can be done through `normalize_transformation`
https://github.com/kornia/kornia/blob/df93618db8bb393d2eedcdee2c39b8a80eba8cc7/kornia/geometry/epipolar/fundamental.py#L49

[2020-10-18 19:04] edgarriba commented on #353
@anibali @pablovela5620 was this issue solved ?

[2020-10-18 21:26] anibali commented on #353
@edgarriba Yes, I think so. It seems like it was an issue related to confusing similarly named functions with each other. The naming has since been clarified (`spatial_softargmax_2d` -> `spatial_expectation2d`)

[2020-10-19 02:38] justanhduc commented on #565
@shijianjian sure. If it'snot too urgent I may work on a PR for the problem.

[2020-10-19 02:50] justanhduc opened #721 "[Bug] Mismatched input and output shapes in Augmentations"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Simply applying `ColorJitter` to an RGB image would produce the batch version.
First discussion was [here](https://github.com/kornia/kornia/issue_comments/708281134).

[code]

## Expected behavior

Output should have the same shape as input.

## Additional context

Maybe it is the originally intended behavior, but I think it is too rigid

[2020-10-19 06:11] shijianjian commented on #721
Not only ColorJitter. All augmentations were designed to input everything then output BCHW for 2D, BCDHW for 3D. It could be very straightforward if updating the code in ```_AugmentationBase```.

Since it gonna change a lot of behaviours, we shall discuss it first.

@edgarriba, @FGeri , @ducha-aiki What are you guys thinking? Shall we update the code to align the input shape?

[2020-10-19 06:38] edgarriba commented on #721
I would return always the same shape as the input.

[2020-10-19 06:46] edgarriba commented on #353
Great, thanks!

[2020-10-19 06:48] FGeri commented on #721
I'd also go for not changing the shape.

[2020-10-19 08:03] shijianjian commented on #721
@justanhduc Please go-ahead for a PR if you are okay to do so!

[2020-10-19 09:36] edgarriba commented on #444
https://github.com/kornia/kornia/pull/471 has to be finished

[2020-10-19 09:37] edgarriba commented on #444
@pabloppp @smounsav any help on this would be great

[2020-10-19 09:43] edgarriba commented on #293
There's an offline implementation process going on this.

[2020-10-19 09:47] edgarriba commented on #289
@otaj Is there any way we can show the usage of this ? We have a blog now where would be great to have a small tutorial to see how is this used

[2020-10-19 09:50] edgarriba commented on #428
@elistevens morphology is in work in progress. What about measurements ? Could you open an ticket reporting what do you think it makes sense to have ?

[2020-10-19 09:51] otaj commented on #289
@edgarriba Usage of what? AUR package? You mean installation instructions on Arch? `<your favourite AUR helper> -S python-kornia` or `<your favourite AUR helper> -S python-kornia-git` for git version.

Since `yay` is currently probably most often used AUR helper, you can even simplify it to `yay -S python-kornia` or `yay -S python-kornia-git`

Is this what you had in mind?

[2020-10-19 10:01] edgarriba commented on #289
yeah probably, a short entry explaining what exactly AUR or Arch are, showing links (or screenshots) wth few commands.
Maybe some users don't even know how to use or the existence of AUR.

Check our blog - https://github.com/kornia/kornia-blog

You can easily create a post/tutorial with simple markdown sending a PR to our github
https://github.com/kornia/kornia-blog/blob/master/_posts/2020-08-07-k

[2020-10-19 10:03] edgarriba commented on #426
@ducha-aiki @VRandme any possible actions here ? Otherwise let's keep this conversation closed.

[2020-10-19 10:04] edgarriba commented on #435
Introduced in #458

[2020-10-19 10:06] edgarriba commented on #387
@shijianjian can you take a look at this ?

[2020-10-19 10:09] edgarriba commented on #368
@ducha-aiki is this still relevant ? How separable functionality can help with this ?

[2020-10-19 10:13] otaj commented on #289
AUR (Arch User Repository) is a system of sharing packages for Arch Linux, one of Linux distributions (i.e. same relationship as PPA (personal package archive) for Ubuntu).

I doubt that people, who are using Arch, don't know, what AUR is and people, who are not using Arch will not use AUR anyway.

I will definitely not create blog post explaining what is Arch or AUR for kornia, that just doesn't

[2020-10-19 10:20] edgarriba commented on #289
@otaj I'll leave this issue open in case anyone want to create a tutorial on that.

In any case, thanks for maintaining the package.

[2020-10-19 10:23] edgarriba commented on #347
@ananyamukh6 probably yes. /cc @shijianjian

[2020-10-19 10:24] edgarriba commented on #239
This is a work in progress https://github.com/kornia/kornia/pull/712

[2020-10-19 10:26] edgarriba commented on #223
@shijianjian @FGeri consider this discussion for the testing refactor

[2020-10-19 10:31] edgarriba commented on #278
/cc mmathew23 consider this as well

[2020-10-19 10:31] ducha-aiki commented on #720
At some point, we were discussing this :)
https://github.com/kornia/kornia/issues/368

There are two aspects of such functionality:

1) Having functionality for the sake of itself, e.g. to allow people to port their code from OpenCV or to learn separable kernels.
That, I think, is a good and clear benefit.

2) Having separable filters for the speed-up.

That is, while being great in theory, was no

[2020-10-19 10:32] edgarriba commented on #270
solved

[2020-10-19 10:34] edgarriba commented on #257
@ducha-aiki should we consider this again ? There's chamfer distance in Pytorch3D but it's meant for pointclouds. Is there any specific that could be applied for 2D images ?

[2020-10-19 10:40] edgarriba commented on #225
We accept `device` but no `dtype`

[2020-10-19 10:43] edgarriba commented on #60
@ClementPinard are there any specific actions that could be taken here or any improvement in the API, add extra missing loss to this ? Otherwise we can leave this closed.

[2020-10-19 10:48] edgarriba commented on #199
@shijianjian consider this with nn module

[2020-10-19 10:49] edgarriba commented on #585
already introduced in v0.4.x

[2020-10-19 10:50] edgarriba commented on #593
merged https://github.com/kornia/kornia/pull/650

[2020-10-19 10:55] edgarriba commented on #551
@iimog @hal-314 can you guys verify is this issue it's still relevant. Feel free to open again, otherwise let's keep it closed.

[2020-10-19 10:58] edgarriba commented on #558
@lferraz is this still relevant ?

[2020-10-19 11:01] edgarriba commented on #451
@v-prgmr @MohitLamba94 @Auth0rM0rgan anyone interested in contributing with this ?

[2020-10-19 11:04] edgarriba commented on #483
@krrish94 any update on this ?

[2020-10-19 11:07] edgarriba commented on #547
@ducha-aiki is this still relevant ? /cc @shijianjian I think there was a recent discussion on changin align corners is some augmentations, right ?

[2020-10-19 11:11] edgarriba commented on #422
this is related https://github.com/kornia/kornia/pull/641

[2020-10-19 11:12] edgarriba commented on #473
@v-prgmr can you share any code ?

[2020-10-19 11:15] edgarriba commented on #499
@anibali can you check this ?

[2020-10-19 11:17] edgarriba commented on #494
solved https://github.com/kornia/kornia/pull/482

[2020-10-19 11:19] edgarriba commented on #477
/cc @shijianjian  can you check this ?

[2020-10-19 11:22] iimog commented on #551
I can confirm that the issue with fixed alpha still exists. #699 solves this problem for the binary case. It is not straightforward to do this for the multi class case. I'm okay with keeping this closed. If I need focal loss with different alphas I'm currently using: https://docs.monai.io/en/latest/losses.html#focalloss

[2020-10-19 11:24] edgarriba commented on #707
@skyoung can you send a PR with this ?

[2020-10-19 11:26] edgarriba commented on #709
@keep-beyond can you send a PR with the fix ? possibly with a unit test

[2020-10-19 11:28] edgarriba commented on #704
@swiss-knight I think it's just an issue for this image representation. Have you found any specific issue on the code for this ?

[2020-10-19 11:29] edgarriba commented on #703
@narain1 any suggestion about how to start doing that ? Seems a nice feature to consider.

[2020-10-19 11:33] #493 closed

[2020-10-19 11:35] edgarriba commented on #192
The task would be to check which test have missing JIT test and implement:
[code]

[2020-10-19 11:45] edgarriba commented on #551
@iimog great, thanks for pointing out. I'll open open a ticket to support multi class. I guess not only medical imaging needs this.

[2020-10-19 11:51] edgarriba opened #722 "[Feat] Add support to focal loss for multi class case"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-10-19 11:55] iimog commented on #551
My pleasure! I think so, too. Thanks for your great work.

[2020-10-19 12:42] edgarriba opened #723 "[Bug] Geometry conversions seems to be broken"
## 🐛 Bug

The module `kornia.geometry.conversions` appears to have several functionalities around quaternion/angle_axis/rotation_matrix that seem to not produce the expected results.

I list here the different tickets opened around this issue:
- https://github.com/kornia/kornia/issues/209#event-3880757962
- https://github.com/kornia/kornia/issues/590#event-3880399342
- https://github.com/kornia/ko

[2020-10-19 12:43] edgarriba commented on #723
@krrish94 Do you think that https://github.com/kornia/kornia/issues/483 will help to fix the issue around this ?

[2020-10-19 12:44] edgarriba commented on #209
@cvfish Any idea where the exact issue might be ?

[2020-10-19 12:44] edgarriba commented on #590
@AnkaChan Any idea where the exact issue might be ?

[2020-10-19 12:44] edgarriba commented on #457
@chiragraman Any idea where the exact issue might be ?

[2020-10-19 12:45] edgarriba commented on #581
@kaufManu Any idea where the exact issue might be ?

[2020-10-19 13:14] edgarriba commented on #715
/cc @ducha-aiki what's your opinion on this ? you tested at some point this

[2020-10-19 13:17] edgarriba commented on #711
@shijianjian which pyramid implementation ? /cc @ducha-aiki how can affect this to the current implementation ?

[2020-10-19 13:18] edgarriba commented on #705
What action should we take here ? I vote to update docs at first.

[2020-10-19 13:21] edgarriba commented on #691
@FGeri can you check this. You did some speed improvements on color jitter

[2020-10-19 13:24] edgarriba commented on #673
@likitha-l can you check what @shijianjian proposes ? we tested and should work now. Otherwise, this issue will be closed.

[2020-10-19 13:27] edgarriba commented on #666
@pmeier is this fixed ?

[2020-10-19 13:29] edgarriba commented on #658
@twmht any update on this ?

[2020-10-19 13:31] narain1 commented on #703
here is a good resource on jpeg decompression

[https://yasoob.me/posts/understanding-and-writing-jpeg-decoder-in-python/](url)

but the problem i still see here is we have to dis-assemble the file on the CPU and the we can move it as matrices to the target device

[2020-10-19 13:38] edgarriba commented on #629
@pmeier @shijianjian any action to finally take on this ?

[2020-10-19 13:39] edgarriba commented on #565
@shijianjian what actions are we taking on this ?

[2020-10-19 13:41] edgarriba commented on #520
@shijianjian what's the approach we take on this ?

[2020-10-19 13:44] edgarriba commented on #720
@wyli would MONAI take benefit for having such low level functionality ?

[2020-10-19 13:48] edgarriba commented on #703
@narain1 feel free to draft a dummy approach first. We can think later how to optimise

[2020-10-19 13:52] pmeier commented on #666
Nope. I'll see if I have time this week to send a PR. Otherwise I'll get back to you.

[2020-10-19 14:38] edgarriba opened #725 "[ROADMAP] Kornia General Roadmap"
Please check the General Roadmap project tab
https://github.com/kornia/kornia/projects/8

In case you want to contribute with any task check the issues with `help wanted` tag
https://github.com/kornia/kornia/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2020-10-19 14:43] shijianjian commented on #711
The whole module functions which utilized ```F.interpolate``` needs to be updated.

[2020-10-19 14:45] shijianjian commented on #707
This functionality has already been included in #713. Will finalize the PR soon.

[2020-10-19 14:47] shijianjian commented on #705
Yes. Will update the docs for sure. May implement ```Kornia.TensorStandardize``` or so later. Low priority.

[2020-10-19 14:51] shijianjian commented on #565
As afore discussed, we will not update the lib for PIL behaviours. But if #691 is true, then I think we shall consider adding another suite of PIL backend.

[2020-10-19 14:55] shijianjian commented on #688
One function not sure about ````K.geometry.linalg.transform_boxes``, should be included or not?

[2020-10-19 14:58] shijianjian commented on #637
Added in #639 #653

[2020-10-19 14:58] #637 closed

[2020-10-19 15:01] shijianjian commented on #477
Union type is currently unsupported in torchscript.

Issue: https://github.com/pytorch/pytorch/issues/41412

Partial workaround: https://github.com/kornia/kornia/pull/684#pullrequestreview-492876119. After tested, this workaround worked for input Union type but not the return Union type.

[2020-10-19 15:31] edgarriba commented on #705
what about `NormalizeTensor()`?

[2020-10-19 17:09] elistevens commented on #428
I'm not sure what I'd put in the ticket that's not already in this one. Can't you reopen this ticket? I don't have working implementations of label or center of mass, so I don't have much to contribute there.

[2020-10-19 17:27] smounsav commented on #444
Hi, I will be happy to help.
What do you need us to do exactly?

Le lundi 19 octobre 2020 à 05:37:44 UTC−4, Edgar Riba <notifications@github.com> a écrit :

@pabloppp @smounsav any help on with would be great

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-19 17:28] ducha-aiki commented on #467
Sure

[2020-10-19 17:28] ducha-aiki commented on #466
I think, not

[2020-10-19 17:33] edgarriba commented on #444
@smounsav check https://github.com/kornia/kornia/pull/471 needs to be polished and implement some tests.

[2020-10-19 19:45] #707 closed

[2020-10-19 21:55] tvercaut commented on #702
Such a feature would be great. Especially if it also works in 3D and is implemented in CUDA (or rather running efficiently on the GPU). See e.g. for a starting point in CUDA:
https://github.com/opencv/opencv_contrib/blob/master/modules/cudaimgproc/src/cuda/bilateral_filter.cu
http://developer.download.nvidia.com/compute/DevZone/C/html_x64/Image_Processing.html#bilateralFilter

[2020-10-19 22:54] anibali commented on #499
@edgarriba I just wrote a quick test and it does appear that `js_div_loss_2d` fails on non-contiguous inputs. What's your policy on this? Are users expected to make the inputs contiguous themselves when required?

[code]

[2020-10-20 06:24] justanhduc commented on #721
Ok I will try to work on it asap.

[2020-10-20 06:42] shijianjian opened #729 "[Bug] Wrongly overwrite the same torch version with different CUDA versions"
## 🐛 Bug

In my machine, I use torch+cu101. But if run ```pip install kornia```, it will re-install the torch, but I actually need torch+cu101. It is better to ignore the suffix CUDA labels whilst running.

## Expected behavior

It should not overwrite torch despite the CUDA versions.

[2020-10-20 06:43] shijianjian commented on #705
I would try to avoid the confusion between ```Normalize``` and ```NormalizeTensor```. Or maybe ```AsDifferentiableTensor```?

I think we might support the conversion from ```torch.int8, torch.int16``` (assume BCHW, CHW, HW), ```numpy.uint8, numpy.uint16``` (assume BHWC, HWC, HW).

Probably include ```volume_to_tensor```, ```tensor_to_volume``` as well, similar to the existing ```image_to_tensor```

[2020-10-20 06:59] mmathew23 commented on #607
One doubt I have is the differentiable part. Opencv and PIL both write to memory directly when drawing. Going this route allows the color of the drawing to be differentiable but not the location. My initial thought was to use grid_sample or warping, but not sure if there is a better alternative.

[2020-10-20 07:52] theRealSuperMario commented on #607
There is No need for differentieability. IT IS Just for visualization.

DoubleMathew <notifications@github.com> schrieb am Di., 20. Okt. 2020,
09:00:

[2020-10-20 12:38] edgarriba commented on #607
we can start first with non-differentiable

[2020-10-20 13:56] edgarriba commented on #705
+1 for  `volume_to_tensor` and `tensor_to_volume` -> open a separated ticket with the feature request

As for to tensor, why not just `ToTensor` ? I guess pytorch users would be already used to it.

[2020-10-21 03:38] shijianjian commented on #705
Because ```ToTensor``` is for converting numpy array / PIL image into a torch tensor, while we are accepting tensor / array. I feel it is better to differentiate it.

If I got a uint8 tensor, then calling ```ToTensor``` is not really making sense.

[2020-10-21 08:03] edgarriba commented on #702
@tvercaut not sure we are going to support custom cuda kernels for now. I would go first for a naive solution using plane pytorch

[2020-10-21 08:36] #499 closed

[2020-10-21 08:42] tvercaut commented on #702
OK, I played a bit with it. For a simple 449 x 359 image and a spatial kernel diameter of 9, I ended up with these timings (the pytorch based version is buggy but I would think the timing is roughly OK):
[code]
The CPU-GPU IO is not counted.

[2020-10-21 08:46] edgarriba commented on #702
@tvercaut great ! consider submitting a PR. We can assist you to complete

[2020-10-21 09:21] gianscarpe opened #734 "[Feat] NDC conversion"
## 🚀 Feature

I would find useful a differentiable  conversion to Normalized Device Coordinate [NDC].
## Motivation
I've found only numpy implementation. I think it would be straightforward to implement this in pytorch, following https://www.songho.ca/opengl/gl_transform.html

## Pitch
Convert a set of 3d points into Normalized Device Coordinates; useful for pose estimation / depth estimation pipe

[2020-10-21 09:31] edgarriba commented on #734
@gianscarpe this is a good idea. What would be the API for this ?

[2020-10-21 20:02] mmathew23 commented on #607
Sounds good. Will start with a basic implementation of line and rectangle. My current prototype edits the image tensors in place, which mimics opencv. Is there a preference to operate on a copy instead?

@edgarriba, to clarify, when you mentioned boxes as BxNx4, I assume N refers to the number of boxes you want to draw for the batch?

[2020-10-21 20:14] edgarriba commented on #607
@edgarriba yes, N boxes per batch. As for in place or not, I don't have a strong opinion on that but I believe that since the intention for now is to not use it for backprop we can do it in that way.

[2020-10-22 09:59] hal-314 commented on #551
Hi, I have written a FocalLoss implementation built upon my previous implementation. I think it mainly follows Kornia losses style and supports binary, multiclass and multilabel classification.

I believe its correct. The main difference with Monai impl is that I used pytorch builtin loss functions instead of doing it manually.

[code]
You can test it:

[code]

[2020-10-22 10:04] edgarriba commented on #551
@hal-314 could you send a PR with the fixes ?

[2020-10-22 11:30] #559 closed

[2020-10-22 11:31] hal-314 commented on #551
@edgarriba I'll try to do it next week when I'll have some free time.

Regarding backwards compatibility, ¿do I need to keep it? If yes, can I change `alpha`  to `alphas` as it make more sense?
`class FocalLoss(alpha: float, gamma: float = 2.0, reduction: str = 'none')` <- Current FocalLoss
`class FocalLoss(**alphas**: float, gamma: float = 2.0, reduction: str = 'none', type='binary')` <- Proposed

[2020-10-22 13:10] gianscarpe commented on #734
I think the main API `homogeneuous_to_ndc_coordinates` could use an auxiliary `_compute_GL_projection_matrices` to compute the perspective matrces. It requires the `intrisics` of the camera. I didn't find an API for computing `intriniscs` and `extrinsics` from PinholeCamera (e.g., using QR decomposition). This could be a second, useful feature, I'll open a second issue if necessary

[code]

[2020-10-22 13:14] edgarriba commented on #734
@gianscarpe it looks good. Maybe we could mimic some other functionalities too from opengl :)

[2020-10-22 13:32] gianscarpe commented on #734
Sounds good to me! I'd like to start contributing to Kornia. I love the project and find it useful for the community

[2020-10-23 08:04] edgarriba commented on #551
@hal-314 that sound good. Let continue this conversation in #722

[2020-10-23 08:14] edgarriba opened #738 "[Feat] Support JIT for augmentations"
## 🚀 Feature

Would be great to support torchscript for the augmentations.

## Motivation

Current issue is that the return type is variable based on the flag `return_transform` whether to return just a tensor with the augmenated image or return a tuple including both the augmented image and the batch of applied/concatenated transforms.

## Pitch

https://colab.research.google.com/drive/1ZblfmGbjk

[2020-10-23 08:31] hal-314 commented on #722
Copy from #551 :

---
 I'll try to do it next week/two weeks when I'll have some free time.

Regarding backwards compatibility, ¿do I need to keep it? If yes, can I change alpha to alphas as it make more sense?
class FocalLoss(alpha: float, gamma: float = 2.0, reduction: str = 'none') <- Current FocalLoss
class FocalLoss(alphas: float, gamma: float = 2.0, reduction: str = 'none', type='binary') <-

[2020-10-23 08:36] edgarriba opened #739 "[Feat] Support JIT for kornia core functionality"
## 🚀 Feature

Enable torchscript across the kornia library in order to be able to export code to C++.

## Motivation

Torchscrit seems more robust during this last torch versions after having to disable few tests.

## Pitch

Revisit all the tests, adapt to [`BaseTest`](https://github.com/kornia/kornia/blob/master/kornia/testing/__init__.py#L78-L97) and enable `test_jit` as follows:

[code]
https:/

[2020-10-23 09:57] takuya-ikeda-tri commented on #638
Hi @edgarriba, @krrish94, thank you for the awesome library.
I got the same problem. What is the current status?

[2020-10-23 11:22] pmeier commented on #729
Unfortunately, this is something this is not something that can be handled from within a package such as `kornia`. In short: PyPI, the default repository for `pip`, cannot differentiate between computation backends such as `cpu`, `cu102`, and so on. Thus, only the version of the current CUDA release will be uploaded to PyPI and a default `pip install` will install that. If you need PyTorch for ano

[2020-10-23 12:23] ivanzvonkov opened #742 "[Bug] get_rotation_matrix_2d should still work isotropic scale factor"
## 🐛 Bug

https://github.com/kornia/kornia/pull/646 removed isotropic scale factor in favor of non-isotropic (x,y) scale factor

This is a breaking change for any library using `get_rotation_matrix_2d` (ie. [Lucent](https://github.com/greentfrapp/lucent))

## Expected behavior

I suggest allowing both isotropic and non-isotropic scale factors.

[2020-10-24 14:08] RemonComputer opened #745 "[Bug] get_affine_matrix2d output bug"
## 🐛 Bug

get_affine_matrix2d outputs (B, 3, 3) while documentation states that it should output (B, 2, 3) (This is the bug), But I noticed it because warp_affine expects (B, 2, 3)
## To Reproduce

Steps to reproduce the behavior:

1.use kornia.geometry.transform.get_affine_matrix2d

## Expected behavior

You should output (B, 2, 3) or make warp_affine use (B, 3, 3)

the output should be (B, 2, 3)

[2020-10-24 18:25] Anit-G opened #746 "I am getting an error while installing the package"
Collecting kornia
  Using cached https://files.pythonhosted.org/packages/25/f6/9fb4cc2c67796680c8041fa6ffdee5f280e4cf65c86835768a700a324d59/kornia-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: numpy in c:\users\kunal.laptop-7lv8bft8\anaconda3\lib\site-packages (from kornia) (1.16.5)
Collecting torch>=1.6.0 (from kornia)
  ERROR: Could not find a version that satisfies the requirement t

[2020-10-25 16:12] edgarriba commented on #685
After a quick check, I suspect the error could come from
https://github.com/kornia/kornia/blob/339340b4a61153edcc2cb1467ba035c93c878c3f/kornia/geometry/epipolar/scene.py#L22

since it has been reported several times that this API seems to be broken

[2020-10-25 18:19] edgarriba commented on #746
@Anit-G how did you install torch ? I added a sanity test for the package for windows apparently you need to add the path where to download the stable version.
`pip install torch -f https://download.pytorch.org/whl/torch_stable.html`

See: https://github.com/kornia/kornia/pull/744/files#diff-590af81d93d54911b0c816409487daa7b3b2457b1b3d0722903b138893419e80

[2020-10-26 06:27] shijianjian commented on #745
I think it might be the documentation error.

You may wrap using ```affine_matrix[:, :2, :]``` instead.

[2020-10-26 06:39] shijianjian commented on #729
What I mean is I have already using the correct version of torch, say `torch==1.6.0+cu101`, but it will be overwritten to `torch==1.6.0`. We should somehow make pip recognize 1.6.0+cu101 to be 1.6.0.

[2020-10-26 06:42] shijianjian commented on #742
Could be added, but I think it shall be better if the low-level functions will only accept the more primitive parameters? @edgarriba

[2020-10-26 06:54] pmeier commented on #729
Nope. If it was overwritten, you did something else.

[code]

[2020-10-26 07:01] shijianjian commented on #729
Can we fix this dependency problem in setup.py? we need to somehow let pip ignore the cu101 suffix and treating `1.6.0+cu101` as the correct version.

[2020-10-26 07:18] pmeier commented on #729
Not sure if I understand you correctly, but `pip` does exactly that. If you install `torch==1.6.0+cu101` in a first step and only `pip install kornia` afterwards, it will accept the already installed version of `torch`.

[2020-10-26 08:41] edgarriba commented on #745
This a bug in here https://github.com/kornia/kornia/blob/023da9a7dbb7dab77a36c246b8244e91415decc6/kornia/geometry/transform/imgwarp.py#L483

Can be solved as @shijianjian suggests. Proper unit tests are needed here

[2020-10-26 11:57] RemonComputer commented on #745
Thanks @edgarriba and @shijianjian , I can solve the problem but I am reporting it for fixing

[2020-10-26 12:53] ducha-aiki commented on #715
Agree

Don't agree. Not aligning corners for rotation and the rest of destructive works better for me. Although, not sure about how typical are my use-cases.

[2020-10-26 14:29] edgarriba commented on #742
I agree with Jian. @ivanzvonkov for your specific case I believe that `kornia.rotate` can fix the issue: https://kornia.readthedocs.io/en/latest/geometry.transform.html?highlight=rotate#kornia.geometry.transform.rotate

[2020-10-26 15:24] edgarriba commented on #638
@takuya-ikeda-tri no one working on this issue at this moment. Contributions are very welcomed

[2020-10-26 15:28] edgarriba commented on #722
@hal-314 I thinks it's better to have a separated function for each of the use cases.

[2020-10-26 16:07] d-walsh commented on #638
I used the implementation from https://github.com/utiasSTARS/liegroups and it works well.

[2020-10-26 16:10] edgarriba commented on #638
there's a pending integration of liegroups from @krrish94 in staled sfm branch
https://github.com/kornia/kornia/commit/13614e81fe84d61b09e0c9f42b205247760c6fa0

[2020-10-26 18:42] pmeier opened #747 "[Bug] warp_perspective does not return the input if used with identity matrix"
## 🐛 Bug

The output of `kornia.geometry.warp_perspective` does not equal the input if the identity matrix is used.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

[code]

## Environment

`kornia==0.4.1`

[2020-10-26 18:44] edgarriba commented on #747
@pmeier I can confirm that happens the same in 0.4.0, 0.3.2, 0.3.1 but no in 0.3.0

[2020-10-26 19:11] edgarriba commented on #747
@pmeier `align_corners` should be set to `True` - this change was introduced in https://github.com/kornia/kornia/pull/574

See: https://github.com/kornia/kornia/blob/master/kornia/geometry/transform/imgwarp.py#L48 it's now set False by default.
Not sure how much will affect other components.

This definitely needs better testing: https://github.com/kornia/kornia/blob/master/test/geometry/transform

[2020-10-27 11:44] tvercaut commented on #702
Sorry, I don't have the bandwidth to do any real software development these days. If helpful, my quick and dirty notebook is here:
https://colab.research.google.com/drive/1hUsuHsCD1_QOhx7yrTfSsWsylmaKRu8b?usp=sharing

[2020-10-27 13:13] edgarriba commented on #702
@tvercaut this is already an amazing contribution :)) thanks a lot

[2020-10-27 23:20] ivanzvonkov commented on #742
I generally agree that it makes sense for low-level functions to accept primitive parameters.

However, in this case (a breaking change to a low-level function), I'd recommend temporarily allowing both isotropic scale factors with some sort of deprecation warning.

A warning will give owners of kornia dependent code bases some time to react to the change and will ensure that everything keeps funct

[2020-10-28 01:31] tumble-weed opened #749 "Even when I use ColorJitter with all 0's it changes the image tensor"
i tried:
fg_jitter2 = K.ColorJitter(0.,0.,0.,0.,return_transform=True)
out,T = fg_jitter2(image_tensor)
when i do:
(out - image_tensor).norm()
 i got a nonzero answer (284.7068 for my case)
i got this same issue with kornia 0.3.2 ( albeit with pytorch 1.7) and 0.4.1

i saw a similar issue mentioned elsewhere:
Even when I use ColorJitter with all 0's it changes the color of my images and totally fa

[2020-10-28 08:12] FGeri commented on #749
I've checked it with the latest release and it seems fine.
@tumble-weed Could you check if image_tensor is between [0.,1.] ?

[2020-10-28 08:23] FGeri commented on #691
@ashwinipokle Could you check if KorniaAugmentationModule is fed with tensors between [0.,1.]? Torchvision works with PIL images [0,255] but Kornia with tensors [0.,1.].

[2020-10-28 09:39] edgarriba commented on #691
@FGeri you are right. torchvision recently add `ConvertImageDtype(dtype: torch.dtype)`

[2020-10-28 13:36] gianscarpe opened #750 "Mock documentation requirements"
## 🚀 Feature

Mock requirments for building documentation

## Motivation
I think it would be cleaner to mock the requirments for the documentation. Documentation building shouldn't require `opencv` and similar.

## Pitch
We can read the `requirements.txt` file and add the packages to `conf.py` under  `autodoc_mock_imports`

## Alternatives

## Additional context
I implemented something similar in

[2020-10-28 14:49] edgarriba commented on #750
@gianscarpe the reason for having e.g `opencv` in the docs is because we build some tutorials inside the docs. This is gonna change since we'll move all the tutorials in a separated repo called tutorials which will generate its own docs. I'll provide a hello world I hope today. Then we could remove any heavy dependency from docs itself.

[2020-10-28 14:50] justanhduc opened #751 "Why not JIT all modules?"
## 🚀 Feature
All modules when applicable can be jitted for performance.

## Motivation

Modules can be jitted for performance. An inspiration is [here](https://github.com/rusty1s/pytorch_scatter/blob/134b5c75ec5f9200ab509615071ff1ddd265e78b/torch_scatter/scatter.py#L8).

## Pitch

The code may look like this.

[code]

[2020-10-28 16:08] edgarriba commented on #751
@justanhduc I don't think we are able to support at this point for augmentations since our return type is a conditional tuple and I believe this is not supported by torchscript itself. However, supporting torchscript for kornia core it's one of the milestones for v0.5 for next month. See: https://github.com/kornia/kornia/issues/739

[2020-10-28 22:05] tumble-weed commented on #749
yes i think the range was the problem. it seems to be working after renormalizing into 0-1. thank you

[2020-10-28 22:05] #749 closed

[2020-10-29 00:46] sachit-menon commented on #691
Hi, I am not the original poster but I am trying to implement the same augmentation pipeline with Kornia (for SimCLR) and seeing a similar issue - I can confirm that it's present with the input range set appropriately. Any other ideas for what could be causing the discrepancy? @ashwinipokle did you ever figure out the issue? Thanks!

[2020-10-29 08:38] FGeri commented on #691
@sachit-menon @ashwinipokle Could you share the dataloading part for both the torchvision and kornia part as well as the augmentation pipeline? And how ```params``` is set?

[2020-10-30 13:07] shijianjian commented on #729
Yes. I was stupid. I used "pip install --force-reinstall kornia", which will reinstall the torch version from 1.6.0+cu101 to 1.6.0.

[2020-10-30 13:07] #729 closed

[2020-11-01 09:55] FGeri opened #761 "Possibly swapped dims at RandomResizedCrop"
## 🐛 Bug

Possible swapped height and width in `random_crop_size_generator`.
In code size[0] is used for width and size[1] for height
https://github.com/kornia/kornia/blob/c77e62ce242ecf91f987783f1957ef97885e8e7b/kornia/augmentation/random_generator/random_generator.py#L367

But in doc it's the other way around:
https://github.com/kornia/kornia/blob/c77e62ce242ecf91f987783f1957ef97885e8e7b/kornia/

[2020-11-01 10:49] FGeri opened #763 "[BUG] Deprecated interpolation argument doesn't have an effect"
## 🐛 Bug

Deprecated interpolation argument doesn't have an effect since `self.resample` gets overwritten right after it gets set by interpolation

https://github.com/kornia/kornia/blob/c77e62ce242ecf91f987783f1957ef97885e8e7b/kornia/augmentation/augmentation.py#L612-L616

[2020-11-01 13:19] #739 closed

[2020-11-01 16:24] shijianjian commented on #761
That is a typo. Thanks for reporting. Will fix that soon.

[2020-11-01 17:47] shijianjian opened #765 "[Feature Request] Manual image selection in data augmentation."
## 🚀 Feature

Say we have a batch of 8 images, while we want to augment the first 4 but not the last 4. We may need a feature to manually select which images to apply and which images shall not to.

I think we may pass a list to the param generator.

[code]

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-11-02 16:54] ducha-aiki commented on #742
@ivanzvonkov I agree with you about warnings, we will adopt such policy

[2020-11-02 17:08] #761 closed

[2020-11-03 09:53] FGeri opened #771 "[Bug] Wrong padding order used at RandomCrop"
## 🐛 Bug
According to the kornia docu  left/ right or left, top, right, bottom order is used for 2D
https://github.com/kornia/kornia/blob/87a0ead264ce5fc97997071acb9fe2286d6c425c/kornia/augmentation/augmentation.py#L645-L648

In pytorch docu (padding_left,padding_right) ,(padding_left,padding_right,padding_top,padding_bottom) orders are used

But in the code it's mixed up.
https://github.com/korni

[2020-11-03 09:55] FGeri commented on #771
We might want to align the padding order with the pytorch way, to avoid such issues, and uncosistencies in the docu like:
https://github.com/kornia/kornia/blob/87a0ead264ce5fc97997071acb9fe2286d6c425c/kornia/augmentation/augmentation3d.py#L593-L594

[2020-11-03 10:51] FGeri opened #772 "[Bug] RandomCrop returns padded image when p=0"
## 🐛 Bug

`RandomCrop` returns the padded image when p=0, Probably `RandomCrop3D` is also affected.

[2020-11-03 11:33] shijianjian commented on #771
Yes. You are right. Can you send a PR for this?

For 3D, I think we might accept 3 values (left/right, top/bottom, front/back) and 6 values (left, top, right, bottom, front, back) similar to TorchVision.

[2020-11-03 11:36] shijianjian commented on #772
They are the same logic. So, the same error I think.

I am not sure how to fix this one since torch does not support ragged tensor. We cannot partially pad a tensor there. What solution are you suggesting?

[2020-11-03 11:40] FGeri commented on #771
Not sure, test refactoring take up quite some time. I just write these issues I bump into in the process so they don't get forgotten.

[2020-11-04 10:41] #577 closed

[2020-11-09 16:07] jatentaki opened #776 "Convenience APIs for struct-of-tensor objects"
## 🚀 Feature
*I discuss the `PinholeCamera` class, but I believe it's a broader topic. I elaborate at the end.*
Since the `PinholeCamera` class is batched, it effectively represents multiple cameras. In my use-case, it would be useful to be able to sub-select some of them. Similarly, it's handy to have access to some `torch.Tensor` methods which would act on all members, such as `camera.to(torch.d

[2020-11-10 14:21] pmeier opened #777 "[Feat] kornia.Resize has a bad default for align_corners"
## 🐛 Bug

`kornia.Resize` has a bad default for `align_corners` if `interpolation=="nearest"` or  `interpolation=="area"`.

## To Reproduce

[code]

[code]

## Expected behavior

This should work out of the box. You need to explicitly set `align_corners=None` to get this working. This is neither documented nor even accepted by the type annotations.

## Environment

`kornia==0.4.1`

[2020-11-10 14:31] pmeier commented on #777
I only know that you guys had problems with `align_corners` before so here is my proposal to fix this.

[code]

If you use that in the constructor of every transformation that has the `align_corners` parameter together with `align_corners=None` as default, you should be good. I imagine most users don't care about `align_corners` at all as long as it works.

[2020-11-10 17:51] edgarriba commented on #776
@jatentaki thanks for opening this topic - I think this makes total sense and please go ahead with a PR to expand the functionality.

Besides, probably this data  structure needs a bit of refactoring and potentially better testing. I've been looking this days at the ROS implementation and it might be worth to match the exact same API for better integration with other ecosystem packages. At some ex

[2020-11-13 02:31] Williamwsk opened #778 "Is there any optical flow algorithms in kornia?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the Wiki](https://github.com/kornia/kornia/wiki). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/c/vision/kornia)

[2020-11-13 16:12] mark-arm commented on #691
Good news! I found a similar issue this week. I haven't had time to file a proper issue yet, but in a nutshell kornia's RandomResizedCrop has an off-by-one bug in random_crop_size_generator.

This means that:
1. The last row and column of the input image is never sampled.
2. To make matters worse, it also means the entire unmodified image is also never sampled, even with a scale of 1.0.

This is p

[2020-11-13 16:27] edgarriba commented on #691
@mark-arm thanks for reporting ! Please, take a look at this PR https://github.com/kornia/kornia/pull/770 which probably will fix the mentioned issue. Consider to follow the discussion about unit testing different random generation precision. We'll resume the activity next week after cvpr deadline.

[2020-11-13 18:37] ddetone opened #779 "[Bug] 2D motion blur kernel seems wrong"
## 🐛 Bug

I'm seeing some issues with the kernel returned by the call `kornia.filters.get_motion_kernel2d()`

## To Reproduce

Steps to reproduce the behavior:

1. kornia.filters.get_motion_kernel2d(5, 0., 0.)
2. kornia.filters.get_motion_kernel2d(3, 215., -0.5)

## What I am seeing
[code]

## Expected behavior

According to https://github.com/kornia/kornia/blob/master/kornia/filters/kernels.py#L6

[2020-11-13 19:40] ddetone opened #780 "[Bug] RandomEqualize() function seems wrong"
## 🐛 Bug

When I use the kornia.augmentation.RandomEqualize() (or kornia.enhance.adjust.equalize()), I'm not seeing any change in the input. When I use a similar function in opencv, I see a different output. Am I missing something?

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I am expecting the resulting matrix to be renormalized in the [0,1] range, since the f

[2020-11-13 20:03] ddetone opened #781 "[Bug] RandomSharpen returns three channels for one channel input?"
## 🐛 Bug

The RandomSharpen function returns a 3 channel image when a 1 channel input is given. Is this a bug or expected behavior? I would expect it to return a 1 channel image as well.

## To Reproduce

Steps to reproduce the behavior:

This example is taken directly from: https://github.com/kornia/kornia/blob/master/kornia/augmentation/augmentation.py#L1053

[code]

## Expected behavior

Output

[2020-11-14 01:50] shijianjian commented on #772
I got one idea for this. I would suggest having some sort of ```unpad_if_nessary``` to remove the padding in the end.
[code]

[2020-11-14 03:05] shijianjian commented on #779
Thanks for the bug report. This will be fixed in #782.

[2020-11-14 03:52] shijianjian commented on #780
Hi @ddetone, just roughly checked the code. Found that the following line is outputting 0, which means no action shall be taken.

https://github.com/kornia/kornia/blob/0b599d4b372c5d3dd72d7be0855dd7987b4171fd/kornia/enhance/adjust.py#L482

I am not sure if it is a bug.

\cc @edgarriba

[2020-11-14 03:53] shijianjian commented on #780
@vribeiro1 Can you take a look as well?

[2020-11-14 04:05] shijianjian commented on #781
That makes sense. Will fix it in #783

[2020-11-14 04:07] shijianjian commented on #777
Yes, you are right. We should make a better default.

Should we set it to ```None``` directly for resize?

[2020-11-14 08:26] edgarriba commented on #772
or `crop_and_pad` with `keepshape` or `keepdim` flag

[2020-11-14 08:34] edgarriba commented on #772
This also opens the question of the need for a more  specific image padding function like `make_border`
https://stackoverflow.com/questions/43391205/add-padding-to-images-to-get-them-into-the-same-shape

[2020-11-16 06:01] pmeier commented on #777
@shijianjian

I wouldn't recommend that:

[code]

[code]

To avoid the error **and** the warning, you need to set `align_corners=False` if `interpolation in ("linear", "bilinear", "bicubic", "trilinear")` and `align_corners=None` otherwise. That is exactly what the `parse_align_corners` function does that I suggested in https://github.com/kornia/kornia/issues/777#issuecomment-724738810.

Again, I

[2020-11-16 07:52] mark-arm commented on #691
Thanks for the quick response @edgarriba. I've looked through the source changes in #770 and don't see anything that would obviously correct this issue. Is there something I'm missing? I'm on vacation this week but will check back next Monday!

[2020-11-17 08:49] busycalibrating opened #785 "RandomAffine with 2 values for scale specified"
## 🐛 Bug:  RandomAffine and scale

I'm getting the following error when using `RandomAffine` initialized with a tuple of two values for `scale`:

[code]

I haven't quite ironed down the cause of the bug, but I think this happens when exactly 4 entries of a batch are selected to have the scaling operation applied to them. Then, we hit [this line](https://github.com/kornia/kornia/blob/0b599d4b372c5d

[2020-11-17 09:00] shijianjian commented on #785
Can you try master instead? I do not have this issue on my local machine.

[2020-11-17 09:04] busycalibrating commented on #785
Master has the same issue

[2020-11-17 10:26] shijianjian commented on #777
I see. That is reasonable.

From what you proposed, this is a general setting that fits all functions with (align_corners, interpolation), right?

[2020-11-17 10:56] shijianjian commented on #785
I have tried on Colab. It should be fine.
[code]

[2020-11-17 16:57] busycalibrating commented on #785
Try this:

[code]

[2020-11-17 17:37] shijianjian commented on #785
I see the problem. It happens only when batchsize == 4 due to a typo. Fixed in #786.

[2020-11-17 17:41] busycalibrating commented on #785
Awesome, thanks for the quick fix!

[2020-11-20 17:03] shijianjian opened #790 "[Feature Request] Differentiable torch.histc and differentiable equalize"
## 🚀 Feature
Our current implementation used a non-differentiable implementation of equalization. Mainly, it is caused by the non-differentiable ```torch.histc```. We may have different differentiable estimators to estimate the image histogram.

Presumably, I would expect an API as:
[code]

## Additional context

There are some materials already to estimate the image histogram as [here](https://di

[2020-11-21 11:26] edgarriba commented on #776
/cc @bottler this might be interesting as for our discussion to make kornia and pytorch3d data structures compatible.

[2020-11-21 11:31] edgarriba commented on #778
@Williamwsk we don't have any implemented pipeline for optical flow. Do you have anything specific in mind using classical o network methods? there was a discussion in torchvision about including some methods for that using networks I guess. /cc @fmassa

[2020-11-21 11:54] edgarriba commented on #691
@mark-arm ok, then maybe #770 needs better attention to such corner cases. /cc @shijianjian consider this comments

[2020-11-21 12:13] edgarriba commented on #777
@pmeier do you think you can send a PR with it ? we are planning the release for v0.5 in a couple of weeks and this definitely can be good sanity patch. I guess this will also help with this #747

[2020-11-22 05:54] shijianjian commented on #721
Cloased by #731

[2020-11-22 05:54] #721 closed

[2020-11-22 06:36] shijianjian commented on #691
@mark-arm I have got it fixed in #770.

[2020-11-22 09:54] #785 closed

[2020-11-22 14:49] shijianjian opened #791 "Some functional APIs need to be refactored"
## 🚀 Feature

function APIs shall not instantiate any nn.Modules.

A list of operations need to be refactored to not init nn.Modules:

- kornia.filters.*
- kornia.geometry.warp.depth_warper
- kornia.geometry.transform.pyramid
- kornia.losses.ssim
- kornia.features.SIFTDescriptor
- kornia.features.nms

## Motivation

As function APIs, they shall not instantiate any nn.Modules whilst calling while s

[2020-11-23 01:51] #781 closed

[2020-11-24 09:48] justanhduc commented on #257
I happen to have an implementation of Chamfer distance for points of any dim in CUDA [here](https://github.com/justanhduc/stack-chamfer).
Also, I implemented batch pairwise distance in C++ [here](https://github.com/justanhduc/neuralnet-pytorch/blob/master/neuralnet_pytorch/extensions/csrc/bpd.cpp) (I had a newer version that can deal with any number of leading batch dimensions but havent pushed ye

[2020-11-24 11:41] edgarriba commented on #257
@justanhduc how different is your implementation from https://github.com/krrish94/chamferdist or pytorch3d ? /cc @krrish94

If we decide to give support to this in kornia, at the very beginning should be through the python interface. I don't think we are ready yet with enough infrastructure to support C++ builds and coverage.

Besides, I would target the API for images instead of generic pointclou

[2020-11-24 12:47] justanhduc commented on #257
AFAIK, the pytorch implementation assumes points cloud are batchable into `(m, n, d)`. My implementation targets the case in which point clouds are not batchable, i.e., point clouds have different numbers of points.
My personal opinion is that it would be great if Kornia can cover 3D vision (pytorch3d goes more deeply into graphics I think). But if you think we are not ready yet, we can wait until

[2020-11-24 12:56] edgarriba commented on #257
@justanhduc we already give support to some 3D stuff. See the epipolar or depth geometry submodules. Maybe this implementation you have here https://github.com/justanhduc/neuralnet-pytorch/blob/master/neuralnet_pytorch/extensions/csrc/bpd.cpp can pythonised and submitted as a PR.

Regarding kornia and pytorch3d relationship, we had the discussion last week with @bottler about having some linking i

[2020-11-24 13:19] justanhduc commented on #257
Glad to hear that Kornia and pytorch3d may share some common interface. it would avoid a lot of manual conversions when using both libraries in the same projects. If this collaboration can be realized, then it is fine that we can concentrate on a image API for now, as there are many libraries with partial point cloud  support now (for e.g., NVIDIA's Kaolin...).
Btw, I actually have a pure pytorch

[2020-11-24 13:56] edgarriba commented on #257
@justanhduc in kornia we focus more in 2d and 3d volumetric imaging - not pointclouds or non-homogeneous data structures. Would be great though, to hear from the community what is interesting and worth to make an effort for easily access to both frameworks.

@ducha-aiki started [`kornia.moons`](https://github.com/ducha-aiki/kornia_moons), a satellite :)) project that goes in this direction and con

[2020-11-24 14:03] ducha-aiki commented on #257
@justanhduc That could be a nice thing! Is it better that torch.cdist? https://pytorch.org/docs/stable/generated/torch.cdist.html

[2020-11-24 14:55] bottler commented on #257
I spoke/speak for myself not the pytorch3d team 🙂. The chamfer in pytorch3d supports heterogeneous batching with length inputs and isn't restricted to 3d.

[2020-11-24 16:19] edgarriba opened #795 "[Bug] find_homography_dlt_iterated sometimes fails"
## 🐛 Bug

The functionality `find_homography_dlt_iterated` sometimes causes gradient check to crash.
For this reason the tests related to gradient check have been temporally marked as xfail:
- https://github.com/kornia/kornia/blob/master/test/geometry/test_homography.py#L81

[2020-11-24 16:53] justanhduc commented on #257
@ducha-aiki I didn't know this function exists! I can do a benchmark but if this function is written in CUDA I doubt my implementation could be better.
@bottler my bad. I checked the documentation and thought it supports only uniform batching.

[2020-11-24 17:08] edgarriba commented on #257
@justanhduc do you think is any possible API that can be useful for 2d images ? I'm think for cases like [`distanceTransform`](https://docs.opencv.org/master/d7/d1b/group__imgproc__misc.html#ga8a0b7fdfcb7a13dde018988ba3a43042)

[2020-11-24 22:03] versatran01 commented on #483
@edgarriba I would like to help on this one and related stuff like conversions between representations.

[2020-11-25 02:16] justanhduc commented on #257
@edgarriba For CV I definitely suggest some classical methods such as Fisher vector, SURF, pyramid matching kernel... However, I am not so sure about the usages of those methods these days.
[Optical flow](https://docs.opencv.org/3.4/d4/dee/tutorial_optical_flow.html) can also be interesting I think. We can implement some classical methods and mordern deep learning methods under our own roof.

[2020-11-25 05:51] shijianjian opened #797 "[Feat] Multi-backended augmentations"
## 🚀 Feature

Some augmentations (Sharpness) are built in PIL style as TorchVision, while some (Contrast, Brightness) are in OpenCV style.

So how about having a global backend control for the data augmentation module, like:
[code]

## Motivation

As discussed in #565, #691.

[2020-11-25 06:05] shijianjian opened #798 "[Bug] Missing rtvec_to_pose function in kornia.feature.responses"
## 🐛 Bug

There is a function that cannot be running. We need to retrieve the func and add more tests for this.

@edgarriba @ducha-aiki

[code]

[2020-11-25 09:54] edgarriba commented on #797
@shijianjian not sure if the use of the terminology backend might be a bit confusing here since we mimic the behavior of those libraries but not use them as backend. Besides, probably it's better to make a decision and stick a single reference instead of providing multiple implementations.

[2020-11-25 09:55] edgarriba commented on #797
I would like to hear what the community have to say here and what should be the way to go :)

[2020-11-25 09:58] edgarriba commented on #257
@justanhduc if there's a need why not - feel free to open different issues exposing the algorithms as a feature request. I was mentioning `distance_transform` since I believe it can be a specific use case for chamfer distance in 2d imaging.

[2020-11-25 10:11] edgarriba commented on #483
@versatran01 please go ahead - more than happy that you can leverage this module.
Are you planning to base on this ? https://github.com/versatran01/liegroups

Few references:
- @krrish94 have already proposed some codes here: https://github.com/kornia/kornia/tree/sfm/kornia/sfm
- be aware also about this: https://github.com/kornia/kornia/issues/723

I think fist we need a clear API definition sinc

[2020-11-25 17:34] versatran01 commented on #483
I would start by proposing the following concepts and APIs.
This is by no means complete, but serves a good starting point.

A new module(file) named `rotation.py`, which can live wherever you see fit. For example `kornia.geometry.rotation`.
Inside we have the following concepts:
order: full name, short name, type, shape, representation
* `rotation_matrix`, `rmat`, `torch.tensor`, `(*,3,3)`, `[[r1

[2020-11-25 20:30] jbohnslav opened #802 "[Feat] Video augmentations"
## 🚀 Feature
Video data in PyTorch comes in shape `N x C=3 x D x H x W` with D here being the time dimension.  While certain augmentations have been implemented in 3D (e.g. RandomCrop), these seem to be focused on volumetric data, e.g. from medical imaging. Many operations such as ColorJitter and RandomGrayscale could be applied to this standard video input format-- however, they are blocked by Ko

[2020-11-26 01:01] shijianjian commented on #802
For video data, you may follow the pipeline as (B, C, T, H, W) => (B*T, C, H, W) => augmentation (Note: check if you need same_on_bath or not) => (B, C, T, H, W).

For something that might help, I think we may consider adding a function like "kornia.VideoToSpatial" and "kornia.SpatialToVideo". Then you could integrate it as :

[code]

Personally, the video data is still 2D. In TorchVision, Video d

[2020-11-26 14:37] #779 closed

[2020-11-26 19:03] edgarriba commented on #802
@jbohnslav thanks for pointing this out. I think such feature could be very useful for the community.

@shijianjian  As for the API, I have a couple of questions:
- why do you assume B, C, T, H, W  and not B, T, C, H, W ?
- another good naming could be `VideoToFrame`.
- can we with this setup e.g apply a different transform to a video batch ?

[2020-11-26 19:49] edgarriba commented on #483
@versatran01 this is a wonderful proposal - I like it.

I don't see any objection, everything you expose makes total sense to me. At some extend we followed a similar convention at least for the warping transformations since the initial contributor team had robotics background.

To not mess it up with the existing functionality, your proposal indeed needs a good planning so that we can keep backwa

[2020-11-28 12:12] MartinPernus commented on #288
For me, the epsilon loss was too low, causing NaN values in backprop. Solved it by changing from 1e-32 (as is in the code right now) to the suggested value 1e-7 of smounsav.

[2020-11-29 11:20] edgarriba commented on #288
@MartinPernus @smounsav I'll add epsilon as a function parameter

[2020-11-30 04:43] shijianjian commented on #802
Yes. You are right.

Could be.

What do you mean here? Isn't it provided by same_on_batch?

[2020-11-30 09:13] cceyda opened #804 "Module namespace organization"
## 🚀 Feature
### Cleaner namespaces?

Right-now all(?) functional and class methods are available through the main module namespace.
So when I write `kornia.` and hit tab I get all the things... this is good in some cases like for autocompletion, but end up being confusing in some (ie. later while reading code)

I like the higher submodule categorizations (augmentation,color,feature,filters etc) t

[2020-11-30 14:47] shijianjian commented on #802
I see. For the minimum implementation, a smarter param_generator is needed.

Say (B, C, T, H, W), we firstly generate params for [0, 1, ..., B]. Then repeat it as [0<sub>0</sub>, ..., 0<sub>T</sub>, 1<sub>0</sub>, ..., 1<sub>T</sub>, ..., B<sub>0</sub>, ..., B<sub>T</sub>].

Maybe adding another parameter like ```same_every_frame``` and ```same_every_frame=1``` for normal 2D image, ```same_every_f

[2020-11-30 15:57] shijianjian commented on #804
Agreed.

In general, we shall stop using the lazy implementation of module imports like ```from .filters import *```, which would import the unnecessary dependents into the high level. I think it is the main problem that is affecting the user experience.

I think the whole kornia lib shall be at the functional level. We might have a ```kornia.nn``` to make all modulized functions to make the whole

[2020-11-30 23:00] edgarriba commented on #804
@cceyda thanks for pointing this out. The trend we have been more or less following is to move everything to functionals except for the augmentations which we might want to promote their usage as modules to help with the optimization of the parameters.

The reason for having everything exposed to the top level is purely for convenience at the time to import the whole package (we started small :))

[2020-11-30 23:08] edgarriba commented on #802
@shijianjian wouldn't be more elegant to have a more generic thing like `dim: List[int]` to specify in which axis of the inputs we want the augmentation to be applied ?

[2020-12-01 01:13] shijianjian commented on #802
I don't think so. All 2D inputs shall be assumed as BCHW, while all 3D inputs are BCDHW.

The user shall refactor the input accordingly.

Also, having the dim param means we shall support 1D to nD augmentation as well, not only 2D and 3D.

[2020-12-01 08:28] pmeier commented on #777
Sorry for the delay. I can give it a shot.

[2020-12-02 08:07] Zumbalamambo opened #808 "Creating a depth map from a Pointcloud"
I have got a Pointcloud, camera intrinsic parameter and camera pose as a well as the projection matrix. How do I use these informations to create a depth map with kornia?

[2020-12-02 14:11] #670 closed

[2020-12-02 18:41] abhinavdhere opened #811 "[Enhance] Add interpolation mode argument to transformations"
## 🚀 Feature

Transforms such as Translate in geometry.transform do not have an option to set interpolation type, whereas the underlying warp_affine which they use do have the option. Rotate already has this option, which is not mentioned in the docs. Adding this to all transforms that require interpolation may be a useful addition.

This is a similar request to #218 which requested for setting pa

[2020-12-03 00:32] shijianjian commented on #811
Agreed. Are you okay to go for a PR to add this feature?

[2020-12-03 09:08] abhinavdhere commented on #811
Yes, I can work on a PR.

[2020-12-03 11:10] edgarriba commented on #811
@pmeier is this related to https://github.com/kornia/kornia/pull/806 ?

[2020-12-04 12:10] shijianjian commented on #802
Another idea is to have a replacement for """nn.Sequential""".

We can do it like
"""Python
aug = K.VideoAugmentor(
    K.ColorJitter(0.1, 0.1, 0.1),
    K.RandomAffine(360.),
same_on_channel=True)
aug(input)  # BCTHW directly
"""

I think this could be more intuitive to our users.

[2020-12-04 13:22] pmeier commented on #811
Not directly. If the change proposed here is happening, #806 needs to be expanded to cover this as well. Basically, #806 should be applied everywhere we internally use `torch.nn.functional.interpolate` **and** do not have a fixed interpolation mode.

[2020-12-05 07:04] shijianjian commented on #797
Yes. Maybe "method"? Or "style"?

I think sticking to OpenCV for ```kornia-core``` is alright. But having a PIL implementation shall be better for ```kornia-augmentation``` for a painless transition from ```TorchVision```.

[2020-12-05 09:05] edgarriba commented on #797
Ok, then let's do the second.

[2020-12-08 13:25] #611 closed

[2020-12-11 14:33] shijianjian commented on #802
@jbohnslav Please checkout #817 and let me know if there is anything else you are in need.

[2020-12-14 06:57] abhinavdhere commented on #811
I'm busy with a work deadline these days. When I get some time, I'll populate a list of changes required for this change, and if you find it okay I'll send a PR. @edgarriba
It would be my first PR on this project, so I'm excited to contribute.

[2020-12-14 10:12] edgarriba commented on #811
@abhinavdhere this sounds awesome :)

[2020-12-14 16:42] aardvarkkrill opened #819 "HSV colourspace is not [0..1]"
## 📚 Documentation

Trying to use the colourspace conversion functions, I was hampered by lack of documentation for how the colourspaces are represented (eg the outputs to these functions in kornia.color)

The functions with HSV say that the ranges are [0..1], however experiments suggest that range of H is [0..6] (which is, I suppose usual, but I was confused by the documentation.)
I also believe

[2020-12-16 15:28] edgarriba commented on #819
@aardvarkkrill thanks for pointing this out. Do you have any snippet with the experiments you mention ? would be great to have it as an example for the functionality. Besides, feel free to send a PR improving the documentation and potentially a unit test covering the corner case you suggest.

[2020-12-16 16:37] edgarriba commented on #772
is this still relevant ?

[2020-12-16 16:37] edgarriba commented on #771
@FGeri @shijianjian is this still happenning ?

[2020-12-17 00:00] shijianjian commented on #772
Hasn't been fixed yet.

[2020-12-17 00:02] shijianjian commented on #771
Yes. Hasn't been fixed yet.

[2020-12-21 12:35] TropComplique opened #822 "RandomErasing with same_on_batch=True"
## 🐛 Bug

RandomErasing is not the same on a batch when same_on_batch is True.

## To Reproduce (in Jupyter Notebook)

[code]

## Expected behavior

Erasing must be the same on each image in the batch.

The current output is:
![example](https://user-images.githubusercontent.com/19353433/102777498-59c3e600-4399-11eb-8238-16cb412e0c7c.png)
## Environment

torch==1.7.1
kornia==0.4.1

[2020-12-21 13:16] edgarriba commented on #673
@likitha-l @shijianjian as far as I remember this was fixed, right ?

[2020-12-21 13:19] edgarriba commented on #649
@FGeri I consulted to the pytorch core team about this and there's no short term plan to support such functionalities in fp16. The suggestion was to cast to fp32 compute inverse and go back to fp16

[2020-12-21 16:04] shijianjian commented on #673
Yes. It should have been fixed.

[2020-12-22 01:32] #673 closed

[2020-12-22 01:59] shijianjian commented on #822
Hi, I have tested your code on the master branch and I cannot reproduce. Can you try install from master?

If the problem still happens, can you provide a specific seed to secure the reproducibility?

[2020-12-24 01:29] kellman opened #824 "3D affine transforms"
Do you plan to support 3d affine transforms?

[2020-12-24 01:34] shijianjian commented on #824
Isn't it already supported in Kornia.augmentation.RandomAffine3D?

[2020-12-24 02:00] kellman commented on #824
yes, I see that now. Thank you :)

[2020-12-24 02:00] #824 closed

[2020-12-24 07:06] killandy opened #825 "Questions about the optimization via gradient descend."
## ❓ Questions and Help

1. In some augmentation operations, the parameters are tuples which indicates a selection range. However when we update the parameters by gradients, the range start may be larger than the end, how to avoid this or fix it?
The code is :

[code]

   and got the error:
[code]

2. It seems we cannot update the single parameter in some augmentations like ColorJitter:

The code

[2020-12-24 08:06] shijianjian commented on #825
1. I think nn.Parameter(torch.tensor(0.7)) shall be applicable in current master branch. Can you try master instead? I will test it after back home.

2. We did not test this use case. Not sure if it works on master. I will test it and fix it very soon.

Thanks for reporting. :)

[2020-12-25 10:38] darkAlert opened #827 "Gradient for kornia.HomographyWarper with mode='nearest'"
Apparently, the gradient is not working correctly for kornia.HomographyWarper with mode='nearest'. Because I always get gradient=0 in backward step. But it works fine when I set mode='bilinear'
[tensorboard screenshot for mode='nearest'](https://yadi.sk/i/O33gixd55tRMZw)
[tensorboard screenshot for mode='bilinear'](https://yadi.sk/i/HjuOVM7CPO1Dyw)

[2020-12-25 10:41] ahirner commented on #691
@ashwinipokle did you try to repro your issue after #770?
Maybe, if possible, provide the test run. I would try to remove color jitter in one case to rule out other causes.

[2020-12-25 11:07] edgarriba commented on #827
@darkAlert could you provide a short snippet showing this behaviour?

[2020-12-25 14:01] #671 closed

[2020-12-25 15:55] darkAlert commented on #827
@edgarriba, sure

[code]

[2020-12-25 16:09] darkAlert commented on #827
@edgarriba, sure

[code]

Tensors have the following dimensions:
template = [bs, 1, 360, 640]
theta = [bs, 1, 3, 3]
warped = [bs, 1, 360, 640]

[2020-12-26 01:05] qiyan98 commented on #317
Hi guys, sorry to bother here. It seems that this bug is still not fixed after one year. For anyone who is interested in the same functionality, try [`pytorch3d`](https://github.com/facebookresearch/pytorch3d)!
In my experiments, `kornia.angle_axis_to_rotation_matrix` works fine and outputs the same results as `cv2.Rodrigues()`. However, `kornia.rotation_matrix_to_angle_axis` is definitely problem

[2020-12-26 04:03] shijianjian commented on #825
Current master does support single value input, but the gradient graph is broken. It will be fixed in #826.

[2020-12-26 19:43] pmeier commented on #747
@edgarriba This should not be closed by the bot, since the bug won't go away if no one has posted anything new.

[2020-12-27 00:28] ashwinipokle commented on #691
@ahirner I am no longer using the Kornia codebase as I had issues with reproducibility. I ended up modifying PyTorch codebase so that it meets my requirements.

[2020-12-28 10:00] edgarriba commented on #317
@qiyan98 this will fixed after https://github.com/kornia/kornia/issues/483 :)

[2020-12-28 10:02] edgarriba commented on #638
This will be fixed after https://github.com/kornia/kornia/issues/483

[2020-12-28 10:08] edgarriba commented on #671
Close after https://github.com/kornia/kornia/issues/483

[2020-12-28 10:09] edgarriba commented on #723
Close after https://github.com/kornia/kornia/issues/483

[2020-12-28 10:34] vinod1234567890 opened #829 "NL dimension in ScalePyramid"
I want to use a scale pyramid to extract resize invariant features for an image similarity project. I'm using resnet18 trained with triplet loss. I want to extract features at multiple scales and average pool them.

But when I pass the image tensor through kornia.geometry.transform ScalePyramid, it is returning images with shape B,C,NL,H,W.

I'm not sure how to understand the NL dimension. I need

[2020-12-28 10:49] #829 closed

[2020-12-28 10:51] #808 closed

[2020-12-28 14:29] #745 closed

[2020-12-30 05:42] shijianjian commented on #827
I think it happens to all the functions that used ```F.grid_sample```. You will get grad=0 if set mode to nearest.

https://discuss.pytorch.org/t/autograd-issue-with-f-grid-sample/76894

https://discuss.pytorch.org/t/does-the-nn-funtional-grid-sample-backwards-grad-to-grid/31736/3

[2020-12-31 21:47] NathanHowell commented on #780
I think it's generally broken, many of my test sets hit the same zero bug... and I needed a version for 12/14/16-bit voxels so I came up with this:
[code]

[2021-01-01 17:47] shijianjian opened #832 "Differentiable bounding box to mask conversion."
## 🚀 Feature
Our current bbox_to_mask function is implemented as non-differentiable while it might be more useful to be differentiable.

## Motivation

Say the RandomErasing / Cutout function, a differentiable bbox_to_mask could make it possible to train the most suitable ratio parameters, etc.

[2021-01-05 08:24] killandy commented on #825
Thanks.

[2021-01-05 08:24] #825 closed

[2021-01-06 04:19] shijianjian commented on #832
One idea is to use crop function implemented.

[code]

The drawback of this is that it requires the exact erase width and height for the whole batch.

[2021-01-06 07:26] TarunSharmaNT opened #833 "Improve tutorial codes"
## 📚 Documentation

there are some codes in which there is not plt.show() statement and should explicitly need to put so it is better to edit the tutorial codes for the better visualization.

[2021-01-07 19:19] #763 closed

[2021-01-08 22:17] monacv opened #835 "How can I make the code work with PyTorch 1.7.1?"
[code]

Using this repo which depends on `torchgeometry` https://github.com/vchoutas/smplify-x

[2021-01-08 22:51] monacv commented on #835
$ vi /home/mona/venv/smplifyx/lib/python3.6/site-packages/torchgeometry/core/conversions.py

and comment and add lines similarly for mask conversion compatibility in PyTorch 1.7.1

    mask_c0 = mask_d2 * mask_d0_d1
    #mask_c1 = mask_d2 * (1 - mask_d0_d1)
    mask_c1 = mask_d2 * ~(mask_d0_d1)
    #mask_c2 = (1 - mask_d2) * mask_d0_nd1
    mask_c2 = ~(mask_d2) * mask_d0_nd1
    #mask_c3 = (1 - ma

[2021-01-09 17:03] copaah opened #836 "[Feature request] StereoCamera model and OpenCV initializations"
## 🚀 Feature
For Stereo Vision tasks it would be handy to have a `StereoCamera` model which can be initialized with two `kornia.geometry.camera.PinholeCamera` and the stereo calibration. The `StereoCamera` can have some handy methods such as `StereoCamera.get_disparity_from_depth` and `StereoCamera.get_depth_from_disparity` and other methods for working with disparity maps.

In addition to this, I

[2021-01-09 20:36] edgarriba commented on #835
@monacv could you send a quick PR with this changes ?

[2021-01-10 03:10] copaah opened #838 "Confusion regarding Pinhole Camera docs"
## 📚 Documentation

Looking at the documentation for the `PinholeCamera` the mathematical formulation and drawings shows a `3x3` intrinsic matrix and `3x4` extrinsic matrix:

![image](https://user-images.githubusercontent.com/6583837/104113373-05cc6300-52ae-11eb-9b4c-6846168e47fd.png)

The `PinholeCamera` object, however, accepts an intrinsic matrix of shape `4x4` and an extrinsic matrix of shape

[2021-01-11 11:12] edgarriba commented on #780
@NathanHowell could send a PR with a small unit test to show the improvement on that function?

[2021-01-11 11:13] edgarriba commented on #763
@shijianjian is this still happening ?

[2021-01-11 15:22] NathanHowell commented on #780
@edgarriba I'll have more time next week, in a release push this week.

[2021-01-12 02:40] legendongary opened #839 ""ignore_index" argment for focal loss and dice loss"
When I try to train for segmentation on VOC 2012 with Dice loss, I always run into cuda illegal error and I finally found that this may be caused by out-of-range indexes (255 out of 20 classes). Since pytorch CrossEntropyLoss has an argment "ignore_index" to deal with this issue, I wonder if there is a proper way to deal with uncertain indexes?

[2021-01-12 05:13] shijianjian commented on #763
@edgarriba  Safe to be closed. The deprecation warning has been removed in the current master.

[2021-01-12 11:11] edgarriba commented on #838
@copaah you are right. We designed in this way for the convenience to later chain matrix multiplications. Feel free to send a PR with this update in the docs for the `PinholeCamera` constructor.

[2021-01-12 11:19] edgarriba commented on #836
@copaah this sounds like a really good contribution idea. Could you sketch a bit the shape of this API before implementing ? If I'm not wrong `calibrateCamera` and `stereoCalibrate` just return the estimated  intrinsics/extrinsics. Why then a method called `from_OpenCV_calibration` ? the API could just consume those tensor matrices I guess.

/cc @jatentaki was doing some work on that

[2021-01-12 11:23] edgarriba commented on #833
@TarunSharmaNT the tutorials is under refactoring. If you feel that you can help, please send a PR with your suggestions.

[2021-01-12 14:33] edgarriba commented on #293
merged in https://github.com/kornia/kornia/pull/831

[2021-01-12 14:33] #293 closed

[2021-01-12 22:42] copaah commented on #838
I'll do so!

[2021-01-12 23:40] copaah commented on #836
@edgarriba Thank you for your response.

Upon more consideration I think you are  right that the API should just consume the `P1` and `P2` camera matrices from `stereoRectify`, which is documented in OpenCV [here](https://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html#stereorectify):

![image](https://user-images.githubusercontent.com/6583837/104387620-5fba6c

[2021-01-13 13:18] #838 closed

[2021-01-15 10:24] edgarriba commented on #836
@copaah loks like a good plan. Just one thing to consider when you implement - make sure that the underlying routines for the class methods are proper functionals that can be placed somewhere in kornia geometry core, either to `depth`, `epipolar` or in case we need a standalone `stereo` submodule.

[2021-01-15 12:26] darkAlert opened #844 "What is the difference between homography_warp and warp_perspective?"
I've trained a model that predicts homography (3x3 matrix). I used the homography_warp function to warp the input image with predicted homography. I then used this warped image to calculate the loss. Finaly, the model's learnt to predict homogrphy.

However, I thought I could use this predicted homography in the cv.warpPerspective (or in kornia.warp_perspective) but I was wrong, I guess...

Can so

[2021-01-15 13:15] edgarriba commented on #844
the first assumes a normalized homography and the second it's assumed to map in pixel space

[2021-01-15 13:48] darkAlert commented on #844
@edgarriba
Sorry, I don't understand. The first and second take an image and a 3x3 matrix as input and output the image as the result. Is there a way to convert the input matrix from the first to the second?

[2021-01-15 13:55] darkAlert commented on #844
Because I can predict this matrix, but I don’t know how to project points using this matrix.

[2021-01-15 13:58] darkAlert commented on #844
Or is there a way to project some points with this input matrix that I use in homography_warp?

[2021-01-15 14:16] edgarriba commented on #844
@darkAlert  you can use this matrix to convert https://kornia.readthedocs.io/en/latest/geometry.warp.html?highlight=normal_transform_pixel#kornia.geometry.warp.normal_transform_pixel

[2021-01-15 15:35] copaah commented on #836
@edgarriba I will! Looking into it this weekend and hopefully have a first draft.

[2021-01-15 20:46] monacv commented on #835
yes,
change
`(1 - mask_d0_d1)`
to
`~(mask_d0_d1)`

mask inversion now have a different syntax in newer versions of PyTorch

[2021-01-15 20:46] #835 closed

[2021-01-15 23:01] #844 closed

[2021-01-16 11:37] edgarriba commented on #473
fixed in #847

[2021-01-16 11:37] #473 closed

[2021-01-16 12:30] edgarriba opened #851 "[Feat] Add dtype in create_meshgrid"
## 🚀 Feature

Add ability to specify `torch.dtype` in [`kornia.utils.create_meshgrid`](https://kornia.readthedocs.io/en/latest/utils.html#kornia.utils.create_meshgrid). Same for the 3d version.

In addition, the function docstring needs to be updated.

## Motivation

The method accepts `device` but no `dtype` similar to what other PyTorch functions do.

## Pitch

I expect this function to behave a

[2021-01-16 12:37] edgarriba opened #852 "[Feat] Add normalize conditional in kornia.remap"
## 🚀 Feature

Add the ability to turn off the normalization step in [`kornia.remap`](https://kornia.readthedocs.io/en/latest/geometry.transform.html#kornia.geometry.transform.remap).

## Motivation

Sometimes the input grid is already normalized and shouldn't be renormalized.

## Pitch

I expect to use the functionality as follows
[code]

[2021-01-18 21:40] copaah commented on #836
@edgarriba I am writing a tutorial for the `StereoCamera` class. Does it go in `examples` or `tutorials`? Also, is there a better place to ask these questions?

[2021-01-19 00:10] edgarriba commented on #836
@copaah join our slack https://join.slack.com/t/kornia/shared_invite/zt-csobk21g-CnydWe5fmvkcktIeRFGCEQ

[2021-01-19 11:14] MrRss opened #859 "API broken for all augmentations for the probability "p" argument"
## 🐛 Bug

The probability argument (p) of the kornia augmentation is never used. The problem seems to consists for all augmentations.
## To Reproduce

Steps to reproduce the behavior:
For instance:
1. Apply RandomHorizontalFlip with p = 0

## Expected behavior
Transform should not be applied, i.e. image should not be flipped.

[2021-01-19 23:54] MichaelMedek opened #860 "X and Y of camera coordinate system mixed up in Pinhole Camera figure"
## 🐛 Bug

In the Pinhole Camera figure the axes of the camera coordinate system are mislabeled (X and Y are swapped). X must go from left to right (parallel to u) and Y from top to bottom (parallel to v).
Otherwise the camera projection equation would not match the image (think of having no rotation and translation, then obviously X has to be parallel to u and Y to v). And also right now the camer

[2021-01-20 02:29] shijianjian commented on #859
@MrRss

I cannot reproduce this problem on both v0.4.1 and master branch. Can you try to install the master instead? Or please provide some more details.

[2021-01-20 06:21] MrRss commented on #859
@shijianjian

Thanks for your answer. I installed master and have the same behaviour, i.e. when I set p to zero for flip, perspective transform and rotation, they are always applied.
code:

import kornia as K
from kornia.augmentation import AugmentationBase2D
from kornia.constants import Resample
from torch import nn
import torch
from typing import Dict
from kornia import functional as F

class My

[2021-01-20 06:54] shijianjian commented on #859
I see the problem. The function ```generate_parameters``` is not looking at parameter ```p``` now.

The reason of it is because ```generate_parameters``` can be a user-defined function that we do not want to expose the detailed probability control to them.

If you want to access the parameter, you may use:
[code]

or
[code]

We will be updating the docs and consider if to have a ```forward_paramet